.ibox
  .ibox-title
    .row
      .col-xs-12.col-sm-6.co-md-6
        %h5
          = link_to @assessment.client do
            = "#{@assessment.client.name}"
          %span= t('assessments.assessment_form')
      .col-xs-12.col-sm-6.col-md-6
        .ibox-tools
          = link_to client_assessments_path(@client), class: 'btn btn-default btn-back-default button' do
            = t('.back')
  .ibox-content
    .row
      .col-xs-12.col-md-6
        = f.input :assessment_date, as: :string, required: true, label: t('assessments.assessment_date', assessment: t('clients.show.assessment')), input_html: { value: f.object.assessment_date || Date.today.to_s, class: 'date form-control date-picker datepicker-dropdown' }
