= simple_form_for([@assessment.client, @assessment], html: { id: "#{action_name}-assessment", class: 'assessment-form', data: { disable_required_fields: current_setting.disable_required_fields?, autosave: @assessment.persisted?, draft: @assessment.draft? } }) do |f|
  = hidden_field_tag :current_user, current_user.roles
  = hidden_field_tag :default, params[:default] if params[:default]
  = hidden_field_tag :from_controller, (@from_controller || params[:from_controller])
  = hidden_field_tag :custom_name, params[:custom_name] || @custom_assessment_setting&.custom_assessment_name
  = f.hidden_field :case_conference_id
  = f.hidden_field :custom_assessment_setting_id
  = render 'assessment_date_section', f: f
  .row.assessment-domains
    .col-xs-12
      #rootwizard.root-wizard{ data: { cancel: t('.cancel'), next: t('.next'), previous: t('.previous'), finish: t('.finish'), save: t('.save'), saving: t('saving'), action: params['action'] } }
        = f.simple_fields_for 'assessment_domains', order_assessment(@assessment) do |ad|
          - domain = ad.object.domain
          %h4= domain_name_translate(@assessment, domain)
          %div{ class: "assessment-domain-item domain-#{domain.id}", data: { upload_attachment_url: upload_attachment_client_assessment_path(@client, @assessment, domain_id: domain.id) } }
            .ibox
              .ibox-title
                - if current_setting.show_prev_assessment? && @prev_assessment.present?
                  %span= " (Current Assessment)"

                - if current_organization.aht?
                  %label.label.label-success
                    = domain_name_translate(@assessment, domain)
                - else
                  %label.label.label-success
                    = t('.domain')
                    = domain_name_translate(@assessment, domain)
              .ibox-content
                = ad.hidden_field :domain_id
                .well
                  = ad.object.domain.translate_description.html_safe
                #required-scroll
                %label.text.required.control-label{"aria-required" => "true" }
                  %abbr{:title => "required"} *
                  = t('.reason')
                = ad.input :reason, label: false, placeholder: t('.reason_placeholder'), required: !current_setting.disable_required_fields?, input_html: { class: 'reason' }
                %label= t('.score_label')
                %a{:role => "button", :tabIndex => "0",  data: { toggle: "popover", trigger: "focus", content: "#{I18n.t('inline_help.clients.assessments.observation').html_safe}" } }
                  = fa_icon "info-circle", class: 'text-info m-xs'
                - random = [1,2,3,4,5,6,7,8,9,10]
                - rd = current_setting.random_order? ? random.shuffle : random
                #score-required
                - if is_domain_definition(domain)
                  .score_option.with-def{data: {'score-1': domain.score_1_color,
                                                'score-2': domain.score_2_color,
                                                'score-3': domain.score_3_color,
                                                'score-4': domain.score_4_color,
                                                'score-5': domain.score_5_color,
                                                'score-6': domain.score_6_color,
                                                'score-7': domain.score_7_color,
                                                'score-8': domain.score_8_color,
                                                'score-9': domain.score_9_color,
                                                'score-10': domain.score_10_color,
                                                'domain-id': domain.id }}
                    - (0..9).each do |domain_index|
                      - interpretion = domain.send("translate_score_#{rd[domain_index]}_definition").to_s
                      - if interpretion.present?
                        .btn-option.btn.btn-block.wrap-text-style{ 'data-score': rd[domain_index], 'data-domain-id': domain.id }
                          %b= score_definition(interpretion, rd[domain_index])
                    = ad.hidden_field :score, class: 'selected-score'
                - else
                  .score_option.without-def{ data: {'score-1': domain.score_1_color,
                                                    'score-2': domain.score_2_color,
                                                    'score-3': domain.score_3_color,
                                                    'score-4': domain.score_4_color,
                                                    'score-5': domain.score_5_color,
                                                    'score-6': domain.score_6_color,
                                                    'score-7': domain.score_7_color,
                                                    'score-8': domain.score_8_color,
                                                    'score-9': domain.score_9_color,
                                                    'score-10': domain.score_10_color,
                                                    'domain-id': domain.id }}
                    = ad.collection_radio_buttons :score, [%w(1 1), %w(2 2), %w(3 3), %w(4 4), %w(5 5), %w(6 6), %w(7 7), %w(8 8), %w(9 9), %w(10 10)].shuffle, :first , :last
                .row
                  .col-sm-12.col-md-12
                    = render 'attachment_fields', ad: ad, readonly: false

        = render 'risk_assessment_step', f: f

= render 'level_of_risk_guidance'
