= simple_form_for([@assessment.client, @assessment], html: { id: "#{action_name}-assessment", class: 'assessment-form', data: { disable_required_fields: current_setting.disable_required_fields? } }) do |f|
  = hidden_field_tag :current_user, current_user.roles
  = hidden_field_tag :default, params[:default] if params[:default]
  = hidden_field_tag :from_controller, @from_controller
  = hidden_field_tag :custom_name, params[:custom_name] || @custom_assessment_setting.try(:custom_assessment_name)
  = f.hidden_field :case_conference_id
  = f.hidden_field :custom_assessment_setting_id
  .row.assessment-domains
    .col-xs-12
      #rootwizard.root-wizard{ data: { cancel: t('.cancel'), next: t('.next'), previous: t('.previous'), finish: t('.finish'), save: t('.save'), saving: t('saving'), action: params['action'] } }

        - if current_setting.enabled_risk_assessment?
          %h4= t('.client_wellbeing_score')
          %div{ class: "assessment-domain-item domain-client-wellbeing-score" }
            .ibox
              .ibox-title
                %h5= "#{@assessment.client.name}"
                - if current_setting.show_prev_assessment? && @prev_assessment.present?
                  %span= " (Current Assessment)"

                .ibox-tools
                  = link_to client_assessments_path(@client), class: 'btn btn-default btn-back-default button' do
                    = t('.back')
              .ibox-content
                .row
                  .col-xs-12.col-md-9
                    - order_assessment(@assessment).each do |ad|
                      - next if current_setting.selected_domain_ids.compact.exclude?(ad.domain_id)
                      .row.domai-name-score-wrapper.m-b-xs
                        .col-xs-6.text-right
                          %label
                            = translate_domain_header(ad.domain)
                        .col-xs-6
                          %a{ class: "btn btn-lg btn-block btn-#{ad.score_color_class}" }
                            = ad.score

                    .row.domai-name-score-wrapper.m-t-lg
                      .col-xs-6.text-right
                        %label Overall Client’s Wellbeing Score
                      .col-xs-6
                        %a{ class: "btn btn-lg btn-block btn-success" }
                          = calculate_domain_selected_domain_score(@assessment)

                    .row.domai-name-score-wrapper.m-t-md
                      .col-xs-6.text-right
                        .row
                          .col-xs-12
                            = label :level_of_risk, t('referrals.level_of_risk')
                          .col-xs-12
                            = link_to 'Guidance', '#LevelOfRiskGuidance', data: { toggle: :modal, target: '#LevelOfRiskGuidance' }
                      .col-xs-6
                        = f.input :level_of_risk, label: false, collection: ['High', 'Medium', 'Low', 'No Action'].zip(['high', 'medium', 'low', 'no action'])
                    .row.domai-name-score-wrapper
                      .col-xs-6.text-right
                        = label :description, 'Description'
                      .col-xs-6
                        = f.input :description, label: false

= render 'level_of_risk_guidance'
