.row.margin-row
  .col-xs-12.col-sm-8
    %h5
      - if @client.assessments.defaults.any?
        = t('assessments.index.next_review')
        %b
          = date_format(@client.next_assessment_date)
      - else
        = t('assessments.index.initial_assessment', assessment: t('clients.show.assessment'))
        %b
          = date_format(Date.today)
  .col-xs-12.col-sm-4
    - if policy(@default_assessment).create?()
      = link_to new_client_assessment_path(@client, default: true), data: { toggle: "popover", trigger: "hover", content: "#{I18n.t('inline_help.assessments.index.default_button', assessment: t('clients.show.assessment'))}", placement: "auto" } do
        .btn.btn-block.btn-primary.button
          = "#{t('assessments.index.begin_now')} #{@current_setting.default_assessment}"
    - else
      .btn.btn-block.btn-default.button.disabled{ data: { toggle: "popover", trigger: "hover", content: "#{I18n.t('inline_help.assessments.index.default_button', assessment: t('clients.show.assessment'))}", placement: "auto" } }
        = "#{t('assessments.index.begin_now')} #{@current_setting.default_assessment}"
