.row.margin-row
  .col-xs-12.col-sm-4
    %h5
      = t('assessments.index.assessment_created_on', assessment: t('clients.show.case_conference'))
      %b
        = date_format(case_conference.created_at)
  .col-xs-12.col-sm-4
    %h5
      - if assessment.present?
        = t('assessments.index.assessment_created_on', assessment: t('clients.show.assessment'))
        %b
          = date_format(assessment.created_at)
        = render partial: 'incomplete_detail', locals: { assessment: assessment }
        %label{ class: "cursor-pointer #{assessment.completed? ? 'label label-primary' : 'label label-danger'}", data: { toggle: :modal, target: "#modal-incomplete-assessment-#{assessment.id}" } }= "#{assessment.completed? ? 'Completed' : 'Incompleted'}"
  .col-xs-12.col-sm-4
    .btn.btn-block.btn-info.button{ class: ('disabled' unless case_conference_readable?) }
      - if assessment.present?
        = link_to t('assessments.index.review_assessment'),  client_assessment_path(@client, assessment.id)
      - else
        = link_to t('assessments.index.new_assessment'), new_client_assessment_path(@client, :case_conference => case_conference.id)
