.row
  .col-sm-12.col-md-10.col-md-offset-1
    .ibox
      .ibox-title
        %h5
          %strong= "#{@client.name}"
        %h5.margin-title= t('.assessment_history')
      .ibox-content
        - @client.assessments.order(:created_at).each_with_index do |assessment, index|
          .row.margin-row
            .col-xs-12.col-sm-9.middle-text
              %h5
                - if assessment.initial?
                  = t('.initial_assessment')
                - else
                  = t('.assessment_completed_on')
                %b
                  = assessment.created_at.strftime("%B %d, %Y")
            .col-xs-12.col-sm-3
              .btn.btn-info.button{ class: ('disabled' unless case_notes_readable?) }
                = link_to_if assessment_readable?, t('.view_report'), client_assessment_path(@client, assessment)
        .row.margin-row
          .col-xs-12.col-sm-9
            %h5
              - if @client.assessments.any?
                = t('.next_review')
                %b
                  = @client.next_assessment_date.strftime('%B %d, %Y')
              - else
                = t('.initial_assessment')
                %b
                  = Date.today.strftime('%B %d, %Y')

          .col-xs-12.col-sm-3
            - if can? :manage, Assessment
              - if @client.can_create_assessment? && assessment_editable? && policy(@client).create? && !@client.age_over_18?
                = link_to new_client_assessment_path(@client) do
                  .btn.btn-primary.button
                    = t('.begin_now')
              - else
                .btn.btn-default.button.disabled#disabled_assessment_button
                  = t('.begin_now')

      .ibox-footer
        .row
          .col-xs-12.col-sm-6
            = link_to t('.back'), client_path(@client), { class:'btn btn-default button' }
