.row
  .col-sm-12.col-md-10.col-md-offset-1
    .ibox
      .ibox-title
        %h5
          %strong= link_to_client_show(@client)
        %h5.margin-title= t('.assessment_history', assessment: t('clients.show.assessment'))
      .ibox-content
        - if Organization.ratanak?
          - @case_conferences.order_by_meeting_date.each do |case_conference|
            = render 'ratanak_assessments', case_conference: case_conference, assessment: case_conference.assessment
        - else
          - @assessmets.each_with_index do |assessment, index|
            .row.margin-row
              = render 'assessment_lists', assessment: assessment
          - if @current_setting.enable_default_assessment && completed_initial_assessment?('defaults')
            = render 'new_assessment'

        - if @current_setting.enable_custom_assessment && completed_initial_assessment?('customs')
          .row.margin-row
            - @custom_assessment_settings.each do |css|
              .col-xs-12.col-sm-8
                %h5
                  - if current_organization.aht?
                    = t('.initial_assessment', assessment: t('clients.show.assessment'))
                    %b
                      = date_format(Date.today)
                  - else
                    - if @client.assessments.customs.any?
                      = t('.next_review')
                      %b
                        = date_format(@client.custom_next_assessment_date(nil, css.id))
                    - else
                      = t('.initial_assessment', assessment: t('clients.show.assessment'))
                      %b
                        = date_format(Date.today)
              .col-xs-12.col-sm-4.m-b-sm
                - if css.domains.any?
                  - if policy(@custom_assessment).create?(css.id, css)
                    = link_to new_client_assessment_path(@client, default: false, custom_name: css.custom_assessment_name), class: 'btn btn-block btn-primary button', data: { toggle: "popover", trigger: "hover", content: "#{I18n.t('inline_help.assessments.index.custom_button', assessment: I18n.t('clients.show.assessment'))}", placement: "auto" } do
                      - if Organization.ratanak?
                        = "#{t('.begin_now')} #{t('clients.show.custom_assessment', assessment: t('clients.show.assessment'))}"
                      - else
                        = "#{t('.begin_now')} #{css.custom_assessment_name}"
                  - else
                    .btn.btn-block.btn-default.button.disabled
                      - if Organization.ratanak?
                        = "#{t('.begin_now')} #{t('clients.show.custom_assessment', assessment: t('clients.show.assessment'))}"
                      - else
                        = "#{t('.begin_now')} #{css.custom_assessment_name}"
                - else
                  = link_to '#', data: { toggle: 'modal', target: '#customDomainsModal' }, class: 'btn btn-block btn-primary button', data: { toggle: "popover", trigger: "hover", content: "#{I18n.t('inline_help.assessments.index.custom_button', assessment: I18n.t('clients.show.assessment'))}", placement: "auto" } do
                    - if Organization.ratanak?
                      = "#{t('.begin_now')} #{t('clients.show.custom_assessment', assessment: t('clients.show.assessment'))}"
                    - else
                      = "#{t('.begin_now')} #{css.custom_assessment_name}"

                #customDomainsModal.modal.fade{"aria-labelledby" => "customDomainsModalLabel", :role => "dialog", :tabindex => "-1"}
                  .modal-dialog{:role => "document"}
                    .modal-content.panel-warning
                      .modal-header.panel-heading
                        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                          %span{"aria-hidden" => "true"} ×
                        %h4
                          %i.fa.fa-warning.fa-x2
                          = t('.no_custom_domains_available')
                      .modal-body.text-center
                        = t('.please_add_custom_domains')
      .ibox-footer
        .row
          .col-xs-12.col-sm-6
            = link_to t('.back'), client_path(@client), { class:'btn btn-default button' }
