.row
  .col-sm-12.col-md-10.col-md-offset-1
    .ibox
      .ibox-title
        %h5
          %strong= "#{@client.name}"
        %h5.margin-title= t('.assessment_history')
      .ibox-content
        - @assessmets.each_with_index do |assessment, index|
          .row.margin-row
            .col-xs-12.col-sm-8
              %h5
                - if assessment.initial?
                  = t('.initial_assessment')
                - else
                  = t('.assessment_created_on')
                %b
                  = date_format(assessment.created_at)
                %label{ class: "#{assessment.completed_label_class}"}= assessment.completed_status
            .col-xs-12.col-sm-4
              .btn.btn-block.btn-info.button{ class: ('disabled' unless case_notes_readable?) }
                = link_to_if assessment_readable?, t('.view_report'), client_assessment_path(@client, assessment)

        - if @current_setting.enable_default_assessment
          .row.margin-row
            .col-xs-12.col-sm-8
              %h5
                - if @client.assessments.defaults.any?
                  = t('.next_review')
                  %b
                    = date_format(@client.next_assessment_date)
                - else
                  = t('.initial_assessment')
                  %b
                    = date_format(Date.today)
            .col-xs-12.col-sm-4
              - if policy(@default_assessment).create?
                = link_to new_client_assessment_path(@client, default: true) do
                  .btn.btn-block.btn-primary.button
                    = "#{t('.begin_now')} #{@current_setting.default_assessment}"
              - else
                .btn.btn-block.btn-default.button.disabled#disabled_assessment_button
                  = "#{t('.begin_now')} #{@current_setting.default_assessment}"

        - if @current_setting.enable_custom_assessment
          .row.margin-row
            .col-xs-12.col-sm-8
              %h5
                - if @client.assessments.customs.any?
                  = t('.next_review')
                  %b
                    = date_format(@client.custom_next_assessment_date)
                - else
                  = t('.initial_assessment')
                  %b
                    = date_format(Date.today)
            .col-xs-12.col-sm-4
              - if policy(@custom_assessment).create?
                - if @custom_domains.any?
                  = link_to new_client_assessment_path(@client, default: false) do
                    .btn.btn-block.btn-primary.button
                      = "#{t('.begin_now')} #{@current_setting.custom_assessment}"
                - else
                  = link_to '#', data: { toggle: 'modal', target: '#customDomainsModal' } do
                    .btn.btn-block.btn-primary.button
                      = "#{t('.begin_now')} #{@current_setting.custom_assessment}"

                  #customDomainsModal.modal.fade{"aria-labelledby" => "customDomainsModalLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                      .modal-content.panel-warning
                        .modal-header.panel-heading
                          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                            %span{"aria-hidden" => "true"} ×
                          %h4
                            %i.fa.fa-warning.fa-x2
                            = t('.no_custom_domains_available')
                        .modal-body.text-center
                          = t('.please_add_custom_domains')
              - else
                .btn.btn-block.btn-default.button.disabled#disabled_assessment_button
                  = "#{t('.begin_now')} #{@current_setting.custom_assessment}"

      .ibox-footer
        .row
          .col-xs-12.col-sm-6
            = link_to t('.back'), client_path(@client), { class:'btn btn-default button' }
