.row.mini-margin
  .col-xs-12.col-sm-10.col-sm-offset-1
    .alert.alert-warning.alert-dismissible{ :role => "alert" }
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %ul
        %li= I18n.t('inline_help.clients.assessments.case_plan.lists.list1').html_safe
        %li= I18n.t('inline_help.clients.assessments.case_plan.lists.list2').html_safe
        %li= I18n.t('inline_help.clients.assessments.case_plan.lists.list3').html_safe
        %li= I18n.t('inline_help.clients.assessments.case_plan.lists.list4').html_safe
        %li= I18n.t('inline_help.clients.assessments.case_plan.lists.list5').html_safe
    .ibox#assessment-info.center-block
      .ibox-title
        = link_to client_assessments_path(@assessment.client), class: 'btn btn-default' do
          = t('.back_to_assessment_history')
      .ibox-content
        .row
          .col-xs-10
            = render partial: 'incomplete_detail', locals: { assessment: @assessment }
            %p
              %b= "#{t('.case_plan')} #{@assessment.client.name}"
              %label{ class: "cursor-pointer #{@assessment.completed_label_class}", data: { toggle: :modal, target: "#modal-incomplete-assessment-#{@assessment.id}" } }
                = @assessment.completed_status
              - if @assessment.draft? && !@assessment.completed?
                %span.label.label-warning.draft (draft)

              %br
              - if @assessment.index_of == 0
                = "#{t('.initial_assessment')}"
              - else
                = "#{t('.based_on')} #{@assessment.index_of + 1}"
              %br
              = "#{t('assessments.assessment_date', assessment: t('clients.show.assessment'))} #{date_format(@assessment.assessment_date)}"
              %br/
              = "#{t('.assessment_created_by')} #{whodunnit('Assessment', @assessment)} #{t('.on_date')} #{date_format(@assessment.completed_date)}"
              %br/
              - if @assessment.level_of_risk
                = "#{t('referrals.level_of_risk')}:"
                %strong= display_level_of_risk(@assessment.level_of_risk)
          .col-xl-1.button-position
            .pull-right
              = link_to '#', class: 'btn btn-warning btn-outline printable-button', data: { printable_id: "printable-assessment-#{@assessment.id}" } do
                = fa_icon 'print'
              - if policy(@assessment).edit?
                = assessment_edit_link(@assessment.client, @assessment)
              - if current_user.admin?
                = assessment_destroy_link(@assessment.client, @assessment)
        - order_assessment(@assessment).each do |ad|
          .row
            .col-xs-12
              %div{class: "panel panel-#{ad.score_color_class}"}
                .panel-heading
                  %table.table.table-borderless
                    %tbody
                      %tr
                        - if current_organization.aht? || !@assessment.default
                          = domain_name_for_aht(ad).html_safe
                        - else
                          %td.no-padding-bottom
                            %b
                              = t('.domain')
                              = t("domains.domain_names.#{ad.domain.name.downcase.reverse}") + ":"
                          %td.no-padding-bottom
                            %b= t("domains.domain_identies.#{ad.domain.identity.strip.parameterize('_')}_#{ad.domain.name.downcase}")
                        %td{ rowspan: 4 }
                          .domain-score.text-center
                            - unless @assessment.initial?(ad.domain.custom_assessment_setting_id)
                              %button{ 'data-original-title': "#{simple_format(ad.previous_score_definition)}", type: 'button', class: "btn btn-#{ad.previous_score_color_class} btn-xs", 'data-toggle': 'tooltip' }
                                = "#{ad.previous_score}"
                              %span{style: 'color:black;'} &#8594;
                            %button{ 'data-original-title': "#{simple_format(ad.score_definition)}", type: 'button', class: "btn btn-#{ad.score_color_class} btn-xs", 'data-toggle': 'tooltip' }
                              = "#{ad.score}"
                      %tr
                        %td.no-padding-top
                          %b= "#{t('.score')} #{ad.score}:"
                        %td.no-padding-top
                          %b= simple_format(ad.score_definition)
                      %tr
                        %td
                          %b= "#{t('assessments.show.reason')}:"
                        %td{ style: "overflow-wrap: anywhere;" }
                          = ad.reason
                      %tr
                        %td
                        %td
                          - if ad.attachments.any?
                            %br
                            %button.btrn.btn-info.btn-sm{"data-target" => "#attachments#{ad.id}", "data-toggle" => "modal", :type => "button"}= t('.show_attachment')
                - if ad.attachments.any?
                  = render 'attachment', { ad: ad }
        - if @assessment.level_of_risk
          .row
            .col-xs-12
              %div{class: "panel panel-default"}
                .panel-heading
                  %table.table.table-borderless
                    %tbody
                      %tr
                        %td.no-padding-bottom
                          %strong= "#{t('risk_assessments._attr.child_wellbeing')}:"
                        %td.no-padding-bottom
                          = calculate_domain_selected_domain_score(@assessment)
                      %tr
                        %td.no-padding-bottom
                          %strong= "#{t('risk_assessments._attr.level_of_risk')}:"
                        %td.no-padding-bottom
                          %strong= display_level_of_risk(@assessment.level_of_risk)
                      %tr
                        %td.no-padding-bottom
                          %strong= "#{t('risk_assessments._attr.description')}:"
                        %td.no-padding-bottom
                          = @assessment.description

        %div{ id: "printable-assessment-#{@assessment.id}" }
          = render 'shared/printable_assessment', assessment: @assessment
