.row
  .col-xs-12
    = link_to client_assessments_path(@assessment.client), class: 'btn btn-default' do
      = t('.back_to_assessment_history')
.row.mini-margin
  .col-xs-12
    .ibox#assessment-info
      .ibox-title
        .row
          .col-xs-10
            - if @assessment.initial?
              = t('.initial_assessment_of')
            - else
              = t('.assessment_completed_for')
            %strong
              %u= @assessment.client.name
          .col-xs-12
            %span= t('.assessment_created_by')
            %strong
              %u= whodunnit('Assessment', @assessment)
            %span= t('.on_date')
            %strong
              %u= date_format(@assessment.created_at)
            %label{ class: "#{@assessment.completed_label_class}"}= @assessment.completed_status
            %span.pull-right.margin-asse
              - if @assessment.latest_record?
                - if can? :update, @assessment
                  = assessment_edit_link(@assessment.client, @assessment)
      .ibox-content
        .table-responsive
          %table.table.table-bordered
            %tbody
              - @assessment.assessment_domains_in_order.each do |ad|
                %tr
                  %td.domain-detail
                    .domain-identity
                      %span
                        = "#{t('.domain')} #{ad.domain.name}:"
                      %strong
                        = ad.domain.identity
                    .domain-score
                      %span= t('.score')
                      - unless @assessment.initial?
                        %span{ class: "label label-#{ad.previous_score_color_class} "}
                          = "#{ad.previous_score}"
                        %span &#8594;
                      %span{ class: "label label-#{ad.score_color_class} "}
                        = "#{ad.score}"
                  %td.reason
                    %p
                      %strong= "#{t('.reason')}:"
                      %span= ad.reason
                    %p
                      %strong= "#{t('.goal')}:"
                      %span= ad.try(:goal)
                    - incomplete_tasks = @client.tasks.by_domain_id(ad.domain_id).incomplete
                    - if incomplete_tasks.any?
                      %p
                        %strong= "#{t('.task')}:"
                        %ul
                          - incomplete_tasks.each do |task|
                            %li= task.name
                    - if ad.attachments.any?
                      %button.btn.btn-info.btn-sm{"data-target" => "#attachments#{ad.id}", "data-toggle" => "modal", :type => "button"}= t('.show_attachment')
                      = render 'attachment', { ad: ad }
