.row
  .col-xs-12
    = link_to client_assessments_path(@assessment.client), class: 'btn btn-default' do
      = t('.back_to_assessment_history')
.row.mini-margin
  .col-xs-12
    .panel.panel-info
      .panel-heading
        .row
          .col-xs-12
            - if @assessment.initial?
              = t('.initial_assessment_of')
            - else
              = t('.six_month_assessment_report')
            %strong
              %u= @assessment.client.name
          .col-xs-12
            %span= t('.assessment_completed_by')
            %strong
              %u= @assessment.client.user.first_name
            %span= t('.on_date')
            %strong
              %u= @assessment.created_at.strftime("%B %d, %Y")
            %span.pull-right.margin-asse
              - if @assessment.latest_record?
                - if can? :update, @assessment
                  = link_to edit_client_assessment_path(@assessment.client, @assessment) do
                    .btn.btn-success
                      = t('.edit')
      .panel-body
        .table-responsive
          %table.table.table-bordered
            %tbody
              - @assessment.assessment_domains.each do |ad|
                %tr
                  %td.domain-detail
                    .domain-identity
                      %span
                        = "#{t('.domain')} #{ad.domain.name}:"
                      %strong
                        = ad.domain.identity
                    .domain-score
                      %span= t('.score')
                      - unless @assessment.initial?
                        %span{ class: "label label-#{ad.previous_score_color_class} "}
                          = "#{ad.previous_score}"
                        %span &#8594;
                      %span{ class: "label label-#{ad.score_color_class} "}
                        = "#{ad.score}"
                  %td.reason
                    %p
                      %strong Reason:
                      %span= ad.reason
                    %p
                      %strong Goal:
                      %span= ad.try(:goal)
                    - incomplete_tasks = ad.domain.tasks.under(current_user, @assessment.client).incomplete
                    - if incomplete_tasks.any?
                      %p
                        %strong Tasks:
                        %ul
                          - incomplete_tasks.each do |task|
                            %li= task.name


