= simple_form_for(@client, url: wizard_path) do |f|
  .ibox-content
    - if @client.errors.any?
      .error_messages
        %h2
          = pluralize(@client.errors.count, "error")
          prohibited this client from being saved:
        %ul
          - @client.errors.full_messages.each do |msg|
            %li= msg
    .form-inputs
      = yield f
      .actions
        - if wizard_path == "/client_steps/living_detail?country=cambodia&locale=en"
          = link_to 'Previous', edit_client_path(@client), class: 'btn btn-primary form-btn'
        - else
          = link_to 'Previous', previous_wizard_path, class: 'btn btn-primary form-btn'

        - if wizard_path != '/client_steps/specific_point?country=cambodia&locale=en'
          = link_to 'Next', next_wizard_path, class: 'btn btn-primary form-btn pull-right'
        = f.submit "Save", class: 'btn btn-primary form-btn pull-right'
