.row
  .col-xs-12
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12.col-sm-4.col-md-3
            %h4.filter-by-item.text-center
              %u= t('.filter_by_item')
            .panel.panel-default
              .panel-body
                .list-group
                  = link_to t('.all'), data_trackers_path, class: "list-group-item #{version_item_type_active?}"
                  = link_to t('.clients'), data_trackers_path(item_type: 'Client'), class: "list-group-item #{version_item_type_active?('Client')}"
                  = link_to t('.cases'), data_trackers_path(item_type: 'Case'), class: "list-group-item #{version_item_type_active?('Case')}"
                  = link_to t('.tasks'), data_trackers_path(item_type: 'Task'), class: "list-group-item #{version_item_type_active?('Task')}"
                  = link_to t('.assessments'), data_trackers_path(item_type: 'Assessment'), class: "list-group-item #{version_item_type_active?('Assessment')}"
                  = link_to t('.families'), data_trackers_path(item_type: 'Family'), class: "list-group-item #{version_item_type_active?('Family')}"
                  = link_to t('.partners'), data_trackers_path(item_type: 'Partner'), class: "list-group-item #{version_item_type_active?('Partner')}"
                  = link_to t('.users'), data_trackers_path(item_type: 'User'), class: "list-group-item #{version_item_type_active?('User')}"
                  = link_to t('.agencies'), data_trackers_path(item_type: 'Agency'), class: "list-group-item #{version_item_type_active?('Agency')}"
                  = link_to t('.departments'), data_trackers_path(item_type: 'Department'), class: "list-group-item #{version_item_type_active?('Department')}"
                  = link_to t('.organization_types'), data_trackers_path(item_type: 'OrganizationType'), class: "list-group-item #{version_item_type_active?('OrganizationType')}"
                  = link_to t('.domains'), data_trackers_path(item_type: 'Domain'), class: "list-group-item #{version_item_type_active?('Domain')}"
                  = link_to t('.domain_groups'), data_trackers_path(item_type: 'DomainGroup'), class: "list-group-item #{version_item_type_active?('DomainGroup')}"
                  = link_to t('.donors'), data_trackers_path(item_type: 'Donor'), class: "list-group-item #{version_item_type_active?('Donor')}"
                  = link_to t('.provinces'), data_trackers_path(item_type: 'Province'), class: "list-group-item #{version_item_type_active?('Province')}"
                  = link_to t('.districts'), data_trackers_path(item_type: 'District'), class: "list-group-item #{version_item_type_active?('District')}"
                  = link_to t('.referral_sources'), data_trackers_path(item_type: 'ReferralSource'), class: "list-group-item #{version_item_type_active?('ReferralSource')}"
                  = link_to t('.quantitative_types'), data_trackers_path(item_type: 'QuantitativeType'), class: "list-group-item #{version_item_type_active?('QuantitativeType')}"
                  = link_to t('.quantitative_cases'), data_trackers_path(item_type: 'QuantitativeCase'), class: "list-group-item #{version_item_type_active?('QuantitativeCase')}"
                  = link_to t('.custom_fields'), data_trackers_path(item_type: 'CustomField'), class: "list-group-item #{version_item_type_active?('CustomField')}"
                  = link_to t('.client_custom_fields'), data_trackers_path(item_type: 'CustomFieldProperty', formable_type: 'Client'), class: "list-group-item #{version_item_type_active?({}, formable_type: 'Client')}"
                  = link_to t('.family_custom_fields'), data_trackers_path(item_type: 'CustomFieldProperty', formable_type: 'Family'), class: "list-group-item #{version_item_type_active?({}, formable_type: 'Family')}"
                  = link_to t('.partner_custom_fields'), data_trackers_path(item_type: 'CustomFieldProperty', formable_type: 'Partner'), class: "list-group-item #{version_item_type_active?({}, formable_type: 'Partner')}"
                  = link_to t('.user_custom_fields'), data_trackers_path(item_type: 'CustomFieldProperty', formable_type: 'User'), class: "list-group-item #{version_item_type_active?({}, formable_type: 'User')}"
                  = link_to t('.program_streams'), data_trackers_path(item_type: 'ProgramStream'), class: "list-group-item #{version_item_type_active?('ProgramStream')}"
                  = link_to t('.client_enrollments'), data_trackers_path(item_type: 'ClientEnrollment'), class: "list-group-item #{version_item_type_active?('ClientEnrollment')}"
                  = link_to t('.releaselogs'), data_trackers_path(item_type: 'Changelog'), class: "list-group-item #{version_item_type_active?('Changelog')}"

          .col-xs-12.col-sm-8.col-md-9
            .row
              .col-xs-12.col-md-9.col-md-push-1
                %h4.all-modification.text-center
                  %u= t('.all_modification')
              .col-xs-12.col-md-3
                = render 'per_page_form'
              .col-xs-12
                = render 'shared/version'
