.row
  .col-xs-12
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12.col-sm-4.col-md-3
            %h4.filter-by-item.text-center
              %u= t('.filter_by_item')
            .panel.panel-default
              .panel-body
                .list-group
                  = link_to t('.all'), data_trackers_path, class: "list-group-item #{version_item_type_active?}"
                  = link_to t('.clients'), data_trackers_path(item_type: 'Client'), class: "list-group-item #{version_item_type_active?('Client')}"
                  = link_to t('.families'), data_trackers_path(item_type: 'Family'), class: "list-group-item #{version_item_type_active?('Family')}"
                  = link_to t('.partners'), data_trackers_path(item_type: 'Partner'), class: "list-group-item #{version_item_type_active?('Partner')}"
                  = link_to t('.users'), data_trackers_path(item_type: 'User'), class: "list-group-item #{version_item_type_active?('User')}"
                  = link_to t('.agencies'), data_trackers_path(item_type: 'Agency'), class: "list-group-item #{version_item_type_active?('Agency')}"
                  = link_to t('.departments'), data_trackers_path(item_type: 'Department'), class: "list-group-item #{version_item_type_active?('Department')}"
                  = link_to t('.domains'), data_trackers_path(item_type: 'Domain'), class: "list-group-item #{version_item_type_active?('Domain')}"
                  = link_to t('.domain_groups'), data_trackers_path(item_type: 'DomainGroup'), class: "list-group-item #{version_item_type_active?('DomainGroup')}"
                  = link_to t('.provinces'), data_trackers_path(item_type: 'Province'), class: "list-group-item #{version_item_type_active?('Province')}"
                  = link_to t('.referral_sources'), data_trackers_path(item_type: 'ReferralSource'), class: "list-group-item #{version_item_type_active?('ReferralSource')}"

          .col-xs-12.col-sm-8.col-md-9
            %h4.all-modification.text-center
              %u= t('.all_modification')

            = render 'shared/version'
