.container
  - @versions.each do |version|
    .row
      .col-xs-12.col-sm-3.col-md-4
        = version.object_info
      .col-xs-12.col-sm-9.col-md-8
        = version.association_changed
        - version.changeset.each do |k, v|
          %p= "#{k}-#{v[0]} changed to #{v[1]}"
    .row
      .col-xs-12
        %hr