.row
  .col-xs-12
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12.col-sm-4.col-md-3
            %h4.filter-by-item.text-center
              %u= t('.filter_by_item')
            .panel.panel-default
              .panel-body
                .list-group
                  = link_to t('.all'), data_trackers_path, class: "list-group-item #{version_item_type_active?}"
                  = link_to t('.clients'), data_trackers_path(item_type: 'Client'), class: "list-group-item #{version_item_type_active?('Client')}"
                  = link_to t('.families'), data_trackers_path(item_type: 'Family'), class: "list-group-item #{version_item_type_active?('Family')}"
                  = link_to t('.partners'), data_trackers_path(item_type: 'Partner'), class: "list-group-item #{version_item_type_active?('Partner')}"
                  = link_to t('.users'), data_trackers_path(item_type: 'User'), class: "list-group-item #{version_item_type_active?('User')}"
                  = link_to t('.agencies'), data_trackers_path(item_type: 'Agency'), class: "list-group-item #{version_item_type_active?('Agency')}"
                  = link_to t('.departments'), data_trackers_path(item_type: 'Department'), class: "list-group-item #{version_item_type_active?('Department')}"
                  = link_to t('.domains'), data_trackers_path(item_type: 'Domain'), class: "list-group-item #{version_item_type_active?('Domain')}"
                  = link_to t('.domain_groups'), data_trackers_path(item_type: 'DomainGroup'), class: "list-group-item #{version_item_type_active?('DomainGroup')}"
                  = link_to t('.provinces'), data_trackers_path(item_type: 'Province'), class: "list-group-item #{version_item_type_active?('Province')}"
                  = link_to t('.referral_sources'), data_trackers_path(item_type: 'ReferralSource'), class: "list-group-item #{version_item_type_active?('ReferralSource')}"
                  = link_to t('.quantitative_types'), data_trackers_path(item_type: 'QuantitativeType'), class: "list-group-item #{version_item_type_active?('QuantitativeType')}"
                  = link_to t('.quantitative_cases'), data_trackers_path(item_type: 'QuantitativeCase'), class: "list-group-item #{version_item_type_active?('QuantitativeCase')}"
                  = link_to t('.changelogs'), data_trackers_path(item_type: 'Changelog'), class: "list-group-item #{version_item_type_active?('Changelog')}"
                  = link_to t('.cases'), data_trackers_path(item_type: 'Case'), class: "list-group-item #{version_item_type_active?('Case')}"
                  = link_to t('.tasks'), data_trackers_path(item_type: 'Task'), class: "list-group-item #{version_item_type_active?('Task')}"
                  = link_to t('.assessments'), data_trackers_path(item_type: 'Assessment'), class: "list-group-item #{version_item_type_active?('Assessment')}"
                  = link_to t('.case_notes'), data_trackers_path(item_type: 'CaseNote'), class: "list-group-item #{version_item_type_active?('CaseNote')}"
                  = link_to t('.surveys'), data_trackers_path(item_type: 'Survey'), class: "list-group-item #{version_item_type_active?('Survey')}"
                  = link_to t('.materials'), data_trackers_path(item_type: 'Material'), class: "list-group-item #{version_item_type_active?('Material')}"
                  = link_to t('.interventions'), data_trackers_path(item_type: 'Intervention'), class: "list-group-item #{version_item_type_active?('Intervention')}"
                  = link_to t('.locations'), data_trackers_path(item_type: 'Location'), class: "list-group-item #{version_item_type_active?('Location')}"
                  = link_to t('.progress_note_types'), data_trackers_path(item_type: 'ProgressNoteType'), class: "list-group-item #{version_item_type_active?('ProgressNoteType')}"

          .col-xs-12.col-sm-8.col-md-9
            %h4.all-modification.text-center
              %u= t('.all_modification')

            = render 'shared/version'
