= simple_form_for(@quantitative_type) do |f|
  .panel-body
    = error_notification(f)

    .form-inputs
      = f.input :name, label: t('.name')

  .panel-footer
    .form-actions
      = f.button :submit, t('.save'), class: 'btn btn-primary form-btn'
      = link_to t('.cancel'),  quantitative_types_path, class: 'btn btn-default form-btn'
