.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5= t('.quantitative_types')
        .ibox-tools
          = link_to '#', {"data-target" => "#quantitative_typeModal-", "data-toggle" => "modal", :type => "button"} do
            .btn.btn-primary.btn-add
              = t('.add_new_quantitative_type')
      .ibox-content
        - @quantitative_types.each do |qt|
          .panel.panel-default
            .panel-heading
              .row
                .col-xs-10
                  %h4
                    = qt.name
                .col-xs-2.text-right
                  = link_to '#', {class: 'btn btn-outline btn-success', "data-target" => "#quantitative_typeModal-#{qt.id}", "data-toggle" => "modal", :type => "button"} do
                    = fa_icon('pencil')
                  = remove_link(qt, {quantitative_case: qt.quantitative_cases_count}, 'btn-md')
                = render 'form', quantitative_type: qt
            .panel-body
              %table.table.table-bordered
                %tbody
                  - qt.quantitative_cases.each do |qc|
                    %tr
                      %td
                        = qc.value
                      %td
                        = link_to t('.view_modification'), quantitative_case_version_path(qc)
            .panel-footer
              %p= link_to t('.view_modification'), quantitative_type_version_path(qt)
      .ibox-footer
        .col-xs-12.text-center
          = will_paginate @quantitative_types, renderer: BootstrapPagination::Rails

= render 'form'
