.row
  .container
    .col-xs-12
      = link_to 'បន្ថែមថ្មី / Add New Quantitative Type', new_quantitative_type_path, class: 'btn btn-success btn-add'
    .col-xs-12
      .panel.panel-default
        .panel-heading
          %h3 Qantitative Types
        .panel-body
          - @quantitative_types.each do |qt|
            .panel.panel-default
              .panel-heading
                %h4
                  = qt.name
                  %small
                    = link_to edit_quantitative_type_path(qt) do
                      %i.glyphicon.glyphicon-pencil
                    = removeable? qt, qt.quantitative_cases_count
              .panel-body
                = link_to new_quantitative_case_path(qt_id: qt.id), class: 'btn btn-link' do
                  %i.glyphicon.glyphicon-plus-sign
                  Add Quantitative Data
                %table.table.table-bordered
                  %tbody
                    - qt.quantitative_cases.each do |qc|
                      %tr
                        %td= qc.value
                        %td
                          = link_to edit_quantitative_case_path(qc) do
                            %i.glyphicon.glyphicon-pencil
                        %td
                          = link_to qc, method: 'delete', data: { confirm: 'Are you sure you want to delete?' } do
                            %i.glyphicon.glyphicon-trash

          = will_paginate @quantitative_types