#ngos-program-streams.tab-pane{role: "tabpanel"}
  .table-responsive
    %table.table.table-bordered.table-hover.table-striped.program-stream-table
      %thead
        %th.name
          = t('.name')
          .pull-right
            = render 'order', column: :name, ngo: 'all_ngo'
        %th.domain
          = t('.domain')
        %th
          = t('.type_of_service')
        %th.status
          = t('.status')
        %th.quantity
          = t('.maximum')
          .pull-right
            = render 'order', column: :quantity, ngo: 'all_ngo'
        %th.organization
          = t('.organization')
          .pull-right
            = render 'order', column: :ngo_name, ngo: 'all_ngo'
        %th.actions= t('.actions')
      %tbody
        - @ngos_program_streams.each do |program_stream|
          %tr
            %td.name= program_stream.name
            %td.domain= program_stream.domains.pluck(:identity).join(', ')
            %td= program_stream.services.uniq.map(&:name).join(', ')
            %td.status
              %label{ class: "#{program_stream.completed_label_class}"}
                = program_stream.completed_status
            %td.quantity= program_stream.quantity
            %td.organization= program_stream.ngo_name
            %td.actions
              = link_to preview_program_streams_path(program_stream_id: program_stream.id, ngo_name: program_stream.ngo_name, entity_type: program_stream.entity_type), class: 'btn btn-outline btn-info btn-xs', title: t('.preview')  do
                = fa_icon('eye')
              - if can? :create, ProgramStream
                = link_to new_program_stream_path(program_stream_id: program_stream.id, ngo_name: program_stream.ngo_name, entity_type: program_stream.entity_type), class: 'btn btn-outline btn-success btn-xs', title: t('.copy') do
                  = fa_icon('files-o')

  .text-center
    = paginate @ngos_program_streams, params: { tab: 'all_ngo' }, param_name: 'page_2'
