#current-program-streams.tab-pane.active{role: "tabpanel"}
  .table-responsive
    %table.table.table-bordered.table-hover.table-striped.program-stream-table
      %thead
        %th.name
          = t('.name')
          .pull-right
            = render 'order', column: :name, ngo: 'current'
        %th.domain
          = t('.domain')
        %th
          = t('.type_of_service')
        %th.status
          = t('.status')
        %th.places
          = t('.enrolled')
        %th.quantity
          = t('.maximum')
          .pull-right
            = render 'order', column: :quantity, ngo: 'current'
        %th.actions
          = t('.actions')

      %tbody
        - @program_streams.each do |program_stream|
          %tr
            %td.name= program_stream.name
            %td.domain= program_stream.domains.pluck(:identity).join(', ')
            %td= program_stream.services.distinct.map(&:name).join(', ')
            %td.status
              %label{ class: "#{program_stream.completed_label_class}"}
                = program_stream.completed_status
            %td.places= program_stream.enrolled
            %td.quantity= program_stream.quantity
            %td.actions.nowrap
              = render 'actions', program_stream: program_stream
  .text-center
    = paginate @program_streams, params: { tab: 'current_ngo' }, param_name: 'page_1'
