%h4= t('.enrollment_form')
%section
  #enrollment
    %span.hidden= @program_stream.enrollment.to_json
  %label
    %i= t('.note')
  .text-danger= @program_stream.errors[:enrollment].join(' and ')
  = f.hidden_field :enrollment
