%h4= t('.enrollment_form')
%section
  #enrollment
    %span.hidden= @program_stream.enrollment.to_json
  %label
    %i= t('.note')
  .text-danger= @program_stream.errors[:enrollment].join(' and ')
  = f.hidden_field :enrollment
  
- @program_stream.client_enrollments.each do |ps_client_enrollment|
  - if ps_client_enrollment.properties["Select"].present? 
    = hidden_field_tag :ps_client_enrollment, ps_client_enrollment.properties["Select"]