%h4= t('.exit_form')
%section
  #exit-program
    %span.hidden= @program_stream.exit_program.to_json
  %label
    %i= t('.note')
  .text-danger= @program_stream.errors[:exit_program].join(' and ')
  = f.hidden_field :exit_program
