= simple_form_for @program_stream, html: { id: 'program-stream' } do |f|
  - tab           = f.error(:tab).slice(/\d/) if f.error(:tab).present?
  - tracking_tab  = f.error(:"trackings.tab").slice(/\d/) if f.error(:"trackings.tab").present?
  = hidden_field_tag :program_stream_id, @program_stream.id

  .program-steps{ data: { next: t('.next'), previous: t('.previous'), finish: t('.finish'), save: t('.save'), saving: t('saving'), tab: params[:tab] || tab || tracking_tab || 0 } }
    = render 'program_detail', f: f
    = render 'program_rule', f: f
    = render 'enrollment', f: f
    = render 'tracking', f: f
    = render 'exit_field', f: f
= render 'custom_forms'
