= simple_form_for @program_stream, html: { id: 'program-stream' } do |f|
  .program-steps{ data: { next: t('.next'), previous: t('.previous'), finish: t('.finish') } }
    = render 'program_rule', f: f
    = render 'enrollment', f: f
    = render 'tracking', f: f
    = render 'exit_field', f: f
