= simple_form_for @program_stream, html: { id: 'program-stream' } do |f|
  - tab = f.error(:tab).slice(/\d/) if f.error(:tab).present?
  .program-steps{ data: { next: t('.next'), previous: t('.previous'), finish: t('.finish'), save: t('.save'), tab: params[:tab] || tab || 0 } }
    = render 'program_detail', f: f
    = render 'program_rule', f: f
    = render 'enrollment', f: f
    = render 'tracking', f: f
    = render 'exit_field', f: f
