%h4= t('.add_rule')
%section
  #rule-tab
    = f.input :quantity, label: t('.maximum'), input_html: { data: { maximun: f.object.client_enrollments.active.size } }
    %span.help-block.hidden.quantity
      = t('.cannot_be_lower')
    %div
      = f.input :program_exclusive, label: t('.program_exclusive'), collection: @exclusive_programs.map {|ps| [ps.name, ps.id] }, input_html: { multiple: true }
      = f.input :mutual_dependence, label: t('.mutual_dependence'), collection: @mutual_dependences.map {|ps| [ps.name, ps.id] }, input_html: { multiple: true }
      %h3= t('.rule')
      #program-rule{'data-filter-translation' => { add_filter: t('.add_new_filter'), add_group: t('.add_new_group'), delete_group: t('.delete_group') } }
      %span.help-block.has-error= f.error(:rules)
      = f.hidden_field :rules, { value: f.object.rules? ? format_rule(f.object.rules).to_json : {} }
