%h4= t('.tracking_form')
%section
  #trackings{ data: { complete_tracking: t('.complete_tracking') } }
    = f.simple_fields_for :trackings, @tracking do |ff|
      = render 'tracking_fields', f: ff
    .links
      = link_to_add_association t('.add_tracking'), f, :trackings, class: 'btn btn-primary pull-right'
  #not-require-tracking
    = f.input :tracking_required, label: t('.not_require_tracking'), input_html: { class: 'i-checks' }
