.row
  .col-xs-12.col-sm-8.col-md-8
    = form_tag search_program_streams_path, method: 'get' do
      .row
        .col-xs-9.col-sm-6.col-md-8.col-lg-4
          = text_field_tag :search, nil, class: 'form-control', placeholder: t('.name'), required: true, id: 'program_stream_name'
        .col-xs-3.col-sm-6.col-md-4
          = submit_tag t('.search'), name: nil, class: 'btn btn-primary search'
  .col-xs-12.col-sm-4.col-md-4.text-right
    - if (can? :manage, ProgramStream) || (I18n.default_locale.to_s == params[:locale].to_s)
      .btn-group.new-program
        %button.btn.btn-primary.dropdown-toggle{ "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button" }
          = t('.new_program')
          %span.caret
        %ul.dropdown-menu.dropdown-menu-right
          %li= link_to t('.attached_with_client'), new_program_stream_path(entity_type: 'Client')
          %li= link_to t('.attached_with_family'), new_program_stream_path(entity_type: 'Family')
          %li= link_to t('.attached_with_community'), new_program_stream_path(entity_type: 'Community')
.row
  .col-xs-12
    .ibox.min-margin-layout
      .ibox-content
        %div
          %ul.nav.nav-tabs{role: "tablist"}
            %li.active{role: "presentation"}
              %a{"data-toggle": "tab", href: "#current-program-streams", role: "tab"}
                = t('.current_ngo')
            - unless current_organization.mho?
              %li{role: "presentation"}
                %a{"data-toggle": "tab", href: "#ngos-program-streams", role: "tab"}
                  = t('.ngo_programs')
            - unless current_organization.mho? || current_organization.demo?
              %li{role: "presentation"}
                %a{"data-toggle": "tab", href: "#demo-program-streams", role: "tab"}
                  = t('.demo_programs')
          .tab-content
            = render 'current_program_streams_tab'
            - unless current_organization.mho?
              = render 'all_ngos_program_streams_tab'
            - unless current_organization.mho? || current_organization.demo?
              = render 'demo_program_streams_tab'
