.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5= t('.program_list')
        .ibox-tools
          = link_to t('.new_program'), new_program_stream_path, class: 'btn btn-primary btn-add'
      .ibox-content
        %div
          %ul.nav.nav-tabs{role: "tablist"}
            %li.active{role: "presentation"}
              %a{"data-toggle": "tab", href: "#current-program-streams", role: "tab"}
                = t('.current_ngo')
            - unless current_organization.try(:short_name) == 'mho'
              %li{role: "presentation"}
                %a{"data-toggle": "tab", href: "#ngos-program-streams", role: "tab"}
                  = t('.ngo_programs')
          .tab-content
            = render 'current_program_streams_tab'
            - unless current_organization.try(:short_name) == 'mho'
              = render 'all_ngos_program_streams_tab'