.row
  .col-xs-12
    .ibox#program-stream-info
      .ibox-title
        %h5
          = @program_stream.name
          %span{ class: "#{@program_stream.completed_label_class}"}
            = @program_stream.completed_status
        .ibox-tools
          - if (can? :update, ProgramStream) && (current_organization.full_name == @program_stream.ngo_name)
            = link_to edit_program_stream_path(@program_stream), class: 'btn btn-outline btn-success' do
              = fa_icon('pencil')
            - if can? :create, ProgramStream
              = link_to new_program_stream_path(program_stream_id: @program_stream.id, ngo_name: @program_stream.ngo_name), class: 'btn btn-outline btn-success', title: t('.copy') do
                = fa_icon('files-o')
          - if action_search?
            = link_to request.referrer do
              .btn.btn-default.btn-back-default.button
                = t('.back')
          - else
            = link_to program_stream_redirect_path do
              .btn.btn-default.btn-back-default.button
                = t('.back')
      .ibox-content
        .panel-group
          .panel.panel-default
            .panel-heading
              .row.height-row
                .col-xs-10.col-md-11{'data-toggle': 'collapse', href: '#description'}
                  %h4.panel-title.full-height
                    %a= t('.detail')
                .col-xs-2.col-md-1.text-right
                  - if (can? :update, ProgramStream) && (current_organization.full_name == @program_stream.ngo_name)
                    = link_to edit_program_stream_path(@program_stream, tab: '1'), class: 'btn btn-outline btn-success btn-sm btn-edit-margin' do
                      = fa_icon('pencil')
            #description.panel-collapse.collapse
              .panel-body
                %table.table.table-bordered
                  %tbody
                    %tr
                      %td.description= t('.description')
                      %td= @program_stream.description
                    %tr
                      %td.domain= t('.domain')
                      %td
                        - @program_stream.domains.pluck(:identity).each do |identity|
                          %span.label.label-margin= identity
                    %tr
                      %td.enrolled= t('.enrolled')
                      %td= @program_stream.enrolled

          .panel.panel-default.program-show
            .panel-heading
              .row.height-row
                .col-xs-10.col-md-11{'data-toggle': 'collapse', href: '#rules'}
                  %h4.panel-title.full-height
                    %a= t('.rules')
                .col-xs-2.col-md-1.text-right
                  - if (can? :update, ProgramStream) && (current_organization.full_name == @program_stream.ngo_name)
                    = link_to edit_program_stream_path(@program_stream, tab: '2'), class: 'btn btn-outline btn-success btn-sm btn-edit-margin' do
                      = fa_icon('pencil')
            #rules.panel-collapse.collapse{ data: { program_rules: @program_stream.rules? ? format_rule(@program_stream.rules).to_json : {} }}
              .panel-body
                %table.table.table-bordered
                  %tbody
                    %tr
                      %td.maximum= t('.maximum')
                      %td= @program_stream.quantity
                    %tr
                      %td.exclusive= t('.program_exclusive')
                      %td
                        - @program_exclusive.pluck(:name).each do |name|
                          %span.label.label-margin= name
                    %tr
                      %td.exclusive= t('.mutual_dependence')
                      %td
                        - @mutual_dependence.pluck(:name).each do |name|
                          %span.label.label-margin= name
                #program-rules

          .panel.panel-default
            .panel-heading
              .row.height-row
                .col-xs-10.col-md-11{'data-toggle': 'collapse', href: '#enrollment'}
                  %h4.panel-title.full-height
                    %a= t('.enrollment')
                .col-xs-2.col-md-1.text-right
                  - if (can? :update, ProgramStream) && (current_organization.full_name == @program_stream.ngo_name)
                    = link_to edit_program_stream_path(@program_stream, tab: '3'), class: 'btn btn-outline btn-success btn-sm btn-edit-margin' do
                      = fa_icon('pencil')
            #enrollment.panel-collapse.collapse
              .panel-body
                - @program_stream.enrollment.each do |enrollment|
                  .row
                    .col-xs-12
                      = render "program_streams/fields/#{enrollment['type'].underscore}", field_props: enrollment, full_width: false

          .panel.panel-default
            .panel-heading
              .row.height-row
                .col-xs-10.col-md-11{'data-toggle': 'collapse', href: '#tracking'}
                  %h4.panel-title.full-height
                    %a= t('.tracking')
                .col-xs-2.col-md-1.text-right
                  - if (can? :update, ProgramStream) && (current_organization.full_name == @program_stream.ngo_name)
                    = link_to edit_program_stream_path(@program_stream, tab: '4'), class: 'btn btn-outline btn-success btn-sm btn-edit-margin' do
                      = fa_icon('pencil')
            #tracking.panel-collapse.collapse
              .panel-body
                - if @program_stream.tracking_required?
                  %i= "* #{t('.not_require_tracking')}"
                - else
                  - @program_stream.trackings.each_slice(2) do |trackings|
                    .row
                      - trackings.each do |tracking|
                        .col-xs-12.col-md-6
                          .ibox.border-left-right.border-bottom
                            .ibox-content
                              - if tracking.name.present?
                                .row.input-margin
                                  .col-xs-12
                                    %label= tracking.name
                                  .col-xs-12
                                    = text_field_tag 'Name', '', class: 'form-control'
                              .row
                                .col-xs-12
                                  - tracking['fields'].each do |field|
                                    = render "program_streams/fields/#{field['type'].underscore}", field_props: field, full_width: true

          .panel.panel-default
            .panel-heading
              .row.height-row
                .col-xs-10.col-md-11{'data-toggle': 'collapse', href: '#exit-program'}
                  %h4.panel-title.full-height
                    %a= t('.exit_program')
                .col-xs-2.col-md-1.text-right
                  - if (can? :update, ProgramStream) && (current_organization.full_name == @program_stream.ngo_name)
                    = link_to edit_program_stream_path(@program_stream, tab: '5'), class: 'btn btn-outline btn-success btn-sm btn-edit-margin' do
                      = fa_icon('pencil')
            #exit-program.panel-collapse.collapse
              .panel-body
                - @program_stream.exit_program.each do |exit_program|
                  .row
                    .col-xs-12
                      = render "program_streams/fields/#{exit_program['type'].underscore}", field_props: exit_program, full_width: false
