.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5= @program_stream.name
        .ibox-tools
          - if current_organization.full_name == @program_stream.ngo_name
            = link_to edit_program_stream_path(@program_stream), class: 'btn btn-outline btn-success' do
              = fa_icon('pencil')
          = link_to new_program_stream_path(program_stream_id: @program_stream.id, ngo_name: @program_stream.ngo_name), class: 'btn btn-outline btn-success', title: t('.copy') do
            = fa_icon('files-o')
          = link_to program_streams_path do
            .btn.btn-default.btn-back-default.button
              = t('.back')
      .ibox-content
        %table.table.table-bordered
          %tbody
            %tr
              %td= t('.domain')
              %td
                - @program_stream.domains.pluck(:identity).each do |d|
                  %span.label.label-margin= d
            %tr
              %td= t('.enrolled')
              %td= @program_stream.enrolled
            %tr
              %td= t('.maximum')
              %td= @program_stream.quantity

        .panel-group
          .panel.panel-default
            .panel-heading
              .row.height-row
                .col-xs-10.col-md-11{"data-toggle": "collapse", href: "#description"}
                  %h4.panel-title.full-height
                    %a= t('.description')
                .col-xs-2.col-md-1.text-right
                  - if current_organization.full_name == @program_stream.ngo_name
                    = link_to edit_program_stream_path(@program_stream, tab: '1'), class: 'btn btn-outline btn-success btn-sm btn-edit-margin' do
                      = fa_icon('pencil')
            #description.panel-collapse.collapse
              .panel-body
                %p= @program_stream.description
          
          .panel.panel-default
            .panel-heading
              .row.height-row
                .col-xs-10.col-md-11{"data-toggle": "collapse", href: "#rules"}
                  %h4.panel-title.full-height
                    %a= t('.rules')
                .col-xs-2.col-md-1.text-right
                  - if current_organization.full_name == @program_stream.ngo_name
                    = link_to edit_program_stream_path(@program_stream, tab: '1'), class: 'btn btn-outline btn-success btn-sm btn-edit-margin' do
                      = fa_icon('pencil')
            #rules.panel-collapse.collapse{ data: { program_rules: @program_stream.rules.to_json}}
              .panel-body
                #program-rules

          .panel.panel-default
            .panel-heading
              .row.height-row
                .col-xs-10.col-md-11{"data-toggle": "collapse", href: "#enrollment"}
                  %h4.panel-title.full-height
                    %a= t('.enrollment')
                .col-xs-2.col-md-1.text-right
                  - if current_organization.full_name == @program_stream.ngo_name
                    = link_to edit_program_stream_path(@program_stream, tab: '2'), class: 'btn btn-outline btn-success btn-sm btn-edit-margin' do
                      = fa_icon('pencil')
            #enrollment.panel-collapse.collapse
              .panel-body
                - @program_stream.enrollment.each do |enrollment|
                  .row
                    .col-xs-12
                      = render "program_streams/fields/#{enrollment['type'].underscore}", field_props: enrollment, full_width: false

          .panel.panel-default
            .panel-heading
              .row.height-row
                .col-xs-10.col-md-11{"data-toggle": "collapse", href: "#tracking"}
                  %h4.panel-title.full-height
                    %a= t('.tracking')
                .col-xs-2.col-md-1.text-right
                  - if current_organization.full_name == @program_stream.ngo_name
                    = link_to edit_program_stream_path(@program_stream, tab: '3'), class: 'btn btn-outline btn-success btn-sm btn-edit-margin' do
                      = fa_icon('pencil')
            #tracking.panel-collapse.collapse
              .panel-body
                - @program_stream.trackings.each_slice(2) do |trackings|
                  .row
                    - trackings.each do |tracking|
                      .col-xs-12.col-md-6
                        .ibox.border-left-right.border-bottom
                          .ibox-content
                            .row.input-margin
                              .col-xs-12
                                %label= tracking.name
                              .col-xs-12
                                = text_field_tag 'Name', '', class: 'form-control'
                            .row
                              .col-xs-12
                                - tracking['fields'].each do |field|
                                  = render "program_streams/fields/#{field['type'].underscore}", field_props: field, full_width: true

          .panel.panel-default
            .panel-heading
              .row.height-row
                .col-xs-10.col-md-11{"data-toggle": "collapse", href: "#exit-program"}
                  %h4.panel-title.full-height
                    %a= t('.exit_program')
                .col-xs-2.col-md-1.text-right
                  - if current_organization.full_name == @program_stream.ngo_name
                    = link_to edit_program_stream_path(@program_stream, tab: '4'), class: 'btn btn-outline btn-success btn-sm btn-edit-margin' do
                      = fa_icon('pencil')
            #exit-program.panel-collapse.collapse
              .panel-body
                - @program_stream.exit_program.each do |exit_program|
                  .row
                    .col-xs-12
                      = render "program_streams/fields/#{exit_program['type'].underscore}", field_props: exit_program, full_width: false
