%p= "Hello #{@manager.name},"
%p The following Case Workers currently have tasks overdue. Please see list below.
%table{ style: "border: 1px solid black; text-align: left; border-collapse: collapse;" }
  %tr
    %th{ style: "border: 1px solid black; text-align: left; padding: 0 5px; min-width: 100px; text-align: center;" } Staff
    %th{ style: "border: 1px solid black; text-align: left; padding: 0 5px;" } Amount
    %th{ style: "border: 1px solid black; text-align: left; padding: 0 5px;" } Overdue tasks

  - @case_workers.each do |case_worker|
    - tasks = case_worker.tasks.exclude_exited_ngo_clients.overdue_incomplete_ordered
    - next if tasks.empty?
    %tr
      %td{ style: "border: 1px solid black; text-align: center;" }= link_to case_worker.name, dashboards_url(subdomain: @org_name, user_id: case_worker.id, tasks: true, forms: true, assessments: true), target: :_blank
      %td{ style: "border: 1px solid black; text-align: center;" }= tasks.size
      %td{ style: "border: 1px solid black; text-align: left;" }
        %ul{ style: 'list-style: none; text-align: left; padding-left: 0px;' }
          - tasks.each do |task|
            %li{ style: 'margin: 5px'}
              = "#{task.name}, due by #{date_format(task.completion_date)}."

%p Thanks,
%p OSCaR Team
