%p Dear Mananger
%p= "There is #{pluralize(@clients.count, 'client')} had been in Emergency Care program for #{@day} days."
%p
  = "Click"
  = link_to 'here', clients_url('client_grid[status]':'Active EC', 'client_grid[case_type]':'EC', 'client_grid[placement_date]': [(Date.today-@day.to_i).strftime('%Y-%m-%d'), (Date.today-@day.to_i).strftime('%Y-%m-%d')], subdomain: Organization.current.short_name)
  = "to see the list of Client"
%p To check your client, please click the link below.
- @clients.each do |client|
  - name = client.first_name.blank? ? 'Unknown' : client.first_name
  %p= link_to name, client_url(client, subdomain: Organization.current.short_name)
