%p= "Hello #{@manager.first_name} #{@manager.last_name}!"
%p= "There is Client had been in Emergency Care Program for #{@day} days."
%p To check your client, please click the link below.
- @clients.each do |client|
  %p= link_to "Check on client #{client.first_name}", client_url(client, subdomain: Organization.current.short_name)
