.row
  .col-xs-12
    .ibox
      .ibox-title
        .row
          .col-xs-12.col-sm-6.co-md-6
            %h5
              = link_to @client.en_and_local_name, client_path(@client)
              = "- #{t('.enrollment_date')} #{date_format(@client_enrollment.enrollment_date)}"
          .col-xs-12.col-sm-6.col-md-6
            .ibox-tools
              - if can? :manage, ClientEnrollment
                = client_enrolled_program_edit_link
                = client_enrolled_program_destroy_link
                = link_to t('.back'), client_client_enrollments_path(@client), class: 'btn btn-back-default btn-default min-width-btn margin-btn'
      .ibox-content
        .table-responsive
          %table.table.table-bordered
            - @program_stream.enrollment.map{|properties| [properties['type'], properties['label'], properties["local_label"]]}.each do |type, key, translated_key|
              - label = I18n.locale.to_s === I18n.default_locale.to_s ? key.html_safe : translated_key.html_safe
              - unless type == 'separateLine'
                - if type == 'paragraph'
                  %tr
                    %td.align-justify{colspan: '2'}
                      = label
                - else
                  %tr
                    %td.align-justify
                      = label
                    %td.align-justify
                      - if type == 'file'
                        - key = convert_bracket(key.html_safe, @client_enrollment.properties)
                        = render 'shared/form_builder/list_attachment', label: key, resource: @client_enrollment
                      - else
                        - key = convert_bracket(label, @client_enrollment.properties)
                        - key = I18n.locale.to_s === I18n.default_locale.to_s ? key : "Local_label #{key}"
                        = display_custom_properties(@client_enrollment.properties[key])
