.alert.alert-warning.alert-dismissible{ :role => "alert" }
  %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %ul
    %li
      = raw t('clients.attr.warning_messages.referral_date', referral_date: date_format(@client.initial_referral_date))
    - if @client.enter_ngos.last
      %li
        = raw t('clients.attr.warning_messages.accepted_date', accepted_date: date_format(@client.enter_ngos.last.accepted_date))

= simple_form_for([@client, @client_enrollment], html: { class: 'client-enrollment' }) do |f|
  = hidden_field_tag :initial_referral_date, @client.initial_referral_date
  = hidden_field_tag :last_accepted_date, @client.enter_ngos.last.accepted_date if @client.enter_ngos.last
  .ibox-content
    .row
      .col-xs-12.col-md-6.form-group.date.optional{ class: ('has-error' if f.error :enrollment_date) }
        %label.date.optional.control-label
          %abbr{ title: 'required' } *
          = t('.enrollment_date')
        .input-group
          = f.input_field :enrollment_date, as: :string, class: 'date optional form-control date-picker client-enrollment-date', id: 'enrollment_date'
          %span.input-group-addon
            %i.fa.fa-calendar-check-o
        = f.error :enrollment_date

    = f.simple_fields_for :properties, OpenStruct.new(@client_enrollment.properties) do |prop_f|
      - @program_stream.enrollment.each do |enrollment|
        .row
          .col-xs-12{ class: enrollment['type'] == 'paragraph' ? '' : 'col-md-6' }
            - enrollment['label'] = convert_bracket(enrollment['label'])
            - unless enrollment['type'] == 'file'
              = render "/shared/fields/#{enrollment['type'].underscore}", f: prop_f, field_props: enrollment, errors: @client_enrollment.errors.messages, entity: f
            - else
              = f.simple_fields_for :form_builder_attachments, @attachments.file_by_name(enrollment['label']) ||  @attachments.build do |attachment|
                = render 'shared/form_builder/attachment', f: attachment, property: enrollment, entity: f, resource: @client_enrollment
            .row
              .col-xs-12
                #message.text-danger
  .ibox-footer
    = hidden_field_tag :program_stream_id, @program_stream.id
    = hidden_field_tag :program_stream_name, @program_stream.name
    = f.submit t('.save'), class: 'btn btn-primary form-btn', data: { disable_with: t('saving') }
    = cancel_url

%table.table.table-bordered.table-hover#case-history-table-client-enrollment.hidden
  %thead
    %tr
      %th Classname
      %th Case histories name
      %th Date

  %tbody
    - @case_histories.each_with_index do |case_history, index|
      - case_history_name = case_history.class.table_name
      %tr.case-history-row{ data: {date: case_history.new_date, created_date: case_history.created_at, name: case_history_label(case_history), classname: case_history_name,case_history_id: "#{case_history_name}" + "_#{case_history.id}"}, id: "#{case_history_name}" + "_#{case_history.id}"}
        %td= case_history_name
        %td= case_history_label(case_history)
        %td= date_format(case_history.new_date)
      - if case_history_name == "enter_ngos"
        = hidden_field_tag :current_enter_ngo, case_history.new_date
