= simple_form_for ([@client, @client_enrollment]) do |f|
  .ibox-content
    = f.simple_fields_for :properties, OpenStruct.new(@client_enrollment.properties) do |prop_f|
      - @program_stream.enrollment.each_slice(2) do |n_field|
        .row
          - n_field.each do |enrollment|
            .col-xs-12.col-md-6
              = render "/shared/fields/#{enrollment['type'].underscore}", f: prop_f, field_props: enrollment, errors: @client_enrollment.errors.messages
        .row
          .col-xs-12
            #message.text-danger
  .ibox-footer
    = hidden_field_tag :program_stream_id, @program_stream.id
    = hidden_field_tag :program_streams, params[:program_streams]
    = f.submit t('.save'), class: 'btn btn-primary form-btn'
    = link_to t('.cancel'), client_client_enrollments_path(@client, program_streams: params[:program_streams]), class: 'btn btn-default form-btn'
