.ibox
  .ibox-title
    %h5= "#{@client.en_and_local_name} - #{t('.program_lists')}"
    .ibox-tools
      = link_to t('.back'), client_path(@client), class: 'btn btn-default btn-back-default btn-back'
  .ibox-content
    .table-responsive
      %table.table.table-bordered.table-striped.table-hover.client_enrollment
        %thead
          %tr
            %th.status
              = t('.status')
              .pull-right
                = render 'order', column: :status
            %th.name
              = t('.name')
              .pull-right
                = render 'order', column: :name
            %th.domain= t('.domain')
            %th.quantity
              = t('.quantity')
              .pull-right
                = render 'order', column: :quantity
            %th.report= t('.report')
            %th.manage= t('.actions')
        %tbody
          - @program_streams.each do |ps|
            %tr
              %td.status
                = render 'status', program_stream: ps
              %td.name
                = link_to ps.name, program_stream_path(ps, client: @client)
              %td.domain
                = ps.domains_format
              %td.quantity
                = ps.place_available
              %td.report
                - if params[:program_streams] == 'program-streams' && ps.client_enrollments.present?
                  - if ps.client_enrollments.last.status == 'Exited'
                    = link_to t('.view'), report_client_client_enrollments_path(@client, program_stream_id: ps, program_streams: params[:program_streams])
                - elsif params[:program_streams] == 'enrolled-program-streams'
                  = link_to t('.view'), report_client_client_enrollments_path(@client, program_stream_id: ps, program_streams: params[:program_streams])
              %td.manage
                = render 'manage', program_stream: ps

  .ibox-footer.text-center
    = paginate @program_streams
