.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5 Report
        .ibox-tools
          = link_to client_client_enrollments_path(@client) do
            .btn.btn-primary
              = t('.programs_list')
      .ibox-content
        - @enrollments.each do |enrollment|
          .ibox.border-left-right.border-bottom
            .ibox-title
              %h5= "#{t('.enrollment')} #{ date_format enrollment.created_at }"
              .ibox-tools
                = link_to client_client_enrollment_path(@client, enrollment, program_stream_id: @program_stream) do
                  .btn.btn-info
                    = t('.view')
            .ibox-content
              .table-responsive
                %table.table.table-bordered.table-striped.table-hover
                  %thead
                    %tr
                      %th= t('.date')
                      %th= t('.forms')
                      %th= t('.actions')
                  %thbody
                    - enrollment.trackings.each do |tracking|
                      %tr
                        %td= date_format(tracking.created_at) if tracking.present?
                        %td= t('.tracking')
                        %td= link_to t('.view'), client_client_enrollment_tracking_path(@client, enrollment, tracking)
                    - if enrollment.leave_program.present?
                      %tr
                        %td= date_format(enrollment.leave_program.created_at)
                        %td= t('.exit')
                        %td= link_to t('.view'), client_client_enrollment_leave_program_path(@client, enrollment, enrollment.leave_program)


        
      
