.row
  .col-xs-12
    .ibox
      .ibox-title
        .row
          .col-xs-12.col-sm-6.co-md-6
            %h5
              = link_to @client.en_and_local_name, client_path(@client)
              = " - #{t('.report')}"
          .col-xs-12.col-sm-6.col-md-6
            .ibox-tools
              - unless @program_stream.tracking_required? || @program_stream.client_enrollments.enrollments_by(@client).order(:created_at).last.nil?
                = link_to client_client_enrolled_program_client_enrolled_program_trackings_path(@client, @program_stream.client_enrollments.enrollments_by(@client).order(:created_at).last) do
                  .btn.btn-primary.btn-width
                    = t('client_enrollment_trackings.new.new_tracking')

              = link_to client_client_enrollments_path(@client) do
                .btn.btn-primary
                  = t('.programs_list')
      .ibox-content
        .table-responsive
          %table.table.table-bordered.table-striped.table-hover
            %thead
              %tr
                %th= t('.date')
                %th= t('.forms')
                %th= t('.actions')
            %tbody
              - @enrollments.each do |enrollment|
                - if enrollment.leave_program.present?
                  %tr
                    %td
                      = enrollment.leave_program.exit_date? ? date_format(enrollment.leave_program.exit_date) : date_format(enrollment.leave_program.created_at)
                    %td= t('.exit')
                    %td= link_to t('.view'), client_client_enrollment_leave_program_path(@client, enrollment, enrollment.leave_program)

                - if enrollment.has_client_enrollment_tracking?
                  - enrollment.client_enrollment_trackings.order(created_at: :DESC).each do |enrollment_tracking|
                    %tr
                      %td= date_format(enrollment_tracking.created_at)
                      %td= "#{t('.tracking')} (#{enrollment_tracking.tracking.try(:name)})"
                      %td= link_to t('.view'), client_client_enrollment_client_enrollment_tracking_path(@client, enrollment, enrollment_tracking)

                %tr
                  %td
                    = enrollment.enrollment_date? ? date_format(enrollment.enrollment_date) : date_format(enrollment.created_at)
                  %td= t('.enrollment')
                  %td
                    = link_to client_client_enrollment_path(@client, enrollment, program_stream_id: @program_stream) do
                      = t('.view')
