.row
  .col-xs-12
    .ibox
      .ibox-title
        - enrollment_date = "#{t('.enrollment_date')} #{ @client_enrollment.enrollment_date? ? date_format(@client_enrollment.enrollment_date) : date_format(@client_enrollment.created_at) }"
        %h5= "#{@client.en_and_local_name} - #{enrollment_date}"
        .ibox-tools
          - if can? :manage, ClientEnrollment
            = link_to edit_client_client_enrollment_path(@client, @client_enrollment, program_stream_id: @program_stream, program_streams: params[:program_streams]) do
              .btn.btn-success.btn-outline
                = fa_icon('pencil')
            = link_to client_client_enrollment_path(@client, @client_enrollment, program_stream_id: @program_stream, program_streams: params[:program_streams]), method: 'delete', data: { confirm: t('.are_you_sure') } do
              .btn.btn-outline.btn-danger
                %i.fa.fa-trash
            = link_to t('.back'), report_client_client_enrollments_path(@client, program_stream_id: @program_stream, program_streams: params[:program_streams]), class: 'btn btn-back-default btn-default form-btn margin-btn'
      .ibox-content
        .table-responsive
          %table.table.table-bordered
            - @program_stream.enrollment.map{|properties| [properties['type'], properties['label']]}.each do |type, key|
              %tr
                %td.align-justify
                  = key
                %td.align-justify
                  - if type == 'file'
                    = render 'shared/form_builder/list_attachment', name: key, form_buildable: @client_enrollment
                  - else
                    = display_custom_properties(@client_enrollment.properties[key])
