.row
  .col-xs-12
    .pull-left
      %button.btn.btn-primary.btn-filter{ 'aria-expanded' => 'false', "data-target" => '#progress-note-search-form', 'data-toggle' => 'collapse', type: 'button'}
        %i.fa.fa-filter
    .text-right.btn-links
      = link_to t('.export_to_xls'), current_url(format: 'xls'), class: 'btn btn-info btn-export'

.row
  .col-xs-12
    .ibox#progress-note-search-form.collapse
      .ibox-content
        = datagrid_form_for @progress_note_grid, url: client_progress_notes_url(@client), html: { class: 'grid-form' }
.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5
          %strong= @progress_note_grid.assets.count
        %span.label.label-info= t('.results')
        .ibox-tools
          = link_to client_path(@client), class: 'btn btn-default btn-back-default' do
            = t('.back')
      .ibox-content
        .progress_notes-table
          = datagrid_table @progress_note_grid, html: {class: 'table table-bordered table-striped table-hover progress-notes'}
.row
  .col-xs-12.text-center
    = paginate @progress_note_grid.assets
