.row
  .col-sm-12.col-md-10.col-md-offset-1
    .ibox
      .ibox-title
        %h5
          %strong= link_to_client_show(@client)

        %h5{ style: "margin-left: 5px;" }
          = t('screening_assessments._attr.cb_dmat')

      .ibox-content
        .row.margin-row
          - @screening_assessments.each do |screening_assessment|
            .col-xs-12.col-sm-8
              %h5
                - if screening_assessment.one_off?
                  = t('screening_assessments.screening_assessment_date')
                - else
                  = t('screening_assessments.assessment_on')
                %b
                  = date_format(screening_assessment.screening_assessment_date)
            .col-xs-12.col-sm-4.m-b-sm
              = link_to client_screening_assessment_path(@client, screening_assessment), class: 'btn btn-block btn-primary button' do
                - if screening_assessment.one_off?
                  = t('screening_assessments._attr.view_screening_assessment')
                - else
                  = t('screening_assessments._attr.view_cb_dmat_assessment')
        - if current_setting.cbdmat_ongoing && @client.status != 'Exited'
          .row.margin-row
            .col-xs-12.col-sm-8
            .col-xs-12.col-sm-4.m-b-sm
              = link_to new_client_screening_assessment_path(@client), class: 'btn btn-block btn-primary button' do
                = t('screening_assessments.add_new')

      .ibox-footer
        .row
          .col-xs-12.col-sm-6
            = link_to t('.back'), client_path(@client), { class:'btn btn-default button' }
