%div{data: {used: "#{f.object.file.any?}"}}
  = f.input :name, as: :hidden, input_html: { name: "#{entity.object_name}[form_builder_attachments_attributes][#{property['name'].split('-').last}][name]", value: property['label'] }
  %label.control-label
    %abbr{ title: 'repuired' }
      = '*' if property['required'].present? && f.object.file.empty?
    = property['label'].html_safe

  - if attachment_by_label
    .table-responsive
      %table.table.table-bordered
        - attachment_by_label.file.each_with_index do |file, index|
          %tr.row-file
            %td.image-title.vert-align
              = file_name_from_file(file)
            %td.vert-align
              = link_to t('case_notes.case_note_attachment_fields.download'), file.url, class: 'btn btn-info btn-sm btn-download', target: :_blank
            %td.vert-align.text-center
              .delete.fa.fa-trash.btn.btn-outline.btn-danger{ data: { url: api_form_builder_attachment_path(attachment_by_label, file_name: property['label'], file_index: index), comfirm: t('case_notes.case_note_attachment_fields.are_you_sure') }}

  = f.input :file, as: :file, label: false, required: property['required'].present?, input_html: { name: "#{entity.object_name}[form_builder_attachments_attributes][#{property['name'].split('-').last}][file][]", multiple: property['multiple'].present?, value: f.object.file }
  %span.help-block.hidden
    =t('cannot_be_blank')
  %p
    %i.small="#{t('case_notes.case_note_attachment_fields.allow_file_size')} (.jpg, .jpeg, .png, .doc, .docx, .xls, .xlsx, .pdf)"
  %p
    %i.small= t('case_notes.case_note_attachment_fields.max_file_size')
