.row
  .col-sm-12.col-md-10.col-md-offset-1
    .ibox
      .ibox-title
        %h5
          %strong= link_to @family.name, family_path(@family)
        %h5.margin-title= t('assessments.index.assessment_history', assessment: t('families.show.assessment'))
      .ibox-content
        - @assessmets.each_with_index do |assessment, index|
          .row.margin-row
            .col-xs-12.col-sm-8
              %h5
                - if assessment.initial?(assessment.domains.last && assessment.domains.last.custom_assessment_setting_id)
                  = t('assessments.index.initial_assessment', assessment: t('families.show.assessment'))
                - else
                  = t('assessments.index.assessment_created_on', assessment: t('families.show.assessment'))
                %b
                  = date_format(assessment.created_at)
                = "(#{assessment.domains.last.custom_assessment_setting.custom_assessment_name})" if assessment.domains.last&.custom_assessment_setting.present?

                = render partial: 'incomplete_detail', locals: { assessment: assessment }
                %label{ class: "cursor-pointer #{assessment.completed_label_class}", data: { toggle: :modal, target: "#modal-incomplete-assessment-#{assessment.id}" } }
                  = assessment.completed_status

            .col-xs-12.col-sm-4
              .btn.btn-block.btn-info.button{ class: ('disabled' unless case_notes_readable?) }
                = link_to_if assessment_readable?, t('assessments.index.view_report'), family_assessment_path(@family, assessment)
        - if @current_setting.enable_default_assessment? && @custom_assessment_settings.blank?
          .row.margin-row
            .col-xs-12.col-sm-8
              %h5
                - if @family.assessments.customs.any?
                  = t('assessments.index.next_review')
                  %b
                    = date_format(@family.custom_next_assessment_date(nil, nil))
                - else
                  = t('assessments.index.initial_assessment', assessment: t('families.family_assessment'))
                  %b
                    = date_format(Date.today)

            .col-xs-12.col-sm-4
              = link_to new_family_assessment_path(@family, default: false) do
                .btn.btn-block.btn-primary.button
                  = "#{t('assessments.index.begin_now')} #{t('families.family_assessment')}"

        - elsif @current_setting.enable_custom_assessment? || completed_initial_assessment?('defaults', 'family')
          .row.margin-row
            .col-xs-12.col-sm-8
              %h5
                - if current_organization.aht?
                  = t('assessments.index.initial_assessment', assessment: t('families.family_assessment'))
                  %b
                    = date_format(Date.today)
                - else
                  - if @family.assessments.customs.any?
                    = t('assessments.index.next_review')
                    %b
                      = date_format(@family.custom_next_assessment_date(nil, nil))
                  - else
                    = t('assessments.index.initial_assessment', assessment: t('families.family_assessment'))
                    %b
                      = date_format(Date.today)

            .col-xs-12.col-sm-4.m-b-sm
              - if any_family_domain?
                - if @family.assessments.count.zero?
                  = link_to new_family_assessment_path(@family, default: false, custom_name: 'Family Assessment'), class: 'btn btn-block btn-primary button' do
                    - if Organization.ratanak?
                      = "#{t('assessments.index.begin_now')} #{t('clients.show.custom_assessment', assessment: t('families.family_assessment'))}"
                    - else
                      = "#{t('assessments.index.begin_now')} #{t('families.family_assessment')}"
                - else
                  .btn.btn-block.btn-default.button.disabled
                    = "#{t('assessments.index.begin_now')} #{t('families.family_assessment')}"
              - else
                = link_to '#', data: { toggle: 'modal', target: '#customDomainsModal' }, class: 'btn btn-block btn-primary button' do
                  - if Organization.ratanak?
                    = "#{t('assessments.index.begin_now')} #{t('clients.show.custom_assessment', assessment: t('families.family_assessment'))}"
                  - else
                    = "#{t('assessments.index.begin_now')} #{t('families.family_assessment')}"

              #customDomainsModal.modal.fade{"aria-labelledby" => "customDomainsModalLabel", :role => "dialog", :tabindex => "-1"}
                .modal-dialog{:role => "document"}
                  .modal-content.panel-warning
                    .modal-header.panel-heading
                      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                        %span{"aria-hidden" => "true"} ×
                      %h4
                        %i.fa.fa-warning.fa-x2
                        = t('assessments.index.no_custom_domains_available')
                    .modal-body.text-center
                      = t('assessments.index.please_add_custom_domains')

            #customDomainsModal.modal.fade{"aria-labelledby" => "customDomainsModalLabel", :role => "dialog", :tabindex => "-1"}
              .modal-dialog{:role => "document"}
                .modal-content.panel-warning
                  .modal-header.panel-heading
                    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                    %h4
                      %i.fa.fa-warning.fa-x2
                      = t('assessments.index.no_custom_domains_available')
                  .modal-body.text-center
                    = t('assessments.index.please_add_custom_domains')

      .ibox-footer
        .row
          .col-xs-12.col-sm-6
            = link_to t('assessments.index.back'), family_path(@family), { class:'btn btn-default button' }
