.row
  .col-xs-12
    .assessment{ data: {"anchor-date": date} }
      .ibox.collapsed
        .ibox-title
          %h5
            - if assessment.index_of == 0
              = "#{t('.assessment')} for"
            - else
              = "#{t('.assessment')} #{assessment.index_of + 1} - for"
            = assessment.client.name
            = "(#{assessment.assessment_name})"
          %h5
            = assessment.completed? ? "#{I18n.t('client_books.completed')}:" : "#{I18n.t('client_books.created')}:"
            = date_format(date)
            = I18n.t('client_books.by')
            = "#{whodunnit('Assessment', assessment)} #{I18n.t('assessments.show.on_date')}"
          / %h5= I18n.t('data_trackers.index.assessments')
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
        .ibox-content
          - assessment.assessment_domains_in_order.each do |ad|
            .row
              .col-xs-12
                %div{class: "panel panel-#{ad.score_color_class}"}
                  .panel-heading
                    %table.table.table-borderless
                      %tbody
                        %tr
                          %td.no-padding-bottom
                            %b
                              = t('domains.domain_list.domains')
                              = t("domains.domain_names.#{ad.domain.name.downcase.reverse}") + ":"
                          %td.no-padding-bottom
                            %b= t("domains.domain_identies.#{ad.domain.identity.strip.parameterize('_')}_#{ad.domain.name.downcase}")
                          %td{rowspan: 4}
                            .domain-score.text-center
                              - unless assessment.initial?
                                %button{ 'data-original-title': "#{simple_format(ad.previous_score_definition)}", type: 'button', class: "btn btn-#{ad.previous_score_color_class} btn-xs", 'data-toggle': 'tooltip' }
                                  = "#{ad.previous_score}"
                                %span{style: 'color:black;'} &#8594;
                              %button{ 'data-original-title': "#{simple_format(ad.score_definition)}", type: 'button', class: "btn btn-#{ad.score_color_class} btn-xs", 'data-toggle': 'tooltip' }
                                = "#{ad.score}"
                        %tr
                          %td.no-padding-top
                            %b= "#{I18n.t('assessments.show.score')} #{ad.score}:"
                          %td.no-padding-top
                            %b= simple_format(ad.score_definition)
                        %tr
                          %td
                            %b= "#{I18n.t('assessments.show.reason')}:"
                          %td
                            = ad.reason
                        - if assessment.care_plan
                          - goals = assessment.care_plan.goals.where(assessment_domain_id: ad.id)
                          - goals.each do |goal|
                            %tr
                              %td
                                %b= "#{I18n.t('assessments.show.goal')}:"
                              %td
                                %p= goal.description
                                %b= "#{I18n.t('assessments.show.task')}:"
                                - incomplete_tasks = goal.tasks.incomplete
                                - if incomplete_tasks.any?
                                  %ul
                                    - incomplete_tasks.each do |task|
                                      %li= "#{task.name} (#{I18n.t('assessments.show.due_date')}: #{date_format(task.expected_date)})"
                        %tr
                          %td
                          %td
                            - if ad.attachments.any?
                              %br
                              %button.btrn.btn-info.btn-sm{"data-target" => "#attachments#{ad.id}", "data-toggle" => "modal", :type => "button"}= I18n.t('assessments.show.show_attachment')
                  - if ad.attachments.any?
                    %div{class: 'modal fade', id: "attachments#{ad.id}", :role => "dialog"}
                      .modal-dialog
                        .modal-content
                          .modal-header
                            %button.close{"data-dismiss" => "modal", :type => "button"} ×
                            %h4.modal-title= t('.attachments')
                          .modal-body
                            %table.table.table-bordered
                              - ad.attachments.each_with_index do |attachment, index|
                                %tr
                                  %td= original_filename(attachment)
                                  %td
                                    = link_to preview_or_download(attachment), attachment.url, class: 'btn btn-info btn-sm btn-download', target: target_blank(attachment)
                          .modal-footer
                            %button.btn.btn-default{:type => "button"} Close


