.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5= I18n.t('data_trackers.index.case_notes')
        .ibox-tools
          %a.collapse-link
            %i.fa.fa-chevron-up
      .ibox-content
        .panel.panel-info
          .panel-heading
            .row
              .col-xs-8
                %h3= display_case_note_attendee(case_note)
                %p= "#{t('created_by')} #{whodunnit('CaseNote', case_note.id)} #{t('at')} #{date_format case_note.created_at}"
              .col-xs-4.text-right
                %h4
                  = I18n.t('case_notes.index.case_note_on')
                  = date_format(case_note.meeting_date) if case_note.meeting_date
          .panel-body
            - case_note.case_note_domain_groups.each do |cdg|
              - if cdg.note.present?
                .ibox.border-left-right.border-bottom
                  .ibox-title
                    %h5= cdg.domain_identities
                    - if case_note.assessment_id.present?
                      .ibox-tools
                        - cdg.domains(case_note).each do |domain|
                          - ad = domain.assessment_domains.find_by(assessment_id: case_note.assessment_id)
                          - next if ad.nil?
                          %a.collapse-link
                            %label.margin-score.case-note-domain-score{ class: "label label-#{ad.score_color_class} label-lg", 'data-original-title': "#{simple_format(ad.score_definition)}", 'data-toggle': 'tooltip' }
                              = ad.score
                  .ibox-content
                    .row
                      .col-xs-12
                        .panel.panel-default
                          .panel-heading
                            %h4= I18n.t('case_notes.index.note')
                          .panel-body
                            = simple_format cdg.note
                      - if cdg.completed_tasks.any?
                        .col-xs-12.col-sm-6
                          .panel.panel-default
                            .panel-heading
                              %h4= I18n.t('case_notes.index.completed_tasks')
                            .panel-body.no-padding
                              %ul.list-group
                                - cdg.completed_tasks.each_with_index do |task, index|
                                  %li.list-group-item
                                    = "#{index + 1}. "
                                    = task.name
                      .col-xs-12.col-sm-6
                        %p
                          %strong= "#{I18n.t('case_notes.index.goal')} :"
                        %ul
                          - cdg.domains(case_note).each do |domain|
                            - assessment_domain = domain.assessment_domains.find_by(assessment_id: case_note.assessment_id)
                            - if assessment_domain.present? && assessment_domain.goal?
                              %li= assessment_domain.goal
                      - if cdg.attachments.any?
                        .col-xs-12.col-sm-6
                          .panel.panel-default
                            .panel-heading
                              %h4= I18n.t('case_notes.index.attachments')
                            .panel-body
                              = render 'attachment', cdg: cdg
