.row
  .col-xs-12
    .case-history{ data: {"anchor-date": date} }
      .ibox.collapsed
        .ibox-title
          - object = ClientEnrollment.find(object["id"]) if object.class.name.downcase == 'hash'
          %h5
            - if object.class.table_name == 'hash' || object.class.table_name == 'client_enrollments'
              = "#{t('.enrollment_to')} (#{case_history_label(object)}) for #{@client.en_and_local_name}".gsub('()', '').squish
            - elsif object.class.table_name == 'leave_programs'
              = "#{t('.exited_from')} (#{case_history_label(object)}) for #{@client.en_and_local_name}".gsub('()', '').squish

          %h5
            = I18n.t('client_books.created')
            = date
            = I18n.t('client_books.by')
            - if object.class.name.downcase == 'hash' || object.class.table_name == 'client_enrollments'
              = whodunnit(object.class.to_s, object.id)
            - else
              = whodunnit(object.class.to_s, object.id)
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
        .ibox-content
          .row
            .col-xs-12
              %table.table.table-bordered.table-hover
                %tbody
                  - case_history = object.class.table_name
                  - if case_history == 'hash' || case_history == 'client_enrollments'
                    %tr
                      %td= t('.enrollment_date')
                      %td= date_format(object.enrollment_date)
                    - object.program_stream.enrollment.map{|properties| [properties['type'], properties['label']]}.each do |type, key|
                      - unless type == 'separateLine'
                        - if type == 'paragraph'
                          %tr
                            %td{colspan: '2'}
                              = key.html_safe
                        - else
                          %tr
                            %td
                              = key.html_safe
                            %td
                              - key = convert_bracket(key, object.properties)
                              - if type == 'file'
                                = render 'shared/form_builder/list_attachment', label: key, resource: object
                              - else
                                = display_custom_properties(object.properties[key])
                  - if case_history == 'leave_programs'
                    %tr
                      %td= t('.exit_program_date')
                      %td= date_format(object.exit_date)
                    - object.program_stream.exit_program.map{|properties| [properties['type'], properties['label']]}.each do |type, key|
                      - unless type == 'separateLine'
                        - if type == 'paragraph'
                          %tr
                            %td{colspan: '2'}
                              = key.html_safe
                        - else
                          %tr
                            %td
                              = key.html_safe
                            %td
                              - key = convert_bracket(key, object.properties)
                              - if type == 'file'
                                = render 'shared/form_builder/list_attachment', label: key, resource: object
                              - else
                                = display_custom_properties(object.properties[key])
