.row
  .col-xs-12
    .client-enrollment{ data: {"anchor-date": date} }
      .ibox.collapsed
        .ibox-title
          %h5
            = "#{t('.enrollment_to')} (#{client_enrollment.program_stream_name}) - #{@client.en_and_local_name}"
          %h5
            = "#{I18n.t('client_books.completed')}:"
            = date_format(date)
            = I18n.t('client_books.by')
            = whodunnit('ClientEnrollment', client_enrollment.id)
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
        .ibox-content
          .table-responsive
            %table.table.table-bordered
              %tr
                %td= t('.enrollment_date')
                %td= date_format(client_enrollment.enrollment_date)
              - client_enrollment.program_stream.enrollment.map{|properties| [properties['type'], properties['label']]}.each do |type, key|
                - unless type == 'separateLine'
                  - if type == 'paragraph'
                    %tr
                      %td.align-justify{colspan: '2'}
                        = key.html_safe
                  - else
                    %tr
                      %td.align-justify
                        = key.html_safe
                      %td.align-justify
                        - key = convert_bracket(key, client_enrollment.properties)
                        - if type == 'file'
                          = render 'shared/form_builder/list_attachment', label: key, resource: client_enrollment
                        - else
                          = display_custom_properties(client_enrollment.properties[key])
