.row
  .col-xs-12
    .custom_field_property
      .ibox.collapsed
        .ibox-title
          %h5
            = t('.custom_form')
            = "(#{custom_field_property.custom_field.form_title})"
            = I18n.t('client_books.for')
            = @client.en_and_local_name
          %h5
            = "#{I18n.t('client_books.created')}:"
            = date_format(date)
            = I18n.t('client_books.by')
            = whodunnit('CustomFieldProperty', custom_field_property.id)
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
        .ibox-content
          .table-responsive
            %table.table.table-bordered
              - custom_field_property.custom_field.fields.map{|a| [a['type'], a['label']]}.each do |type, key|
                - unless type == 'separateLine'
                  - if type == 'paragraph'
                    %tr
                      %td.align-justify{colspan: '2'}
                        = key.html_safe
                  - else
                    %tr
                      %td.align-justify
                        = key.html_safe
                      %td.align-justify
                        - key = convert_bracket(key, custom_field_property.properties)
                        - if type == 'file'
                          = render 'shared/form_builder/list_attachment', label: key, resource: custom_field_property
                        - else
                          = display_custom_properties(custom_field_property.properties[key])

            %table.table.table-bordered
              - files = custom_field_property.attachments
              - if files.present?
                - files.each_with_index do |file, index|
                  %tr.row-file
                    %td.image-title.vert-align
                      = original_filename(file)
                    %td.vert-align.preview.text-center
                      = link_to preview_or_download(file), file.url, target: target_blank(file), class: 'btn btn-info btn-sm btn-download'
                    - if action_name == 'show' || action_name == 'report' || action_name == 'index'
                      %td.vert-align.text-center.action
                        = form_buildable_path(custom_field_property, index, 'attachments', '')
