.row
  .col-xs-12
    .enrollment-tracking
      .ibox.collapsed
        .ibox-title
          %h5
            = "#{t('.tracking')} (#{enrollment_tracking.program_stream_name}), (#{enrollment_tracking.tracking&.name}) - #{@client.en_and_local_name}"
          %h5
            = "#{I18n.t('client_books.completed')}:"
            = date_format(date)
            = I18n.t('client_books.by')
            = whodunnit('ClientEnrollmentTracking', enrollment_tracking.id)
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
        .ibox-content
          %h5= "#{t('created_by')} #{whodunnit('ClientEnrollmentTracking', enrollment_tracking.id)} #{t('at')}  #{ date_format enrollment_tracking.created_at }"
          .table-responsive
            %table.table.table-bordered
              - enrollment_tracking.tracking.fields.map{|field| [field['type'], field['label']]}.each do |type, key|
                - unless type == 'separateLine'
                  - if type == 'paragraph'
                    %tr
                      %td.align-justify{colspan: '2'}
                        = key.html_safe
                  - else
                    %tr
                      %td.align-justify
                        = key.html_safe
                      %td.align-justify
                        - key = convert_bracket(key, enrollment_tracking.properties)
                        - if type == 'file'
                          = render 'shared/form_builder/list_attachment', label: key, resource: enrollment_tracking
                        - else
                          = display_custom_properties(enrollment_tracking.properties[key])
