.row
  .col-xs-12
    .task{ data: {"anchor-date": date} }
      .ibox
        .ibox-title
          %h5
            = task.completed? ? I18n.t('client_books.completed') : I18n.t('client_books.incomplete')
            = date
            = I18n.t('client_books.by')
            = "#{whodunnit('Task', task)}"
          %h5
            = "#{t('.task')} for"
            = task.client.name
          / %h5= I18n.t('data_trackers.index.assessments')
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
        .ibox-content
          .panel{class: "panel-#{task_class(task)}"}
            .panel-heading
              .row
                .col-xs-6
                  = task_status(task)
            .panel-body
              .row
                .col-xs-12
                  %table.table.table-bordered
                    %tr
                      %td.text-middle= "#{t('.domain')}: #{task.domain.name}"
                      %td.task-name= task.name
                      %td.text-center.text-middle= date_format(task.completion_date)


