.row
  .col-xs-12
    .ibox
      .ibox-title
        .row
          .col-xs-12.col-sm-6.co-md-6
            %h5
              = t('.book')
              = link_to_client_show(@client)
          .col-xs-12.col-sm-6.col-md-6
            .ibox-tools
              %p#jum-to-text= "#{I18n.t('client_books.index.jump_to')}:"
              #jum-to-date-picker.form-group
                .input-group.date
                  %span.input-group-addon
                    %i.fa.fa-calendar
                  %input.date-picker.form-control{:type => "text"}/

              = link_to I18n.t('case_notes.index.back'), client_path(@client), { class: 'btn btn-default btn-back-default button' }
      .ibox-content
        - group_client_associations.each do |date, associations|
          - associations.each do |association|
            - class_name = association.class.name.downcase
            - if class_name == 'assessmentdecorator' && assessment_readable?
              = render 'assessments', assessment: association, date: date
            - elsif class_name == 'casenote' && case_notes_readable?
              = render 'case_notes', case_note: association, date: date
            - elsif class_name == 'clientenrollment' && (association.program_stream_id && program_stream_readable?(association.program_stream_id))
              = render 'client_enrollments', client_enrollment: association, date: date
            - elsif class_name == 'clientenrollmenttracking' && (association.program_stream && program_stream_readable?(association.program_stream.id))
              = render 'enrolled_program_trackings', enrollment_tracking: association, date: date
            - elsif class_name == 'leaveprogram' && (association.program_stream_id && program_stream_readable?(association.program_stream_id))
              = render 'leave_programs', leave_program: association, date: date
            - elsif class_name == 'customfieldproperty' && custom_field_readable?(association.custom_field_id)
              = render 'custom_field_properties', custom_field_property: association, date: date
            - elsif class_name == 'call'
              = render 'calls', call: association, date: date

%a#back-to-top.btn.btn-primary.btn-lg.back-to-top{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :role => "button", :title => "Back to Top"}
  %span.glyphicon.glyphicon-chevron-up

