= simple_form_for([@entity, @enrollment, @leave_program], url: leave_program_form_action_path, html: { class: 'client-enrolled-program-leave-program' }) do |f|
  .ibox-content
    .row
      .col-xs-12.col-sm-6.form-group.date.optional{ class: ('has-error' if f.error :exit_date) }
        %label.date.optional.control-label
          %abbr{ title: 'required' } *
          = t('.exit_date')
        #client-birthdate.input-group
          = f.text_field :exit_date, class: 'date optional form-control date-picker leave-enrolled-program-date', type: 'text', id: 'exit_date'
          %span.input-group-addon
            %i.fa.fa-calendar-check-o
        - if f.error(:exit_date)
          = f.error(:exit_date)
    = f.simple_fields_for :properties, OpenStruct.new(@leave_program.properties) do |prop_f|
      - @program_stream.exit_program.each do |exit_program|
        .row
          .col-xs-12{ class: exit_program['type'] == 'paragraph' ? '' : 'col-md-6' }
            - exit_program['label'] = convert_bracket(exit_program['label'])
            - unless exit_program['type'] == 'file'
              = render "/shared/fields/#{exit_program['type'].underscore}", f: prop_f, field_props: exit_program, errors: @leave_program.errors.messages, entity: f
            - else
              = f.simple_fields_for :form_builder_attachments, @attachments.file_by_name(exit_program['label']) || @attachments.build do |attachment|
                = render 'shared/form_builder/attachment', f: attachment, property: exit_program, entity: f, resource: @leave_program
            .row
              .col-xs-12
                #message.text-danger
    = hidden_field_tag :program_stream_id, @program_stream.id
    = hidden_field_tag :program_stream_name, @program_stream.name
  .ibox-footer
    = f.submit t('.save'), class: 'btn btn-primary form-btn', data: { disable_with: t('saving') }
    - if params[:family_id]
      = link_to t('.cancel'), family_enrolled_programs_path(@entity), class: 'btn btn-default form-btn'
    - else
      = link_to t('.cancel'), client_client_enrollments_path(@entity), class: 'btn btn-default form-btn'
