.modal.fade{ role: 'dialog', tabindex: '-1', id: "tasksFromModal"}
  .modal-dialog{ role: 'document'}
    .modal-content
      .modal-header
        %button.close{"aria-label" => 'Close', "data-dismiss" => 'modal'}
          %span{"aria-hidden" => 'true'} &times;
        %h4.modal-title
          = t('.title')
      .modal-body

        = form_tag(client_tasks_path(@client), name: 'task', id: 'case_note_task') do
          = hidden_field :task, 'relation', value: 'case_note'
          = label_tag(:domain_id, t('.domain'))
          = select(:task, 'domain_id', [], { include_blank: false }, class: 'form-control')

          .form-group.required.task_name
            %label.date.required.control-label{ for: 'task_name' }
              %abbr{ title: 'required' } *
              = t('.enter_task_detail')
            = text_field :task, 'name', class: 'form-control'

          .form-group.date.required.task_completion_date
            %label.date.required.control-label{ for: 'task_completion_date' }
              %abbr{ title: 'required' } *
              = t('.completion_date')
            .input-group.date
              = text_field :task, :completion_date, class: 'date required form-control date-picker', id: 'task_completion_date'
              %span.input-group-addon
                %i.fa.fa-calendar-check-o

          = button_tag t('.save'), type: 'button', class: 'btn btn-primary btn-form add-task-btn'
