.row
  - if cdg.completed_tasks.any?
    .col-xs-12.col-sm-6
      .panel.panel-default
        .panel-heading
          %h4= t('case_notes.index.completed_tasks')
        .panel-body.no-padding
          - if current_setting.disabled_task_date_field
            %ul.list-group
              - cdg.completed_tasks.each_with_index do |task, index|
                %li.list-group-item
                  = "#{index + 1}. "
                  = task.name
          - else
            %table.table.table-borderless
              %thead
                %tr
                  %th
                    %label{:for => ""}= t('case_notes.index.task')
                  %th= t('case_notes.index.expected_date')
                  %th= t('case_notes.index.completion_date')
              %tbody
                - cdg.completed_tasks.each_with_index do |task, index|
                  %tr
                    %td
                      = "#{index + 1}. "
                      = task.name
                      %td= date_format(task.expected_date)
                      %td= date_format(task.completion_date)

  - the_latest_tasks = today_tasks.flatten.uniq
  - if the_latest_tasks.reject(&:completed).present?
    .col-xs-12.col-sm-6
      .panel.panel-default
        .panel-heading
          %h4= t('tasks.task_added')
        .panel-body.no-padding
          - if current_setting.disabled_task_date_field
            %ul.list-group
              - the_latest_tasks.each_with_index do |task, index|
                %li.list-group-item
                  = "#{index + 1}. "
                  = task.name
          - else
            %table.table.table-borderless
              %thead
                %tr
                  %th
                    %label{:for => ""}= t('case_notes.index.task')
                  %th= t('case_notes.index.expected_date')
              %tbody
                - the_latest_tasks.each_with_index do |task, index|
                  %tr
                    %td
                      = "#{index + 1}. "
                      = task.name
                      %td= date_format(task.expected_date)

  - ongoing_tasks = case_note_ongoing_tasks(ongoing_tasks)
  - if ongoing_tasks.reject(&:completed).present?
    .col-xs-12.col-sm-6
      .panel.panel-default
        .panel-heading
          %h4= t('case_notes.form.on_going_tasks')
        .panel-body.no-padding
          - if current_setting.disabled_task_date_field
            %ul.list-group
              - ongoing_tasks.each_with_index do |task, index|
                %li.list-group-item
                  = "#{index + 1}. "
                  = task.name
          - else
            %table.table.table-borderless
              %thead
                %tr
                  %th
                    %label{:for => ""}= t('case_notes.index.task')
                  %th= t('case_notes.index.expected_date')
              %tbody
                - ongoing_tasks.each_with_index do |task, index|
                  %tr
                    %td
                      = "#{index + 1}. "
                      = task.name
                      %td= date_format(task.expected_date)
