- if get_domains(domain_note).present?
  = domain_note.hidden_field :note
  = domain_note.hidden_field :domain_group_id
  - domains = fetch_domains(domain_note)
  - domains.each do |domain|
    - tasks = @case_note.client.tasks.where(domain_id: domain.id)
    - if domain_note.object.persisted?
      - tasks = tasks.by_case_note_domain_group(domain_note.object)
    .row
      .col-xs-12
        .panel{ class: "panel-default task-domain-#{domain.id} #{hidden_class(tasks.incomplete.blank?)}" }
          .panel-heading
            %strong= "#{t('.domain')} #{domain.name}: #{domain.identity}"
          = render 'tasks_list', { domain_note: domain_note, domain: domain, tasks: tasks }
