.row
  .col-xs-12
    = simple_form_for([@case_note.client, @case_note], html: { id: 'case-note-form', novalidate: false, data: { translate: t('cannot_be_blank'), autosave: @case_note.persisted?, draft: @case_note.draft?, upload_url: upload_attachment_client_case_note_path(@case_note.client, @case_note) } }) do |f|
      = hidden_field_tag :current_user, current_user.roles
      = hidden_field_tag :from_controller, params[:from]

      .ibox
        .ibox-title
          %h5= t('.meeting_detail')
        .ibox-content
          / .well.b-r-lg.bg-color
          /   %strong= "#{t('.label_note')}: "
          /   %strong= @case_note.client.name
          /   %span= t('.meeting_with')
          /   %strong= current_user.first_name
          .panel.panel-default
            .panel-body
              .row
                .col-xs-12.col-md-6
                  .form-group.date.optional.case_note_meeting_date{ class: ('has-error' if f.error :meeting_date) }
                    %label.date.optional.control-label
                      %abbr{ title: 'required' } *
                      = t('.on_date')
                    %a{:role => "button", :tabIndex => "0",  data: { toggle: "popover", trigger: "focus", content: "#{I18n.t('inline_help.clients.case_notes.date')}", placement: "right" } }
                      = fa_icon "info-circle", class: 'text-info m-xs'
                    .input-group.date
                      = f.text_field :meeting_date, value: f.object.meeting_date && f.object.meeting_date.to_date, class: 'date optional form-control date-picker', type: 'text', name: 'case_note[meeting_date]', id: 'case_note_meeting_date'
                      %span.input-group-addon
                        %i.fa.fa-calendar-check-o
                    = f.error :meeting_date
                  .row
                    .col-xs-12
                      #meeting-date-message.text-danger
              .row
                .col-xs-12.col-md-6
                  .form-group.string.required.case_note_attendee
                    %label.string.required.control-label{:for => "case_note_attendee"}
                      %abbr{:title => "required"} *
                      = t('.present')
                    %a{:role => "button", :tabIndex => "0",  data: { toggle: "popover", trigger: "focus", content: "#{I18n.t('inline_help.clients.case_notes.who')}", placement: "auto" } }
                      = fa_icon "info-circle", class: 'text-info m-xs'
                    = f.input :attendee, label: false, wrapper: false
                    .row
                      .col-xs-12
                        #attendee-message.text-danger
                .col-xs-12.col-md-6
                  %label.select.required.control-label{:for => "case_note_interaction_type"}
                    %abbr{:title => "required"} *
                    = t('.type')
                  %a{:role => "button", :tabIndex => "0",  data: { toggle: "popover", html: 'true', trigger: "focus", content: "#{I18n.t('inline_help.clients.case_notes.type')}", placement: "auto" } }
                    = fa_icon "info-circle", class: 'text-info m-xs'
                  = f.input :interaction_type, collection: [CaseNote::INTERACTION_TYPE, t('.type_options').values].transpose, label_method: :second, value_method: :first, label: false
                  .row
                    .col-xs-12
                      #interaction-type.text-danger

          - if @case_note.custom_field_property
            = f.simple_fields_for :custom_field_property do |ff|
              = ff.input :id, as: :hidden
              = ff.simple_fields_for :properties, OpenStruct.new(ff.object.properties) do |prop_f|
                - @case_note.custom_field_property.custom_field.fields.each do |field|
                  .row
                    .col-xs-12{ class: field['type'] == 'paragraph' ? '' : 'col-md-6' }
                      - field['label'] = convert_bracket(field['label'])
                      - if field['type'] == 'file'
                        - attachment_by_label = (@attachments || FormBuilderAttachment.none).file_by_name(field['label'])
                        = ff.simple_fields_for :form_builder_attachments, attachment_by_label|| (@attachments || FormBuilderAttachment.none).build do |attachment|
                          = render '/case_notes/custom_fields/attachment', f: attachment, attachment_by_label: attachment_by_label, property: field, entity: ff, resource: @case_note.custom_field_property
                      - else
                        = render "/shared/fields/#{field['type'].underscore}", f: prop_f, field_props: field, errors: @case_note.custom_field_property.errors.messages

          - unless @current_setting.hide_case_note_note?
            .row
              .col-xs-12
                %label.string.ontrol-label{ for: "case_note_note", class: @current_setting.required_case_note_note? && "required" }
                  - if @current_setting.required_case_note_note?
                    %abbr{:title => "required"} *
                  = t('.note')
                %a{:role => "button", :tabIndex => "0",  data: { toggle: "popover", trigger: "focus", content: "#{I18n.t('inline_help.clients.case_notes.note')}", placement: "right" } }
                  = fa_icon "info-circle", class: 'text-info m-xs'
                = f.input :note, label: false, input_html: { id:  @current_setting.required_case_note_note? ? 'case_note_note' : 'ratanak_case_note_note' ,value: @case_note.note.presence || @case_note_domain_group_note, rows: 6, placeholder: t('.note') }

          .row
            .col-xs-12
              .form-group
                = f.association :domain_groups, collection: @domain_groups, value_method: :id, label_method: lambda{ |object| object.domain_name(params[:custom] || @custom_assessment_param || @case_note.custom, @custom_assessment_setting&.id || @case_note.custom_assessment_setting_id) }, label: t('.domain_groups'), selected: selected_domain_groups(@case_note), required: true, hint: t('case_notes.form.remove_domain_group_hint'), input_html: { multiple: true }

          .row
            .col-xs-12
              - url = "/api/domain_groups/get_domains_by_domain_groups?custom=#{params[:custom] || @case_note.custom}&custom_assessment_setting_id=#{@case_note.custom_assessment_setting_id}"
              .case-note-task-btn.btn.btn-primary.btn-outline.pull-right{class: "#{policy(@client).create? ? '' : 'disabled'}", type: 'button', 'data-target' => "#tasksFromModal", 'data-persisted' => 'true', 'data-toggle' => 'modal', 'data-url': url}
                = t('.add_task')
              %p.text-right#add-task-message.text-warning.pull-right
                = fa_icon 'warning'
                = t('case_notes.form.add_task_message')


          .row#on-going-task-label
            .col-xs-12
              %label{:for => "On going tasks"}= t('case_notes.form.on_going_tasks')

          = f.input :attachments, as: :hidden

          - case_note_domain_groups = f.object.case_note_domain_groups
          - case_note_domain_groups = f.object.case_note_domain_groups.includes(:domain_group) if f.object.persisted? && !f.object.draft?

          = f.simple_fields_for :case_note_domain_groups, case_note_domain_groups do |case_note_domain|
            - next if case_note_domain.object.domain_group.nil?
            - if case_note_domain.object.any_assessment_domains?(@case_note) && enable_default_assessment?
              = render 'form_with_assessment_domains', { domain_note: case_note_domain }
            - else
              - next if get_domains(case_note_domain).blank?
              = render 'form_without_assessment_domains', { domain_note: case_note_domain }

          - if current_setting.cbdmat_one_off? || current_setting.cbdmat_ongoing?
            .row
              .col-xs-12
                %label{:for => "Screening Assessments tasks"}= t('case_notes.form.cb_dmat_assessment_task')
                - @client.screening_assessments.joins(:tasks).where(tasks: { completed: false }).distinct.each do |screening_assessment|
                  .panel{ class: "panel-default" }
                    .panel-heading
                      %h4
                        = t('.client_milestone_age')
                        = ": "
                        = screening_assessment.client_milestone_age
                    .panel-body
                      = f.simple_fields_for :tasks, screening_assessment.tasks.incomplete do |t|
                        = t.hidden_field :case_note_id, value: @case_note.id
                        = t.hidden_field :completed_by_id, value: current_user.id
                        = t.hidden_field :completion_date, value: f.object.meeting_date
                        = t.hidden_field :completion_date, value: f.object.meeting_date
                        = t.input :completed, as: :boolean, type: :checkbox, required: false, label: t.object.name, input_html: { class: 'i-checks task font-bold' }
            %hr/

          - risk_assessment = @client.risk_assessment
          - if current_setting.enabled_risk_assessment? && risk_assessment
            .row
              .col-xs-12
                %label{:for => "Screening Assessments tasks"}
                  = t('risk_assessments._attr.risk_assessment')
                  = t('tasks.task')
                .panel{ class: "panel-default" }
                  .panel-heading
                    %h4
                      = t('risk_assessments._attr.protection_concern')
                      = ": "
                      = risk_assessment.level_of_risk.titleize
                  .panel-body
                    = f.simple_fields_for :tasks, risk_assessment.tasks.incomplete do |t|
                      = t.hidden_field :case_note_id, value: @case_note.id
                      = t.hidden_field :completed_by_id, value: current_user.id
                      = t.hidden_field :completion_date, value: f.object.meeting_date
                      = t.hidden_field :completion_date, value: f.object.meeting_date
                      = t.input :completed, as: :boolean, type: :checkbox, required: false, label: t.object.name, input_html: { class: 'i-checks task font-bold' }

          .row
            .col-xs-12
              = render 'case_note_attachment_fields', { f: f }

        .ibox-footer
          = f.submit t('.save'), class: 'btn btn-primary btn-form', id: 'case-note-submit-btn', data: { disable_with: t('saving') }
          = link_to t('.back') , client_case_notes_path(@case_note.client), class: 'btn btn-default btn-form'
    - if policy(@client).create?
      = render 'add_task_form'
