= domain_note.hidden_field :note
= domain_note.hidden_field :domain_group_id
- domain_note_by_case_note = domain_note.object.domains(@case_note)

.ibox.case-note-domain-group{ id: "domain-#{domain_note.object.domain_group.id}", style: "display: none;" }
  .ibox-title
    %h5
      - if current_organization.aht?
        = "#{t('.dimensions')} #{domain_note.object.domain_group.name}"
      - else
        = "#{t('.domain')} #{domain_note.object.domain_group.name}"
      = "(#{get_domains(domain_note)})"
      - domain_note_by_case_note.each do |domain|
        - ad = domain.assessment_domains.find_by(assessment_id: @case_note.assessment_id)
        - next if ad.nil?

        %button.case-note-domain-score{ role: "button", data: { toggle: "popover", trigger: "focus", placement: 'auto', title: "#{simple_format(ad.score_definition)} #{"#{t('care_plans.form.score_from_assessment')}: #{ad.score}"}", content: display_domain_definition_description(domain, ad.score_definition) },  type: 'button', class: "btn btn-#{ad.score_color_class} btn-sm" }
          = "#{domain.name}: #{domain.identity}"

  .ibox-content
    .row
      .col-xs-12
        - is_ratanak = Organization.ratanak?
        - domain_note_by_case_note.each do |domain|
          - assessment_domain = @case_note.assessment.assessment_domains.find_by(domain_id: domain.id) if @case_note.assessment.present?
          - tasks = @case_note.client.tasks.incomplete.where(domain_id: domain.id)
          - if domain_note.object.persisted? && !@case_note.draft?
            - tasks = tasks.by_case_note_domain_group(domain_note.object)
          - next if assessment_domain.nil?
          .panel{ class: "panel-#{assessment_domain.score_color_class} task-domain-#{domain.id} #{hidden_class(tasks)}" }
            .panel-heading
              %strong
                = "#{assessment_domain.domain.name} #{t('.goal')}"
              - if is_ratanak
                %a.text-primary{ role: "button", tabIndex: "0",  data: { toggle: "popover", placement: 'auto', trigger: "focus", content: list_task_goal_descriptions(tasks) } }
                  = fa_icon "info-circle", class: 'text-info m-xs'

            = render 'tasks_list', { domain_note: domain_note, domain: domain, tasks: tasks }
