.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5= t('.case_note_lists')
        .ibox-tools
          = link_to t('.back'), client_path(@client), { class: 'btn btn-default btn-back-default button' }
          - if @client.can_create_case_note?
            = link_to t('.new_case_note'), new_client_case_note_path(@client), { class: 'btn btn-primary button' }
          - else
            .btn.btn-default.disabled.btn-back-default.case-note-margin
              = t('.you_need_to_create_assessment')
      .ibox-content
        - @case_notes.each do |case_note|
          .panel.panel-info
            .panel-heading
              %h4.pull-right
                = t('.case_note_on')
                = case_note.meeting_date.strftime('%B %d, %Y') if case_note.meeting_date
              %h4= "#{t('.present')}: #{case_note.attendee}"
            .panel-body
              .row
                .col-xs-12
                  - case_note.case_note_domain_groups.each do |cdg|
                    .panel.panel-default
                      .panel-body
                        .row
                          .col-xs-4.col-md-3
                            %p= cdg.domain_group.domain_identities
                            - cdg.domain_group.domains.each do |domain|
                              - ad = domain.assessment_domains.find_by(assessment_id: case_note.assessment_id)
                              %div.margin-score.label{class: "label-#{ad.score_color_class} label-lg"}= ad.score
                          .col-xs-8.col-md-9
                            - if cdg.note.present?
                              .ibox.border-left-right.border-bottom
                                .ibox-title
                                  %h5 Notes:
                                .ibox-content
                                  = cdg.note
                            - if cdg.tasks.completed.any?
                              .ibox.border-left-right.border-bottom
                                .ibox-title
                                  %h5= t('.completed_tasks')
                                .ibox-content
                                  - cdg.tasks.completed.each_with_index do |task, index|
                                    .task
                                      %span= "#{index + 1}. "
                                      = task.name
.row
  .col-xs-12.text-center
    = will_paginate(@case_notes, renderer: BootstrapPagination::Rails)
