.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5= "#{t('.case_note_lists')} #{@client.name}"
        .ibox-tools
          = link_to t('.back'), client_path(@client), { class: 'btn btn-default btn-back-default button' }
          - if can? :create, CaseNote
            - if enable_all_csi_tools?
              .btn-group#case-note-selection
                %button.btn.btn-primary.dropdown-toggle.btn-sm{ "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button" }
                  = t('.new_case_note')
                  %span.caret
                %ul.dropdown-menu#case-note-dropdown
                  %li
                    = new_link
                  %li
                    - if Domain.custom_csi_domains.any?
                      = new_custom_link
                    - else
                      = link_to '#', data: { toggle: 'modal', target: '#customDomainsModal' } do
                        = @current_setting.custom_assessment

                #customDomainsModal.modal.fade{"aria-labelledby" => "customDomainsModalLabel", :role => "dialog", :tabindex => "-1"}
                  .modal-dialog{:role => "document"}
                    .modal-content.panel-warning
                      .modal-header.panel-heading
                        %button.btn-modal-cancel.close{ 'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button' } ×
                        %h4.text-left
                          %i.fa.fa-warning.fa-x2
                          = t('.no_custom_domains_available')
                      .modal-body.text-center
                        = t('.please_add_custom_domains')

            - elsif case_notes_editable? && policy(@client).create?
              = link_to t('.new_case_note'), new_client_case_note_path(@client, custom: @current_setting.enable_custom_assessment), class: 'btn btn-primary'

      .ibox-content
        - @case_notes.each do |case_note|
          .panel.panel-info
            .panel-heading
              .row
                .col-xs-8
                  %h3= display_case_note_attendee(case_note)
                  %p= "#{t('created_by')} #{whodunnit('CaseNote', case_note.id)} #{t('at')} #{date_format case_note.created_at}"
                .col-xs-4.text-right
                  %h4
                    = t('.case_note_on')
                    = date_format(case_note.meeting_date) if case_note.meeting_date
                    - if can? :manage, CaseNote
                      = edit_link(@client, case_note)

            .panel-body
              - case_note.case_note_domain_groups.each do |cdg|
                - if cdg.note.present?
                  .ibox.border-left-right.border-bottom
                    .ibox-title
                      %h5= cdg.domain_identities
                      - if case_note.assessment_id.present?
                        .ibox-tools
                          - cdg.domains(case_note).each do |domain|
                            - ad = domain.assessment_domains.find_by(assessment_id: case_note.assessment_id)
                            - next if ad.nil?
                            %a.collapse-link
                              %label.margin-score.case-note-domain-score{ class: "label label-#{ad.score_color_class} label-lg", 'data-original-title': "#{simple_format(ad.score_definition)}", 'data-toggle': 'tooltip' }
                                = ad.score
                    .ibox-content
                      .row
                        .col-xs-12
                          .panel.panel-default
                            .panel-heading
                              %h4= t('.note')
                            .panel-body
                              = simple_format cdg.note
                        - if cdg.completed_tasks.any?
                          .col-xs-12.col-sm-6
                            .panel.panel-default
                              .panel-heading
                                %h4= t('.completed_tasks')
                              .panel-body.no-padding
                                %ul.list-group
                                  - cdg.completed_tasks.each_with_index do |task, index|
                                    %li.list-group-item
                                      = "#{index + 1}. "
                                      = task.name
                        .col-xs-12.col-sm-6
                          %p
                            %strong= "#{t('.goal')} :"
                          %ul
                            - cdg.domains(case_note).each do |domain|
                              - assessment_domain = domain.assessment_domains.find_by(assessment_id: case_note.assessment_id)
                              - if assessment_domain.present? && assessment_domain.goal?
                                %li= assessment_domain.goal
                        - if cdg.attachments.any?
                          .col-xs-12.col-sm-6
                            .panel.panel-default
                              .panel-heading
                                %h4= t('.attachments')
                              .panel-body
                                = render 'attachment', cdg: cdg
      .ibox-footer
        .text-center
          = paginate @case_notes
