.row
  .col-xs-12
    .ibox
      .ibox-title
        .row
          .col-xs-12.col-sm-6.co-md-6
            %h5
              = t('shared.x_lists_of', x: t('clients.form.case_note'))
              = link_to_client_show(@client)
          .col-xs-12.col-sm-6.col-md-6
            .ibox-tools
              = link_to t('case_notes.index.back'), client_path(@client), { class: 'btn btn-default btn-back-default button' }
              - if can?(:create, CaseNote)
                - if enable_any_csi_tools?
                  .btn-group#case-note-selection
                    %button.btn.btn-primary.dropdown-toggle.btn-sm{ "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button" }
                      = t('shared.new_x', x: t('clients.form.case_note'))
                      %span.caret
                    %ul.dropdown-menu#case-note-dropdown
                      - if @current_setting.enable_default_assessment
                        %li= new_link
                      - if @custom_assessment_settings.present?
                        - @custom_assessment_settings.each do |cs|
                          - if cs.domains.any? && Domain.custom_csi_domain_setting(cs.id).present?
                            %li
                              = link_to new_client_case_note_path(@client, default: false, custom_name: cs.custom_assessment_name), class: 'btn btn-default custom-assessment-link' do
                                = new_custom_link(cs.custom_assessment_name)
                          - else
                            %li.disabled
                              = link_to '#', data: { toggle: 'modal', target: '#customDomainsModal' } do
                                = "#{t('case_notes.index.begin_now')} #{cs.custom_assessment_name}"


                    #customDomainsModal.modal.fade{"aria-labelledby" => "customDomainsModalLabel", :role => "dialog", :tabindex => "-1"}
                      .modal-dialog{:role => "document"}
                        .modal-content.panel-warning
                          .modal-header.panel-heading
                            %button.btn-modal-cancel.close{ 'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button' } ×
                            %h4.text-left
                              %i.fa.fa-warning.fa-x2
                              = t('case_notes.index.no_custom_domains_available')
                          .modal-body.text-center
                            = t('case_notes.index.please_add_custom_domains')

                - elsif case_notes_editable? && policy(@client).create?
                  = link_to t('case_notes.index.new_case_note'), new_client_case_note_path(@client, custom: @current_setting.enable_default_assessment), class: 'btn btn-primary'

      .ibox-content
        - is_ratanak = Organization.ratanak?
        - @case_notes.each do |case_note|
          - today_tasks = []
          .panel.panel-info
            .panel-heading
              .row
                .col-xs-7
                  %h3= display_case_note_attendee(case_note)
                  %p= "#{t('created_by')} #{whodunnit('CaseNote', case_note.id)} #{t('at')} #{date_format(case_note.created_at)}"
                .col-xs-5.text-right
                  %h4
                    = t('shared.x_on', x: t('clients.form.case_note'))
                    = date_format(case_note.meeting_date) if case_note.meeting_date
                    - if case_note.draft?
                      %span.label.label-warning (draft)
                    = link_to '#', class: 'btn btn-warning printable-button', data: { printable_id: "printable-case-note-#{case_note.id}" } do
                      = fa_icon 'print'
                    - if (can? :edit?, CaseNote)
                      - cdg = case_note.case_note_domain_groups.first
                      = edit_link(@client, case_note, cdg)
                    - if current_user.admin? || case_note.draft?
                      = destroy_link(@client, case_note)
            .panel-body
              - unless @current_setting.hide_case_note_note?
                - if case_note.note.present?
                  .row
                    .col-xs-12
                      .panel.panel-default
                        .panel-heading
                          %h4= t('case_notes.index.note')
                        .panel-body
                          = simple_format case_note.note
                - else
                  - combined_notes = case_note.case_note_domain_groups.pluck(:note).uniq.join("\n")
                  .row
                    .col-xs-12
                      .panel.panel-default
                        .panel-heading
                          %h4= t('case_notes.index.note')
                        .panel-body
                          = simple_format combined_notes
              .row
                .col-xs-12
                  .panel.panel-default
                    .panel-heading
                      %h4= "Domain Groups"
                    .panel-body
                      = select_tag "", tag_domain_group(case_note), multiple: true, disabled: true
              - case_note.case_note_domain_groups.includes(:domain_group, :case_note).each do |cdg|
                - list_goals, ongoing_tasks, today_tasks = list_goals_and_tasks(cdg, case_note)
                - if today_tasks.flatten.any? || cdg.completed_tasks.any?
                  .ibox.border-left-right.border-bottom
                    .ibox-title.case-note-domain-panel-title
                      - custom_assessment_setting_id = find_custom_assessment_setting_id(cdg, case_note)
                      %h5= cdg.domain_identities(custom_assessment_setting_id)
                      - if case_note.assessment_id.present?
                        .ibox-tools
                          - cdg.domains(case_note).each do |domain|
                            - ad = domain.assessment_domains.find_by(assessment_id: case_note.assessment_id)
                            - next if ad.nil?
                            %a.collapse-link
                              %label.margin-score.case-note-domain-score{ class: "label label-#{ad.score_color_class} label-lg", 'data-original-title': "#{simple_format(ad.score_definition)}", 'data-toggle': 'tooltip' }
                                = ad.score
                    .ibox-content
                      - if Organization.ratanak?
                        = render 'ratanak_case_notes_tasks', cdg: cdg, today_tasks: today_tasks, list_goals: list_goals, ongoing_tasks: ongoing_tasks
                      - else
                        = render 'case_notes_tasks', cdg: cdg, today_tasks: today_tasks, list_goals: list_goals, ongoing_tasks: ongoing_tasks
              - if current_setting.cbdmat_one_off? || current_setting.cbdmat_ongoing?
                .row
                  .col-xs-12.col-md-6
                    %h4= t('case_notes.index.cb_dmat_assessment_task')
                    - @client.screening_assessments.each do |screening_assessment|
                      - completed_tasks = screening_assessment.tasks.completed.where(case_note_id: case_note.id)
                      - next unless completed_tasks.any?
                      .panel.panel-default
                        .panel-heading
                          %h4= "#{t('case_notes.index.completed_tasks')}: #{screening_assessment.client_milestone_age}"
                        .panel-body.no-padding
                          %ul.list-group
                            - completed_tasks.each_with_index do |task, index|
                              %li.list-group-item
                                = "#{index + 1}. "
                                = task.name
                %hr/
              .row
                .col-xs-12.col-md-6
                  %h4= t('.cb_dmat_assessment_task')
                  - @client.screening_assessments.each do |screening_assessment|
                    - completed_tasks = screening_assessment.tasks.completed.where(case_note_id: case_note.id)
                    - next unless completed_tasks.any?
                    .panel.panel-default
                      .panel-heading
                        %h4= "#{t('.completed_tasks')}: #{screening_assessment.client_milestone_age}"
                      .panel-body.no-padding
                        %ul.list-group
                          - completed_tasks.each_with_index do |task, index|
                            %li.list-group-item
                              = "#{index + 1}. "
                              = task.name

              - risk_assessment = @client.risk_assessment
              - if current_setting.enabled_risk_assessment? && risk_assessment
                .row
                  .col-xs-12.col-md-6
                    %h4
                      = t('risk_assessments._attr.risk_assessment')
                      = t('tasks.task')
                    .panel.panel-default
                      .panel-heading
                        %h4= t('.completed_tasks')
                      .panel-body.no-padding
                        %ul.list-group
                          - risk_assessment.tasks.completed.each_with_index do |task, index|
                            %li.list-group-item
                              = "#{index + 1}. "
                              = task.name
              .row
                - attachments = case_note.attachments.reject(&:blank?)
                - if attachments.any?
                  .col-xs-12.col-sm-6
                    .panel.panel-default
                      .panel-heading
                        %h4= t('case_notes.index.attachments')
                      .panel-body
                        = render 'attachment', attachments: attachments
          %div{ id: "printable-case-note-#{case_note.id}" }
            = render 'shared/printable_case_note', case_note: case_note, today_tasks: today_tasks.flatten.compact

      .ibox-footer
        .text-center
          = paginate @case_notes
