.row
  .col-xs-12
    = simple_form_for [@case_note.client, @case_note], {input_html: {id: 'case-note-form'}} do |f|
      .ibox
        .ibox-title
          %h5= t('.meeting_detail')
          %br
          .case-note-margin
            %strong= @case_note.client.name
            %span= t('.meeting_with')
            %strong= current_user.first_name
            %span= t('.on_date')
        .ibox-content
          .form-group.date.optional.case_note_meeting_date
            .input-group.date
              = f.text_field :meeting_date, class: 'date optional form-control date-picker', type: 'text', name: 'case_note[meeting_date]', id: 'case_note_meeting_date'
              %span.input-group-addon
                %i.fa.fa-calendar-check-o

          = f.input :attendee, label: t('.present')
      = f.simple_fields_for :case_note_domain_groups do |cd|
        - if cd.object.domain_group.domains.assessment_domains_by_assessment_id(@case_note.assessment_id).any?
          .ibox
            .ibox-title
              %h5
                %strong= "#{t('.domain')} #{cd.object.domain_group.name} "
            .ibox-content
              .row
                .col-xs-4
                  %p= cd.object.domain_group.domain_identities
                  - cd.object.domain_group.domains.each do |domain|
                    - ad = domain.assessment_domains.find_by(assessment_id: @case_note.assessment_id)
                    %div.margin-score.label{class: "label-#{ad.score_color_class} label-lg"}= ad.score

                .col-xs-8
                  = cd.input :note, label: t('.note')
                  = cd.hidden_field :domain_group_id
                  - cd.object.domain_group.domains.each do |domain|
                    - assessment_domain = @case_note.assessment.assessment_domains.find_by(domain_id: domain.id)
                    - tasks = @case_note.client.tasks.incomplete.where(domain_id: domain.id)
                    .panel{ class: "panel-#{assessment_domain.score_color_class} task-domain-#{domain.id} #{hidden_class(tasks.blank?)}" }
                      .panel-heading
                        %strong= "#{t('.domain')} #{assessment_domain.domain.name}"
                      .panel-body{id: "tasks-domain-#{domain.id}"}
                        = cd.association :tasks, collection: tasks, as: :check_boxes, label: "#{t('.on_going_tasks')}", input_html: { class: 'i-checks'}
                        %div{ class: "task-arising hidden" }
                          %label.control-label
                            = t('.tasks_arising')
                          %ol{ type: '1'}

                  .row
                    .col-xs-12
                      .case-note-task-btn.btn.btn-primary.btn-outline.pull-right{type: 'button', 'data-target' => "#tasksFromModal", 'data-toggle' => 'modal', 'data-domains': "#{cd.object.domain_group.domains.pluck(:id, :name)}"}
                        = t('.add_task')

      = link_to t('.back') , client_case_notes_path(@case_note.client), class: 'btn btn-default btn-form'
      = f.submit t('.save'), class: 'btn btn-primary btn-form', id: 'case-note-submit-btn'

    = render 'add_task_form'
