.row
  .col-xs-12.col-sm-8.col-sm-offset-2
    = simple_form_for [@case_note.client, @case_note], {input_html: {id: 'case-note-form'}} do |f|
      .panel.panel-default
        .panel-heading
          %h4 Metting Detail
          %strong= @case_note.client.name
          %span meeting with
          %strong= current_user.first_name
          %span on:
          %br/
          .form-group.date.optional.case_note_meeting_date
            .input-group.date
              = f.text_field :meeting_date, class: 'date optional form-control date-picker', type: 'text', name: 'case_note[meeting_date]', id: 'case_note_meeting_date'
              %span.input-group-addon
                %i.glyphicon.glyphicon-calendar

          = f.input :attendee, label: 'Present of:'
      = f.simple_fields_for :case_note_domain_groups do |cd|
        .panel.panel-default
          .panel-heading
            %strong= "Domain #{cd.object.domain_group.name} "
          .panel-body
            .row
              .col-xs-3
                %h5= cd.object.domain_group.domain_identities
                - cd.object.domain_group.domains.each do |domain|
                  - ad = domain.assessment_domains.find_by(assessment_id: @case_note.assessment_id)
                  %div.label{class: "label-#{ad.score_color_class} label-lg"}= ad.score
              .col-xs-9
                = cd.input :note
                = cd.hidden_field :domain_group_id
                - cd.object.domain_group.domains.each do |domain|
                  - assessment_domain = @case_note.assessment.assessment_domains.find_by(domain_id: domain.id)
                  - tasks = @case_note.client.tasks.incomplete.where(domain_id: domain.id)
                  - if tasks.present?
                    .panel{ class: "panel-#{assessment_domain.score_color_class}" }
                      .panel-heading
                        %strong= "Domain #{assessment_domain.domain.name}"
                      .panel-body
                        = cd.association :tasks, collection: tasks, as: :check_boxes
      = link_to 'Back' , client_case_notes_path(@case_note.client), class: 'btn btn-default'
      = f.submit 'Save', class: 'btn btn-primary', id: 'case-note-submit-btn'
