.row
  .col-xs-12.col-md-10.col-md-offset-1
    .ibox
      .ibox-title
        %h5= @client.name
        .ibox-tools
          = link_to client_path(@client) do
            .btn.btn-default.btn-width.btn-back-default
              = t('.back')
      .ibox-content
        .panel.panel-danger
          .panel-heading
            .row
              .col-xs-6
                = t('.overdue_tasks')
          .panel-body
            .row
              .col-xs-12
                %table.table.table-bordered
                  - @tasks.incomplete.overdue.each do |task|
                    %tr
                      %td= "#{t('.domain')}: #{task.domain.name}"
                      %td.task-name= task.name
                      %td= task.completion_date.strftime("%B %d, %Y")
                      - if can? :manage, Task
                        %td.text-center.margin-icon
                          = link_to edit_client_task_path(@client, task) do
                            .btn.btn-outline.btn-success.btn-xs
                              %i.fa.fa-pencil
                          - if can? :destroy, Task
                            = link_to client_task_path(@client, task), method: :delete, data: { confirm: t('.are_you_sure_you_want_to_delete') } do
                              .btn.btn-outline.btn-danger.btn-xs
                                %i.fa.fa-trash

        .panel.panel-info
          .panel-heading
            .row
              .col-xs-6
                = t('.today_tasks')
          .panel-body
            .row
              .col-xs-12
                %table.table.table-bordered
                  - @tasks.incomplete.today.each do |task|
                    %tr
                      %td= "#{t('.domain')}: #{task.domain.name}"
                      %td= task.name
                      %td= task.completion_date.strftime("%B %d, %Y")
                      - if can? :manage, Task
                        %td.text-center.margin-icon
                          = link_to edit_client_task_path(@client, task) do
                            .btn.btn-outline.btn-success.btn-xs
                              %i.fa.fa-pencil
                          - if can? :destroy, Task
                            = link_to client_task_path(@client, task), method: :delete, data: { confirm: t('.are_you_sure_you_want_to_delete') } do
                              .btn.btn-outline.btn-danger.btn-xs
                                %i.fa.fa-trash
        .panel.panel-primary
          .panel-heading
            .row
              .col-xs-6
                = t('.upcoming_tasks')
          .panel-body
            .row
              .col-xs-12
                %table.table.table-bordered
                  - @tasks.incomplete.upcoming.each do |task|
                    %tr
                      %td= "#{ t('.domain') }: #{task.domain.name}"
                      %td= task.name
                      %td= task.completion_date.strftime("%B %d, %Y")
                      - if can? :manage, Task
                        %td.text-center.margin-icon
                          = link_to edit_client_task_path(@client, task) do
                            .btn.btn-outline.btn-success.btn-xs
                              %i.fa.fa-pencil
                          - if can? :destroy, Task
                            = link_to client_task_path(@client, task), method: :delete, data: { confirm: t('.are_you_sure_you_want_to_delete') } do
                              .btn.btn-outline.btn-danger.btn-xs
                                %i.fa.fa-trash
