= simple_form_for([@client, @enrollment, @client_enrollment_tracking], url: client_enrollment_tracking_form_action_path, html: { class: 'client-enrolled-program-tracking' }) do |f|
  .ibox-content
    %h3
      = link_to @client do
        = @client.en_and_local_name
      %span= " - #{@tracking.name} - #{@program_stream.name}"

    = f.simple_fields_for :properties, OpenStruct.new(@client_enrollment_tracking.properties) do |prop_f|
      - @tracking.fields.each do |field|
        .row
          .col-xs-12{ class: field['type'] == 'paragraph' ? '' : 'col-md-6' }
            / = render "/shared/fields/#{field['type'].underscore}", f: prop_f, field_props: field, errors: @client_enrollment_tracking.errors.messages
            - field['label'] = convert_bracket(field['label'], @client_enrollment_tracking.properties)
            - unless field['type'] == 'file'
              = render "shared/fields/#{field['type'].underscore}", f: prop_f, field_props: field, errors: @client_enrollment_tracking.errors.messages, entity: f
            - else
              = f.simple_fields_for :form_builder_attachments, @attachments.file_by_name(field['label']) || @attachments.build do |attachment|
                = render 'shared/form_builder/attachment', f: attachment, property: field, entity: f, resource: @client_enrollment_tracking
            .row
              .col-xs-12
                #message.text-danger
  .ibox-footer
    = hidden_field_tag :tracking_id, @tracking.id
    = button_tag t('.save'), class: 'btn btn-primary form-btn', data: { disable_with: t('saving') }
    = link_to t('.cancel'), report_client_client_enrolled_program_client_enrolled_program_trackings_path(@client, @enrollment, tracking_id: @tracking), class: 'btn btn-default form-btn'
