.row
  .col-xs-12
    .ibox
      .ibox-title
        .row
          .col-xs-12.col-sm-6.co-md-6
            %h5
              = link_to @client do
                = @client.en_and_local_name
              %span= " - #{@tracking.name} - #{@program_stream.name}"
          .col-xs-12.col-sm-6.col-md-6
            .ibox-tools
              - unless @enrollment.program_stream.tracking_required?
                - if can? :manage, ClientEnrollmentTracking
                  = client_enrolled_tracking_new_link
              = link_to client_client_enrolled_program_client_enrolled_program_trackings_path(@client, @enrollment, tracking_id: @tracking.id) do
                .btn.btn-success.btn-outline= t('.back')
      .ibox-content
        - @client_enrollment_trackings.each_slice(2) do |n_enrollment_trackings|
          .row
            - n_enrollment_trackings.each do |enrollment_tracking|
              .col-xs-12.col-md-6
                .ibox.border-left-right.border-bottom
                  .ibox-title
                    %h5= t('.created_at')
                    %span.label.label-primary
                      = date_format(enrollment_tracking.created_at)
                    .ibox-tools
                      = link_to "#", class: 'btn btn-outline btn-warning printable-button', data: { printable_id: "printable-tracking-form-#{enrollment_tracking.id}" } do
                        = fa_icon 'print'
                      - if can? :manage, ClientEnrollmentTracking
                        = client_enrolled_tracking_edit_link(enrollment_tracking)
                        = client_enrollment_tracking_destroy_link(enrollment_tracking)
                  .ibox-content
                    .table-responsive
                      %table.table.table-bordered
                        - tracking_report(enrollment_tracking).map{|field| [field['type'], field['label']]}.each do |type, key|
                          - unless type == 'separateLine'
                            - if type == 'paragraph'
                              %tr
                                %td.align-justify{colspan: '2'}
                                  = key.html_safe
                            - else
                              %tr
                                %td.align-justify
                                  = key.html_safe
                                %td.align-justify
                                  - key = convert_bracket(key, enrollment_tracking.properties.clone)
                                  - if type == 'file'
                                    = render 'shared/form_builder/list_attachment', label: key, resource: enrollment_tracking
                                  - else
                                    = display_custom_properties(enrollment_tracking.properties[key] || enrollment_tracking.properties[key.gsub(/(&amp;#91;).*(&amp;#93;)$/, '')])
              %div{ id: "printable-tracking-form-#{enrollment_tracking.id}" }
                = render 'shared/printable_tracking_form', tracking: @tracking, client: @client, program_stream: @program_stream, enrollment_tracking: enrollment_tracking