- if @enrollment.active?
  .row
    .col-xs-12
      = link_to client_client_enrolled_program_client_enrolled_program_trackings_path(@client, @enrollment) do
        .btn.btn-primary.btn-outline.pull-right
          = t('.trackings_list')
.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5= "#{@client.en_and_local_name} - #{@client_enrollment_tracking.tracking.try(:name)} - #{@program_stream.name}"
        .ibox-tools
          - if can? :manage, ClientEnrollmentTracking
            = client_enrolled_tracking_edit_link(@client_enrollment_tracking)
          = link_to report_client_client_enrolled_programs_path(@client, program_stream_id: @program_stream) do
            .btn.btn-default.btn-back-default
              = t('.back')
      .ibox-content
        .table-responsive
          %table.table.table-bordered
            - @client_enrollment_tracking.tracking.fields.map{|field| [field['type'], field['label']]}.each do |type, key|
              - unless type == 'separateLine'
                - if type == 'paragraph'
                  %tr
                    %td.align-justify{colspan: '2'}
                      = key.html_safe
                - else
                  %tr
                    %td.align-justify
                      = key.html_safe
                    %td.align-justify
                      - key = convert_bracket(key)
                      - if type == 'file'
                        = render 'shared/form_builder/list_attachment', label: key, resource: @client_enrollment_tracking
                      - else
                        = display_custom_properties(@client_enrollment_tracking.properties[key])

