= form_tag('/csi_statistics', method: :post, class: 'form-inline pull-right') do
  .row
    .col-xs-12
      .form-group
        .input-group
          %span.input-group-addon= t('.start_date')
          = text_field_tag :start_date, params[:start_date], class: 'date optional form-control date-picker'
          %span.input-group-addon= t('.end_date')
          = text_field_tag :end_date, params[:end_date], class: 'date optional form-control date-picker'
      .form-group
        = submit_tag "#{t('.search')}", class: 'btn btn-primary statistic-search'
  .row