.care-plan-header
  %li
    %strong= t('advanced_search.fields.case_note')
%li
  .visibility.col-sm-12
    = check_box_tag 'case_note_created_at_', 'case_note_created_at', checked = saved_search_column_visibility('case_note_created_at_'), class: 'i-checks'
    = label_tag 'case_note_created_at_', t('datagrid.columns.case_note_created_at')
%li
  .visibility.col-sm-12
    = check_box_tag 'case_note_date_', 'case_note_date', checked = saved_search_column_visibility('case_note_date_'), class: 'i-checks'
    = label_tag 'case_note_date_', t('datagrid.columns.case_note_date')
%li
  .visibility.col-sm-12
    = check_box_tag 'case_note_type_', 'case_note_type', checked = saved_search_column_visibility('case_note_type_'), class: 'i-checks'
    = label_tag 'case_note_type_', t('datagrid.columns.case_note_type')

= render '/datagrid/case_note_custom_fields_column_picker'
