- domain_text = domain.custom_domain ? "custom_#{domain.convert_identity}_" : "#{domain.convert_identity}_"
- checked = default_setting(domain_text, @client_default_columns) || params[:"#{domain_text}"].present? || saved_search_column_visibility(domain_text)

- cache cache_keys_base + [checked, domain, domain_text] do
  %li
    .visibility.col-sm-12
      = check_box_tag domain_text, domain.convert_identity, checked, class: 'i-checks'
      = label_tag "#{domain.convert_identity}_", domain.identity
