.custom-assessment-setting{ data: { custom_assessment_setting_id: 0 }, style: 'display: none;' }
  %li.csi-header
    %strong.m-l-md= t('advanced_search.fields.family_assessment_domain_scores')
  %li
    .visibility.col-sm-12
      = check_box_tag 'date_of_custom_assessments_', 'date_of_custom_assessments', checked = family_saved_search_column_visibility('date_of_custom_assessments_'), class: 'i-checks'
      = label_tag 'date_of_custom_assessments_', t('datagrid.columns.date_of_family_assessment')
  %li
    .visibility.col-sm-12
      = check_box_tag 'assessment_completed_date_', 'completed_date', checked = family_saved_search_column_visibility('assessment_completed_date_'), class: 'i-checks'
      = label_tag 'assessment_completed_date_', t('datagrid.columns.assessment_completed_date', assessment: t('families.family_assessment'))
  %li
    .visibility.col-sm-12
      = check_box_tag 'all_custom_csi_assessments_', 'all_custom_csi_assessments', checked = family_saved_search_column_visibility('all_custom_csi_assessments_'), class: 'i-checks'
      = label_tag 'all_custom_csi_assessments_', t('datagrid.columns.all_custom_csi_assessments', assessment: t('families.show.assessment'))
  = render partial: 'datagrid/family_domain_score_columns_picker', collection: custom_domains, as: :domain
