.row
  .col-xs-12.col-sm-6.col-sm-offset-3.form
    .ibox
      .ibox-title
        %h5 Sign up
      .ibox-content
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = error_notification(f)
          .form-inputs
            = f.input :first_name, label: "#{I18n.t('users.fields.first_name')}"
            = f.input :last_name, label: "#{I18n.t('users.fields.last_name')}"
            = f.input :date_of_birth, start_year: 1990, end_year: Date.today.year, label: "#{I18n.t('users.fields.date_of_birth')}"
            = f.input :job_title, label: "#{I18n.t('users.fields.job_title')}"
            = f.input :department, label: "#{I18n.t('users.fields.department')}"
            = f.input :start_date, start_year: 1990, end_year: Date.today.year, label: "#{I18n.t('users.fields.start_date')}"
            = f.association :province, collection: @province, label: "#{I18n.t('users.fields.province')}"
            = f.input :mobile, label: "#{I18n.t('users.fields.mobile')}"
            = f.input :email, required: true, label: "#{I18n.t('users.fields.email')}"
            = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length, label: "#{I18n.t('users.fields.password')}")
            = f.input :password_confirmation, required: true, label: "#{I18n.t('users.fields.password_confirmation')}"
          .form-actions
            = f.button :submit, "#{I18n.t('.save')}", class: 'btn btn-primary'
            or
            = render "devise/shared/links"
