%div{ class: "form-group i-checks #{field_with(field_props['label'],errors)}" }
  %label{ class: required?(field_props['required'] || false) }
    %abbr{ title: 'required' }= '*' if field_props['required'] || false
    = field_props['label']
  = f.input field_props['label'], collection: field_props['values'].map { |f| [f['label'], f['label']] }, as: :check_boxes, required: field_props['required'], label: false, input_html: { name: "custom_field_property[properties][#{field_props['label']}][]", title: field_props['description']},include_hidden: false
  %span.help-block
    = field_message(field_props['label'], errors)