%div{ class: "form-group i-checks #{field_with(field_props['label'],errors)}" }
  %label.control-label{ class: required?(field_props['required'] || false) }
    %abbr{ title: 'required' }= '*' if field_props['required'] || false
    = field_props['label'].html_safe

  = f.input field_props['label'], collection: field_props['values'].map { |f| [ f['label'].html_safe, f['label'].html_safe, id: "custom_field_property_properties_#{field_props['label'].html_safe}_#{f['label'].html_safe}"] }, as: :check_boxes, required: (field_props['required'] || false), label: false, input_html: { name: "#{f.object_name}[#{field_props['label']}][]", title: field_props['description']}
  %span.help-block
    = field_message(field_props['label'], errors)
