- label = field_label(field_props)
%div{ class: "form-group #{field_with(field_props['label'],errors)}" }
  %label.control-label{ class: required?(field_props['required'] || false) }
    %abbr{ title: 'required' }= '*' if field_props['required'] || false
    = label.html_safe
  %div{ class: "date input-group #{required?(field_props['required'])}" }
    = f.text_field field_props['name'], class: "form-builder-date date optional form-control date-picker #{field_props['className']} #{required?((field_props['required'] || false))}", type: 'text', name: "#{f.object_name}[#{remove_field_prop_unicode(field_props)}]", 'data-local-date': "#{f.object_name}[#{remove_local_field_prop_unicode(field_props)}]".parameterize
    = f.text_field field_props['local_label'], type: 'hidden', name: "#{f.object_name}[Local_label #{remove_local_field_prop_unicode(field_props)}]", id: "#{f.object_name}[#{remove_local_field_prop_unicode(field_props)}]".parameterize
    %span.input-group-addon
      %i.fa.fa-calendar-check-o
  %span.help-block
    = field_message(field_props['label'], errors)
