%div{ class: "form-group #{field_with(field_props['label'],errors)}" }
  %label{ class: required?(field_props['required'] || false) }
    %abbr= '*' if field_props['required'] || false
    = field_props['label']
    %div{ class: "input-group #{required?(field_props['required'])}" }
      = f.input :file, as: :file, label: false, class: "form-control #{field_props['className']} #{required?(field_props['required'])}", input_html: { multiple: field_props['multiple'] }
  %span.help-block
    = field_message(field_props['label'], errors)