- label = field_label(field_props)
%div{ class: "form-group #{field_with(label, errors)}" }
  %label.control-label{ class: required?(field_props['required'] || false) }
    %abbr{ title: 'required' }= '*' if field_props['required'] || false
    = label.gsub('&amp;#91;', '&#91;').gsub('&amp;#93;', '&#93;').html_safe
  - collection = field_props['values'].map { |f| [format_placeholder(f['label']), f['label'], id: "custom_field_property_properties_#{field_props['label'].gsub('"', '&qoute;').html_safe}_#{f['label'].html_safe}", 'data-value': f['local_label']] }
  - if I18n.locale == :en || params[:locale] == 'en'
    = f.input remove_field_prop_unicode(field_props), |
      collection: collection, |
      required: (field_props['required'] || false), input_html: { id: remove_special_characters(field_props['label']), |
      class: "#{field_props['ClassName']} #{I18n.locale.to_s != I18n.default_locale.to_s ? 'd-none' : ''}", multiple: field_props['multiple'].present?, |
      name: "#{f.object_name}[#{remove_field_prop_unicode(field_props)}][]", placeholder: format_placeholder(field_props['placeholder']), |
      'data-label': remove_special_characters(field_props["label"]) }, label: false
  - else
    = f.input "Local_label #{remove_local_field_prop_unicode(field_props)}", |
      collection: field_props['values'].map { |f| [format_placeholder(f['local_label']), f['local_label'], id: "custom_field_property_properties_#{field_props["local_label"].gsub('"', '&qoute;').html_safe}_#{f['local_label'].html_safe}", 'data-value': f['label']] }, |
      required: (field_props['required'] || false), |
      input_html: { id: remove_special_characters(field_props["local_label"]),
                    class: "#{field_props['ClassName']} #{I18n.locale.to_s == I18n.default_locale.to_s ? 'd-none1' : ''}",
                    multiple: field_props['multiple'].present?, name: "#{f.object_name}[Local_label #{remove_local_field_prop_unicode(field_props)}][]",
                    placeholder: format_placeholder(field_props['placeholder']),
                    'data-label': remove_special_characters(field_props["local_label"]) }, label: false
  %span.help-block
    = field_message(label, errors)
