.row
  .col-xs-12
    .container
      .row  
        .col-xs-12
          = link_to t('.add_new_progress_note_type'), new_progress_note_type_path, class: 'btn btn-success btn-add'
      .row
        .col-xs-12
          .panel.panel-default
            .panel-heading
              %h3= t('.progress_note_type')
            .panel-body
              .table-responsive
                %table.table.table-bordered.table-striped.table-hover
                  %thead
                    %tr
                      %th= t('.note_type')
                      %th.text-center{:colspan => "2"}
                        =t('.manage')
                  %tbody
                    - @progress_note_types.each do |progress_note_type|
                      %tr
                        %td= progress_note_type.note_type
                        %td.text-center
                          = link_to edit_progress_note_type_path(progress_note_type) do
                            %i.glyphicon.glyphicon-pencil
                        %td.text-center
                          - if progress_note_type.has_no_any_progress_notes?
                            = link_to progress_note_type, method: 'delete', data: { confirm: t('.are_you_sure') } do
                              %i.glyphicon.glyphicon-trash
                          - else
                            %i.glyphicon.glyphicon-trash

      .row
        .col-xs-12.text-center
          = will_paginate @progress_note_types, renderer: BootstrapPagination::Rails