.row
  .col-xs-12
    .panel.panel-default
      .panel-body
        .row
          .col-xs-4.col-md-2
            = link_to t('.back'), :back, class: 'btn btn-primary btn-back'
          .col-xs-8.col-md-7.text-center
            %u= "#{t('.modification_of')} #{@progress_note_type.note_type}"
          .col-xs-12.col-md-3
            = render 'shared/per_page_form'

        = render 'shared/version'
