= simple_form_for(donor ||= Donor.new) do |f|
  .modal.fade{id: "donorModal-#{donor.id}", "aria-labelledby" => "donorModal-#{donor.id}Label", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title{ id: "donorModal-#{donor.id}Label" }= t('.donor')
        .modal-body
          = error_notification(f)
          .form-inputs
            = f.input :name, label: t('.name')
            = f.input :code, label: t('.code')
            = f.input :description, input_html: { rows: '10' }, label: t('.description')
        .modal-footer
          .pull-left
            = f.submit t('.save') , class: 'btn btn-primary form-btn', data: { disable_with: t('saving') }
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}= t('.cancel')
