.row
  .col-xs-12
    - if can? :read, Task
      - unless current_user.case_worker?
        .panel.panel-default
          .panel-body
            = render 'filter'
    - if params[:user_id] || current_user.case_worker? || current_user.any_case_manager? || current_user.able_manager?
      .ibox
        .ibox-title
          %h5= "#{t('.tasks_of')} #{@user.first_name}" if @user
        .ibox-content
          .panel.panel-danger
            .panel-heading
              .row
                .col-xs-6
                  %h5= t('.overdue_tasks')
                .col-xs-6.text-right
                  - if current_user.case_worker? && current_user.calendar_integration? && @tasks.overdue.count > 0
                    = link_to calendars_all_new_path(grouped_tasks: 'overdue'), title: 'Google Calendar' do
                      .btn.btn-primary.btn-xs.btn-add-all
                        %i.fa.fa-calendar-plus-o
                          = t('.add_all_to_calendar')
            .panel-body
              - grouped_tasks = @tasks.overdue.group_by do |task|
                - task.client
              - grouped_tasks.each do |client, tasks|
                .ibox.border-left-right.border-bottom
                  .ibox-title
                    %h5= client.name
                  .ibox-content.no-padding
                    %table.table
                      - tasks.each do |task|
                        %tr
                          %td= "#{t('.domain')} #{task.domain.name}"
                          %td.task-name.border-left-right= task.name
                          %td= task.completion_date.strftime("%B %d, %Y")
                          - if current_user.case_worker? && current_user.calendar_integration?
                            %td.text-center.margin-icon.border-left-right
                              = link_to new_calendar_path(task: task), title: 'Google Calendar' do
                                .btn.btn-outline.btn-primary.btn-xs
                                  %i.fa.fa-calendar-plus-o
                                  = t('.add_to_calendar')
          .panel.panel-info
            .panel-heading
              .row
                .col-xs-6
                  %h5= t('.today_tasks')
                .col-xs-6.text-right
                  - if current_user.case_worker? && current_user.calendar_integration? && @tasks.today.count > 0
                    = link_to calendars_all_new_path(grouped_tasks: 'today'), title: 'Google Calendar' do
                      .btn.btn-primary.btn-xs.btn-add-all
                        %i.fa.fa-calendar-plus-o
                          = t('.add_all_to_calendar')
            .panel-body
              - grouped_tasks = @tasks.today.group_by do |task|
                - task.client
              - grouped_tasks.each do |client, tasks|
                .ibox.border-left-right.border-bottom
                  .ibox-title
                    %h5= client.name
                  .ibox-content.no-padding
                    %table.table
                      - tasks.each do |task|
                        %tr
                          %td= "#{t('.domain')} #{task.domain.name}"
                          %td.task-name.border-left-right= task.name
                          %td= task.completion_date.strftime("%B %d, %Y")
                          - if current_user.case_worker? && current_user.calendar_integration?
                            %td.text-center.margin-icon.border-left-right
                              = link_to new_calendar_path(task: task), title: 'Google Calendar' do
                                .btn.btn-outline.btn-primary.btn-xs
                                  %i.fa.fa-calendar-plus-o
                                  = t('.add_to_calendar')
          .panel.panel-primary
            .panel-heading
              .row
                .col-xs-6
                  %h5= t('.upcoming_tasks')
                .col-xs-6.text-right
                  - if current_user.case_worker? && current_user.calendar_integration? && @tasks.upcoming.count > 0
                    = link_to calendars_all_new_path(grouped_tasks: 'upcoming'), title: 'Google Calendar' do
                      .btn.btn-primary.btn-xs.btn-add-all
                        %i.fa.fa-calendar-plus-o
                          = t('.add_all_to_calendar')
            .panel-body
              - grouped_tasks = @tasks.upcoming.group_by do |task|
                - task.client
              - grouped_tasks.each do |client, tasks|
                .ibox.border-left-right.border-bottom
                  .ibox-title
                    %h5= client.name
                  .ibox-content.no-padding
                    %table.table
                      - tasks.each do |task|
                        %tr
                          %td= "#{t('.domain')} #{task.domain.name}"
                          %td.task-name.border-left-right= task.name
                          %td= task.completion_date.strftime("%B %d, %Y")
                          - if current_user.case_worker? && current_user.calendar_integration?
                            %td.text-center.margin-icon.border-left-right
                              = link_to new_calendar_path(task: task), title: 'Google Calendar' do
                                .btn.btn-outline.btn-primary.btn-xs
                                  %i.fa.fa-calendar-plus-o
                                  = t('.add_to_calendar')
