/ Not used yet
- @versions.decorate.each do |version|
  - if version.item_type == "CaseNote"
    %div{ class: "panel panel-#{version_color(version.event)}" }
      .panel-heading
        %h5
          - if controller_name == 'data_trackers'
            %span
              = "#{version.whodunnit} #{t('.change')} #{t('.on')}"
              = t(".#{version.item_type.underscore}")
              = "##{version.item_id}."
          - else
            %span= "#{version.whodunnit} #{t('.change')}."
          %span{ class: "pull-right label label-#{version_color(version.event)}" }
            = version.event_formated

      .panel-body
        .table-responsive
          %table.table.table-hover
            %thead
              %tr
                %th.col-sm-4= t('.value_of')
                %th.col-sm-4.truncate= t('.before')
                %th.col-sm-4.truncate= t('.after')
            %tbody.assessment
              - version.changeset.each do |k, v|
                - next if version_keys_skipable?(k, version.item_type)
                %tr.assessment-row
                  %td.col-sm-4.assessment-id
                    = version_attribute(k, version.item_type)
                  %td.col-sm-4.truncate
                    = version_value_format(v[0], k, v)
                  %td.col-sm-4.truncate.assessment-after
                    = version_value_format(v[1], k, v)
        = render 'shared/version_type/case_note_domain_group', case_note_id: version.item_id, event: version.event
