- if version.item_type == "Client"
  %div{ class: "panel panel-#{version_color(version.event)}" }
    .panel-heading
      %h5
        .row
          .col-xs-12.col-md-9.col-lg-10
            - if controller_name == 'data_trackers'
              %p
                = "#{version.whodunnit} #{t('.change')} #{t('.on')}"
                = t(".#{version.item_type.underscore}")
                = "##{version.item_id}."
            - else
              %p= "#{version.whodunnit} #{t('.change')}."
          .col-xs-12.col-md-3.col-lg-2.text-right
            %p{ class: "label label-#{version_color(version.event)}" }
              = version.event_formated
    .panel-body
      .table-responsive
        - if version.event == 'delete'
          %table.table.table-hover
            %thead
              %tr
                %th.col-sm-4= t('.value_of')
                %th.col-sm-4= t('.before')
                %th.col-sm-4= t('.date_deleted')
            %tbody
              %tr
                %td.col-sm-4= t('.id')
                %td.col-sm-4
                  = version.reify.slug
                %td.col-sm-4
                  = date_time_format(version.created_at)
        - else
          %table.table.table-hover
            %thead
              %tr
                %th.col-sm-4= t('.value_of')
                %th.col-sm-4.truncate= t('.before')
                %th.col-sm-4.truncate= t('.after')
            %tbody.client
              - version.changeset.each do |k, v|
                - next if version_keys_skipable?(k, version.item_type)
                %tr.client-row
                  %td.col-sm-4.client-id
                    = version_attribute(k, version.item_type)
                  %td.col-sm-4.truncate
                    - if k.in?(['has_been_in_government_care', 'has_been_in_orphanage'])
                      = v[0].nil? ? '' : version_value_format(v[0], k, v)
                    - else
                      = version_value_format(v[0], k, v)
                  %td.col-sm-4.truncate.client-after
                    - if k.in?(['has_been_in_government_care', 'has_been_in_orphanage'])
                      = v[1].nil? ? '' : version_value_format(v[1], k, v)
                    - else
                      = version_value_format(v[1], k, v)
      = render 'shared/version_type/agency_and_quantitative_case', client_id: version.item_id, event: version.event, version_created_at: version.created_at
