.ibox
  = simple_form_for([@custom_formable, @custom_field_property]) do |f|
    = hidden_field_tag :custom_field_id, @custom_field.id
    .ibox-title
      %p
        %strong= @custom_field.form_title
    .ibox-content
      - if @custom_field.present?
        = f.simple_fields_for :properties, OpenStruct.new(@custom_field_property.properties) do |prop_f|
          - @custom_field.fields.each do |field|
            .row
              .col-xs-12{ class: field['type'] == 'paragraph' ? '' : 'col-md-6' }
                - field['label'] = convert_bracket(field['label'])
                - unless field['type'] == 'file'
                  = render "/shared/fields/#{field['type'].underscore}", f: prop_f, field_props: field, errors: @custom_field_property.errors.messages

                - else
                  = f.simple_fields_for :form_builder_attachments, custom_field_property_attachment(field['label']) do |attachment|
                    = render 'shared/form_builder/attachment', f: attachment, property: field, entity: f, resource: @custom_field_property
        .row
          .col-xs-12
            #message.text-danger
    .ibox-footer
      = f.submit t('.save'), class: 'btn btn-primary form-btn', data: { disable_with: t('saving') }
      - if action_name == 'new'
        = link_to t('.cancel'), custom_fields_client_path(@custom_formable), class: 'btn btn-default form-btn'
      - else
        = link_to t('.cancel'), polymorphic_path([@custom_formable, CustomFieldProperty], custom_field_id: @custom_field), class: 'btn btn-default form-btn'
