.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5= @custom_field.form_title
        .ibox-tools
          - if can? :manage, CustomFieldProperty
            = link_to new_client_custom_field_property_path(@custom_formable, custom_field_id: @custom_field.id) do
              .btn.btn-outline.btn-primary.form-btn
                -# = "#{t('.add_new')} #{@custom_field.form_title}"
                Add New
            -# = link_to client_path(@client) do
            -#   .btn.btn-outline.btn-success.form-btn
            -#     = t('.back')
      .ibox-content
        .row
          - @custom_field_properties.each do |custom_field_property|
            .col-xs-12.col-md-6
              .ibox.border-left-right.border-bottom
                .ibox-title
                  %h5
                    = t('.created_date')
                  %span.label.label-info
                    = date_format custom_field_property.created_at
                  .ibox-tools
                    - if can? :manage, CustomFieldProperty
                      %small
                        = link_to edit_client_custom_field_property_path(@custom_formable, custom_field_property) do
                          .btn.btn-outline.btn-success
                            = fa_icon('pencil')
                      %small
                        = link_to client_custom_field_property_path(@custom_formable, custom_field_property, custom_field_id: @custom_field), method: :delete, data: { confirm: t('are_you_sure') } do
                          .btn.btn-outline.btn-danger
                            = fa_icon('trash')
                .ibox-content
                  %table.table.table-bordered
                    - custom_field_property.properties.each do |key, value|
                      %tr
                        %td.align-justify
                          = key.titleize
                        %td.align-justify
                          = value
      .ibox-footer.text-center
        = paginate @custom_field_properties
