.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5= @custom_field.form_title
        .ibox-tools
          - if can?(:create, CustomFieldProperty) && (!@custom_field.hidden && current_user.case_worker?) || !current_user.case_worker?
            = custom_field_properties_new_link
          - if @custom_formable.instance_of?(Client)
            = link_to custom_fields_client_path(@custom_formable) do
              .btn.btn-outline.btn-success.form-btn
                = t('.back')
          - else
            = link_to polymorphic_path(@custom_formable) do
              .btn.btn-outline.btn-success.form-btn
                = t('.back')
      .ibox-content
        - @custom_field_properties.each do |custom_field_property|
          .row
            .col-xs-12
              .ibox.border-left-right.border-bottom{ id: "custom_field_property_#{custom_field_property.id}" }
                .ibox-title
                  %h5= "#{t('created_by')} #{whodunnit('CustomFieldProperty', custom_field_property.id)} #{t('at')}"
                  %span.label.label-info= "#{date_format custom_field_property.created_at}"
                  .ibox-tools
                    = link_to "#", class: 'btn btn-outline btn-warning printable-button', data: { printable_id: "printable-custom-field-#{custom_field_property.id}" } do
                      = fa_icon 'print'
                    - if can? :manage, CustomFieldProperty
                      %small
                        = custom_field_properties_edit_link(custom_field_property)
                      %small
                        = custom_field_properties_destroy_link(custom_field_property)
                .ibox-content
                  .table-responsive
                    %table.table.table-bordered
                      - custom_field_property.custom_field.fields.map{|a| [a['type'], a['label']]}.each do |type, key|
                        - unless type == 'separateLine'
                          - if type == 'paragraph'
                            %tr
                              %td.align-justify{colspan: '2'}
                                = key.html_safe
                          - else
                            %tr
                              %td.align-justify
                                = key.html_safe
                              %td.align-justify
                                - key = convert_bracket(key, custom_field_property.properties)
                                - if type == 'file'
                                  = render 'shared/form_builder/list_attachment', label: key, resource: custom_field_property
                                - else
                                  = display_custom_properties(custom_field_property.properties[key])

                    %table.table.table-bordered
                      - files = custom_field_property.attachments
                      - next if files.nil?
                      - files.each_with_index do |file, index|
                        %tr.row-file
                          %td.image-title.vert-align
                            = original_filename(file)
                          %td.vert-align.preview.text-center
                            = link_to preview_or_download(file), file.url, target: target_blank(file), class: 'btn btn-info btn-sm btn-download'
                          - if action_name == 'show' || action_name == 'report' || action_name == 'index'
                            %td.vert-align.text-center.action
                              = form_buildable_path(custom_field_property, index, 'attachments', '')

          %div{ id: "printable-custom-field-#{custom_field_property.id}" }
            = render 'shared/printable_custom_field', custom_field: @custom_field, custom_field_property: custom_field_property
      .ibox-footer.text-center
        = paginate @custom_field_properties
