.task-form.nested-fields
  = f.hidden_field :domain_id, value: params[:domain_id]
  = f.hidden_field :relation, value: 'assessment'
  .col-md-6
    = f.text_field :name, class: 'form-control task-input-field'
  .col-md-4
    .input-group.date
      = f.text_field :completion_date, class: 'date required form-control date-picker task-date-field', id: 'task_completion_date'
      %span.input-group-addon
        %i.fa.fa-calendar-check-o
      %span.help-block.task_completion_date_help
  .col-md-2
    = link_to_remove_association f do
      .btn.btn-outline.btn-danger.btn-xs
        %i.fa.fa-trash
