.task-form.nested-fields
  = f.hidden_field :user_id, value: current_user.id
  = f.hidden_field :domain_id, value: params[:domain_id]
  = f.hidden_field :relation, value: 'assessment'
  .row
    .col-md-6
      - if Organization.ratanak?
        = f.text_area :name, class: 'form-control task-input-field'
      - else
        = f.text_field :name, class: 'form-control task-input-field'
    .col-md-4
      .input-group.date
        = f.text_field :expected_date, class: 'date required form-control date-picker task-date-field', id: 'task_completion_date', value: f.object.expected_date&.strftime('%Y-%m-%d')
        %span.input-group-addon
          %i.fa.fa-calendar-check-o
        %span.help-block.task_completion_date_help
    .col-md-2
      - unless f.object.completed
        = link_to_remove_association f do
          .btn.btn-outline.btn-danger.btn-xs
            %i.fa.fa-trash
