.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5= "Enrollment Form #{ date_format @leave_program.created_at }"
        .ibox-tools
          = link_to report_client_client_enrollments_path(@client, program_stream_id: @program_stream) do
            .btn.btn-success.btn-outline
              = t('.back')
      .ibox-content
        - @leave_program.properties.each do |key, value|
          .row
            .col-xs-12
              %p.question
                %strong= "Q: #{key}"
              %p.answer
                - if value.is_a? Array
                  - value.each do |v|
                    %p.answer= "A: #{v}"
                - else
                  = "A: #{value}"
