.row
  .col-xs-12
    .ibox
      .ibox-title
        - exit_date = "#{t('.exit_date')} #{ @leave_program.exit_date? ? date_format(@leave_program.exit_date) : date_format(@leave_program.created_at) }"
        %h5= "#{@client.en_and_local_name} - #{exit_date}"
        .ibox-tools
          - if can? :manage, LeaveProgram
            = link_to edit_client_client_enrollment_leave_program_path(@client, @enrollment, @leave_program, program_stream_id: @program_stream, program_streams: params[:program_streams]) do
              .btn.btn-success.btn-outline
                = fa_icon('pencil')
          = link_to report_client_client_enrollments_path(@client, program_stream_id: @program_stream, program_streams: params[:program_streams]) do
            .btn.btn-default.btn-back-default
              = t('.back')
      .ibox-content
        .table-responsive
          %table.table.table-bordered
            - @program_stream.exit_program.map{|properties| [properties['type'], properties['label']]}.each do |type, key|
              %tr
                %td.align-justify
                  = key
                %td.align-justify
                  - if type == 'file'
                    = render 'shared/form_builder/list_attachment', name: key, form_buildable: @leave_program
                  - else
                    = display_custom_properties(@leave_program.properties[key])
