%h3= t('families.form.step_1_title')
%section.basic-information
  .row.sub-title
    - unless current_setting.hide_family_case_management_tool?
      .col-sm-3
        %h2= t('families.form.step_11_title')
    .col-sm-9
      %h2= t('families.form.step_12_title')
  .row
    - unless current_setting.hide_family_case_management_tool?
      .col-sm-3
        = f.input :received_by_id, required: true, collection: User.without_deleted_users.non_strategic_overviewers.order(:first_name, :last_name), label_method: :name, value_method: :id

        .form-group
          = f.label :initial_referral_date, class: 'control-label', required: true
          .input-group.date
            = f.input :initial_referral_date, required: true, label: false, wrapper: false, input_html: { class: 'date optional form-control date-picker' }, as: :string
            %span.input-group-addon
              %i.fa.fa-calendar-check-o

        = f.input :case_worker_ids, required: true, collection: User.without_deleted_users.non_strategic_overviewers.order(:first_name, :last_name), label_method: :name, value_method: :id, input_html: { multiple: true }
        = f.input :followed_up_by_id, collection: User.without_deleted_users.non_strategic_overviewers.order(:first_name, :last_name), label_method: :name, value_method: :id

        .form-group
          = f.label :follow_up_date
          .input-group.date
            = f.input :follow_up_date, label: false, wrapper: false, input_html: { class: 'date optional form-control date-picker' }, as: :string
            %span.input-group-addon
              %i.fa.fa-calendar-check-o

    %div{ class: "#{current_setting.hide_family_case_management_tool? ? 'col-sm-12' : 'col-sm-9'}"}
      .row
        .col-sm-3
          = f.input :name
        .col-sm-3
          = f.input :name_en
        .col-sm-3
          = f.input :family_type, collection: Family.mapping_family_type_translation, label_method: :last, value_method: :first,  input_html: { class: 'family-type' }
        .col-sm-3
          = f.input :code
      = render "shared/addresses/#{current_organization.country.presence || 'cambodia'}", f: f
      .row
        .col-sm-2
          = f.input :street
        .col-sm-2
          = f.input :house
        .col-sm-3
          = f.input :phone_number
        .col-sm-2
          = f.input :id_poor, collection: Family::ID_POOR
        .col-sm-3
          .form-group
            = f.label :contract_date
            .input-group.date
              = f.input :contract_date, label: false, wrapper: false, input_html: { class: 'date optional form-control date-picker' }, as: :string
              %span.input-group-addon
                %i.fa.fa-calendar-check-o

      - unless current_setting.hide_family_case_management_tool?
        .row
          .col-sm-3
            = f.input :referral_source_category_id, required: true, collection: referral_source_name(ReferralSource.parent_categories)
          .col-sm-3
            = f.input :referral_source_id, collection: (@family.referral_source.present? ? ReferralSource.where(id: @family.referral_source_id).map { |r| [r.try(:name), r.id] } : []), input_html: { data: { sources: ReferralSource.pluck(:id, :name, :ancestry) } }
          .col-sm-3
            = f.input :referee_phone_number
          .col-sm-3
            = f.input :donor_ids, collection: Donor.order(:name), label_method: :name, value_method: :id, input_html: { multiple: true }
      .row
        - unless current_setting.hide_family_case_management_tool?
          .col-sm-3
            = f.simple_fields_for :community_member do |ff|
              = ff.input :community_id, collection: Community.all, label_method: :display_name, value_method: :id
        .col-sm-9
          = f.input :relevant_information, input_html: { rows: 4 }
        .col-sm-12
          = f.label :documents
          = f.input :documents, label: false, as: :file, input_html: { multiple: true }
          %p
            %i.small="#{t('assessments.attachment_fields.allow_file_size')} (.jpg, .jpeg, .png, .doc, .docx, .xls, .xlsx, .pdf)"
          %p
            %i.small= t('assessments.attachment_fields.max_file_size')
