%h3 Basic Family Information
%section.basic-information
  .row
    .col-sm-3
      = f.input :received_by_id, collection: []

      .form-group
        = f.label :initial_referral_date
        .input-group.date
          = f.input :initial_referral_date, label: false, wrapper: false, input_html: { class: 'date optional form-control date-picker' }, as: :string
          %span.input-group-addon
            %i.fa.fa-calendar-check-o

      = f.input :case_worker_ids, collection: []
      = f.input :followed_up_by_id, collection: []

      .form-group
        = f.label :follow_up_date
        .input-group.date
          = f.input :follow_up_date, label: false, wrapper: false, input_html: { class: 'date optional form-control date-picker' }, as: :string
          %span.input-group-addon
            %i.fa.fa-calendar-check-o

    .col-sm-9
      .row
        .col-sm-3
          = f.input :name
        .col-sm-3
          = f.input :name_en
        .col-sm-3
          = f.input :family_type, collection: []
        .col-sm-3
          = f.input :code
      .row
        .col-sm-3
          = f.input :province_id, collection: []
        .col-sm-3
          = f.input :district_id, collection: []
        .col-sm-3
          = f.input :commune_id, collection: []
        .col-sm-3
          = f.input :village_id, collection: []
      .row
        .col-sm-2
          = f.input :street
        .col-sm-2
          = f.input :house
        .col-sm-3
          = f.input :phone_number
        .col-sm-2
          = f.input :id_poor, collection: []
        .col-sm-3
          .form-group
            = f.label :contract_date
            .input-group.date
              = f.input :contract_date, label: false, wrapper: false, input_html: { class: 'date optional form-control date-picker' }, as: :string
              %span.input-group-addon
                %i.fa.fa-calendar-check-o

      .row
        .col-sm-3
          = f.input :referral_source_category_id, collection: []
        .col-sm-3
          = f.input :referral_source_id, collection: []
        .col-sm-3
          = f.input :referee_phone_number
        .col-sm-3
          = f.input :donor_ids, collection: []
      .row
        .col-sm-3
          = f.input :community_ids, collection: []
        .col-sm-9
          = f.input :relevant_information, input_html: { rows: 4 }
