%h3= t('families.form.step_2_title')
%section.family-members
  .row
    .col-sm-4.pl-0.pr-0
      .col-sm-2.pl-0
        %label.control-lable= t('activerecord.attributes.family_member.is_client')
      .col-sm-5
        %label.control-lable= t('activerecord.attributes.family_member.adult_name')
      .col-sm-5.pl-0
        %label.control-lable= t('activerecord.attributes.family_member.gender')
    .col-sm-4.pl-0.pr-0
      .col-sm-6.pl-0
        %label.control-lable= t('activerecord.attributes.family_member.date_of_birth')
      .col-sm-6.pl-0
        %label.control-lable= t('activerecord.attributes.family_member.relation')
    .col-sm-4.pl-0.pr-0
      .col-sm-5.pl-0
        %label.control-lable= t('activerecord.attributes.family_member.occupation')
      .col-sm-4.pl-0
        %label.control-lable= t('activerecord.attributes.family_member.monthly_income')
      .col-sm-3.pl-0.pr-0
        %label.control-lable= t('activerecord.attributes.family_member.guardian')
  #family-members
    = f.simple_fields_for :family_members do |member|
      = render 'family_member_fields', f: member
    .links.row
      .col-sm-12.pl-0
      = link_to_add_association t('.add_new_member'), f, :family_members, class: 'btn btn-primary add_new_member'
  .row
    .col-sm-12.text-right
      = f.input :dependable_income, as: :radio_buttons, collection: [[t('.yes'), true],[t('.no'), false]]
