= simple_form_for(@family) do |f|
  .ibox-content
    = error_notification(f)
    #family-wizard-form
      = render partial: 'basic_information', locals: { f: f }
      = render partial: 'family_members', locals: { f: f }
      - if @quantitative_types.any?
        = render partial: 'additional_information', locals: { f: f }
