%ul.family-members-list
	-	if params[:locale]=='km'
		%li= "#{I18n.t('datagrid.columns.families.female_children_count')} : #{object.female_children_count.to_i}"
	- elsif params[:locale]=='en'
		%li= "#{I18n.t('datagrid.columns.families.female_children_count')} #{'child'.pluralize(object.female_children_count.to_i)} : #{object.female_children_count.to_i}"
	- if params[:locale]=='km'
		%li= "#{I18n.t('datagrid.columns.families.male_children_count')} : #{object.male_children_count.to_i}"
	- elsif params[:locale]== 'en'
		%li= "#{I18n.t('datagrid.columns.families.male_children_count')} #{'child'.pluralize(object.male_children_count.to_i)} : #{object.male_children_count.to_i}"
	-	if params[:locale]=='km'
		%li= "#{I18n.t('datagrid.columns.families.female_adult_count')} : #{object.female_adult_count.to_i}"
	-	elsif params[:locale]=='en'
		%li= "#{I18n.t('datagrid.columns.families.female_adult_count')} #{'adult'.pluralize(object.female_adult_count.to_i)} : #{object.female_adult_count.to_i}"
	- if params[:locale]=='km'
		%li= "#{I18n.t('datagrid.columns.families.male_adult_count')} : #{object.male_adult_count.to_i}"
	- elsif params[:locale]=='en'
		%li= "#{I18n.t('datagrid.columns.families.male_adult_count')}#{'adult'.pluralize(object.male_adult_count.to_i)} : #{object.male_adult_count.to_i}"
	%li= "#{I18n.t('datagrid.columns.families.member_count_total')} : #{object.member_count}"