%ul.family-members-list
	%li= "Female #{'child'.pluralize(object.female_children_count.to_i)} : #{object.female_children_count.to_i}"
	%li= "Male #{'child'.pluralize(object.male_children_count.to_i)} : #{object.male_children_count.to_i}"
	%li= "Female #{'adult'.pluralize(object.female_adult_count.to_i)} : #{object.female_adult_count.to_i}"
	%li= "Male #{'adult'.pluralize(object.male_adult_count.to_i)} : #{object.male_adult_count.to_i}"
	%li= "TOTAL : #{object.member_count}"