<<<<<<< HEAD
.tooltip-demo
  = link_to '#', {"data-container" => "body", "data-content" => "<div>#{family_member_list(object)}</div>", "data-original-title" => "Family Members", "data-placement" => "top", "data-toggle" => "popover", :title => "", :type => "button", 'data-html': "true"} do
    = "#{I18n.t('datagrid.columns.families.member_count_total')} : #{object.member_count}"
