.row
  .col-xs-12
    .pull-left
      %button.btn.btn-primary.btn-filter{"aria-expanded" => 'false', "data-target" => '#family-search-form', "data-toggle" => 'collapse', type: 'button'}
        = fa_icon('filter')
    .pull-right
      - if can? :manage, Family
        = link_to "#{I18n.t('families.index.add_new_family')}", new_family_path, class: 'btn btn-primary'
      = link_to "#{I18n.t('families.index.export_csv')}", current_url(format: 'csv'), class: 'btn btn-info'

.row.ibox-space
  .col-xs-12
    .ibox-content#family-search-form.collapse
      = datagrid_form_for @family_grid, url: families_url, html: { class: 'grid-form' }
.row
  .col-xs-12
    .ibox.float-e-margins
      .ibox-title
        %h5= @family_grid.assets.count
        %span.label.label-info= t('.results')
        .ibox-tools
          %a.collapse-link
            %i.fa.fa-chevron-up
          %a.fullscreen-link
            %i.fa.fa-expand
      .ibox-content
        #family-search-form.collapse
          = datagrid_form_for @family_grid, url: families_url, html: { class: 'grid-form' }
        .table-responsive
          = datagrid_table @family_grid, html: { class: 'table table-bordered table-striped table-hover families'}
      .ibox-footer.text-center
        = will_paginate @family_grid.assets, renderer: BootstrapPagination::Rails
