- label = field_label(property)
%div{data: {used: "#{f.object.file.any?}"}}
  = f.input :name, as: :hidden, input_html: { name: "#{entity.object_name}[form_builder_attachments_attributes][#{property['name'].split('-').last}][name]", value: property['label'] }
  %label.control-label
    %abbr{ title: 'repuired' }
      = '*' if property['required'].present? && f.object.file.empty?
    = label.html_safe

  = f.input :file, as: :file, label: false, required: property['required'].present?, input_html: { name: "#{entity.object_name}[form_builder_attachments_attributes][#{property['name'].split('-').last}][file][]", multiple: property['multiple'].present?, value: f.object.file }
  %span.help-block.hidden
    =t('cannot_be_blank')
  %p
    %i.small="#{t('.allow_file_size')} (.jpg, .jpeg, .png, .doc, .docx, .xls, .xlsx, .pdf)"
  %p
    %i.small= t('.max_file_size')
