.col-xs-12.col-sm-4
  = f.association :province, collection: @current_provinces, label: t('.current_province'), input_html: { data: { type: 'provinces', subaddress: 'district' } }
.col-xs-12.col-sm-4
  = f.association :district, collection: @districts, label: t('.district'), input_html: { data: { type: 'districts', subaddress: 'commune' } }
.col-xs-12.col-sm-4
  = f.association :commune, collection: @communes.map{|c| [c.name, c.id] }, label: t('.commune'), input_html: { data: { type: 'communes', subaddress: 'village' } }, hint: (@client.old_commune if @client.commune_id.nil?)
.col-xs-12.col-sm-4
  = f.association :village, collection: @villages.map{|v| [v.name, v.id] }, label:t('.village'), hint: (@client.old_village if @client.village_id.nil?)
.col-xs-12.col-sm-6.col-md-4.house_number
  = f.input :house_number, label: t('.house_number'), input_html:{ required: 'true'}
.col-xs-12.col-sm-6.col-md-4
  = f.input :street_number, label: t('.street_number')
