.table-responsive
  %table.table.table-bordered.table-striped.table-hover
    %thead
      %thead
        %th= t('.clients')
        %th= t('.referral_from')
        %th= t('.referral_date')
        %th= t('.referral_count')
        %th= t('.level_of_risk')
        %th= t('.review_form')
    %tbody
      - (@referrals || referrals).each do |referral|
        - if action_name == 'repeat_referrals'
          - client = clients.find { |c| c.global_id == referral.client_global_id || c.id == referral.client_id }
          - next unless client&.slug

        %tr{ class: "referral-#{referral.id}" }
          %td
            = link_to referral_path(referral), target: '_blank' do
              = referral.client_name
          %td
            = link_to referral_path(referral), target: '_blank' do
              = Organization.full_name_from_short_name(referral.referred_from).presence || referral.referred_from
          %td
            = link_to referral_path(referral), target: '_blank' do
              = date_format(referral.date_of_referral)

          %td
            = link_to referral_path(referral), target: '_blank' do
              = (action_name == 'repeat_referrals' ? (client.referral_count + 1) : 1)
          %td
            - if referral.level_of_risk.present?
              = link_to referral_path(referral), target: '_blank', class: 'btn btn-primary btn-xs' do
                = referral.level_of_risk.capitalize
            /= status_style referral.referral_status
          %td.text-center
            = link_to referral_path(referral), target: '_blank', class: 'btn btn-primary btn-xs me-2' do
              = fa_icon 'external-link'
            = link_to referral_path(referral), data: { method: :delete, remote: true, confirm: 'Are you sure you want to delete?' }, class: 'btn btn-danger btn-xs' do
              = fa_icon 'trash'
