= simple_form_for([@client, @case]) do |f|
  .ibox-content
    = f.error_notification
    .form-inputs
      .row
        .col-xs-12.col-sm-6.col-md-4= f.input :carer_names, label: t('.carer_names')
        .col-xs-12.col-sm-6.col-md-4= f.input :carer_address, label: t('.carer_address')
        .col-xs-12.col-sm-6.col-md-4= f.input :carer_phone_number, label: t('.carer_phone_number')
        .col-xs-12.col-sm-6.col-md-4.form-group.date.optional.case_start_date{ class: ('has-error' if f.error :start_date) }
          %label.date.optional.control-label{ for: 'case_start_date' }
            %abbr{ title: 'required' } *
            = t('.start_date')
          .input-group.date
            = f.text_field :start_date, required: true, class: 'date optional form-control date-picker', type: 'text', name: 'case[start_date]', id: 'case_start_date'
            %span.input-group-addon
              %i.fa.fa-calendar-check-o
          = f.error :start_date

        .col-xs-12.col-sm-6.col-md-4= f.association :province, collection: @province, label: t('.province')
        .col-xs-12.col-sm-6.col-md-4= f.input :case_type, as: :string, label: t('.case_type'), default: params[:case_type], input_html: { readonly: 'readonly' }
        .col-xs-12.col-sm-6.col-md-4= f.association :partner, collection: @partner, label: t('.ongoing_partner'), include_blank: false
        .col-xs-12.col-sm-6.col-md-4= f.association :family, collection: @family.map{|family| [family.name.present? ? family.name : 'Unknown', family.id] }, include_blank: false, label: t('.family')
        .col-xs-12.col-sm-6.col-md-4= f.input :support_amount, label: "#{t('.support_amount')}($)"
        .col-xs-12.col-sm-6.col-md-4
          .i-checks.family-preservation
            %label= t('.family_preservation')
            = f.input :family_preservation, as: :radio_buttons, collection: [['Yes', true],['No', false]], label: false
        .col-xs-12.col-sm-6.col-md-4= f.input :support_note, input_html: { rows: 5 }, label: t('.support_note')
      - if (current_user.admin? || current_user.manager?) && @case.persisted? && @case.exited?
        .row
          .col-xs-12.col-sm-6.col-md-4.form-group.date.optional.case_exit_datee{ class: ('has-error' if f.error :exit_date) }
            %label.date.required.control-label{ for: 'case_exit_date' }
              %abbr{ title: 'required' } *
              = t('.exit_date')
            .input-group.date
              = f.text_field :exit_date, required: true, class: 'date optional form-control date-picker', type: 'text', name: 'case[exit_date]', id: 'case_exit_date'
              %span.input-group-addon
                %i.fa.fa-calendar-check-o
            = f.error :exit_date
          .col-xs-12.col-sm-6.col-md-4= f.input :status, readonly: true
          .col-xs-12.col-sm-6.col-md-4= f.input :exit_note, required: true, input_html: { rows: 5, class: 'exit_note' }, label: t('.exit_note')
  .ibox-footer
    = f.submit t('save'), class: 'btn btn-primary form-btn', data: { disable_with: t('saving') }
    = link_to t('cancel'), client_path(@client), class: 'btn btn-default form-btn'
