= simple_form_for([@client, @case]) do |f|
  .ibox-content
    = f.error_notification
    .form-inputs
      .row
        .col-xs-12.col-md-4= f.input :carer_names, label: "#{t('.carer_names')}"
        .col-xs-12.col-md-4= f.input :carer_address, label: "#{t('.carer_address')}"
        .col-xs-12.col-md-4= f.input :carer_phone_number, label: "#{t('.carer_phone_number')}"
      .row
        .col-xs-12.col-md-4.form-group.date.optional.case_start_date
          %label.date.optional.control-label{ for: 'case_start_date' } #{t('.start_date')}
          .input-group.date
            = f.text_field :start_date, class: 'date optional form-control date-picker', type: 'text', name: 'case[start_date]', id: 'case_start_date'
            %span.input-group-addon
              %i.fa.fa-calendar-check-o
        .col-xs-12.col-md-4= f.association :province, collection: @province, label: "#{t('.province')}"
        .col-xs-12.col-md-4= f.input :case_type, as: :string, label: "#{t('.case_type')}", default: params[:case_type], input_html: { readonly: 'readonly' }
      .row
        .col-xs-12.col-md-4= f.association :partner, collection: @partner, label:"#{t('.ongoing_partner')}", include_blank: false
        .col-xs-12.col-md-4= f.association :family, collection: @family, include_blank: false, label: "#{t('.family')}"
        .col-xs-12.col-md-4= f.input :support_amount, label: "#{t('.support_amount')}($)"
      .row
        .col-xs-12.col-md-4= f.input :support_note, input_html: { rows: 5 }, label: "#{t('.support_note')}"
        .col-xs-12.col-md-4= f.input :family_preservation, label: "#{t('.family_preservation')}", input_html: { class: 'i-checks' }
  .ibox-footer
    .form-actions
      = f.submit t('save'), class: 'btn btn-primary form-btn'
      = link_to t('cancel'), client_path(@client), class: 'btn btn-default form-btn'
