%br
.row
  .col-xs-4.col-xs-offset-4
    %h4=t('.can_view')
  .col-xs-4
    %h4=t('.can_edit')
= f.simple_fields_for :program_stream_permissions do |ff|
  .row.program-stream-permission
    .col-xs-4
      %label.permission-label= ff.object.program_stream.name
      = ff.input :program_stream_id, as: :hidden, input_html: { value: ff.object.program_stream_id }
    .col-xs-4
      = ff.input :readable, label: false, input_html: { class: 'i-checks' }
    .col-xs-4
      = ff.input :editable, label: false, input_html: { class: 'i-checks' }
