- unless @user.admin?
  %table.table
    %thead
      %tr
        %th
        %th
          %strong All Notification
        %th
          %h4 Across Referral
        %th
          %h4 Before 7 days
        %th
          %h4 Due Today
        %th
          %h4 Overdue
        %th
          %h4 After Overdue 7 days

    = f.simple_fields_for :system_notifications, object do |ff|
      = ff.hidden_field :notification_type, input_html: { value: notification_type }
      %tbody
        %tr
          %td
            %label.permission-label= t('.notifications')
          %td
            .icheckbox_square-green
              = ff.input :all_notification, input_html: { id: "#{notification_type.gsub(' ', '_')}_all_notification", class: 'all-notification', data: { parent: "#{notification_type.gsub(' ', '-')}-notification" } }, label: false
          %td
            = ff.input :across_referral, input_html: { class: 'i-checks', data: { parent: "#{notification_type.gsub(' ', '-')}-notification" } }, label: false
          %td
            = ff.input :before_seven_day, input_html: { class: 'i-checks', data: { parent: "#{notification_type.gsub(' ', '-')}-notification" } }, label: false
          %td
            = ff.input :due_today, input_html: { class: 'i-checks', data: { parent: "#{notification_type.gsub(' ', '-')}-notification" } }, label: false
          %td
            = ff.input :overdue, input_html: { class: 'i-checks', data: { parent: "#{notification_type.gsub(' ', '-')}-notification" } }, label: false
          %td
            = ff.input :after_overdue_seven_day, input_html: { class: 'i-checks', data: { parent: "#{notification_type.gsub(' ', '-')}-notification" } }, label: false
