.modal.fade.modal-fullscree#permissions{ 'aria-labelledby': 'gridSystemModalLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-lg{ role: 'document', style: 'overflow-y: scroll; max-height:85%; margin-top: 100px; margin-bottom: 50px;' }
    .modal-content
      = simple_form_for @user do |f|
        .modal-header
          %h3= t('.permissions_selector')
        .modal-body
          .modal-border
            %ul.nav.nav-tabs{ role: 'tablist' }
              %li.active{ role: 'presentation' }
                %a{ href: '#task-notification', 'aria-controls': 'tasks', role: 'tab', 'data-toggle': 'tab' }= t('.tasks')
              %li{ role: 'presentation' }
                %a{ href: '#case-note-notification', 'aria-controls': 'case notes', role: 'tab', 'data-toggle': 'tab' }= t('.case_notes')
              %li{ role: 'presentation' }
                %a{ href: '#assessment-notification', 'aria-controls': 'assessments', role: 'tab', 'data-toggle': 'tab' }= t('.assessments')
              %li{ role: 'presentation' }
                %a{ href: '#custom-form-notification', 'aria-controls': 'custom forms', role: 'tab', 'data-toggle': 'tab' }= t('.custom_forms')
              %li{ role: 'presentation' }
                %a{ href: '#custom-programs', 'aria-controls': 'custom programs', role: 'tab', 'data-toggle': 'tab' }= t('.custom_programs')
              %li{ role: 'presentation' }
                %a{ href: '#quantitative_types', 'aria-controls': 'quantitative types', role: 'tab', 'data-toggle': 'tab' }= t('.quantitative_types')
              %li{ role: 'presentation' }
                %a{ href: '#tracking-form-notification', 'aria-controls': 'tracking form', role: 'tab', 'data-toggle': 'tab' }= t('.tracking_form')

          .tab-content
            #task-notification.tab-pane.active{ role: 'tabpanel' }
              = render 'task_notification', f: f
            #case-note-notification.tab-pane{ role: 'tabpanel' }
              = render 'case_note_permission', f: f
            #assessment-notification.tab-pane{ role: 'tabpanel' }
              = render 'assessment_permission', f: f
            #custom-form-notification.tab-pane{ role: 'tabpanel' }
              = render 'custom_form_permission', f: f
            #custom-programs.tab-pane{ role: 'tabpanel' }
              = render 'custom_program_permission', f: f
            #quantitative_types.tab-pane{ role: 'tabpanel' }
              = render 'quantitative_type_permission', f: f
            #tracking-form-notification.tab-pane{ role: 'tabpanel' }
              = render 'tracking_form_notification', f: f

        .modal-footer
          .row
            .col-xs-6.col-xs-offset-6
              = f.submit t('save'), class: 'btn btn-primary'
              %button.btn.btn-default{ 'data-dismiss': 'modal' }= t('cancel')
