.row
  .col-xs-12.col-sm-6.col-sm-offset-3
    .panel.panel-default
      .panel-heading
        %h4 Editing User
      .panel-body
        = simple_form_for(@user) do |f|
          = f.error_notification

          .form-inputs
            = f.input :first_name
            = f.input :last_name
            = f.input :roles, collection: [['Admin','admin'],['Case Worker','case worker']], include_blank: false, label: 'Role'
            
            .form-group.date.optional.user_start_date
              %label.date.optional.control-label{ for: 'user_start_date' } Start Date
              .input-group.date
                = f.text_field :start_date, class: 'date optional form-control date-picker', type: 'text', name: 'user[start_date]', id: 'user_start_date'
                %span.input-group-addon
                  %i.glyphicon.glyphicon-calendar

            = f.input :job_title, label: 'Job Title'
            = f.association :department, collection: @department, include_blank: false
            = f.input :mobile

            .form-group.date.optional.user_date_of_birth
              %label.date.optional.control-label{ for: 'user_date_of_birth' } Date Of Birth
              .input-group.date
                = f.text_field :date_of_birth, class: 'date optional form-control date-picker', type: 'text', name: 'user[date_of_birth]', id: 'user_date_of_birth'
                %span.input-group-addon
                  %i.glyphicon.glyphicon-calendar


            = f.association :province, collection: @province, include_blank: false

          .form-actions
            = f.button :submit, class: 'btn btn-primary'
            = link_to 'Cancel', users_path, class: 'btn btn-default'