.row
  .col-xs-12
    .pull-left
      %button.btn.btn-primary.btn-filter{"aria-expanded" => 'false', "data-target" => '#user-search-form', "data-toggle" => 'collapse', type: 'button'}
        %i.glyphicon.glyphicon-filter
    .pull-right
      - if can? :manage, :all
        = link_to "#{I18n.t('users.index.add_new_user')}", new_user_path, class: 'btn btn-outline btn-success'
      = link_to "#{I18n.t('users.index.export_csv')}", current_url(format: 'csv'), class: 'btn btn-outline btn-info btn-export'
.row.ibox-space
  .col-xs-12
    .ibox.float-e-margins#user-search-form.collapse
      .ibox-content
        = datagrid_form_for @user_grid, url: users_url, html: { class: 'grid-form' }
.row
  .col-xs-12
    .ibox.float-e-margins
      .ibox-title
        %h5= @user_grid.assets.count
        %span.label.label-info= t('.records')
        .ibox-tools
          %a.collapse-link
            %i.fa.fa-chevron-up
          %a.fullscreen-link
            %i.fa.fa-expand
      .ibox-content
        .table-responsive
          = datagrid_table @user_grid, html: { class: 'table table-bordered table-striped table-hover users'}
      .ibox-footer
        = will_paginate @user_grid.assets, renderer: BootstrapPagination::Rails
