.row
  .col-xs-12.user
    .ibox
      .ibox-title
        %h5= "#{t('.general_info')} #{@user.name}"
        .ibox-tools
          %a.collapse-link
            .btn.btn-outline.btn-primary
              %i.fa.fa-chevron-up
          - if can? :manage, :all
            %small
              = link_to edit_user_path(@user) do
                .btn.btn-outline.btn-success
                  %i.fa.fa-pencil
              = remove_link(@user, {user_case: @user.cases_count}, 'btn-md')

      .ibox-content
        .row.user-summary
          .col-sm-12
            %table.table.table-bordered
              %tr
                %td.spacing-first-col
                  = t('.job_title')
                %td
                  %strong
                    = @user.job_title
              %tr
                %td.spacing-first-col
                  = t('.department')
                %td
                  %strong
                    = @user.department.name if @user.department
              %tr
                %td.spacing-first-col
                  = t('.mobile')
                %td
                  %strong
                    = "#{@user.mobile.phony_formatted(normalize: :KH, format: :international)}" if @user.mobile
              %tr
                %td.spacing-first-col
                  = t('.email')
                %td
                  %strong
                    - object_emails = @user.email.split(%r{;\s*}) if @user.email
                    - if object_emails
                      - object_emails.each do |object_email|
                        = mail_to object_email

              %tr
                %td.spacing-first-col
                  = t('.date_of_birth')
                %td
                  %strong
                    = @user.date_of_birth.strftime('%B %d, %Y') if @user.date_of_birth
              %tr
                %td.spacing-first-col
                  = t('.start_date')
                %td
                  %strong
                    = @user.start_date.strftime('%B %d, %Y') if @user.start_date

              %tr
                %td.spacing-first-col
                  = t('.province')
                %td
                  %strong
                    = @user.province.name if @user.province
  .col-xs-12
    .ibox
      .ibox-title
        %h5= t('.additional_info')
      .ibox-content
        %table.table.table-bordered
          - @user.properties_objs.try(:each) do |k, v|
            %tr
              %td.align-justify
                = k.titleize
              %td.align-justify
                = custom_properties(v)
= render 'clients'
