.row
  .col-xs-12.user
    .btn-group.small-btn-margin
      %button.btn-sm.btn.btn-success.dropdown-toggle{ 'data-toggle' => 'dropdown', class: ('disabled' if @group_user_custom_fields.empty?) }
        = t('.additional_forms')
        %span.caret
      %ul.dropdown-menu.scrollable-dropdown-menu
        - @group_user_custom_fields.each do |_, user_custom_fields|
          %li
            %p= link_to user_custom_fields.first.custom_field.form_title, user_custom_field_properties_path(@user, custom_field_id: user_custom_fields.first.custom_field_id)

    - if can? :manage, CustomFieldProperty
      .btn-group.small-btn-margin
        %button.btn-sm.btn.btn-success.dropdown-toggle{ 'data-toggle' => 'dropdown', class: ('disabled' if @free_user_forms.empty?) }
          = t('.add_form')
          %span.caret
        %ul.dropdown-menu.scrollable-dropdown-menu
          - @free_user_forms.each do |custom_field|
            %li
              %p= link_to custom_field.form_title, new_user_custom_field_property_path(@user, custom_field_id: custom_field.id)

    - if current_user.admin? && !(@user.admin? || @user.strategic_overviewer?)
      .btn-group.small-btn-margin
        %button.btn-sm.btn.btn-success{"data-target" => "#permissions", "data-toggle" => "modal", :type => "button"}
          = t('.permissions')
        = render 'permissions'

    .ibox.mini-margin
      .ibox-title
        %h5= "#{t('.general_info')} #{@user.name}"
        .ibox-tools
          %a.collapse-link
            .btn.btn-outline.btn-primary
              %i.fa.fa-chevron-up
          - if can? :manage, :all
            %small
              = link_to edit_user_path(@user) do
                .btn.btn-outline.btn-success
                  %i.fa.fa-pencil
              = remove_link(@user, {user_client: @user.clients.count}, 'btn-md')

      .ibox-content
        .row.user-summary
          .col-sm-12
            %table.table.table-bordered
              %tr
                %td.spacing-first-col
                  = t('.job_title')
                %td
                  %strong
                    = @user.job_title
              %tr
                %td.spacing-first-col
                  = t('.department')
                %td
                  %strong
                    = @user.department.try(:name)
              %tr
                %td.spacing-first-col
                  = t('.manager')
                %td
                  %strong
                    = @user.manager.try(:name)
              %tr
                %td.spacing-first-col
                  = t('.mobile')
                %td
                  %strong
                    = @user.mobile
              %tr
                %td.spacing-first-col
                  = t('.email')
                %td
                  %strong
                    - object_emails = @user.email.split(%r{;\s*}) if @user.email
                    - if object_emails
                      - object_emails.each do |object_email|
                        = mail_to object_email

              %tr
                %td.spacing-first-col
                  = t('.date_of_birth')
                %td
                  %strong
                    = date_format(@user.date_of_birth)
              %tr
                %td.spacing-first-col
                  = t('.gender')
                %td
                  %strong
                    = @user.gender.try(:capitalize)
              %tr
                %td.spacing-first-col
                  = t('.start_date')
                %td
                  %strong
                    = date_format(@user.start_date)

              %tr
                %td.spacing-first-col
                  = t('.province')
                %td
                  %strong
                    = @user.province.try(:name)
              %tr
                %td.spacing-first-col
                  = t('.pin_number')
                %td
                  %strong
                    = @user.pin_code
= render 'clients'
