.row
  .col-xs-12.col-sm-6.col-sm-offset-3
    .ibox.normal-space
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        .ibox-title
          %h5 ផ្លាស់ប្ដូរលេខសំងាត់របស់អ្នក / Change your password
        .ibox-content
          = f.error_notification
          = f.input :reset_password_token, as: :hidden
          = f.full_error :reset_password_token
          .form-inputs
            = f.input :password, label: 'លេខកូដថ្មី / New password', required: true, autofocus: true, hint: ("អប្បបរមា៨តួអក្សរ / #{@minimum_password_length} characters minimum" if @minimum_password_length)
            = f.input :password_confirmation, label: 'បញ្ជាក់លេខកូដសំងាត់ថ្មី / Confirm your new password', required: true
        .ibox-footer
          = f.submit 'ផ្លាស់ប្ដូរលេខសំងាត់របស់ខ្ញុំ / Change my password', class: 'btn btn-outline btn-primary'
