= simple_form_for(@quantitative_case) do |f|
  = f.error_notification

  .form-inputs
    = f.association :quantitative_type, default: @quantitative_type, disabled: true
    = f.association :quantitative_type, default: @quantitative_type, input_html: { class: 'hidden' }, label: false
    = f.input :value

  .form-actions
    = f.button :submit, 'រក្សាទុក / Save', class: 'btn btn-primary'
    = link_to 'ទុកជាមោឃៈ / Cancel',  quantitative_types_path, class: 'btn btn-default'
