.row
  .container
    .col-xs-12
      = link_to 'Add New Quantitative Case', new_quantitative_case_path, class: 'btn btn-success btn-add'
    - @quantitative_types.each do |qt|
      .col-xs-12
        .panel.panel-default
          .panel-heading
            %h5= qt.name
          .panel-body
            %table.table.table-bordered
              %tbody
                - qt.quantitative_cases.each do |qc|
                  %tr
                    %td{style: 'width: 80%;'}= qc.value
                    %td.text-center
                      = link_to edit_quantitative_case_path(qc) do
                        = fa_icon('pencil')
                    %td.text-center
                      = link_to qc, method: 'delete', data: { confirm: 'Are you sure you want to delete?' } do
                        %i.glyphicon.glyphicon-trash