- if can? :manage, ServiceDelivery
  = link_to edit_service_delivery_path(object, parent_id: parent_id), class: 'btn btn-xs btn-success btn-outline' do
    = fa_icon('pencil')
  = link_to disable_service_delivery_path(object, parent_id: parent_id), class: 'btn btn-outline btn-primary btn-xs' do
    = fa_icon(object.disabled? ? 'lock' : 'unlock')
  = remove_link(object, { case: 0 })
