.ibox
  = simple_form_for([@family, @family_custom_field]) do |f|
    = f.hidden_field :custom_field_id, input_html: { value: @custom_field.id }
    .ibox-title
      %h5= @custom_field.form_title
    .ibox-content
      = render 'shared/properties', custom_field: @family_custom_field.custom_field, f: f, entity: @family_custom_field
    .ibox-footer
      = f.submit t('.save'), class: 'btn btn-primary form-btn'
      = link_to t('.cancel'), family_family_custom_fields_path(@family, custom_field_id: @family_custom_field.custom_field_id), class: 'btn btn-default form-btn'
