.ibox
  .ibox-title
    %h5= @family_custom_field.custom_field.form_title
    .ibox-tools
      - if can? :manage, FamilyCustomField
        = link_to edit_family_family_custom_field_path(@family_custom_field.family, @family_custom_field) do
          .btn.btn-xs.btn-outline.btn-success
            %i.fa.fa-pencil
  .ibox-content
    %table.table.table-bordered
      - @family_custom_field.properties_objs.try(:each) do |key, value|
        %tr
          %td.align-justify
            = key.titleize
          %td.align-justify
            = display_custom_properties(value)
  .ibox-footer
    = link_to t('.back'), family_path(@family_custom_field.family), class: 'btn btn-default form-btn'
