.panel.panel-default
  .panel-body
    - if @versions.any?
      - @versions.decorate.each do |version|
        = render 'shared/version_type/common',     version: version
        = render 'shared/version_type/assessment', version: version
        = render 'shared/version_type/client',     version: version
    - else
      %p= t('.no_modification')
  .ibox-footer.text-center
    = paginate @versions
