#additional-info.modal.fade{ role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-lg{ role: 'document'}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "#{t('.close')}", "data-dismiss" => 'modal'}
          %span{"aria-hidden" => 'true'} &times;
        .modal-title
          .row
            .col-xs-12.col-sm-6
              %h4 Additional Information
            .col-xs-12.col-sm-4
              %h4= "Client ID - #{@client.slug}"

      .modal-body
        = simple_form_for @client, url: client_path(@client) do |f|
          = f.error_notification
          = f.error_notification
          .row
            .col-xs-12
              %h3= @client.en_and_local_name
              %h3= "#{@client.gender&.capitalize} #{date_format(@client.date_of_birth)}"
          .row
            .col-xs-12
              %h3 Do you want to add
          .row
            .col-xs-12
              #accordion
                .accordion-header
                  #heading-4596294.panel-heading{role: "tab"}
                    .row
                      .col-xs-12.col-md-6
                        %h5.accordion-title
                          %a.accordion-toggle.accordion-arrow-toggle{"aria-controls" => "collapse-4596294", "aria-expanded" => "true", "data-parent" => "#accordion-additional-info", "data-toggle" => "collapse", href: "#collapse-4596294", role: "button"}
                            Carer Information?
                  #collapse-4596294.panel-collapse.collapse.in{"aria-labelledby" => "heading-4596294", role: "tabpanel"}
                    .accordion-body
                      .row.m-b-sm
                        .col-xs-12.col-md-3
                          %label.optional.control-label Name
                          = text_field_tag "carer[name]", @carer.name, class: 'string optional form-control'
                        .col-xs-12.col-md-3
                          %label.optional.control-label Gender
                          = select_tag "carer[gender]", options_for_select(Carer::GENDERS), include_blank: true, class: 'select2 string optional form-control'
                        .col-xs-12.col-md-3
                          %label.optional.control-label Phone
                          = text_field_tag "carer[phone]", @carer.phone, class: 'string optional form-control'
                        .col-xs-12.col-md-3
                          %label.optional.control-label Email
                          = text_field_tag "carer[email]", @carer.email, placeholder: 'user@domain.com', class: 'string optional form-control'
                      .row.m-b-sm
                        .col-xs-12.col-md-3
                          %label.optional.control-label Relationship to Client
                          = select_tag "carer[client_relationship]", options_for_select(Carer::CLIENT_RELATIONSHIPS), include_blank: true, class: 'select2 string optional form-control'
                        .col-xs-12.col-md-3
                          = f.association :family_members, collection: @families, label: 'Family Record'
                      .row
                        .col-xs-12.col-md-3
                          %h2 Address
                        .col-xs-12.col-md-3.m-t-sm
                          .form-group.boolean.optional.carer_same_as_client
                            .checkbox
                              %input{name: "carer[same_as_client]", type: "hidden", value: "0"}/
                              %label.boolean.optional{for: "carer_same_as_client"}
                                %input#carer_same_as_client.boolean.optional{name: "carer[same_as_client]", type: "checkbox", value: "1"}>/
                                Same as clien
                        .col-xs-12.col-md-3.m-t-sm
                          .form-group.boolean.optional.carer_outside
                            .checkbox
                              %input{name: "carer[outside]", type: "hidden", value: "0"}/
                              %label.boolean.optional{for: "carer_outside"}
                                %input#carer_outside.boolean.optional{name: "carer[outside]", type: "checkbox", value: "1"}>/
                                International
                        .col-xs-12.col-md-3
                      %hr/
                      = f.fields_for :carer, @carer do |c|
                        = render "clients/carer_address_forms/#{current_organization.country.presence || 'cambodia'}_address_form", f: c

                .accordion-header
                  #heading-948587.panel-heading{role: "tab"}
                    .row
                      .col-xs-12.col-md-6
                        %h5.accordion-title
                          %a.accordion-toggle.accordion-arrow-toggle.collapsed{"aria-controls" => "collapse-948587", "aria-expanded" => "false", "data-parent" => "#accordion-additional-info", "data-toggle" => "collapse", href: "#collapse-948587", role: "button"}
                            School Information?
                  #collapse-948587.panel-collapse.collapse{"aria-labelledby" => "heading-948587", role: "tabpanel"}
                    .accordion-body
                      .row
                        .col-xs-12.col-md-3
                          = f.input :school_name
                          %label.optional.control-label School Name
                          = text_field_tag "client[school_name]", @client.school_name, class: 'string optional form-control'
                        .col-xs-12.col-md-3
                          = f.input :school_grade, collection: Client::GRADES
                        .col-xs-12.col-md-3
                          %label.optional.control-label Main School Contact
                          = text_field_tag "client[main_school_contact]", @client.main_school_contact, class: 'string optional form-control'
                        .col-xs-12.col-md-3
                          %label.optional.control-label Education Background
                          = text_field_tag "client[education_background]", @client.education_background, class: 'string optional form-control'
                .accordion-header
                  #heading-832673.panel-heading{role: "tab"}
                    .row
                      .col-xs-12.col-md-6
                        %h5.accordion-title
                          %a.accordion-toggle.accordion-arrow-toggle.collapsed{"aria-controls" => "collapse-832673", "aria-expanded" => "false", "data-parent" => "#accordion-additional-info", "data-toggle" => "collapse", href: "#collapse-832673", role: "button"}
                            Donor Information?
                  #collapse-832673.panel-collapse.collapse{"aria-labelledby" => "heading-832673", role: "tabpanel"}
                    .accordion-body
                      .row
                        .col-xs-12.col-md-6
                          %label.optional.control-label Other Agencies Involved
                          = select_tag "client[agency_ids]", options_from_collection_for_select(@agencies, "id", "name"), multiple: true, class: 'select2 string optional form-control'
                        .col-xs-12.col-md-6
                          %label.optional.control-label Donor
                          = select_tag "client[donor_ids]", options_from_collection_for_select(@donors, "id", "name"), include_blank: true, class: 'select2 string optional form-control'
                .accordion-header
                  #heading-other-info.panel-heading{role: "tab"}
                    .row
                      .col-xs-12.col-md-6
                        %h5.accordion-title
                          %a.accordion-toggle.accordion-arrow-toggle.collapsed{"aria-controls" => "collapse-other-info", "aria-expanded" => "false", "data-parent" => "#accordion-additional-info", "data-toggle" => "collapse", href: "#collapse-other-info", role: "button"}
                            Other Information?
                  #collapse-other-info.panel-collapse.collapse{"aria-labelledby" => "heading-other-info", role: "tabpanel"}
                    .accordion-body
                      .row
                        .col-xs-12.col-md-3
                          %label.optional.control-label Custom ID Number 1
                          = text_field_tag "client[code]", @client.code, class: 'string optional form-control'
                        .col-xs-12.col-md-3
                          %label.optional.control-label Custom ID Number 2
                          = text_field_tag "client[kid_id]", @client.kid_id, class: 'string optional form-control'
                        .col-xs-12.col-md-3
                          %label.optional.control-label Is client rated for ID Poor?
                          = text_field_tag "client[rated_for_id_poor]", @client.rated_for_id_poor, class: 'string optional form-control'
                      .row
                        .col-xs-12
                          %h2= t('clients.form.pickup_information')
                      .row
                        .col-xs-12.col-md-3
                          %label.optional.control-label= t('clients.form.arrival_at')
                          = text_field_tag  "client[client_arrival_at]", @client.try(:client_arrival_at), class: 'date  optional form-control date-picker'
                        .col-xs-12.col-md-3
                          %label.optional.control-label= t('clients.form.flight_nb')
                          = text_field_tag "client[flight_nb]", @client.try(:flight_nb), class: 'string optional form-control'
                        .col-xs-12.col-md-6
                          %label.optional.control-label= t('clients.form.ratanak_achievement_program_staff_client_ids')
                          = select_tag "client[ratanak_achievement_program_staff_client_ids]", options_from_collection_for_select(case_workers_option(@client.id), :second, :first), multiple: true, class: 'select2 string optional form-control'
                      .row
                        .col-xs-12
                          %h2= t('clients.form.mosavy_official')
                      .row
                        .col-xs-12
                          .mo_savy_officials
                            = f.simple_fields_for :mo_savy_officials do |official|
                              = render 'clients/mo_savy_official_fields', f: official
                      .actions
                        .row
                          .col-xs-12.col-md-4
                            = link_to_add_association t('clients.form.add_mosavy_official'), f, :mo_savy_officials, class: 'btn-add-goal btn btn-outline btn-success'
          .text-right
            %button.btn.btn-default.editable-cancel{"data-dismiss" => 'modal'}= t('cancel')
            = f.submit t('save'), class: 'btn btn-primary confirm', data: { disable_with: t('saving') }
