%ul.check-columns-visibility
  %li.dropdown
    %a.dropdown-toggle.btn.btn-default{'data-toggle' => 'dropdown', href: '#'}
      = t('datagrid.columns.select_columns')
      %span.caret
    %ul.dropdown-menu.columns-visibility
      %li
        .all-visibility.col-sm-12
          = check_box_tag 'all', 'all', checked = @display_column.include?('all'), class: 'i-checks'
          = label_tag 'all_' do
            %strong= t('datagrid.columns.show_all')
      %li
        .visibility.col-sm-12
          = check_box_tag 'code', 'code', checked = @display_column.include?('code'), class: 'i-checks'
          = label_tag 'code', format_header('code')
      %li
        .visibility.col-sm-12
          = check_box_tag 'grade', 'grade', checked = @display_column.include?('grade'), class: 'i-checks'
          = label_tag 'grade', format_header('grade')
      %li
        .visibility.col-sm-12
          = check_box_tag 'family_id', 'family_id', checked = @display_column.include?('family_id'), class: 'i-checks'
          = label_tag 'family_id', format_header('family_id')
      %li
        .visibility.col-sm-12
          = check_box_tag 'age', 'age', checked = @display_column.include?('age'), class: 'i-checks'
          = label_tag 'age', format_header('age')
      %li
        .visibility.col-sm-12
          = check_box_tag 'first_name', 'first_name', checked = @display_column.include?('first_name'), class: 'i-checks'
          = label_tag 'first_name', format_header('first_name')
      %li
        .visibility.col-sm-12
          = check_box_tag 'last_name', 'last_name', checked = @display_column.include?('last_name'), class: 'i-checks'
          = label_tag 'last_name', format_header('last_name')
      %li
        .visibility.col-sm-12
          = check_box_tag 'local_first_name', 'local_first_name', checked = @display_column.include?('local_first_name'), class: 'i-checks'
          = label_tag 'local_first_name', format_header('local_first_name')
      %li
        .visibility.col-sm-12
          = check_box_tag 'local_last_name', 'local_last_name', checked = @display_column.include?('local_last_name'), class: 'i-checks'
          = label_tag 'local_last_name', format_header('local_last_name')
      %li
        .visibility.col-sm-12
          = check_box_tag 'slug', 'slug', checked = @display_column.include?('slug'), class: 'i-checks'
          = label_tag 'slug', format_header('slug')
      %li
        .visibility.col-sm-12
          = check_box_tag 'referral_phone', 'referral_phone', checked = @display_column.include?('referral_phone'), class: 'i-checks'
          = label_tag 'referral_phone', format_header('referral_phone')
      %li
        .visibility.col-sm-12
          = check_box_tag 'school_name', 'school_name', checked = @display_column.include?('school_name'), class: 'i-checks'
          = label_tag 'school_name', format_header('school_name')
      %li
        .visibility.col-sm-12
          = check_box_tag 'placement_date', 'case_start_date', checked = @display_column.include?('case_start_date'), class: 'i-checks'
          = label_tag 'placement_date', format_header('placement_date')
      %li
        .visibility.col-sm-12
          = check_box_tag 'date_of_birth', 'date_of_birth', checked = @display_column.include?('date_of_birth'), class: 'i-checks'
          = label_tag 'date_of_birth', format_header('date_of_birth')
      %li
        .visibility.col-sm-12
          = check_box_tag 'initial_referral_date', 'initial_referral_date', checked = @display_column.include?('initial_referral_date'), class: 'i-checks'
          = label_tag 'initial_referral_date', format_header('initial_referral_date')
      %li
        .visibility.col-sm-12
          = check_box_tag 'follow_up_date', 'follow_up_date', checked = @display_column.include?('follow_up_date'), class: 'i-checks'
          = label_tag 'follow_up_date', format_header('follow_up_date')
      %li
        .visibility.col-sm-12
          = check_box_tag 'gender', 'gender', checked = @display_column.include?('gender'), class: 'i-checks'
          = label_tag 'gender', format_header('gender')
      %li
        .visibility.col-sm-12
          = check_box_tag 'status', 'status', checked = @display_column.include?('status'), class: 'i-checks'
          = label_tag 'status', format_header('status')
      %li
        .visibility.col-sm-12
          = check_box_tag 'case_type', 'cases', checked = @display_column.include?('cases'), class: 'i-checks'
          = label_tag 'case_type', format_header('case_type')
      %li
        .visibility.col-sm-12
          = check_box_tag 'agency_name', 'agency', checked = @display_column.include?('agency'), class: 'i-checks'
          = label_tag 'agency_name', format_header('agency_name')
      %li
        .visibility.col-sm-12
          = check_box_tag 'received_by_id', 'received_by', checked = @display_column.include?('received_by'), class: 'i-checks'
          = label_tag 'received_by_id', format_header('received_by_id')
      %li
        .visibility.col-sm-12
          = check_box_tag 'birth_province_id', 'birth_province', checked = @display_column.include?('birth_province'), class: 'i-checks'
          = label_tag 'birth_province_id', format_header('birth_province_id')
      %li
        .visibility.col-sm-12
          = check_box_tag 'province_id', 'province', checked = @display_column.include?('province'), class: 'i-checks'
          = label_tag 'province_id', format_header('province_id')
      %li
        .visibility.col-sm-12
          = check_box_tag 'referral_source_id', 'referral_source', checked = @display_column.include?('referral_source'), class: 'i-checks'
          = label_tag 'referral_source_id', format_header('referral_source_id')
      %li
        .visibility.col-sm-12
          = check_box_tag 'followed_up_by_id', 'followed_up_by', checked = @display_column.include?('followed_up_by'), class: 'i-checks'
          = label_tag 'followed_up_by_id', format_header('followed_up_by_id')
      %li
        .visibility.col-sm-12
          = check_box_tag 'has_been_in_government_care', 'has_been_in_government_care', checked = @display_column.include?('has_been_in_government_care'), class: 'i-checks'
          = label_tag 'has_been_in_government_care', format_header('has_been_in_government_care')
      %li
        .visibility.col-sm-12
          = check_box_tag 'able_state', 'able_state', checked = @display_column.include?('able_state'), class: 'i-checks'
          = label_tag 'able_state', format_header('able_state')
      %li
        .visibility.col-sm-12
          = check_box_tag 'has_been_in_orphanage', 'has_been_in_orphanage', checked = @display_column.include?('has_been_in_orphanage'), class: 'i-checks'
          = label_tag 'has_been_in_orphanage', format_header('has_been_in_orphanage')
      %li
        .visibility.col-sm-12
          = check_box_tag 'user_id', 'user', checked = @display_column.include?('user'), class: 'i-checks'
          = label_tag 'user_id', format_header('user_id')
