%ul.check-columns-visibility
  %li.dropdown
    %a.dropdown-toggle.btn.btn-default{'data-toggle' => 'dropdown', href: '#'}
      = t('datagrid.columns.select_columns')
      %span.caret
    %ul.dropdown-menu.columns-visibility
      %li
        .all-visibility.col-sm-12
          = check_box_tag 'all', 'all', checked = @display_column.include?('all'), class: 'i-checks'
          = label_tag 'all_' do
            %strong= t('datagrid.columns.show_all')
      %li
        .visibility.col-sm-12
          = check_box_tag 'code', 'code', checked = @display_column.include?('code'), class: 'i-checks'
          = label_tag 'code', 'code'
      %li
        .visibility.col-sm-12
          = check_box_tag 'grade', 'grade', checked = @display_column.include?('grade'), class: 'i-checks'
          = label_tag 'grade', 'grade'
      %li
        .visibility.col-sm-12
          = check_box_tag 'family_id', 'family_id', checked = @display_column.include?('family_id'), class: 'i-checks'
          = label_tag 'family_id', 'family_id'
      %li
        .visibility.col-sm-12
          = check_box_tag 'age', 'age', checked = @display_column.include?('age'), class: 'i-checks'
          = label_tag 'age', 'age'
      %li
        .visibility.col-sm-12
          = check_box_tag 'first_name', 'first_name', checked = @display_column.include?('first_name'), class: 'i-checks'
          = label_tag 'first_name', 'first_name'
      %li
        .visibility.col-sm-12
          = check_box_tag 'last_name', 'last_name', checked = @display_column.include?('last_name'), class: 'i-checks'
          = label_tag 'last_name', 'last_name'
      %li
        .visibility.col-sm-12
          = check_box_tag 'local_first_name', 'local_first_name', checked = @display_column.include?('local_first_name'), class: 'i-checks'
          = label_tag 'local_first_name', 'local_first_name'
      %li
        .visibility.col-sm-12
          = check_box_tag 'local_last_name', 'local_last_name', checked = @display_column.include?('local_last_name'), class: 'i-checks'
          = label_tag 'local_last_name', 'local_last_name'
      %li
        .visibility.col-sm-12
          = check_box_tag 'family_name', 'family_name', checked = @display_column.include?('family_name'), class: 'i-checks'
          = label_tag 'family_name', 'family_name'
      %li
        .visibility.col-sm-12
          = check_box_tag 'slug', 'slug', checked = @display_column.include?('slug'), class: 'i-checks'
          = label_tag 'slug', 'slug'
      %li
        .visibility.col-sm-12
          = check_box_tag 'referral_phone', 'referral_phone', checked = @display_column.include?('referral_phone'), class: 'i-checks'
          = label_tag 'referral_phone', 'referral_phone'
      %li
        .visibility.col-sm-12
          = check_box_tag 'school_name', 'school_name', checked = @display_column.include?('school_name'), class: 'i-checks'
          = label_tag 'school_name', 'school_name'
      %li
        .visibility.col-sm-12
          = check_box_tag 'placement_date', 'placement_date', checked = @display_column.include?('placement_date'), class: 'i-checks'
          = label_tag 'placement_date', 'placement_date'
      %li
        .visibility.col-sm-12
          = check_box_tag 'date_of_birth', 'date_of_birth', checked = @display_column.include?('date_of_birth'), class: 'i-checks'
          = label_tag 'date_of_birth', 'date_of_birth'
      %li
        .visibility.col-sm-12
          = check_box_tag 'initial_referral_date', 'initial_referral_date', checked = @display_column.include?('initial_referral_date'), class: 'i-checks'
          = label_tag 'initial_referral_date', 'initial_referral_date'
      %li
        .visibility.col-sm-12
          = check_box_tag 'follow_up_date', 'follow_up_date', checked = @display_column.include?('follow_up_date'), class: 'i-checks'
          = label_tag 'follow_up_date', 'follow_up_date'
      %li
        .visibility.col-sm-12
          = check_box_tag 'gender', 'gender', checked = @display_column.include?('gender'), class: 'i-checks'
          = label_tag 'gender', 'gender'
      %li
        .visibility.col-sm-12
          = check_box_tag 'status', 'status', checked = @display_column.include?('status'), class: 'i-checks'
          = label_tag 'status', 'status'
      %li
        .visibility.col-sm-12
          = check_box_tag 'case_type', 'case_type', checked = @display_column.include?('case_type'), class: 'i-checks'
          = label_tag 'case_type', 'case_type'
      %li
        .visibility.col-sm-12
          = check_box_tag 'agency_name', 'agency_name', checked = @display_column.include?('agency_name'), class: 'i-checks'
          = label_tag 'agency_name', 'agency_name'
      %li
        .visibility.col-sm-12
          = check_box_tag 'received_by_id', 'received_by_id', checked = @display_column.include?('received_by_id'), class: 'i-checks'
          = label_tag 'received_by_id', 'received_by_id'
      %li
        .visibility.col-sm-12
          = check_box_tag 'birth_province_id', 'birth_province_id', checked = @display_column.include?('birth_province_id'), class: 'i-checks'
          = label_tag 'birth_province_id', 'birth_province_id'
      %li
        .visibility.col-sm-12
          = check_box_tag 'province_id', 'province_id', checked = @display_column.include?('province_id'), class: 'i-checks'
          = label_tag 'province_id', 'province_id'
      %li
        .visibility.col-sm-12
          = check_box_tag 'referral_source_id', 'referral_source_id', checked = @display_column.include?('referral_source_id'), class: 'i-checks'
          = label_tag 'referral_source_id', 'referral_source_id'
      %li
        .visibility.col-sm-12
          = check_box_tag 'followed_up_by_id', 'followed_up_by_id', checked = @display_column.include?('followed_up_by_id'), class: 'i-checks'
          = label_tag 'followed_up_by_id', 'followed_up_by_id'
      %li
        .visibility.col-sm-12
          = check_box_tag 'has_been_in_government_care', 'has_been_in_government_care', checked = @display_column.include?('has_been_in_government_care'), class: 'i-checks'
          = label_tag 'has_been_in_government_care', 'has_been_in_government_care'
      %li
        .visibility.col-sm-12
          = check_box_tag 'able_state', 'able_state', checked = @display_column.include?('able_state'), class: 'i-checks'
          = label_tag 'able_state', 'able_state'
      %li
        .visibility.col-sm-12
          = check_box_tag 'has_been_in_orphanage', 'has_been_in_orphanage', checked = @display_column.include?('has_been_in_orphanage'), class: 'i-checks'
          = label_tag 'has_been_in_orphanage', 'has_been_in_orphanage'
      %li
        .visibility.col-sm-12
          = check_box_tag 'user_id', 'user_id', checked = @display_column.include?('user_id'), class: 'i-checks'
          = label_tag 'user_id', 'user_id'