%hr
.row
  .col-xs-12.col-sm-3
    .image-space.able-screening-image.image-default
      - if f.object.has_image?
        = image_tag(f.object.able_screening_question.attachments.first.try(:image).try(:thumb))
  .col-xs-12.col-sm-9.col-md-6
    %p= f.object.able_screening_question.question
    - if f.object.able_screening_question.free_text?
      = f.input :description, as: :text, label: 'Answer'
    - else
      = f.input :description, as: :boolean, label: 'Yes/No', checked_value: 'Yes', unchecked_value: 'No'
    = f.input :able_screening_question_id, as: :hidden, input_html: { value: f.object.able_screening_question_id }
    = f.input :question_type, as: :hidden, input_html: { value: 'general' }
