.answer{ data: { 'from-age': "#{f.object.from_age_as_date}", 'to-age': "#{f.object.to_age_as_date}"} }
  - QuestionGroup.all.each do |qg|
    %tr
      %td= qg.name
      - AbleScreeningQuestion.with_stage.order('stage_id').each do |asq|
        - if f.object.question_group_id == qg.id
          %td
            .row
              .col-xs-12
                - if f.object.has_image?
                  = image_tag(f.object.able_screening_question.attachments.first.try(:image).try(:thumb), class: 'img-circle')
            .row
              .col-xs-12
                %h5= asq.question
            .row
              .col-xs-12
                - if f.object.able_screening_question.free_text?
                  = f.input :description, label: 'Answer'
                - else
                  = f.input :description, as: :boolean, label: 'Yes/No', checked_value: 'Yes', unchecked_value: 'No'
                = f.input :able_screening_question_id, as: :hidden, input_html: { value: f.object.able_screening_question_id }
                = f.input :question_type, as: :hidden, input_html: { value: 'stage' }
