.modal.fade.assessment-domain-score{ role: 'dialog', tabindex: '-1', id: 'assessment-domain-score', data: { 'filename' => "client_assessment_domain_report-#{Time.now}"  } }
  .modal-dialog{ role: 'document'}
    .modal-content
      .modal-header
        %button.close{"aria-label" => 'Close', "data-dismiss" => 'modal'}
          %span{"aria-hidden" => 'true'} &times;
        %h4.modal-title
          = t('.assessment_data')

      .modal-body
        %div
          %ul.assessment-score-data.nav.nav-tabs{role: "tablist"}
            %li.active{role: "presentation"}
              %a{"data-toggle": "tab", href: "#assessment-score", role: "tab"}
                = t('.score_tabs')
            %li{role: "presentation"}
              %a{"data-toggle": "tab", href: "#assessment-age", role: "tab"}
                = t('.age_tabs')
            %li{role: "presentation"}
              %a{"data-toggle": "tab", href: "#assessment-referral-category", role: "tab"}
                = t('.referral_category_tabs')
          .tab-content
            = render 'assessment_score_tab'
            = render 'assessment_age_tab'
            = render 'assessment_referral_category_tab'

      .modal-footer
        %button.btn.btn-default.form-btn.editable-cancel{"data-dismiss" => "modal", :type => "button"}= t('.close')