#assessment-referral-category.tab-pane{role: "tabpanel"}
  %table.table.table-bordered.table-striped.table-hover.assessment-score-data#csi-assessment-referral-category
    %thead
      %tr
        %th.text-center{:rowspan => 2}= t('.referral_source_category')
        %th.text-center{:colspan => 3}= t('.children')
        %th.text-center{:colspan => 3}= t('.adult')
        %th.text-center{:rowspan => 2}= t('.total')
      %tr
        %th= t('.female')
        %th= t('.male')
        %th= t('.other')
        %th= t('.female')
        %th= t('.male')
        %th= t('.other')
    %tbody
      - totalChildFemale = totalChildMale = totalChildOther = 0
      - totalAdultFemale = totalAdultMale = totalAdultOther = total = 0
      - ReferralSource.where(id: Client.pluck(:referral_source_category_id).compact).each do |referralSource|
        %tr
          %td= referralSource.name
          - childFemale= Client.where("referral_source_category_id = ? AND gender = ? AND (EXTRACT(year FROM age(current_date, date_of_birth)) :: int) < ?", referralSource.id, 'female', 18).count
          - totalChildFemale += childFemale
          %td= childFemale
          - childMale= Client.where("referral_source_category_id = ? AND gender = ? AND (EXTRACT(year FROM age(current_date, date_of_birth)) :: int) < ?", referralSource.id, 'male', 18).count
          - totalChildMale += childMale
          %td= childMale
          - childOther= Client.where("referral_source_category_id = ? AND gender = ? AND (EXTRACT(year FROM age(current_date, date_of_birth)) :: int) < ?", referralSource.id, 'other', 18).count
          - totalChildOther += childOther
          %td= childOther
          - adultFemale= Client.where("referral_source_category_id = ? AND gender = ? AND (EXTRACT(year FROM age(current_date, date_of_birth)) :: int) >= ?", referralSource.id, 'female', 18).count
          - totalAdultFemale += adultFemale
          %td= adultFemale
          - adultMale= Client.where("referral_source_category_id = ? AND gender = ? AND (EXTRACT(year FROM age(current_date, date_of_birth)) :: int) >= ?", referralSource.id, 'male', 18).count
          - totalAdultMale += adultMale
          %td= adultMale
          - adultOther= Client.where("referral_source_category_id = ? AND gender = ? AND (EXTRACT(year FROM age(current_date, date_of_birth)) :: int) >= ?", referralSource.id, 'other', 18).count
          - totalAdultOther += adultOther
          %td= adultOther
          - totalProgram= childFemale + childMale + childOther + adultFemale + adultMale + adultOther
          - total += totalProgram
          %td= totalProgram
      %tr
        %td.font-bold= t('.total')
        %td= totalChildFemale
        %td= totalChildMale
        %td= totalChildOther
        %td= totalAdultFemale
        %td= totalAdultMale
        %td= totalAdultOther
        %td= total