.modal.fade.assessment-domain-score{ role: 'dialog', tabindex: '-1', id: 'assessment-domain-score', data: { 'filename' => "client_assessment_domain_report-#{Time.now}"  } }
  .modal-dialog{ role: 'document'}
    .modal-content
      .modal-header
        %button.close{"aria-label" => 'Close', "data-dismiss" => 'modal'}
          %span{"aria-hidden" => 'true'} &times;
        %h4.modal-title
          = t('.assessment_data')

      .modal-body
        -# - if params['commit'].present? || params['client_advanced_search'].present?
        -#   = link_to current_url(format: 'xls', type: 'csi_assessment'), class: 'btn btn-primary btn-export pull-right csi-assessment-score' do
        -#     %i.fa.fa-download
        -#     = t('.export_to_xls')
        - domain_ids = []
        %table.table.table-bordered.table-striped.table-hover.assessment-score-data#csi-assessment-score
          = hidden_field(:hidden, :api_assessment, class: 'api-assessment-path', data: { 'assessment-params': assessments_api_clients_path(client_ids: @client_grid.assets.ids.to_param, default: true) })
          = hidden_field(:hidden, :assessment_domain_headers, class: 'assessment-domain-headers', data: { headers: assess_header_mapping(true).to_json } )

      .modal-footer
        %button.btn.btn-default.form-btn.editable-cancel{"data-dismiss" => "modal", :type => "button"}= t('.close')