- CustomAssessmentSetting.cache_only_enable_custom_assessment.each do |custom_csi_setting|
  .modal.fade.assessment-domain-score{ role: 'dialog', tabindex: '-1', id: "custom-assessment-domain-score-#{custom_csi_setting.id}", data: { 'filename' => "client_assessment_domain_report-#{Time.now}"  } }
    .modal-dialog{ role: 'document'}
      .modal-content
        .modal-header
          %button.close{"aria-label" => 'Close', "data-dismiss" => 'modal'}
            %span{"aria-hidden" => 'true'} &times;
          %h4.modal-title
            = t('.assessment_data', assessment: custom_csi_setting.custom_assessment_name)

        .modal-body
          - domain_ids = []
          %table.table.table-bordered.table-striped.table-hover.assessment-score-data{ id: "custom-assessment-score-#{custom_csi_setting.id}" }
            = hidden_field(:hidden, :custom_api_assessment, class: 'api-assessment-path', data: { 'assessment-params': assessments_api_clients_path(default: false, assessment_id: custom_csi_setting.id) })
            = hidden_field(:hidden, :custom_assessment_domain_headers, class: 'assessment-domain-headers', data: { headers: custom_assessment_header_mapping[custom_csi_setting.id].to_json } )
        .modal-footer
          %button.btn.btn-default.form-btn.editable-cancel{"data-dismiss" => "modal", :type => "button"}= t('.close')
