.modal.fade{ role: 'dialog', tabindex: '-1', id: 'exitForm' }
  .modal-dialog{ role: 'document'}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "#{t('.close')}", "data-dismiss" => 'modal'}
          %span{"aria-hidden" => 'true'} &times;
        %h4.modal-title
          .pull-left
            - if @client.state == "accepted"
              = t('.exit_ngo')
            - else
              = t('.reject_client')
          .pull-right
            = "Client ID - #{@client.slug}"

      .modal-body
        = simple_form_for(@client) do |f|
          = f.error_notification
          .row
            .col-xs-12.col-sm-12.col-md-12

          .row
            .col-xs-12.col-sm-6.col-md-6
              %h3= @client.en_and_local_name

              %h3= "#{@client.gender.try(:titleize)} #{date_format(@client.date_of_birth)}"

              .form-inputs
                .form-group.date.client_exit_date
                  %label.date.required.control-label{ for: 'client_exit_date' }
                    %abbr{ title: 'required' } *
                    = t('.exit_date')
                  .input-group.date
                    = f.text_field :exit_date, required: true, class: 'date form-control date-picker .datepicker-dropdown exit_date', type: 'text', name: 'client[exit_date]', id: 'client_exit_date'
                    %span.input-group-addon
                      %i.fa.fa-calendar-check-o

              .form-inputs.i-checks
                %label= t('.exit_reason')
                %br
                - Client::REASONS.each do |exit_reason|
                  = f.check_box :exit_reason, { multiple: true }, exit_reason, false
                  %label{class: 'exit_reasons'}= exit_reason
                  %br

              .form-inputs
                = f.input :other_info, label: t('.other_info')

              / .form-inputs
              /   = f.input :status, collection: Client::EXIT_STATUSES, include_blank: false, label: t('.exit_status')

            .col-xs-12.col-sm-6.col-md-6
              .form-group
                %label= t('.case_worker_or_staff')
                = f.association :users, collection: @users, label: t('.case_worker_or_staff'), include_blank: false, multiple: true, disabled: true, label: false
              - if @client.status == "Referred" && @client.state == "accepted"
                .form-inputs
                  = f.input :exit_curcumstance, label: t('.exit_curcumstance'), input_html: {value: 'Exited Client'}, readonly: true
                .form-inputs
                  = f.input :exit_note, label: t('.exit_note'), input_html: { class: 'exit_note', rows: '12' }
              - else
                .form-inputs
                  = f.input :exit_curcumstance, label: t('.exit_curcumstance'), input_html: {value: 'Rejected Referral'}, readonly: true
                .form-inputs
                  = f.hidden_field :state, value: 'rejected'
                .form-inputs
                  = f.input :rejected_note, label: t('.rejected_note'), input_html: { class: 'rejected_note', rows: '12' }


          .text-right
            %button.btn.btn-default{"data-dismiss" => 'modal'}= t('cancel')
            = f.submit t('.exit_btn'), class: 'btn btn-danger confirm-exit', disabled: :disabled
