= simple_form_for(@client) do |f|
  = hidden_field(:client, :id, value: @client.id)
  .ibox-content
    = error_notification(f)
    .form-inputs
      .row
        .col-xs-12.col-sm-6.col-md-4= f.input :given_name, label: t('.given_name')
        .col-xs-12.col-sm-6.col-md-4= f.input :family_name, label: t('.family_name')
        .col-xs-12.col-sm-6.col-md-4= f.input :local_given_name, label: t('.local_given_name')
        .col-xs-12.col-sm-6.col-md-4= f.input :local_family_name, label: t('.local_family_name')
        .col-xs-12.col-sm-6.col-md-4= f.input :gender, collection: [['Male', 'male'], ['Female', 'female']], include_blank: false, label: t('.gender')
        .col-xs-12.col-sm-6.col-md-4= f.input :kid_id, label: t('.kid_id')
        .col-xs-12.col-sm-6.col-md-4.form-group.date.optional.client_date_of_birth
          %label.date.optional.control-label{ for: 'client_date_of_birth' }= t('.date_of_birth')
          #client-birthdate.input-group.date
            = f.text_field :date_of_birth, class: 'date optional form-control date-picker', type: 'text', name: 'client[date_of_birth]', id: 'client_date_of_birth'
            %span.input-group-addon
              %i.fa.fa-calendar-check-o
        .col-xs-12.col-sm-6.col-md-4= f.input :school_name, label: t('.school_name')
        .col-xs-12.col-sm-6.col-md-4= f.input :grade, label: t('.school_grade')
        .col-xs-12.col-sm-6.col-md-4= f.input :birth_province_id, collection: @province.map{|p| [p.name, p.id]},  label: t('.province')
        .col-xs-12.col-sm-6.col-md-4= f.association :province, collection: @province, label: t('.current_province'), include_blank: false
        .col-xs-12.col-sm-6.col-md-4
          = f.association :donor, collection: @donors, label: t('.donor')
        - if f.object.current_address.present?
          .col-xs-12.col-sm-6.col-md-4= f.input :current_address, input_html: { rows: '6' }, label: t('.current_address')
        .col-xs-12.col-sm-6.col-md-4= f.input :house_number, label: t('.house_number')
        .col-xs-12.col-sm-6.col-md-4= f.input :street_number, label: t('.street_number')
        .col-xs-12.col-sm-6.col-md-4= f.input :village, label: t('.village')
        .col-xs-12.col-sm-6.col-md-4= f.input :commune, label: t('.commune')
        .col-xs-12.col-sm-6.col-md-4= f.input :district, label: t('.district')
        .col-xs-12.col-sm-6.col-md-4= f.association :users, collection: @users, label: t('.case_worker_or_staff'), include_blank: false, multiple: true

        .col-xs-12.col-sm-6.col-md-4= f.input :received_by_id, collection: @users, label: t('.received_by'), include_blank: false
        .col-xs-12.col-sm-6.col-md-4= f.input :followed_up_by_id, collection: @users, label: t('.followed_up_by'), include_blank: false
        .col-xs-12.col-sm-6.col-md-4.form-group.date.optional.client_initial_referral_date
          %label.date.optional.control-label{ for: 'client_initial_referral_date' }= t('.initial_referral_date')
          .input-group.date
            = f.text_field :initial_referral_date, class: 'date optional form-control date-picker', type: 'text', name: 'client[initial_referral_date]', id: 'client_initial_referral_date'
            %span.input-group-addon
              %i.fa.fa-calendar-check-o

        .col-xs-12.col-sm-6.col-md-4= f.association :agencies, collection: @agencies, multiple: true, label_method: :name, value_method: :id, label: t('.agencies_involved')
        .col-xs-12.col-sm-6.col-md-4= f.association :referral_source, collection: @referral_source, label: t('.referral_source'), include_blank: false
        .col-xs-12.col-sm-6.col-md-4.form-group.date.optional.client_follow_up_date
          %label.date.optional.control-label{ for: 'client_follow_up_date' }= t('.follow_up_date')
          .input-group.date
            = f.text_field :follow_up_date, class: 'date optional form-control date-picker', type: 'text', name: 'client[follow_up_date]', id: 'client_follow_up_date'
            %span.input-group-addon
              %i.fa.fa-calendar-check-o

        .col-xs-12.col-sm-6.col-md-4
          = f.input :referral_phone, label: t('.referral_phone')
        .col-xs-12.col-sm-6.col-md-4
          .i-checks.has-been-in-orphanage
            %label= "#{t('.has_been_in_orphanage')}?"
            = f.input :has_been_in_orphanage, as: :radio_buttons, collection: [['Yes', true],['No', false]], label: false
        .col-xs-12.col-sm-6.col-md-4
          .i-checks.has-been-in-government-care
            %label= "#{t('.has_been_in_government_care')}?"
            = f.input :has_been_in_government_care, as: :radio_buttons, collection: [['Yes', true],['No', false]], label: false
        .col-xs-12.col-sm-6.col-md-4
          = f.input :able_state, collection: Client::ABLE_STATES, label: t('.able_state')
        .col-xs-12.col-sm-6.col-md-4
          = f.input :live_with, label: t('.live_with')
        .col-xs-12.col-sm-6.col-md-4
          = f.input :id_poor, label: t('.id_poor')
        - if @client.exit_date_was.present?
          .col-xs-12.col-sm-6.col-md-4.form-group.date.optional{ class: ('has-error' if f.error :exit_date) }
            %label.date.optional.control-label
              %abbr{ title: 'required' } *
              = t('.exit_date')
            .input-group.date
              = f.text_field :exit_date, class: 'date optional form-control date-picker', type: 'text', name: 'client[exit_date]', id: 'client_exit_date', required: true
              %span.input-group-addon
                %i.fa.fa-calendar-check-o
            = f.error :exit_date
          .col-xs-12.col-sm-6.col-md-4
            = f.input :status, collection: Client::EXIT_STATUSES, include_blank: false, label: t('.exit_status')
          .col-xs-12.col-sm-6.col-md-4
            = f.input :exit_note, label: t('.exit_note'), required: true
      .row
        .col-xs-12.col-md-8
          = f.input :relevant_referral_information, input_html: { rows: '5' }, label: t('.relevant_referral_information')

      - QuantitativeType.all.each do |qt|
        .row
          .col-xs-12.col-md-8
            %label{ title: qt.name }= qt.name
            = f.association :quantitative_cases, collection: qt.quantitative_cases, multiple: true, label_method: :value, value_method: :id, label: false, input_html: { class: able_related_info(qt.name) }

  .ibox-footer
    %button.btn.btn-primary.form-btn#submit-button{ type: 'button' }
      = t('save')
    - if @client.persisted?
      = link_to t('cancel'), client_path(@client), class: 'btn btn-default form-btn'
    - else
      = link_to t('cancel'), clients_path, class: 'btn btn-default form-btn'

= render 'confirm_client'
