= simple_form_for @client, html: { id: 'client-wizard-form'} do |f|
  = hidden_field_tag :client_id, @client.id
  = hidden_field_tag :client_status, @client.status
  = f.hidden_field :slug, input_html: { value: @client.slug }
  = f.hidden_field :status, input_html: { value: @client.status }
  = f.hidden_field :country_origin, input_html: { value: @client.country_origin }

  .client-steps{ data: {blank: t('.blank'), next: t('.next'), previous: t('.previous'), done: t('.done')} }
    = render 'getting_started', f: f
    = render 'living_detail', f: f
    = render 'other_detail', f: f
    = render 'specific_point', f: f
  - if @client.persisted?
    .text-right
      = f.submit t('save'), class: 'btn btn-primary save-edit-client'
    = link_to t('cancel'), client_path, class: 'btn btn-default cancel-client-button'
  - else
    = link_to t('cancel'), clients_path, class: 'btn btn-default cancel-client-button'

  = render 'confirm_client'
