= simple_form_for(@client, html: { class: 'client-form' }) do |f|
  = hidden_field(:client, :id, value: @client.id)
  .ibox-content
    = error_notification(f)
    .form-inputs
      .row
        .col-xs-12.col-sm-6.col-md-4= f.input :given_name, label: t('.given_name')
        .col-xs-12.col-sm-6.col-md-4= f.input :family_name, label: t('.family_name')
        .col-xs-12.col-sm-6.col-md-4= f.input :local_given_name, label: t('.local_given_name')
        .col-xs-12.col-sm-6.col-md-4= f.input :local_family_name, label: t('.local_family_name')
        .col-xs-12.col-sm-6.col-md-4= f.input :gender, collection: [['Male', 'male'], ['Female', 'female']], label: t('.gender')
        .col-xs-12.col-sm-6.col-md-4= f.input :kid_id, label: t('.kid_id')
        .col-xs-12.col-sm-6.col-md-4.form-group.date.optional.client_date_of_birth
          %label.date.optional.control-label{ for: 'client_date_of_birth' }= t('.date_of_birth')
          #client-birthdate.input-group.date
            = f.text_field :date_of_birth, class: 'date optional form-control date-picker', type: 'text', name: 'client[date_of_birth]', id: 'client_date_of_birth'
            %span.input-group-addon
              %i.fa.fa-calendar-check-o
        .col-xs-12.col-sm-6.col-md-4= f.input :school_name, label: t('.school_name')
        .col-xs-12.col-sm-6.col-md-4= f.input :school_grade, label: t('.school_grade')
        .col-xs-12.col-sm-6.col-md-4= f.input :birth_province_id, collection: @province.map{|p| [p.name, p.id]},  label: t('.province')
        .col-xs-12.col-sm-6.col-md-4
          = f.association :donor, collection: @donors, label: t('.donor')
        - if f.object.current_address.present?
          .col-xs-12.col-sm-6.col-md-4= f.input :current_address, input_html: { rows: '6' }, label: t('.current_address')
        .col-xs-12.col-sm-6.col-md-4= f.association :province, collection: @province, label: t('.current_province')
        .col-xs-12.col-sm-6.col-md-4= f.association :district, collection: @districts, label: t('.district')
        .col-xs-12.col-sm-6.col-md-4= f.input :commune, label: t('.commune')
        .col-xs-12.col-sm-6.col-md-4= f.input :village, label: t('.village')
        .col-xs-12.col-sm-6.col-md-4= f.input :street_number, label: t('.street_number')
        .col-xs-12.col-sm-6.col-md-4= f.input :house_number, label: t('.house_number')
        .col-xs-12.col-sm-6.col-md-4= f.input :telephone_number, label: t('.telephone_number')
        .col-xs-12.col-sm-6.col-md-4= f.input :live_with, label: t('.live_with')
        .col-xs-12.col-sm-6.col-md-4= f.input :id_poor, label: t('.id_poor')
        .col-xs-12.col-sm-6.col-md-4= f.association :users, collection: @users, label: t('.case_worker_or_staff'), include_blank: false, multiple: true

        .col-xs-12.col-sm-6.col-md-4= f.input :received_by_id, collection: @users, label: t('.received_by')
        .col-xs-12.col-sm-6.col-md-4= f.input :followed_up_by_id, collection: @users, label: t('.followed_up_by')
        .col-xs-12.col-sm-6.col-md-4.form-group.date.optional.client_initial_referral_date
          %label.date.optional.control-label{ for: 'client_initial_referral_date' }= t('.initial_referral_date')
          .input-group.date
            = f.text_field :initial_referral_date, class: 'date optional form-control date-picker', type: 'text', name: 'client[initial_referral_date]', id: 'client_initial_referral_date'
            %span.input-group-addon
              %i.fa.fa-calendar-check-o

        .col-xs-12.col-sm-6.col-md-4= f.association :agencies, collection: @agencies, multiple: true, label_method: :name, value_method: :id, label: t('.agencies_involved')
        .col-xs-12.col-sm-6.col-md-4= f.association :referral_source, collection: @referral_source, label: t('.referral_source')
        .col-xs-12.col-sm-6.col-md-4.form-group.date.optional.client_follow_up_date
          %label.date.optional.control-label{ for: 'client_follow_up_date' }= t('.follow_up_date')
          .input-group.date
            = f.text_field :follow_up_date, class: 'date optional form-control date-picker', type: 'text', name: 'client[follow_up_date]', id: 'client_follow_up_date'
            %span.input-group-addon
              %i.fa.fa-calendar-check-o

        .col-xs-12.col-sm-6.col-md-4
          = f.input :referral_phone, label: t('.referral_phone')
        .col-xs-12.col-sm-6.col-md-4
          .i-checks.has-been-in-orphanage
            %label= "#{t('.has_been_in_orphanage')}?"
            = f.input :has_been_in_orphanage, as: :radio_buttons, collection: [['Yes', true],['No', false]], label: false
        .col-xs-12.col-sm-6.col-md-4
          .i-checks.has-been-in-government-care
            %label= "#{t('.has_been_in_government_care')}?"
            = f.input :has_been_in_government_care, as: :radio_buttons, collection: [['Yes', true],['No', false]], label: false
        - if @client.exit_date_was.present?
          .col-xs-12.col-sm-6.col-md-4.form-group.date.optional{ class: ('has-error' if f.error :exit_date) }
            %label.date.optional.control-label
              %abbr{ title: 'required' } *
              = t('.exit_date')
            .input-group.date
              = f.text_field :exit_date, class: 'date optional form-control date-picker', type: 'text', name: 'client[exit_date]', id: 'client_exit_date', required: true
              %span.input-group-addon
                %i.fa.fa-calendar-check-o
            = f.error :exit_date
          .col-xs-12.col-sm-6.col-md-4
            = f.input :status, collection: Client::EXIT_STATUSES, include_blank: false, label: t('.exit_status')
          .col-xs-12.col-sm-6.col-md-4
            = f.input :exit_note, label: t('.exit_note'), required: true
      .row
        .col-xs-12.col-md-8
          = f.input :relevant_referral_information, input_html: { rows: '5' }, label: t('.relevant_referral_information')

      - if government_reports_visible?
        .row
          .col-xs-12
            %hr
        .row
          .col-xs-12
            %h1= t('.gov_government_form')
          .col-xs-12.col-sm-6.col-md-4
            = f.input :gov_city, label: t('.gov_city')
          .col-xs-12.col-sm-6.col-md-4
            = f.input :gov_district, label: t('.gov_district')
          .col-xs-12.col-sm-6.col-md-4
            = f.input :gov_commune, label: t('.gov_commune')
          .col-xs-12.col-sm-6.col-md-4.form-group.date.optional.client_gov_date
            %label.date.optional.control-label{ for: 'client_gov_date' }= t('.gov_date')
            #client-gov-date.input-group.date
              = f.text_field :gov_date, class: 'date optional form-control date-picker', type: 'text', name: 'client[gov_date]', id: 'client_gov_date'
              %span.input-group-addon
                %i.fa.fa-calendar-check-o
          .col-xs-12.col-sm-6.col-md-4
            = f.input :gov_village_code, label: t('.gov_village_code')
          .col-xs-12.col-sm-6.col-md-4
            = f.input :gov_client_code, label: t('.gov_client_code')
            %br
          .col-xs-12
            #interview-place.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
              .panel.panel-default
                #headingInterviewPlace.panel-heading{:role => "tab"}
                  %h4.panel-title
                    %a{"aria-controls" => "collapseInterviewPlace", "aria-expanded" => "true", "data-parent" => "#interview-place", "data-toggle" => "collapse", :href => "#collapseInterviewPlace", :role => "button"}
                      = t('.gov_place_of_interview_client')
                #collapseInterviewPlace.panel-collapse.collapse.in{"aria-labelledby" => "headingInterviewPlace", :role => "tabpanel"}
                  .panel-body
                    .row
                      .col-xs-12.col-sm-6.col-md-4
                        = f.input :gov_interview_village, label: t('.gov_village')
                      .col-xs-12.col-sm-6.col-md-4
                        = f.input :gov_interview_commune, label: t('.gov_commune')
                      .col-xs-12.col-sm-6.col-md-4
                        = f.input :gov_interview_district, label: t('.gov_district')
                    .row
                      .col-xs-12.col-sm-6.col-md-4
                        = f.input :gov_interview_city, label: t('.gov_city')
                      .col-xs-12.col-sm-6.col-md-4
                        = f.association :interviewees, collection: @interviewees, as: :check_boxes, multiple: true, label_method: :name, value_method: :id, label: t('.gov_interviewees'), input_html: { class: 'i-checks' }
                    .row
                      .col-xs-12.col-sm-6.col-md-4
                        = f.input :gov_caseworker_name, label: t('.gov_caseworker_name')
                      .col-xs-12.col-sm-6.col-md-4
                        = f.input :gov_caseworker_phone, label: t('.gov_phone')
          .col-xs-12
            #client-basic-info.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
              .panel.panel-default
                #headingClientBasicInfo.panel-heading{:role => "tab"}
                  %h4.panel-title
                    %a{"aria-controls" => "collapseClientBasicInfo", "aria-expanded" => "true", "data-parent" => "#client-basic-info", "data-toggle" => "collapse", :href => "#collapseClientBasicInfo", :role => "button"}
                      = t('.gov_client_basic_info')
                #collapseClientBasicInfo.panel-collapse.collapse.in{"aria-labelledby" => "headingClientBasicInfo", :role => "tabpanel"}
                  .panel-body
                    %h3= t('.gov_client_carer')
                    .row
                      .col-xs-12.col-sm-6.col-md-4
                        = f.input :gov_carer_name, label: t('.gov_client_carer_name')
                      .col-xs-12.col-sm-6.col-md-4
                        = f.input :gov_carer_relationship, label: t('.gov_client_carer_relationship')
                      .col-xs-12.col-sm-6.col-md-4
                        = f.input :gov_carer_home, label: t('.gov_home')
                      .col-xs-12.col-sm-6.col-md-4
                        = f.input :gov_carer_street, label: t('.gov_street')
                      .col-xs-12.col-sm-6.col-md-4
                        = f.input :gov_carer_village, label: t('.gov_village')
                      .col-xs-12.col-sm-6.col-md-4
                        = f.input :gov_carer_commune, label: t('.gov_commune')
                      .col-xs-12.col-sm-6.col-md-4
                        = f.input :gov_carer_district, label: t('.gov_district')
                      .col-xs-12.col-sm-6.col-md-4
                        = f.input :gov_carer_city, label: t('.gov_city')
                      .col-xs-12.col-sm-6.col-md-4
                        = f.input :gov_carer_phone, label: t('.gov_phone')
                      .col-xs-12.col-sm-6.col-md-4
                        = f.input :gov_information_source, collection: [['អនាមិក', 'អនាមិក'], ['ច្បាស់លាស់', 'ច្បាស់លាស់']], label: t('.gov_information_source')
                    .row
                      .col-xs-12.col-sm-6
                        = f.association :client_types, collection: @client_types, as: :check_boxes, multiple: true, label_method: :name, value_method: :id, label: t('.gov_client_types'), input_html: { class: 'i-checks' }
          .col-xs-12
            #refferal-need-reason.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
              .panel.panel-default
                #headingReferralNeedReason.panel-heading{:role => "tab"}
                  %h4.panel-title
                    %a{"aria-controls" => "collapseReferralNeedReson", "aria-expanded" => "true", "data-parent" => "#refferal-need-reason", "data-toggle" => "collapse", :href => "#collapseReferralNeedReson", :role => "button"}
                      = t('.gov_reason_of_referral_and_need')
                #collapseReferralNeedReson.panel-collapse.collapse.in{"aria-labelledby" => "headingReferralNeedReason", :role => "tabpanel"}
                  .panel-body
                    .row
                      .col-xs-12.col-sm-8
                        = f.input :gov_referral_reason, label: t('.gov_summary_reason_of_referral'), input_html: { rows: '5' }
                    .row
                      .col-xs-12.col-sm-8
                        = f.input :gov_guardian_comment, label: t('.gov_guardian_comment'), input_html: { rows: '5' }
          .col-xs-12
            #caseworker-comment-section.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
              .panel.panel-default
                #headingCaseworkerCommentSection.panel-heading{:role => "tab"}
                  %h4.panel-title
                    %a{"aria-controls" => "collapseCaseworkerCommentSection", "aria-expanded" => "true", "data-parent" => "#caseworker-comment-section", "data-toggle" => "collapse", :href => "#collapseCaseworkerCommentSection", :role => "button"}
                      = t('.gov_caseworker_comment_section')
                #collapseCaseworkerCommentSection.panel-collapse.collapse.in{"aria-labelledby" => "headingCaseworkerCommentSection", :role => "tabpanel"}
                  .panel-body
                    .row
                      .col-xs-12
                        %h3= t('.gov_client_need')
                        #client_needs
                          .row
                            = f.simple_fields_for :client_needs do |client_need|
                              .col-xs-12.col-sm-6.col-md-4
                                = render 'client_need_fields', f: client_need
                    .row
                      .col-xs-12
                        %hr
                        %h3= t('.gov_client_problem')
                        #client_problems
                          .row
                            = f.simple_fields_for :client_problems do |client_problem|
                              .col-xs-12.col-sm-6.col-md-4
                                = render 'client_problem_fields', f: client_problem
                    .row
                      .col-xs-12
                        %hr
                      .col-xs-12.col-sm-8
                        = f.input :gov_caseworker_comment, label: t('.gov_caseworker_comment'), input_html: { rows: '5' }
        .row
          .col-xs-12
          %hr
      .row
        .col-xs-12
          #accordion-quantitative-type.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
            .panel.panel-default
              #headingQuantitativeType.panel-heading{:role => "tab"}
                %h4.panel-title
                  %a{"aria-controls" => "collapseQuantitativeType", "aria-expanded" => "true", "data-parent" => "#accordion-quantitative-type", "data-toggle" => "collapse", :href => "#collapseQuantitativeType", :role => "button"}
                    Specific Referral Data (Client Custom Field)
              #collapseQuantitativeType.panel-collapse.collapse.in{"aria-labelledby" => "headingQuantitativeType", :role => "tabpanel"}
                .panel-body
                  - QuantitativeType.all.each do |qt|
                    .row
                      .col-xs-12
                        %label{ title: qt.name }= qt.name
                        = f.association :quantitative_cases, collection: qt.quantitative_cases, multiple: true, label_method: :value, value_method: :id, label: false, input_html: { class: able_related_info(qt.name) }

  .ibox-footer
    %button.btn.btn-primary.form-btn#submit-button{ type: 'button' }
      = t('save')
    - if @client.persisted?
      = link_to t('cancel'), client_path(@client), class: 'btn btn-default form-btn'
    - else
      = link_to t('cancel'), clients_path, class: 'btn btn-default form-btn'

= render 'confirm_client'
