- if kc.present? && kc.exited == false
  .row
    .col-xs-12.case#case
      .panel.panel-default
        .panel-heading
          %h3
            = 'Kinship Care'
            - if can? :manage, Case
              %small
                = link_to edit_client_case_path(kc.client, kc) do
                  %i.glyphicon.glyphicon-pencil

        .panel-body
          .row
            .col-xs-6.col-sm-4.col-md-3.case-detail
              %strong Start Date
            .col-xs-6.col-sm-8.col-md-9.case-detail
              = ':'
              = kc.start_date.strftime('%B %d, %Y') if kc.start_date
          .row
            .col-xs-6.col-sm-4.col-md-3.case-detail
              %strong Carer Names
            .col-xs-6.col-sm-8.col-md-9.case-detail
              = ": #{kc.carer_names}"
          .row
            .col-xs-6.col-sm-4.col-md-3.case-detail
              %strong Carer Address
            .col-xs-6.col-sm-8.col-md-9.case-detail
              = ": #{kc.carer_address}"
          .row
            .col-xs-6.col-sm-4.col-md-3.case-detail
              %strong Province
            .col-xs-6.col-sm-8.col-md-9.case-detail
              = ':'
              = kc.province.name if kc.province
          .row
            .col-xs-6.col-sm-4.col-md-3.case-detail
              %strong Carer Phone Number
            .col-xs-6.col-sm-8.col-md-9.case-detail
              = ": #{kc.carer_phone_number}"
          .row
            .col-xs-6.col-sm-4.col-md-3.case-detail
              %strong Support Amount
            .col-xs-6.col-sm-8.col-md-9.case-detail
              = ": #{number_to_currency(kc.support_amount)}"
          .row
            .col-xs-6.col-sm-4.col-md-3.case-detail
              %strong Support Note
            .col-xs-6.col-sm-8.col-md-9.case-detail
              = ": #{kc.support_note}"
          .row
            .col-xs-6.col-sm-4.col-md-3.case-detail
              %strong Ongoing Partner
            .col-xs-6.col-sm-8.col-md-9.case-detail
              = ":"
              = partner kc.partner if kc.partner

          .row
            .col-xs-6.col-sm-4.col-md-3.case-detail
              %strong Family
            .col-xs-6.col-sm-8.col-md-9.case-detail
              = ":"
              = family kc.family if kc.family
          .row
            .col-xs-6.col-sm-4.col-md-3.case-detail
              %strong Family Preservation
            .col-xs-6.col-sm-8.col-md-9.case-detail
              = ":"
              = kc.family_preservation? ? 'YES' : 'NO'
          .row
            .col-xs-6.col-sm-4.col-md-3.case-detail
              %strong Exit Date
            .col-xs-6.col-sm-8.col-md-9.case-detail
              = ':'
              = kc.exit_date.strftime('%B %d, %Y') if kc.exit_date
          .row
            .col-xs-6.col-sm-4.col-md-3.case-detail
              %strong Exit Note
            .col-xs-6.col-sm-8.col-md-9.case-detail
              = ": #{kc.exit_note}"

          - if can? :manage, :all
            .row
              .col-xs-12
                = link_to 'View Legacy Quarterly Reports', client_case_quarterly_reports_path(@client, @client.cases.latest_kinship) if @client.cases.latest_kinship.quarterly_reports.any?

        - unless @client.cases.latest_kinship.exited
          .panel-footer
            %button.btn.btn-warning{"data-target" => '#exitKCForm', "data-toggle" => 'modal'} Exit

  = render 'exit_kc_form', kc: @client.cases.latest_kinship
