#table-summary-referral-category-tab.tab-pane{role: "tabpanel"}
  %table.table.table-bordered.table-striped.table-hover.assessment-score-data#table-summary-referral-category
    %thead
      %tr
        %th.text-center{:rowspan => 2}= t('clients.table_summary.referral_source_category')
        %th.text-center{:colspan => 3}= t('clients.table_summary.children')
        %th.text-center{:colspan => 3}= t('clients.table_summary.adult')
        %th.text-center{:rowspan => 2}= t('clients.table_summary.total')
      %tr
        %th= t('clients.table_summary.female')
        %th= t('clients.table_summary.male')
        %th= t('clients.table_summary.other')
        %th= t('clients.table_summary.female')
        %th= t('clients.table_summary.male')
        %th= t('clients.table_summary.other')
    %tbody
      - totalChildFemale = totalChildMale = totalChildOther = 0
      - totalAdultFemale = totalAdultMale = totalAdultOther = total = 0
      - ReferralSource.where(id: @results.pluck(:referral_source_category_id).uniq).each do |referralSource|
        %tr
          %td= referralSource.name
          %td= @results.child.female_shared_clients.where("referral_source_category_id = ? ", referralSource.id).count
          %td= @results.child.male_shared_clients.where("referral_source_category_id = ? ", referralSource.id).count
          %td= @results.child.non_binary_shared_clients.where("referral_source_category_id = ? ", referralSource.id).count
          %td= @results.adult.female_shared_clients.where("referral_source_category_id = ? ", referralSource.id).count
          %td= @results.adult.male_shared_clients.where("referral_source_category_id = ? ", referralSource.id).count
          %td= @results.adult.non_binary_shared_clients.where("referral_source_category_id = ? ", referralSource.id).count
          %td= @results.where("referral_source_category_id = ? ", referralSource.id).where.not(date_of_birth: nil).count
      %tr
        %td.font-bold= t('.total')
        %td= @results.child.female_shared_clients.count
        %td= @results.child.male_shared_clients.count
        %td= @results.child.non_binary_shared_clients.count
        %td= @results.adult.female_shared_clients.count
        %td= @results.adult.male_shared_clients.count
        %td= @results.adult.non_binary_shared_clients.count
        %td= @results.where.not(date_of_birth: nil).count
