#table-summary-age-tab.tab-pane.active{role: "tabpanel"}
  %table.table.table-bordered.table-striped.table-hover.assessment-score-data#table-summary-age
    %thead
      %tr
        %th.text-center{:rowspan => 2}= t('clients.table_summary.program')
        %th.text-center{:colspan => 3}= t('clients.table_summary.children')
        %th.text-center{:colspan => 3}= t('clients.table_summary.adult')
        %th.text-center{:rowspan => 2}= t('clients.table_summary.total')
      %tr
        %th= t('clients.table_summary.female')
        %th= t('clients.table_summary.male')
        %th= t('clients.table_summary.other')
        %th= t('clients.table_summary.female')
        %th= t('clients.table_summary.male')
        %th= t('clients.table_summary.other')
    %tbody
      - results = @results.joins(:client_enrollments).distinct
      - no_program_pesults = @results.includes(:client_enrollments).where(client_enrollments: {client_id: nil})
      - ProgramStream.where(id: results.pluck(:program_stream_id).uniq).each do |program|
        %tr
          %td= program.name
          %td= results.child.female_shared_clients.where("program_stream_id = ? ", program.id).count
          %td= results.child.male_shared_clients.where("program_stream_id = ? ", program.id).count
          %td= results.child.non_binary_shared_clients.where("program_stream_id = ? ", program.id).count
          %td= results.adult.female_shared_clients.where("program_stream_id = ? ", program.id).count
          %td= results.adult.male_shared_clients.where("program_stream_id = ? ", program.id).count
          %td= results.adult.non_binary_shared_clients.where("program_stream_id = ? ", program.id).count
          %td= results.where("program_stream_id = ? ", program.id).where.not(date_of_birth: nil).count
      %tr
        %td= t('clients.table_summary.no_program')
        %td= no_program_pesults.child.female_shared_clients.count
        %td= no_program_pesults.child.male_shared_clients.count
        %td= no_program_pesults.child.non_binary_shared_clients.count
        %td= no_program_pesults.adult.female_shared_clients.count
        %td= no_program_pesults.adult.male_shared_clients.count
        %td= no_program_pesults.adult.non_binary_shared_clients.count
        %td= no_program_pesults.where.not(date_of_birth: nil).count
      %tr
        %td= t('clients.table_summary.client_by_gender')
        %td= @results.child.female_shared_clients.count
        %td= @results.child.male_shared_clients.count
        %td= @results.child.non_binary_shared_clients.count
        %td= @results.adult.female_shared_clients.count
        %td= @results.adult.male_shared_clients.count
        %td= @results.adult.non_binary_shared_clients.count
        %td= @results.where.not(date_of_birth: nil).count

