%input#btn-done{ value: t('.popover_done'), type: 'hidden' }
%input#info{ value: t('.popover_info'), type: 'hidden' }
%input#content{ value: t('.popover_content'), type: 'hidden' }
.row
  .col-xs-12.col-md-9.action-button-group
    %button.btn.btn-primary.query.client-search{"aria-expanded" => 'false', "data-target" => '#client-search-form', "data-toggle" => 'collapse', type: 'button'}
      %i.fa.fa-filter

    %button.btn.btn-primary.query.client-advance-search{"aria-expanded" => 'false', "data-target" => '#client-advance-search-form', "data-toggle" => 'collapse', type: 'button'}
      = t('.report_builder')

    %button.btn.btn-primary{"aria-hidden" => 'true', "data-target" => '#report-builder-wizard-modal', "data-toggle" => 'modal', type: 'button'}
      = t('.report_builder_wizard')

    %button.btn.btn-primary#load-saved-search{ 'data-toggle': 'modal', 'data-target': '#load-save-search' }
      = t('.load_save_search')

    %button.btn.btn-primary#save-search-setting{ 'data-toggle': 'modal', 'data-target': '#save-query' }
      = t('.save_search_settings')
    - if params['commit'].present? || params['client_advanced_search'].present?
      = link_to current_url({format: 'xls', type: 'basic_info'}), class: 'btn btn-primary btn-export clients-list' do
        %i.fa.fa-download
        = t('.export_to_xls')
      - if enable_all_csi_tools?
        .btn-group
          %button.btn.btn-primary.dropdown-toggle{ "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button" }
            = t('.assessment_data')
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to '#', class: 'btn btn-default', 'data-target': "#assessment-domain-score", 'data-toggle': 'modal' do
                = t('.csi_assessment')
            %li
              = link_to '#', class: 'btn btn-default', 'data-target': "#custom-assessment-domain-score", 'data-toggle': 'modal' do
                = t('.custom_assessment')
          = render 'assessment_domain_score'
          = render 'custom_assessment_domain_score'
      - elsif enable_default_assessment?
        = link_to '#', class: 'btn btn-primary', 'data-target': "#assessment-domain-score", 'data-toggle': 'modal' do
          = t('.assessment_data')
        = render 'assessment_domain_score'
      - elsif enable_custom_assessment?
        = link_to '#', class: 'btn btn-primary', 'data-target': "#custom-assessment-domain-score", 'data-toggle': 'modal' do
          = t('.assessment_data')
        = render 'custom_assessment_domain_score'

    - if current_user.admin? || current_user.any_manager?
      - if params['commit'].present? || params['client_advanced_search'].present?
        %button.btn.btn-primary#client-statistic
          %i.fa.fa-line-chart
          %span= t('.reports')

  .col-xs-12.col-md-2
    .pull-right.client-option
      - if can? :manage, Client
        = link_to t('.add_new_client'), new_client_path, class: 'btn btn-primary'
.row
  = render 'clients/client_advanced_searches/save_search_setting'
.row
  = render 'clients/client_advanced_searches/load_save_search'

.row
  .col-xs-12
    .ibox-content#client-advance-search-form.collapse.main-report-builder
      = render 'clients/client_advanced_searches/advanced_search'

.row
  .col-xs-12
    .ibox-content#client-advance-search-wizard
      = render 'clients/client_advanced_searches/wizard'

.row
  .col-xs-12
    .ibox-content#client-search-form.collapse
      = datagrid_form_for @client_grid, url: clients_url, html: { class: 'grid-form' }

%input#params{ value: "#{params['client_advanced_search']}", type: 'hidden' }
.row#client-statistic-body
  .col-xs-12.mini-margin
    .ibox
      .row
        .col-xs-12.col-md-6
          .ibox-content
            - if params['client_advanced_search'].present?
              #cis-domain-score{ "data-csi-domain" => @csi_statistics, "data-title" => t('.csi_domain_scores'), "data-yaxis-title" => t('.domain_score')}
            - else
              #cis-domain-score{ "data-title" => t('.csi_domain_scores'), "data-yaxis-title" => t('.domain_score')}

        .col-xs-12.col-md-6
          .ibox-content
            - if params['client_advanced_search'].present?
              #program-statistic{ "data-program-statistic" => @enrollments_statistics, "data-title" => t('.active_programs'), "data-yaxis-title" => t('.client_amount') }
            - else
              #program-statistic{ "data-title" => t('.active_programs'), "data-yaxis-title" => t('.client_amount') }

- if params['commit'].present? || params['client_advanced_search'].present?
  .row.mini-margin
    .col-xs-12
      .ibox
        .ibox-title
          %h5= @results
          %span.label.label-info= t('.results')
          .ibox-tools
            - if params[:data] == 'recent'
              = link_to t('.show_all'), url_for(params.merge({data: 'all'})), class: 'btn btn-primary', id: 'show-all'
            - else
              = link_to t('.most_recent'), url_for(params.merge({data: 'recent'})), class: 'btn btn-primary', id: 'most-recent'

        .ibox-content
          .clients-table{ data: { 'info-load': t('.load'), 'info-end': t('.end'), 'read-more': t('.read_more'), 'read-less': t('.read_less') } }
            %table.table.table-bordered.table-striped.table-hover.clients#clients-list
              = content_tag :div, 'hidden_param', class: 'hide', id: 'hidden-param', data: { 'hidden-param': url_for(params) }
              %thead
                = datagrid_header(@client_grid)
              %tbody.page
                = render 'client_rows'

            %span.hidden{id:"sinfo", 'data-infoshow' => t('.sInfoShow'), 'data-infoto' => t('.sInfoTo'), 'data-infototal' => t('.sInfoTotal')}
        .ibox-footer.text-center
          = paginate @client_grid.assets
