.row
  .col-xs-12
    .panel.panel-default
      .panel-body
        .row
          .col-xs-6.col-md-2
            %button.btn.btn-primary.btn-filter{"aria-expanded" => 'false', "data-target" => '#client-search-form', "data-toggle" => 'collapse', type: 'button'}
              %i.glyphicon.glyphicon-filter
            - if can? :manage, :all
              .btn.btn-primary#client-statistic
                %i.glyphicon.glyphicon-stats
                %span= t('.reports')
          .col-xs-12.col-md-10
            .text-right
              - if can? :manage, Client
                = link_to t('.add_new_client'), new_client_path, class: 'btn btn-success'
              = link_to t('.view_all_active_tasks'), tasks_path, class: 'btn btn-default'
              = link_to t('.csi_domain_scores'), current_url({format: 'csv', type: 'basic_info'}), class: 'btn btn-default btn-export'
              = link_to t('.export_to_csv'), current_url(format: 'csv'), class: 'btn btn-default btn-export'
        .panel.panel-default#client-search-form.collapse
          .panel-body
            = datagrid_form_for @client_grid, url: clients_url, html: { class: 'grid-form' }

        - if can? :manage, :all
          .panel.panel-default#client-statistic-body
            .panel-heading 
              %h4= t('.reports')
            .panel-body.statistic
              .row
                .col-xs-12.col-md-6
                  .panel.panel-default
                    .panel-body
                      = line_chart(@csi_statistics, { library: { legend: { verticalAlign: 'top', y: 30, align: 'center' }, tooltip: { shared: true }, title: { text: t('.csi_domain_scores') }, xAxis: { tickmarkPlacement: 'on', }, yAxis: { title: { text: t('.domain_score') }}}})
                      
                .col-xs-12.col-md-6
                  .panel.panel-default
                    .panel-body
                      = line_chart(@cases_statistics, { library: { legend: { verticalAlign: 'top', y: 30 }, tooltip: { shared: true, xDateFormat: '%b %Y' }, title: { text: t('.case_statistics') }, xAxis: {dateTimeLabelFormats: { month: '%b %Y' }}, yAxis: { allowDecimals: false, title: { text: t('.client_amount'), max: @client_grid.assets.count }}}})
        .text-left.record-count
          %strong= @client_grid.assets.count
          %span= t('.records')
        .table-responsive
          = datagrid_table @client_grid, html: {class: 'table table-bordered table-striped table-hover clients'}
.row
  .col-xs-12.text-center
    = will_paginate @client_grid.assets, renderer: BootstrapPagination::Rails
