.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5.client-form-title= t('.new_client_title')
        .pull-right
          %h5= "Client ID - #{current_organization.short_name} ###"
        .consent-forms
          - if @referral.present? && @referral.consent_form.present?
            = link_to t('.download_supporting_documents'), @referral.consent_form.url, class: 'btn btn-info btn-sm btn-download', target: target_blank(@referral.consent_form)
      .ibox-content
        = render 'form'
