.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5.client-form-title= t('.new_client_title')
        .pull-right
          - if @client.slug.present?
            %h5= "Client ID - #{@client.slug}"
          - else
            %h5= "Client ID - #{current_organization.short_name} ###"
        .consent-forms
          - if @referral.present?
            = link_to t('.download_supporting_document'), @referral.consent_form.first.url, class: 'btn btn-info btn-sm btn-download', target: :_blank
      .ibox-content
        -# - if current_organization.aht
        -# - translations = { staff_responsibilities: t('clients.getting_started.staff_responsibilities'), received_by_id: t('clients.getting_started.received_by_id'), followed_up_by_id: t('clients.getting_started.followed_up_by_id'), users: t('clients.getting_started.users'), initial_referral_date: t('clients.getting_started.initial_referral_date'), follow_up_date: t('clients.getting_started.follow_up_date'), referral_information: t('clients.getting_started.referral_information'),   }
        = react_component('NewClientForm', { data: {client: @client, users: @users, referral_source_category: @referral_source_category, referral_source: @referral_source, birth_provinces: @birth_provinces} })
        -# - else
        -#   - binding.pry
        -#   = render 'form'
