.row
  .col-sm-12.col-md-8.client
    .row
      .col-xs-12
        .panel.panel-default
          .panel-body
            %h3.h3-header.pushing-bottom
              = "#{t('.general_info')} #{@client.name}"
              - if @client.status
                #{status_style(@client.status)}
            - if (can? :manage, Client) || (can? :rud, Client)
              %small.top-right-icon
                = link_to edit_client_path(@client) do
                  %i.glyphicon.glyphicon-pencil
                = link_to @client, method: 'delete', data: { confirm: 'Are you sure you want to delete?' } do
                  %i.glyphicon.glyphicon-trash
            .row
              .col-sm-12.col-md-6.first-table
                %table.table.table-bordered
                  %tr
                    %td.spacing-first-col
                      = t('.id')
                    %td
                      %strong
                        = @client.slug
                  %tr
                    %td.spacing-first-col
                      = t('.code')
                    %td
                      %strong
                        = @client.care_code
                  %tr
                    %td.spacing-first-col
                      = t('.gender')
                    %td
                      %strong
                        = @client.gender.titleize if @client.gender.present?
                  %tr
                    %td.spacing-first-col
                      = t('.date_of_birth')
                    %td
                      %strong
                        = @client.date_of_birth.strftime('%B %d, %Y') if @client.date_of_birth
                  %tr
                    %td.spacing-first-col
                      = t('.age')
                    %td
                      %strong
                        = "#{pluralize(@client.age_as_years, 'year')} #{pluralize(@client.age_extra_months, 'month')}" if @client.date_of_birth
                  %tr
                    %td.spacing-first-col
                      = t('.address')
                    %td
                      %strong
                        = @client.current_address
                  %tr
                    %td.spacing-first-col
                      = t('.completed')
                    %td
                      %strong
                        = human_boolean(@client.completed)
                  %tr
                    %td.spacing-first-col
                      = t('.birth_province')
                    %td
                      %strong
                        = "#{@client.birth_province.name}" if @client.birth_province
                  %tr
                    %td.spacing-first-col
                      = t('.initial_referral_date')
                    %td
                      %strong
                        = @client.initial_referral_date.strftime('%B %d, %Y') if @client.initial_referral_date
                  %tr
                    %td.spacing-first-col
                      = t('.referral_source')
                    %td
                      %strong
                        = @client.referral_source.name if @client.referral_source
                  %tr
                    %td.spacing-first-col
                      = t('.referral_phone')
                    %td
                      %strong
                        = @client.referral_phone.phony_formatted(normalize: :KH, format: :international) if @client.referral_phone
                  %tr
                    %td.spacing-first-col
                      = t('.received_by')
                    %td
                      %strong
                        = user @client.received_by if @client.received_by
                  %tr
                    %td.spacing-first-col
                      = t('.followed_up_by')
                    %td
                      %strong
                        = user @client.followed_up_by if @client.followed_up_by
                  %tr
                    %td.spacing-first-col
                      = t('.follow_up_date')
                    %td
                      %strong
                        = @client.follow_up_date.strftime('%B %d, %Y') if @client.follow_up_date
                  %tr
                    %td.spacing-first-col
                      = t('.agencies_involved')
                    %td
                      - @client.agencies.each do|agency|
                        %strong.label.label-default{style:'margin-right: 2px;'}
                          = agency.name
                  %tr
                    %td.spacing-first-col
                      = t('.current_province')
                    %td
                      %strong
                        = @client.province.name if @client.province

              .col-sm-12.col-md-6.second-table
                %table.table.table-bordered
                  %tr
                    %td.spacing-first-col
                      = t('.school_name')
                    %td
                      %strong
                        = @client.school_name
                  %tr
                    %td.spacing-first-col
                      = t('.school_grade')
                    %td
                      %strong
                        = @client.grade
                  %tr
                    %td.spacing-first-col
                      = "#{t('.has_been_in_orphanage')}?"
                    %td
                      %strong
                        = human_boolean(@client.has_been_in_orphanage)
                  %tr
                    %td.spacing-first-col
                      = "#{t('.able')}?"
                    %td
                      %strong
                        = human_boolean(@client.able)
                  %tr
                    %td.spacing-first-col
                      = "#{t('.has_been_in_government_care')}?"
                    %td
                      %strong
                        = human_boolean(@client.has_been_in_government_care)
                  %tr
                    %td.spacing-first-col
                      = t('.relevant_referral_information')
                    %td
                      %strong
                        = @client.relevant_referral_information
                  %tr
                    %td.spacing-first-col
                      = t('.case_worker_or_staff')
                    %td
                      %strong
                        = user @client.user if @client.user
                  = render 'state'
                  - @client.quantitative_cases.group_by(&:quantitative_type).each do |qtypes|
                    %tr.custom-label
                      %td.spacing-first-col
                        = qtypes.first.name
                      %td.display-label
                        %ul
                          - qtypes.last.each do |qcase|
                            %li
                              %b
                                = qcase.value
                            %br/

        .row
          = render 'placement'

  - if @client.state == ''
    .col-sm-12.col-md-4
      .row
        .col-xs-6.col-sm-4.col-md-6
          = simple_form_for @client, method: :put, url: client_path(@client) do |f|
            .form-inputs
              = f.hidden_field :state, value: 'accepted'
            .form-actions
              = f.button :submit, t('.accept'), class: 'btn btn-success agree-btn'
        .col-xs-6.col-sm-4.col-md-6
          %button.btn.btn-danger{"data-target" => '#rejectionForm', "data-toggle" => 'modal',class: 'agree-btn'} #{t('.reject')}
    #rejectionForm.modal.fade{ role: 'dialog', tabindex: '-1'}
      .modal-dialog{ role: 'document'}
        .modal-content
          .modal-header
            %button.close{"aria-label" => "#{t('close')}", "data-dismiss" => 'modal'}
              %span{"aria-hidden" => 'true'} &times;
            %h4.modal-title
              = t('.reject_client')
          .modal-body
            = simple_form_for(@client) do |f|
              = f.error_notification
              .form-inputs
                = f.input :rejected_note, required: true, label: "#{t('.note')}"
              .form-inputs
                = f.hidden_field :state, value: 'rejected'
              .form-actions.text-right
                %button.btn.btn-default{"data-dismiss" => 'modal'} #{t('cancel')}
                = f.button :submit, "#{t('.reject')}", class: 'btn btn-danger confirm-reject'

  - elsif @client.state == 'rejected'
    .col-sm-12.col-md-4
      = simple_form_for @client, method: :put, url: client_path(@client), html: { class: 'col-xs-12' } do |f|
        .form-inputs
          = f.hidden_field :state, value: 'accepted'
        .form-actions
          = f.button :submit, "#{t('.accept')}", class: 'btn btn-success agree-btn'
          %button.btn.btn-danger{ disabled: 'disabled', class:'agree-btn' } #{t('.reject')}

  - elsif @client.state == 'accepted'
    .col-sm-12.col-md-4
      .panel.panel-default
        .panel-body
          .row
            - if can? :manage, Case
              - if @client.cases.current.blank?
                = case_button('EC') if @client.can_add_ec?
                = case_button('FC') if @client.can_add_fc?
                = case_button('KC') if @client.can_add_kc?
              - else
                - unless @client.cases.current.fc_or_kc?
                  = case_button('FC') if @client.can_add_fc?
                  = case_button('KC') if @client.can_add_kc?

              - if @client.cases.active.any?
                .col-xs-10.col-xs-offset-1.btn.btn-warning.pushing-bottom{"data-target" => '#exitFromCif', "data-toggle" => 'modal'}
                  %h4
                    #{t('.exit_cif_btn')}
                = render 'exit_case_form', client_case: @client.cases.active.last, exit_from_cif: true

          .row
            = link_to client_tasks_path(@client) do
              .col-xs-10.col-xs-offset-1.pushing-bottom.color-turquoise
                %h1.white-text.text-center.middle-text
                  #{@client.tasks.incomplete.count}
                %h4.white-text.bottom-corner
                  #{t('.view_tasks')}
          .row
            = link_to client_assessments_path(@client) do
              .col-xs-10.col-xs-offset-1.pushing-bottom.color-turquoise
                %h1.white-text.text-center.middle-text
                  #{@client.assessments.count}
                %h4.white-text.bottom-corner
                  #{t('.view_assessments')}
          .row
            = link_to client_case_notes_path(@client) do
              .col-xs-10.col-xs-offset-1.color-turquoise
                %h1.white-text.text-center.middle-text
                  #{@client.case_notes.count}
                %h4.white-text.bottom-corner
                  #{t('.view_case_notes')}
          .row
            - if @client.cases.emergencies.inactive.present? && ec_manageable
              = link_to client_cases_path(@client, case_type: 'EC') do
                .col-xs-10.col-xs-offset-1.pushing-top.color-blue
                  %h2.white-text.text-center
                    #{t('.view_ec_history_btn_link')}
          .row
            - if @client.cases.fosters.inactive.present? && fc_manageable
              = link_to client_cases_path(@client, case_type: 'FC') do
                .col-xs-10.col-xs-offset-1.pushing-top.color-blue
                  %h2.white-text.text-center
                    #{t('.view_fc_history_btn_link')}
          .row
            - if @client.cases.kinships.inactive.present? && kc_manageable
              = link_to client_cases_path(@client, case_type: 'KC') do
                .col-xs-10.col-xs-offset-1.pushing-top.color-blue
                  %h2.white-text.text-center
                    #{t('.view_kc_history_btn_link')}

          - if @client.has_any_quarterly_reports?
            .row
              - if can? :manage, QuarterlyReport
                = link_to client_case_quarterly_reports_path(@client,@client.latest_case) do
                  .col-xs-10.col-xs-offset-1.pushing-top.color-brown
                    %h2.white-text.text-center
                      #{t('.view_legacy_quarterly_reports')}
          .row
            = link_to 'https://docs.google.com/forms/d/18HiMK-HIdj3_Alv4w5TxSLgEaKpjMkreeuQXysKjj4c/viewform?c=0&w=1', target: '_blank' do
              .col-xs-10.col-xs-offset-1.pushing-top.color-blue
                %h2.white-text.text-center
                  #{t('.take_survey')}
          .row
            = link_to client_government_reports_path(@client) do
              .col-xs-10.col-xs-offset-1.pushing-top.color-blue.government-reports
                %h4.white-text.text-center
                  = t('.government_report')
