- risk_assessment = @client.risk_assessment
- has_risk_assessment = current_setting.enabled_risk_assessment? && risk_assessment
.row
  .col-xs-12
    .alert.alert-warning.alert-dismissible{ :role => "alert" }
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %ul
        %li= Organization.ratanak? ?  I18n.t('inline_help.clients.show.notes.lists.ratanak.list1') : I18n.t('inline_help.clients.show.notes.lists.list1')
    .row
      %div{ class: "col-xs-12 col-md-#{ @client.referred? || @client.exit_ngo? ? '7' : '9' }"}
        %table.table.small.m-b-xs#main-info
          %tbody
            %tr
              %td{rowspan: '4'}
                - if @client.profile?
                  = image_tag @client.profile.photo, alt: @client.profile.file.filename, id: 'client_photo'
              %td
                = "#{t('.name')} :"
                = editable @client, :given_name, value: @client.given_name, url: api_client_path(@client.id), pk: @client.id
                = editable @client, :family_name, value: @client.family_name, url: api_client_path(@client.id), pk: @client.id
              - if @client.status
                %td
                  %a{:role => "button", :tabIndex => "0",  data:{ toggle: "popover", html: 'true', trigger: "focus", content: "#{I18n.t('inline_help.clients.show.status')}" } }
                    = fa_icon "info-circle", class: 'text-info m-xs'
                  = "#{t('.status')} :"
                  - if @client.for_testing
                    %span.show-status= status_style(t('.for_testing'))
                  %span.show-status= status_style(@client.status)
            %tr
              %td
                %a{:role => "button", :tabIndex => "0",  data:{ toggle: "popover", trigger: "focus", content: "#{I18n.t('inline_help.clients.show.id')}" } }
                  = fa_icon "info-circle", class: 'text-info m-xs'
                = "#{t('.id')} :"
                %strong= @client.slug
              %td
                = "#{t('.gender')} :"
                %strong= editable @client, :gender, type: :select, source: [Client::GENDER_OPTIONS, Client::GENDER_OPTIONS.map{|value| I18n.t("default_client_fields.gender_list.#{ value.gsub('other', 'other_gender') }") }].transpose.to_h, value: @client.gender, url: api_client_path(@client.id), pk: @client.id
            %tr
              %td
                = "#{t('.date_of_birth')} :"
                %strong= editable @client, :date_of_birth, type: :date, value: @client.date_of_birth_format, url: api_client_path(@client.id), pk: @client.id, placement: 'bottom'
              %td
                = "#{t('created_by')} #{whodunnit('Client', @client.id)} #{t('at')} #{ date_format @client.created_at }"
            %tr
              %td
                = "#{t('.age')} :"
                %strong= @client.age

              %td
                - if policy(@client).show?(:province)
                  = "#{t('.current_province')} :"
                  %strong= editable @client, :province_id, type: :select2, source: @current_provinces, value: @client.province&.name, url: api_client_path(@client.id), pk: @client.id
      - if @client.status == 'Referred'
        .col-xs-12.col-md-2
          .row
            .col-xs-12
              .row
                .col-xs-12
                  - if current_setting.cbdmat_one_off?
                    - if @client.one_off_screening_assessment.present?
                      %p= link_to t('screening_assessments._attr.view_cb_dmat'), client_screening_assessment_path(@client, @client.one_off_screening_assessment), class: 'btn btn-primary'
                    - else
                      %p= link_to t('screening_assessments._attr.cb_dmat'), if_date_of_birth_blank(@client), type: "button", **has_of_warning_model_if_dob_blank(@client), class: 'btn btn-primary'
              .row
                - if current_setting.use_screening_assessment? && @client.referred?
                  .col-xs-12
                    - if @client.require_screening_assessment?(current_setting)
                      .btn-group.small-btn-margin
                        %button.btn-sm.btn.btn-success.dropdown-toggle.btn-fit{ data: { toggle: "dropdown", trigger: 'hover', html: 'true', content: "#{I18n.t('inline_help.clients.show.add_form')}", placement: "auto" }, class: ('disabled' if @free_client_forms.empty? || (status_exited?(@client.status) && !current_user.admin?)) }
                          = t('.complete_screening_tool')
                          %span.caret
                        %ul.dropdown-menu.btn-fit.scrollable-dropdown-menu.add-form
                          %li
                            %p= link_to t('.complete_screening_assessment'), new_client_custom_field_property_path(@client, custom_field_id: current_setting.screening_assessment_form)
                    - elsif @client.require_screening_assessment?(current_setting)
                      = link_to t('.complete_screening_assessment'), new_client_custom_field_property_path(@client, custom_field_id: current_setting.screening_assessment_form), class: 'btn btn-success'
                    - elsif @client.custom_fields.include?(current_setting.screening_assessment_form)
                      = link_to t('.view_screening_assessment'), client_custom_field_properties_path(@client, custom_field_id: current_setting.screening_assessment_form), class: 'btn btn-success'

                .col-xs-12{ class: "#{'mini-margin' if current_setting.use_screening_assessment? && @client.referred? }" }
                  - if (current_setting.cbdmat_one_off? && @client.one_off_screening_assessment.blank?) || @client.require_screening_assessment?(current_setting) || (@client.calls.any? && @client.calls.most_recents.first.case_action_not_required?)
                    %button.btn.btn-success.agree-btn{ disabled: 'disabled', data: { toggle: "popover", trigger: "hover", content: "#{I18n.t('inline_help.clients.show.accepted')}", placement: "auto" } }
                      = t('.accept')
                  - else
                    %button.btn.btn-success.agree-btn{ data: { class_name: 'accept-client', disable_with: t('.accepting'), 'target' => "#accept-client", 'toggle' => 'modal', trigger: "hover", content: "#{Organization.ratanak? ? I18n.t('inline_help.clients.show.ratanak.accepted') : I18n.t('inline_help.clients.show.accepted')}", placement: "auto" } }= t('.accept')

                    = render 'clients/accept_client'
                .col-xs-12
                  - if @client.require_screening_assessment?(current_setting)
                    %button.btn.btn-danger.mini-margin{ disabled: 'disabled', class: 'agree-btn', data: { target: '#exitFromNgo', toggle: "modal", html: 'true', trigger: "hover", content: "#{I18n.t('inline_help.clients.show.reject')}", placement: "auto" } } #{t('.reject')}
                  - else
                    %button.btn.btn-danger.mini-margin{ class: 'agree-btn', data: { target: '#exitFromNgo', toggle: "modal", html: 'true', trigger: "hover", content: "#{I18n.t('inline_help.clients.show.reject')}", placement: "auto" } } #{t('.reject')}

            .col-xs-12
              = render 'client/exit_ngos/form', client: @client

      - elsif @client.exit_ngo?
        .col-xs-12.col-md-3
          .row
            .col-xs-12
              %button.btn.btn-success.mini-margin.enter-ngo-for-client{ class: 'agree-btn', data: { class_name: 'accept-client', disable_with: t('.accepting'), 'target' => "#enter-ngo-form", 'toggle' => 'modal', trigger: "hover", content: "#{I18n.t('inline_help.clients.show.accepted')}", placement: "auto" } } #{t('.accept')}
              = render 'client/enter_ngos/form', client: @client
            .col-xs-12
              %button.btn.btn-danger.mini-margin{ disabled: 'disabled', class: 'agree-btn', data: { toggle: "popover", trigger: "hover", content: "#{I18n.t('inline_help.clients.show.reject')}", placement: "auto" } }= t('.reject')

      - if current_setting.enabled_risk_assessment?
        .col-xs-12.col-md-3
          - if risk_assessment || @client.last_risk_assessment
            %table.table.small.m-b-xs
              %tbody
                - assessment = @client.last_risk_assessment
                - if assessment.present?
                  %tr
                    %td
                      = "#{t('risk_assessments._attr.risk_assessment')}:"
                      %strong= t('risk_assessments._attr.child_wellbeing')
                  %tr
                    %td
                      = "#{t('risk_assessments._attr.level_of_risk')}:"
                      %strong= display_level_of_risk(assessment.level_of_risk)
                  %tr
                    %td
                      = "#{t('risk_assessments._attr.assessment_date')}:"
                      %strong= date_format assessment.assessment_date
                - else
                  %tr
                    %td
                      = "#{t('risk_assessments._attr.risk_assessment')}:"
                      %strong= t('risk_assessments._attr.protection_concern')
                  %tr
                    %td
                      = "#{t('risk_assessments._attr.level_of_risk')}:"
                      %strong= display_level_of_risk(risk_assessment.level_of_risk)
                  %tr
                    %td
                      = "#{t('risk_assessments._attr.assessment_date')}:"
                      %strong= date_format risk_assessment.assessment_date
          - else
            %table.table.small.m-b-xs
              %tbody
                %tr
                  %td
                    = "#{t('risk_assessments._attr.risk_assessment')}:"
                    %strong= t('risk_assessments._attr.protection_concern')
                %tr
                  %td
                    = "#{t('risk_assessments._attr.level_of_risk')}:"
                    %strong= display_level_of_risk('pending_assessment')
                %tr
                  %td
                    = "#{t('risk_assessments._attr.assessment_date')}:"
                    %strong No Date

    - if @client.status != 'Referred'
      - ngos = mapping_ngos(select_ngos)
      .row
        .col-xs-12
          .btn-group.small-btn-margin
            %button.btn-sm.btn.btn-warning.dropdown-toggle.btn-fit.exit-ngo-for-client{ data: { toggle: "dropdown", trigger: 'hover', content: "#{I18n.t('inline_help.clients.show.exit_ngo')}", placement: "auto" }, id: 'add-client-to-case', class: ('disabled' if status_exited?(@client.status)) }
              = t('.exit_ngo_btn')
              %span.caret
            %ul.dropdown-menu.btn-fit
              %li
                - if @client.client_enrollments.active.count > 0
                  %a{"data-target" => '#remaining-programs-modal', "data-toggle" => 'modal'}
                    .text-warning= t('.exit_ngo_btn')
                - else
                  %a{"data-target" => '#exitFromNgo', "data-toggle" => 'modal'}
                    .text-warning= t('.exit_ngo_btn')
          - if current_organization.available_for_referral?
            %input#client-id{ value: "#{@client.slug}", type: 'hidden' }
            .btn-group.small-btn-margin
              %button.btn-sm.btn.btn-warning.dropdown-toggle.btn-fit{ data: { toggle: "dropdown", html: 'true', trigger: 'hover', content: "#{I18n.t('inline_help.clients.show.referral_form')}", placement: "auto" } }
                = t('.referral_forms')
                %span.caret
              %ul.dropdown-menu.btn-fit.scrollable-dropdown-menu.referral-forms
                %li= link_to t('.referral_history'), client_referrals_path(@client, referral_type: 'referred_to')
                %li
                  = link_to "#", { id: "referred-to-menu-link", data: { html: 'true', trigger: 'hover', content: "#{I18n.t('inline_help.clients.show.referral_form')}", placement: "auto" } } do
                    = t('.refer_client_to')
                    %span.caret

                - if Setting.first.enabled_internal_referral?
                  %li= link_to 'Internal Referral', client_internal_referrals_path(@client), class: "refer-to-item"
                - ngos.each do |value, key|
                  - if value == "MoSVY External System" && @client.is_referable_to_external_system?
                    %li= link_to value, '#exteralSystem', class: 'target-ngo refer-to-item', data: { target: '#exteralSystem', toggle: "modal" }
                  - else
                    %li= link_to value, new_client_referral_url(@client, ngo: key, external_ngo_name: (key == 'MoSVY External System' || key == 'external referral') && value), :class => 'target-ngo refer-to-item', :value => "#{key}", :id => "#{key.downcase.parameterize}"

          = link_to client_books_path(@client), data: { toggle: "popover", html: 'true', trigger: "hover", content: "#{I18n.t('inline_help.clients.show.client_book')}", placement: "auto" } do
            %span.btn-sm.btn.btn-info.small-btn-margin.btn-fit
              = t('.book')
          - if @client.client_enrollments.active.count > 0
            = render 'remaining_programs', client: @client
          - else
            = render 'client/exit_ngos/form', client: @client
          -# - if @client.cases.exclude_referred.current.present?
          -#   = render 'exit_case_form', client_case: @client.cases.exclude_referred.current, exit_from_cif: true
          = link_to client_tasks_path(@client), data: { toggle: "popover", trigger: "hover", content: "#{I18n.t('inline_help.clients.show.task')}", placement: "auto" } do
            %span.btn-sm.btn.btn-info.small-btn-margin.btn-fit
              %strong.count-margin= @client.tasks.incomplete.count
              = t('.view_tasks')
          - if Organization.ratanak?
            = link_to client_case_conferences_path(@client) do
              %span.btn-sm.btn.btn-info.small-btn-margin.btn-fit
                %strong.count-margin= @client.case_conferences.count
                = t('.case_conference')
          - if enable_any_csi_tools?
            = link_to client_assessments_path(@client), data: { toggle: "popover", trigger: "hover", content: "#{I18n.t('inline_help.clients.assessments.button', assessment: t('clients.show.assessment') )}", placement: "auto" } do
              %span.btn-sm.btn.btn-info.small-btn-margin.btn-fit
                %strong.count-margin= @client.assessments.count
                = t('.assessment')
          - if enable_any_csi_tools?
            = link_to client_care_plans_path(@client), data: { toggle: "popover", trigger: "hover", content: "#{I18n.t('inline_help.clients.care_plans.button', care_plan: t('clients.show.care_plan') )}", placement: "auto" } do
              %span.btn-sm.btn.btn-info.small-btn-margin.btn-fit
                %strong.count-margin= @client.care_plans.count
                = t('.care_plan')

          - if (can? :manage, CaseNote) || (can? :edit, CaseNote)
            %span.btn-sm.btn.btn-info.small-btn-margin.btn-fit{ class: ('disabled' unless case_notes_readable?), data: { toggle: "popover", trigger: "hover", content: "#{I18n.t('inline_help.clients.case_notes.button')}", placement: "auto" } }
              = link_to_if case_notes_readable?, "#{@client.case_notes.count} #{t('clients.form.case_note')}", client_case_notes_path(@client)
          - if @client.has_any_quarterly_reports?
            - if can? :manage, QuarterlyReport
              = link_to client_case_quarterly_reports_path(@client, @client.latest_case) do
                %span.btn-sm.btn.color-brown.small-btn-margin.btn-fit= t('.view_legacy_quarterly_reports')
          - if @client.cases.exclude_referred.inactive.present?
            .btn-group.small-btn-margin
              %button.btn-fit{ class: "btn btn-sm btn-warning dropdown-toggle", "data-toggle" => "dropdown" }
                = t('.case_history')
                %span.caret
              %ul.dropdown-menu.btn-fit
                %li
                  - if (ec_manageable || strategic_overviewer?) && @client.cases.exclude_referred.emergencies.inactive.exists?
                    = link_to client_cases_path(@client, case_type: 'EC') do
                      %span.text-success= t('.view_ec_history_btn_link')
                %li
                  - if (ec_manageable || strategic_overviewer?) && @client.cases.exclude_referred.fosters.inactive.exists?
                    = link_to client_cases_path(@client, case_type: 'FC') do
                      %span.text-success= t('.view_fc_history_btn_link')
                %li
                  - if (ec_manageable || strategic_overviewer?) && @client.cases.exclude_referred.kinships.inactive.exists?
                    = link_to client_cases_path(@client, case_type: 'KC') do
                      %span.text-success= t('.view_kc_history_btn_link')

          - if can? :manage, CustomFieldProperty
            = link_to custom_fields_client_path(@client), data: { toggle: "popover", html: 'true', trigger: "hover", content: "#{I18n.t('inline_help.clients.show.add_form')}", placement: "auto" } do
              .btn.btn-primary.small-btn-margin.btn-sm.btn-fit= t('clients.form.custom_forms')

          = link_to client_client_enrollments_path(@client), data: { toggle: "popover", html: 'true', trigger: "hover", content: "#{I18n.t('inline_help.clients.show.enroll_program')}", placement: "auto" } do
            .btn.btn-primary.small-btn-margin.btn-sm.btn-fit= t('datagrid.columns.clients.program_streams')
          - if current_setting.cbdmat_one_off || current_setting.cbdmat_ongoing
            = link_to client_screening_assessments_path(@client), class: 'btn btn-primary small-btn-margin btn-sm btn-fit' do
              %strong.count-margin= @client.screening_assessments.count
              = t('.cb_dmat')

          - if government_forms_visible? && policy(@client).show?(:government_forms) && current_organization&.country != 'nepal'
            .btn-group.small-btn-margin
              %button.btn.btn-sm.btn-success.dropdown-toggle.btn-fit{"data-toggle" => "dropdown"}
                = t('.government_forms')
                %span.caret
              %ul.dropdown-menu.btn-fit
                %li
                  = link_to client_government_forms_path(@client, form: 'one') do
                    %span.text-success= t('.government_form_one')
                %li
                  = link_to client_government_forms_path(@client, form: 'two') do
                    %span.text-success= t('.government_form_two')
                %li
                  = link_to client_government_forms_path(@client, form: 'three') do
                    %span.text-success= t('.government_form_three')
                %li
                  = link_to client_government_forms_path(@client, form: 'four') do
                    %span.text-success= t('.government_form_four')
                %li
                  = link_to client_government_forms_path(@client, form: 'five') do
                    %span.text-success= t('.government_form_five')
                %li
                  = link_to client_government_forms_path(@client, form: 'six') do
                    %span.text-success= t('.government_form_six')
          - if has_service_delivery?
            = link_to client_service_receives_path(@client) do
              %span.btn-sm.btn.btn-info.small-btn-margin.btn-fit
                = t('service_deliveries.index.service_delivery')


.row.mini-margin
  .col-xs-12
    .ibox
      .ibox-title
        %h5=t('.general_info')
        .ibox-tools
          %a.collapse-link
            .btn.btn-outline.btn-primary
              %i.fa.fa-chevron-up
          - if (can? :manage, Client) || (can? :rud, Client) || (can? :edit, Client)
            %small
              = link_to edit_client_path(@client), data: { toggle: "popover", html: 'true', trigger: "hover", content: "#{I18n.t('inline_help.clients.show.edit')}", placement: "auto" } do
                .btn.btn-outline.btn-success
                  %i.fa.fa-pencil
          - if can? :manage, :all
            %small
              = link_to archive_client_path(@client), method: 'put', data: { toggle: "popover", html: 'true', trigger: "hover", content: "#{I18n.t('inline_help.clients.show.archive')}", placement: "auto", confirm: t('.are_you_sure') } do
                .btn.btn-outline.btn-danger
                  %i.fa.fa-trash
      .ibox-content
        = hidden_field_tag :initial_referral_date, @client.initial_referral_date
        = hidden_field_tag :last_exit_ngo_date, @client.exit_ngos.last&.exit_date
        - if Organization.ratanak? || %w(national_id_number passport_number marital_status nationality ethnicity location_of_concern type_of_trafficking).any? { |field| policy(@client).show?(field.to_sym) }
          = render "ratanak_client_show_page"
        - else
          .row
            .col-sm-12.col-md-6
              %table.table.table-bordered.administrative-info
                %thead
                  %tr
                    %th{ colspan: '2' }
                      = t('.administrative_info')
                %tbody
                  %tr
                    %td.spacing-first-col
                      = t('.received_by')
                    %td
                      %strong
                        = editable @client, :received_by_id, type: :select2, source: editable_case_worker_options, value: @client.received_by&.name, url: api_client_path(@client.id), pk: @client.id
                        = user @client.received_by, true
                  %tr
                    %td.spacing-first-col
                      = t('.initial_referral_date')
                    %td
                      %strong
                        = editable @client, :initial_referral_date, type: :date, value: date_format(@client.initial_referral_date), url: api_client_path(@client.id), pk: @client.id
                  %tr
                    %td.spacing-first-col
                      = t('.case_worker_or_staff')
                    %td
                      %strong
                        - order_case_worker(@client).each do |case_worker|
                          %strong.label.label-default
                            = user case_worker
                  %tr
                    %td.spacing-first-col
                      = t('.followed_up_by')
                    %td
                      %strong
                        = editable @client, :followed_up_by_id, type: :select2, source: editable_case_worker_options, value: @client.followed_up_by&.name, url: api_client_path(@client.id), pk: @client.id
                        = user @client.followed_up_by, true

                  %tr
                    %td.spacing-first-col
                      = t('.follow_up_date')
                    %td
                      %strong
                        = editable @client, :follow_up_date, type: :date, value: date_format(@client.follow_up_date), url: api_client_path(@client.id), pk: @client.id
              %table.table.table-bordered.referral-info
                %thead
                  %tr
                    %th{ colspan: '2' }
                      = t('.referral_information')
                %tbody
                  - if policy(@client).show?(:local_family_name)
                    %tr
                      %td.spacing-first-colgsb
                        = current_organization.short_name == 'brc' ? t('clients.form.local_family_name') : "#{t('clients.form.local_family_name')} #{country_scope_label_translation}"
                      %td
                        %strong
                          = editable @client, :local_family_name, url: api_client_path(@client.id), pk: @client.id

                  - if policy(@client).show?(:local_given_name)
                    %tr
                      %td.spacing-first-col
                        = current_organization.short_name == 'brc' ? t('clients.form.local_given_name') : "#{t('clients.form.local_given_name')} #{country_scope_label_translation}"
                      %td
                        %strong
                          = editable @client, :local_given_name, url: api_client_path(@client.id), pk: @client.id

                  - if current_organization.short_name == 'brc'
                    %tr
                      %td.spacing-first-col
                        = t('.current_address')
                      %td.address
                        %strong
                          = @client.brc_current_address
                    %tr
                      %td.spacing-first-col
                        = t('.other_address')
                      %td.address
                        %strong
                          = @client.brc_other_address
                  - else
                    %tr
                      %td.spacing-first-col
                        = t('.address')
                      %td.address
                        %strong
                          = country_address_field(@client)

                  %tr
                    %td.spacing-first-col
                      = t('datagrid.columns.clients.client_phone')
                    %td
                      %strong
                        = @client.client_phone

                  %tr
                    %td.spacing-first-col
                      = t('datagrid.columns.clients.concern_phone_owner')
                    %td
                      %strong
                        = @client.phone_owner&.capitalize

                  - if policy(Client).show?(:school_info)
                    %tr.bg-grey
                      %td{ colspan: '2' }
                        = t('.school_info')


                    - %w(school_name school_grade main_school_contact).each do |field|
                      - if policy(@client).show?(field.to_sym)
                        %tr
                          %td.spacing-first-col
                            = t("clients.form.#{field}")
                          %td
                            %strong
                              - if field == 'school_grade'
                                = editable @client, :school_grade, type: :select2, source: [Client::GRADES, t('advanced_search.fields.school_grade_list').values].transpose.map{|v, t| { text: t.to_s, value: v.to_s } }, value: @client.school_grade, url: api_client_path(@client.id), pk: @client.id
                              - else
                                = editable @client, field.to_sym, value: @client.public_send(field.to_sym), url: api_client_path(@client.id), pk: @client.id
                  %tr.bg-grey
                    %td{ colspan: '2' }
                      = t('.other_info')
                  - if current_organization.integrated?
                    %tr
                      %td.spacing-first-col
                        = "#{t('.external_id_display')}"
                        %td
                          %strong= @client.external_id_display

                  %tr
                    %td.spacing-first-col
                      = "#{t('.client_global_identity')}"
                    %td
                      %strong
                        = fa_icon 'envelope', class: 'text-success', data: { toggle: 'popover', placement: 'top', content: @client.global_id }

                  %tr
                    %td.spacing-first-col
                      = t('.time_in_ngo')
                    %td
                      %strong
                        = @client.time_in_ngo
                  %tr
                    %td.spacing-first-col
                      = t('.time_in_cps')
                    %td
                      %strong
                        = @client.time_in_cps

              - if has_risk_assessment
                %table.table.table-bordered.referral-more-info
                  %thead
                    %tr
                      %th{ colspan: '2' }
                        = t('risk_assessments._attr.protection_concern')
                  %tbody
                    %tr
                      %td.spacing-first-col
                        = t('risk_assessments._attr.assessment_date')
                      %td
                        %strong
                          = date_format(risk_assessment.assessment_date)
                    %tr
                      %td.spacing-first-col
                        = t('risk_assessments._attr.protection_concern')
                      %td
                        - risk_assessment.protection_concern.each do |pc|
                          %strong.label.label-default.agency= pc
                        - if risk_assessment.other_protection_concern_specification.present?
                          %strong.label.label-default.agency= risk_assessment.other_protection_concern_specification
                    %tr
                      %td.spacing-first-col
                        = t('risk_assessments._attr.level_of_risk')
                      %td
                        %strong
                          = display_level_of_risk(risk_assessment.level_of_risk)
                    %tr
                      %td.spacing-first-col
                        = t('risk_assessments._attr.client_perspective')
                      %td
                        %strong
                          = risk_assessment.client_perspective
                    %tr
                      %td.spacing-first-col
                        = t('risk_assessments._attr.has_known_chronic_disease')
                      %td
                        %strong
                          = risk_assessment.has_known_chronic_disease? ? 'YES' : 'NO'
                    %tr
                      %td.spacing-first-col
                        = t('risk_assessments._attr.if_yes')
                      %td
                        %strong
                          = risk_assessment.known_chronic_disease_specification if risk_assessment.has_known_chronic_disease?
                    %tr
                      %td.spacing-first-col
                        = t('risk_assessments._attr.has_disability')
                      %td
                        %strong
                          = risk_assessment.has_disability? ? 'YES' : 'NO'
                    %tr
                      %td.spacing-first-col
                        = t('risk_assessments._attr.if_yes')
                      %td
                        %strong
                          = risk_assessment.disability_specification if risk_assessment.has_disability?
                    %tr
                      %td.spacing-first-col
                        = t('risk_assessments._attr.has_hiv_or_aid')
                      %td
                        %strong
                          = risk_assessment.has_hiv_or_aid? ? 'YES' : 'NO'
                    %tr
                      %td.spacing-first-col
                        = t('risk_assessments._attr.hiv_or_aid_specification')
                      %td
                        %strong
                          = risk_assessment.hiv_or_aid_specification if risk_assessment.has_hiv_or_aid?

            .col-sm-12.col-md-6
              %table.table.table-bordered.referee_information
                %thead
                  %tr
                    %th{ colspan: '2' }
                      = t('.referee_information')
                %tbody
                  %tr
                    %td.spacing-first-col
                      = t('.name_of_referee')
                    %td
                      %strong
                        = @client.referee.try(:name)

                  %tr
                    %td.spacing-first-col
                      = t('.gender')
                    %td
                      %strong
                        = @client.referee.try(:gender)

                  %tr
                    %td.spacing-first-col
                      = t('.referral_phone')
                    %td
                      %strong
                        = @client.referee.try(:phone)

                  %tr
                    %td.spacing-first-col
                      = t('datagrid.columns.clients.referral_source_category')
                    %td
                      %strong
                        - if @client.referrals.received.blank?
                          = editable @client, :referral_source_category_id, type: :select2, source: referral_source_name(ReferralSource.child_referrals).map{|name, id| { value: id, text: name } }, value: referral_source_category(@client.referral_source_category_id), url: api_client_path(@client.id), pk: @client.id
                        - else
                          = @client.referral_source
                  %tr
                    %td.spacing-first-col
                      = t('.referral_source')
                    %td
                      %strong
                        = @client.referral_source


              %table.table.table-bordered.referral-more-info
                %thead
                  %tr
                    %th{ colspan: '2' }
                      = t('.referral_more_information')
                %tbody
                  - if policy(@client).show?(:carer_info)
                    %tr.bg-grey
                      %td{ colspan: '2' }
                        = t('.carer_info')
                    %tr
                      %td.spacing-first-col
                        = t('activerecord.attributes.carer.name')
                      %td
                        %strong
                          = @client.carer.try(:name)
                    %tr
                      %td.spacing-first-col
                        = t('activerecord.attributes.carer.gender')
                      %td
                        %strong
                          = @client.carer.try(:gender)
                    %tr
                      %td.spacing-first-col
                        = t('activerecord.attributes.carer.phone')
                      %td
                        %strong
                          = @client.carer.try(:phone)

                    %tr
                      %td.spacing-first-col
                        = t('activerecord.attributes.carer.client_relationship')
                      %td
                        %strong
                          = @client.carer.try(:client_relationship)

                    - if @client.family
                      %tr
                        %td.spacing-first-col= t('.families')
                        %td
                          %strong= @client.family.display_name
                          = link_to family_path(@client.family) do
                            = fa_icon 'external-link'

                    %tr
                      %td.spacing-first-col
                        = t('activerecord.attributes.carer.current_address')
                      %td
                        %strong
                          = @client.carer.try(:current_address)

                    - if Setting.cache_first.country_name == "cambodia" && !Organization.brc?
                      %tr
                        %td.spacing-first-col
                          = t('.is_the_client_rated_for_id_poor')
                        %td
                          %strong
                            = editable @client, :rated_for_id_poor, type: :select, source: [Client::CLIENT_LEVELS, t('clients.level').values].transpose.to_h, value: @client.rated_for_id_poor, url: api_client_path(@client.id), pk: @client.id

                    - if policy(@client).show?(:donor_info)
                      %tr.bg-grey
                        %td{ colspan: '2' }
                          = t('.donor_info')
                      %tr
                        %td.spacing-first-col
                          = t('.agencies_involved')
                        %td
                          - @client.agencies.each do|agency|
                            %strong.label.label-default.agency
                              = agency.name
                      %tr
                        %td.spacing-first-col
                          = t('.donor')
                        %td
                          %strong
                            - client_donors.each do|donor|
                              %strong.label.label-default.donor
                                = donor.name

                      - if policy(@client).show?(:custom_ids)
                        %tr.bg-grey
                          %td{ colspan: '2' }
                            = t('.other_info')
                        %tr
                          %td.spacing-first-col
                            = custom_id_translation('custom_id1')
                          %td
                            %strong
                              = editable @client, :code, value: @client.code, url: api_client_path(@client.id), pk: @client.id
                        %tr
                          %td.spacing-first-col
                            = custom_id_translation('custom_id2')
                          %td
                            %strong
                              = editable @client, :kid_id, value: @client.kid_id, url: api_client_path(@client.id), pk: @client.id
                  - if has_risk_assessment
                    = render "referral_more_info"
          - unless has_risk_assessment
            .row
              .col-xs-12
                = render "referral_more_info"
          - if @client.client_custom_data
            - cusotm_data_fields = @client.custom_data&.fields || []
            - client_data_properties = @client.client_custom_data&.properties || {}
            = render 'custom_data', cusotm_data_fields: cusotm_data_fields, client_data_properties: client_data_properties, client_custom_data: @client.client_custom_data
          - if @case_histories.any?
            .row
              .col-xs-12
                %table.table.table-bordered.table-hover#case-history-table
                  %thead
                    %tr
                      %th= t('.case_histories')
                      - unless Rails.env.production?
                        %th= t('.created_date')
                      %th= t('.date')
                      %th.text-center= t('.detail')
                  %tbody
                    - if Setting.first.enabled_internal_referral?
                      - @internal_referrals.each do |internal_referral|
                        %tr
                          %td= "Internal Referral To #{internal_referral.program_name}"
                          %td= date_format(internal_referral.referral_date)
                          - unless Rails.env.production?
                            %td
                          %td.text-center
                            = link_to client_internal_referral_path(@client, internal_referral.id), class: 'btn btn-outline btn-primary btn-xs' do
                              = fa_icon('eye')
                            = link_to edit_client_internal_referral_path(@client, internal_referral.id), class: 'btn btn-outline btn-success btn-xs' do
                              = fa_icon('pencil')

                    - @case_histories.each_with_index do |case_history, index|
                      - case_history_name = case_history.class.table_name
                      %tr.case-history-row{ data: {date: case_history.new_date, classname: case_history_name, name: case_history_label(case_history), created_date: case_history.created_at} }
                        %td= case_history_label(case_history)
                        - unless Rails.env.production?
                          %td= case_history.created_at.to_s
                        %td= date_format(case_history.new_date)
                        %td
                          .text-center
                            %button.btn.btn-outline.btn-primary.btn-xs{'data-target' => "#case_history_#{index}", 'data-toggle' => 'modal'}= fa_icon('eye')
                            - if current_user.admin?
                              - if ['enter_ngos', 'exit_ngos'].include?(case_history_name)
                                %button.btn.btn-outline.btn-success.btn-xs.edit-case-history-ngo{ data: { class_name: case_history_name },'data-target' => "##{case_history_name}-#{case_history.id}", 'data-toggle' => 'modal' }= fa_icon('pencil')
                              - if case_history_name == 'exit_ngos' && @client.latest_exit_ngo == case_history
                                = link_to client_exit_ngo_path(@client, case_history), class: 'btn btn-outline btn-danger btn-xs', method: 'delete', data: { confirm: t('.are_you_sure') } do
                                  = fa_icon 'trash'
                              = case_history_links(case_history, case_history_name)
                          = render 'case_history_detail', object: case_history, index: index
                          = render_case_history(case_history, case_history_name)
                  %tr
                    %td= t('.initial_referral_date')
                    - unless Rails.env.production?
                      %td= @client.created_at.to_s
                    %td= date_format(@client.initial_referral_date)
                    %td
                      .text-center
                        %button.btn.btn-outline.btn-primary.btn-xs{'data-target' => "#case_history_initial_referral_date", 'data-toggle' => 'modal'}= fa_icon('eye')
                      = render 'case_history_detail', object: @client, index: 'initial_referral_date'
          - if @client.calls.any?
            .row
              .col-xs-12
                %table.table.table-bordered.table-hover
                  %thead
                    %tr
                      %th= t('.hotlines')
                      %th= t('.call_type')
                      %th= t('.date_of_call')
                      %th.text-center= t('.detail')
                  %tbody
                    - @client.calls.most_recents.each do |call|
                      %tr
                        %td= call.phone_call_id
                        %td= t('.callType.' + call.call_type.parameterize.underscore)
                        %td= date_format(call.date_of_call)
                        %td.text-center
                          = link_to call_path(call) do
                            %button.btn.btn-outline.btn-primary.btn-xs= fa_icon('eye')

          - if current_setting.enabled_risk_assessment? && (risk_assessment || @client.last_risk_assessment)
            = render 'client_risk_assessment', client: @client, risk_assessment: risk_assessment

.row
  = render 'blank_field_notification'
  = render 'referrals/confirm_referral'
  = render 'referrals/confirm_repeat_referral'

.modal.fade#screening-tool-warning{"aria-labelledby" => "gridSystemModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header.bg-warning
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title=t('warning')
      .modal-body
        %p Client's age is empty.
        %p អាយុកុមារនៅទទេ។
      .modal-footer
        = link_to t('ok'), new_client_screening_assessment_path(@client, screening_type: 'one_off'), class: 'btn btn-danger'
        %button.btn.btn-default.editable-cancel{"data-dismiss" => 'modal'}= t('back')
