.row
  .col-xs-12
    .row
      .col-md-3
        %span.show-name
          = @client.name
        - if @client.status
          %span.show-status= status_style(@client.status)
        .client-info
          = @client.slug
          = @client.gender.try(:titleize)
      .col-md-6
        %table.table.small.m-b-xs
          %tbody
            %tr
              %td
                = "#{t('.date_of_birth')} :"
                %strong= @client.date_of_birth_format
              %td
                = "#{t('created_by')} #{whodunnit('Client', @client.id)} #{t('at')} #{ date_format @client.created_at }"
            %tr
              %td
                = "#{t('.age')} :"
                %strong= @client.age
              %td
                = "#{t('.current_province')} :"
                %strong= @client.current_province

      .col-md-3
        - if @client.status == 'Referred'
          .row
            .col-xs-12
              .row
                .col-xs-12
                  = simple_form_for [ @client, @client.enter_ngos.build ] do |f|
                    .form-inputs
                      = f.hidden_field :accepted_date, value: Date.today
                    .form-actions
                      = f.submit t('.accept'), class: 'btn btn-success agree-btn', id: 'accept-client'
                .col-xs-12
                  %button.btn.btn-danger.mini-margin{"data-target" => '#exitFromNgo', "data-toggle" => 'modal', class: 'agree-btn'} #{t('.reject')}

            .col-xs-12
              = render 'client/exit_ngos/form', client: @client

        - elsif @client.status == 'Exited'
          .row
            .col-xs-12
              %button.btn.btn-success.mini-margin{"data-target" => '#enter-ngo-form', "data-toggle" => 'modal', class: 'agree-btn' } #{t('.accept')}
              = render 'client/enter_ngos/form', client: @client
            .col-xs-12
              %button.btn.btn-danger.mini-margin{ disabled: 'disabled', class:'agree-btn' }= t('.reject')

    - if @client.status != 'Referred'
      - ngos = Organization.exclude_current.oscar.order(:full_name).map{|org| [org.full_name, org.short_name] }
      - ngos << ["I don't see the NGO I'm looking for...", "external referral"]
      .row
        .col-xs-12
          .btn-group.small-btn-margin
            %button.btn-sm.btn.btn-warning.dropdown-toggle.btn-fit{ "data-toggle" => "dropdown", id: 'add-client-to-case', class: ('disabled' if status_exited?(@client.status)) }
              = t('.exit_ngo_btn')
              %span.caret
            %ul.dropdown-menu.btn-fit
              %li
                - if @client.client_enrollments.active.count > 0
                  %a{"data-target" => '#remaining-programs-modal', "data-toggle" => 'modal'}
                    .text-warning= t('.exit_ngo_btn')
                - else
                  %a{"data-target" => '#exitFromNgo', "data-toggle" => 'modal'}
                    .text-warning= t('.exit_ngo_btn')
          - if current_organization.available_for_referral?
            %input#client-id{ value: "#{@client.slug}", type: 'hidden' }
            .btn-group.small-btn-margin
              %button.btn-sm.btn.btn-warning.dropdown-toggle.btn-fit{ 'data-toggle' => 'dropdown', class: ('disabled' if @client.referrals.empty?) }
                = t('.referral_forms')
                %span.caret
              %ul.dropdown-menu.btn-fit.scrollable-dropdown-menu.referral-forms
                %li= link_to t('.referred_to'), client_referrals_path(@client, referral_type: 'referred_to')
                %li= link_to t('.referred_from'), client_referrals_path(@client, referral_type: 'referred_from')
            .btn-group.small-btn-margin
              %button.btn-sm.btn.btn-warning.dropdown-toggle.btn-fit#add-referral-btn{ 'data-toggle' => 'dropdown' }
                = t('.refer_client')
                %span.caret
              %ul.dropdown-menu.btn-fit.scrollable-dropdown-menu.referral-forms
                - ngos.each do |value, key|
                  %li= link_to value, new_client_referral_url(@client, ngo: key), :class => 'target-ngo', :value => "#{key}", :id => "#{key}"

          - if @client.client_enrollments.active.count > 0
            = render 'remaining_programs', client: @client
          - else
            = render 'client/exit_ngos/form', client: @client
          - if @client.cases.exclude_referred.current.present?
            = render 'exit_case_form', client_case: @client.cases.exclude_referred.current, exit_from_cif: true

          = link_to client_tasks_path(@client) do
            %span.btn-sm.btn.btn-info.small-btn-margin.btn-fit
              %strong.count-margin= @client.tasks.incomplete.count
              = t('.view_tasks')
          - if non_mho_tenant? && enable_assessment_setting?
            = link_to client_assessments_path(@client) do
              %span.btn-sm.btn.btn-info.small-btn-margin.btn-fit
                %strong.count-margin= @client.assessments.count
                = t('.view_assessments')
          - if can? :manage, CaseNote
            %span.btn-sm.btn.btn-info.small-btn-margin.btn-fit{ class: ('disabled' unless case_notes_readable?) }
              = link_to_if case_notes_readable?, "#{@client.case_notes.count} #{t('.view_case_notes')}", client_case_notes_path(@client)
          - if government_reports_visible?
            .btn-group.small-btn-margin
              %button.btn.btn-sm.btn-success.dropdown-toggle.btn-fit{"data-toggle" => "dropdown"}
                = t('.government_report')
                %span.caret
              %ul.dropdown-menu.btn-fit
                %li
                  = link_to client_path(@client, format: 'pdf', form: 'one'), target: :_blank do
                    %span.text-success= t('.government_form_one')
                %li
                  = link_to client_path(@client, format: 'pdf', form: 'two'), target: :_blank do
                    %span.text-success= t('.government_form_two')
                %li
                  = link_to client_path(@client, format: 'pdf', form: 'three'), target: :_blank do
                    %span.text-success= t('.government_form_three')
                %li
                  = link_to client_path(@client, format: 'pdf', form: 'four'), target: :_blank do
                    %span.text-success= t('.government_form_four')
                %li
                  = link_to client_path(@client, format: 'pdf', form: 'five'), target: :_blank do
                    %span.text-success= t('.government_form_five')
                %li
                  = link_to client_path(@client, format: 'pdf', form: 'six'), target: :_blank do
                    %span.text-success= t('.government_form_six')

          - if @client.has_any_quarterly_reports?
            - if can? :manage, QuarterlyReport
              = link_to client_case_quarterly_reports_path(@client,@client.latest_case) do
                %span.btn-sm.btn.color-brown.small-btn-margin.btn-fit= t('.view_legacy_quarterly_reports')
          - if @client.cases.exclude_referred.inactive.present?
            .btn-group.small-btn-margin
              %button.btn-fit{ class: "btn btn-sm btn-warning dropdown-toggle", "data-toggle" => "dropdown" }
                = t('.case_history')
                %span.caret
              %ul.dropdown-menu.btn-fit
                %li
                  - if @client.cases.exclude_referred.emergencies.inactive.present? && (ec_manageable || strategic_overviewer?)
                    = link_to client_cases_path(@client, case_type: 'EC') do
                      %span.text-success= t('.view_ec_history_btn_link')
                %li
                  - if @client.cases.exclude_referred.fosters.inactive.present? && (fc_manageable || strategic_overviewer?)
                    = link_to client_cases_path(@client, case_type: 'FC') do
                      %span.text-success= t('.view_fc_history_btn_link')
                %li
                  - if @client.cases.exclude_referred.kinships.inactive.present? && (kc_manageable || strategic_overviewer?)
                    = link_to client_cases_path(@client, case_type: 'KC') do
                      %span.text-success= t('.view_kc_history_btn_link')
          -# - if can_read_client_progress_note?
          -#   = link_to client_progress_notes_path(@client) do
          -#     %span.btn-sm.btn.btn-warning.small-btn-margin.btn-fit= t('.progress_note')
          .btn-group.small-btn-margin
            %button.btn-sm.btn.btn-success.dropdown-toggle.btn-fit{ 'data-toggle' => 'dropdown', class: ('disabled' if @group_client_custom_fields.empty?) }
              = t('.additional_forms')
              %span.caret
            %ul.dropdown-menu.btn-fit.scrollable-dropdown-menu.additional-forms
              - @group_client_custom_fields.each do |_, client_custom_fields|
                %li
                  %p= link_to client_custom_fields.first.custom_field.form_title, client_custom_field_properties_path(@client, custom_field_id: client_custom_fields.first.custom_field_id)
          - if can? :manage, CustomFieldProperty
            .btn-group.small-btn-margin
              %button.btn-sm.btn.btn-success.dropdown-toggle.btn-fit{ 'data-toggle' => 'dropdown', class: ('disabled' if @free_client_forms.empty? || status_exited?(@client.status)) }
                = t('.add_form')
                %span.caret
              %ul.dropdown-menu.btn-fit.scrollable-dropdown-menu.add-form
                - @free_client_forms.each do |custom_field|
                  %li
                    %p= link_to custom_field.form_title, new_client_custom_field_property_path(@client, custom_field_id: custom_field)
          - if @client.client_enrollments.active.count > 0
            = link_to client_client_enrolled_programs_path(@client) do
              .btn.btn-primary.small-btn-margin.btn-sm.btn-fit= t('.enrolled_program_streams')
          - else
            .btn.btn-primary.small-btn-margin.btn-sm.disabled.btn-fit= t('.enrolled_program_streams')

          = link_to client_client_enrollments_path(@client) do
            .btn.btn-primary.small-btn-margin.btn-sm.btn-fit= t('.program_streams')

.row.mini-margin
  .col-xs-12
    .ibox
      .ibox-title
        %h5=t('.general_info')
        .ibox-tools
          %a.collapse-link
            .btn.btn-outline.btn-primary
              %i.fa.fa-chevron-up
          - if (can? :manage, Client) || (can? :rud, Client)
            %small
              = link_to edit_client_path(@client) do
                .btn.btn-outline.btn-success
                  %i.fa.fa-pencil
              = link_to @client, method: 'delete', data: { confirm: t('.are_you_sure') } do
                .btn.btn-outline.btn-danger
                  %i.fa.fa-trash
      .ibox-content
        .row
          .col-sm-12.col-md-6.first-table
            %table.table.table-bordered
              %tr
                %td.spacing-first-col
                  = t('.local_given_name')
                %td
                  %strong
                    = @client.local_given_name
              %tr
                %td.spacing-first-col
                  = t('.local_family_name')
                %td
                  %strong
                    = @client.local_family_name
              %tr
                %td.spacing-first-col
                  = t('.donor')
                %td
                  %strong
                    = @client.donor_name
              %tr
                %td.spacing-first-col
                  = t('.address')
                %td.address
                  %strong
                    = country_address_field(@client)
              %tr
                %td.spacing-first-col
                  = t('.what3words')
                %td
                  %strong
                    = link_to "https://map.what3words.com/#{@client.what3words}", target: :_blank do
                      = @client.what3words
                      = image_tag 'what3words.png', class: 'what3words'
              %tr
                %td.spacing-first-col
                  = t(".province.#{@client.country_origin_label}")
                %td
                  %strong
                    = @client.birth_province
              %tr
                %td.spacing-first-col
                  = t('.name_of_referee')
                %td
                  %strong
                    = @client.name_of_referee
              %tr
                %td.spacing-first-col
                  = t('.referral_phone')
                %td
                  %strong
                    = @client.referral_phone
              %tr
                %td.spacing-first-col
                  = t('.primary_carer_name')
                %td
                  %strong
                    = @client.live_with
              %tr
                %td.spacing-first-col
                  = t('.primary_carer_phone_number')
                %td
                  %strong
                    = @client.telephone_number
              %tr
                %td.spacing-first-col
                  = t('.is_the_client_rated_for_id_poor')
                %td
                  %strong
                    = @client.rated_for_id_poor

              %tr
                %td.spacing-first-col
                  = t('.custom_id_number1')
                %td
                  %strong
                    = @client.code
              %tr
                %td.spacing-first-col
                  = t('.custom_id_number2')
                %td
                  %strong
                    = @client.kid_id
              %tr
                %td.spacing-first-col
                  = t('.time_in_care')
                %td
                  %strong
                    = @client.time_in_care

          .col-sm-12.col-md-6.second-table
            %table.table.table-bordered
              %tr
                %td.spacing-first-col
                  = t('.referral_source')
                %td
                  %strong
                    = @client.referral_source

              %tr
                %td.spacing-first-col
                  = t('.received_by')
                %td
                  %strong
                    = user @client.received_by
              %tr
                %td.spacing-first-col
                  = t('.followed_up_by')
                %td
                  %strong
                    = user @client.followed_up_by
              %tr
                %td.spacing-first-col
                  = t('.case_worker_or_staff')
                %td
                  %strong
                    - order_case_worker(@client).each do |case_worker|
                      %strong.label.label-default
                        = user case_worker
              %tr
                %td.spacing-first-col
                  = t('.initial_referral_date')
                %td
                  %strong
                    = @client.referral_date
              %tr
                %td.spacing-first-col
                  = t('.follow_up_date')
                %td
                  %strong
                    = date_format(@client.follow_up_date)
              %tr
                %td.spacing-first-col
                  = t('.school_name')
                %td
                  %strong
                    = @client.school_name
              %tr
                %td.spacing-first-col
                  = t('.school_grade')
                %td
                  %strong
                    = @client.school_grade
              %tr
                %td.spacing-first-col
                  = t('.main_school_contact')
                %td
                  %strong
                    = @client.main_school_contact
              %tr
                %td.spacing-first-col
                  = "#{t('.has_been_in_orphanage')}?"
                %td
                  %strong
                    = human_boolean(@client.has_been_in_orphanage)
              %tr
                %td.spacing-first-col
                  = "#{t('.has_been_in_government_care')}?"
                %td
                  %strong
                    = human_boolean(@client.has_been_in_government_care)
              %tr
                %td.spacing-first-col
                  = t('.relevant_referral_information')
                %td
                  %strong
                    = @client.relevant_referral_information
              %tr
                %td.spacing-first-col
                  = t('.agencies_involved')
                %td
                  - @client.agencies.each do|agency|
                    %strong.label.label-default.agency
                      = agency.name
        .row
          .col-xs-12
            %table.table.table-bordered
              - @client.quantitative_cases.group_by(&:quantitative_type).each do |qtypes|
                - next unless quantitative_type_readable?(qtypes.first.id)
                %tr
                  %td.align-justify
                    = qtypes.first.name
                  %td.align-justify
                    - qtypes.last.each do |qcase|
                      %strong.label.label-default
                        = qcase.value

        - if @case_histories.any?
          .row
            .col-xs-12
              %table.table.table-bordered
                %thead
                  %tr
                    %th= t('.case_histories')
                    %th= t('.date')
                    %th.text-center= t('.detail')
                %tbody
                  - @case_histories.each_with_index do |case_history, index|
                    %tr
                      %td= case_history_label(case_history)
                      %td= date_format(case_history.new_date)
                      %td
                        .text-center
                          %button.btn.btn-outline.btn-primary.btn-xs{'data-target' => "#case_history_#{index}", 'data-toggle' => 'modal'}= fa_icon('eye')
                        = render 'case_history_detail', object: case_history, index: index

        -# - if @enter_ngos.any?
        -#   .row
        -#     .col-xs-12
        -#       .table-responsive
        -#         %table.table.table-bordered.table-striped.table-hover
        -#           %thead
        -#             %tr
        -#               %th.custom_column_name= t('.accepted_date')
        -#               %th.text-center.custom_column_manage= t('.manage')
        -#           %tbody
        -#             - @enter_ngos.each do |enter_ngo|
        -#               %tr
        -#                 %td= date_format(enter_ngo.accepted_date)
        -#                 %td
        -#                   .text-center
        -#                     %button.btn.btn-outline.btn-success.btn-xs{"data-target" => "#enter-ngo-form-#{enter_ngo.id}", "data-toggle" => 'modal'}
        -#                       = fa_icon('pencil')
        -#                   = render 'client/enter_ngos/edit_form', client: @client, enter_ngo: enter_ngo
        -#
        -# - if @exit_ngos.any?
        -#   .row
        -#     .col-xs-12
        -#       .table-responsive
        -#         %table.table.table-bordered.table-striped.table-hover
        -#           %thead
        -#             %tr
        -#               %th= t('.exit_date')
        -#               %th= t('.exit_circumstance')
        -#               %th= t('.exit_reasons')
        -#               %th= t('.exit_note')
        -#               %th= t('.other_info_of_exit')
        -#               %th.text-center= t('.manage')
        -#           %tbody
        -#             - @exit_ngos.each do |exit_ngo|
        -#               %tr
        -#                 %td= date_format(exit_ngo.exit_date)
        -#                 %td= exit_ngo.exit_circumstance
        -#                 %td
        -#                   %strong
        -#                     %ul
        -#                     - exit_reasons = exit_ngo.exit_reasons.reject(&:empty?)
        -#                     - exit_reasons.each do |exit_reason|
        -#                       %li= exit_reason
        -#                 %td= exit_ngo.exit_note
        -#                 %td= exit_ngo.other_info_of_exit
        -#                 %td
        -#                   .text-center
        -#                     %button.btn.btn-outline.btn-success.btn-xs{"data-target" => "#exitFromNgo-#{exit_ngo.id}", "data-toggle" => 'modal'}
        -#                       = fa_icon('pencil')
        -#                   = render 'client/exit_ngos/edit_form', client: @client, exit_ngo: exit_ngo

.row
  = render 'placement'
  = render 'referrals/confirm_referral'
  = render 'referrals/confirm_repeat_referral'
