.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5= "#{t('.modification_of')} #{@client.name}"
        .ibox-tools
          = link_to t('.back'), :back, class: 'btn btn-default btn-back-default btn-back'
      .ibox-content
        = render 'shared/client'
