.row
  .col-sm-3
    = f.association :province, input_html: { name: 'carer[province_id]', data: { type: 'provinces', 'subaddresses' =>  ['districts', 'communes', 'villages'] } }
  .col-sm-3
    = f.input :district_id, collection: @carer_districts, input_html: { name: 'carer[district_id]', data: { type: 'districts', 'subaddresses' => ['communes', 'villages'] } }
  .col-sm-3
    = f.input :commune_id, collection: @carer_communes, input_html: { name: 'carer[commune_id]', data: { type: 'communes', 'subaddresses' => ['villages'] } }, hint: (@client.try(:old_commune) if @client.try(:commune_id).nil?)
  .col-sm-3
    = f.input :village_id, collection: @carer_villages, input_html: { name: 'carer[village_id]', data: { type: 'villages' } }, hint: (@client.try(:old_commune) if @client.try(:commune_id).nil?)

.row
  .col-xs-12.col-sm-6.col-md-3.house_number
    = f.input :house_number, label: t('.house_number'), input_html:{ name: 'carer[house_number]', required: 'true'}
  .col-xs-12.col-sm-6.col-md-3
    = f.input :street_number, label: t('.street_number'), input_html: { name: 'carer[street_number]' }
  .col-xs-12.col-sm-6.col-md-3
    = f.input :current_address, label: t('.current_address'), input_html:{ name: 'carer[current_address]', required: 'true'}
  .col-xs-12.col-sm-6.col-md-3
    = f.input :address_type, label: t('.address_type'), input_html: { name: 'carer[address_type]' }
