= simple_form_for([@client, @internal_referral]) do |f|
  = f.error_notification
  .row
    .col-md-6
      = f.label :referral_date, label: t('internal_referrals.form.referral_date')
      .input-group.date
        = f.text_field :referral_date, value: f.object.referral_date&.strftime("%Y-%m-%d") || Date.today, class: 'date optional form-control date-picker m-b-md', type: 'text', name: 'internal_referral[referral_date]', id: 'referral_date',  data: { date_start_date: initial_referral_date_picker_format(@client), date_set_date: Date.today }
        %span.input-group-addon
          %i.fa.fa-calendar-check-o
      = f.error :referral_date, class: 'text-danger'
  .m-t-sm
  = f.hidden_field :client_id
  %label.client_id.required.control-label{ for: 'client_id m-t-sm' }
    %abbr{ title: 'required' } *
    = t('internal_referrals.form.client_id')
  .input-group.m-b-sm
    .text-muted= @client.slug
  %label.client_id.required.control-label{ for: 'client_id m-t-sm' }
    %abbr{ title: 'required' } *
    = t('internal_referrals.form.client_name')
  .input-group.m-b-sm
    .text-muted= @client.name
  = f.input :user_id, label: t('internal_referrals.form.user_id'), required: true, collection: User.all, label_method: :name, value_method: :id, selected: current_user.id
  = f.input :program_stream_ids, label: t('internal_referrals.form.program_stream_ids'), required: true, collection: ProgramStream.with_internal_referral_users, label_method: :name, value_method: :id, input_html: { multiple: true }
  = f.label :client_representing_problem, t('.client_representing_problem')
  .help-block= t('.client_representing_problem_note')
  = f.input :client_representing_problem, label: false
  = f.input :emergency_note, label: t('.emergency_note')
  = f.label :referral_reason, t('.referral_reason')
  .help-block= t('.referral_reason_note')
  = f.input :referral_reason, label: false
  = f.label :referral_decision, t('.referral_decision')
  .help-block= t('.referral_decision_note')
  = f.input :referral_decision, label: false
  = f.input :attachments, label: t('.attachments'), multiple: true, as: :file, input_html: { multiple: true, name: 'internal_referral[attachments][]' }
  %p
    %i.small="#{t('.allow_file_size')} (.jpg, .jpeg, .png, .doc, .docx, .xls, .xlsx, .pdf)"
  %p
    %i.small= t('.max_file_size')

  .ibox-footer
    = f.submit t('save'), class: 'btn btn-primary form-btn btn-save', data: { disable_with: t('saving') }
    - if @internal_referral.persisted?
      = link_to t('cancel'), client_internal_referral_path(@client, @internal_referral), class: 'btn btn-default form-btn'
    - else
      = link_to t('cancel'), client_path(@client), class: 'btn btn-default form-btn'
