.row.mini-margin
  .col-xs-12.col-sm-10.col-sm-offset-1
    .ibox#care-conference-info.center-block
      .ibox-title
        = link_to client_case_conferences_path(@case_conference.client), class: 'btn btn-default' do
          = t('.back')
      .ibox-content
        .row
          .col-xs-10
            %p
              %b= "#{t('.case_conference')} #{@case_conference.client.name}"
              %br
              - if @case_conference.index_of == 0
                = "#{t('.initial_case_conference')}"
              - else
                = "#{t('.based_on')} #{@case_conference.index_of + 1}"
              %br
              = "#{t('.created_by')} #{whodunnit('CaseConference', @case_conference)} #{t('.on_date')} #{date_format(@case_conference.created_at)}"
          .col-xl-1.button-position
            .pull-right
              - if policy(@case_conference).edit?
                = link_to(edit_client_case_conference_path(@case_conference.client, @case_conference), class: 'btn btn-outline btn-success') do
                  = fa_icon('pencil')
              - if current_user.admin?
                = link_to(client_case_conference_path(@case_conference.client, @case_conference), class: 'btn btn-outline btn-danger', method: 'delete', data: { confirm: t('.are_you_sure') }) do
                  = fa_icon('trash')
        %table.table.small.m-b-xs#main-info
          %tbody
            %tr
              %td
                %strong= "#{t('.meeting_date')} :"
                %strong= date_format @case_conference.meeting_date
              %td
                %strong= "#{t('.attendants')} :"
                %strong
                  - order_case_worker(@case_conference).each do |case_worker|
                    %strong.label.label-default
                      = user case_worker
        %hr/
        .row
          .col-md-12
            .panel.panel-default
              .panel-heading
                %h5= t('.presenting_problem')
              .panel-body
                - @case_conference.case_conference_domains.each do |ccd|
                  %dl.small.m-t-md
                    %dt= "#{ccd.domain.identity} (#{ccd.domain.name})"
                    %dd= ccd.presenting_problem
        .row
          .col-md-12
            .panel.panel-default
              .panel-heading
                %h5= t('.presenting_problem')
              .panel-body
                %dl.small.m-t-md
                  %dt= t('.client_strength')
                  %dd= @case_conference.client_strength
                %dl.small.m-t-md
                  %dt= t('.client_limitation')
                  %dd= @case_conference.client_limitation
                %dl.small.m-t-md
                  %dt= t('.client_engagement')
                  %dd= @case_conference.client_engagement
                %dl.small.m-t-md
                  %dt= t('.local_resource')
                  %dd= @case_conference.local_resource

                %dl.small.m-t-md
                  %dt= t('.attachments')
                  %dd
                    - if @case_conference.attachments.any?
                      = render 'attachment', { case_conference: @case_conference }
                      %button.btrn.btn-info.btn-sm{"data-target" => "#attachments-#{@case_conference.id}", "data-toggle" => "modal", :type => "button"}= t('.show_attachment')



