.panel.panel-default
  #headingClientField.panel-heading{:role => "tab"}
    .row
      .col-md-6
        %h4.panel-title
          %a{"aria-controls" => "collapse-#{group}", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse-#{group}", :role => "button"}
            - if group == 'case_note'
              = t('settings.case_notes.case_note')
            - else
              = group.titleize
      .col-md-6
        - if group_setting = fields.find(&:group_setting?)
          .text-right
            .i-checks-meta-fields
              = f.input :visible, as: :boolean, wrapper_html: { class: "field_setting_#{group_setting.id}_visible" }, input_html: { checked: group_setting.visible?,  name: "field_setting[#{group_setting.id}][visible]" }, label: 'Show', wrapper: false

  - if fields.any?(&:field_setting?)
    .panel-collapse.collapse{"aria-labelledby" => "headingClientField", :role => "tabpanel", id: "collapse-#{group}"}
      .panel-body
        .row.header
          .col-md-4
            %p Name
          .col-md-4
            %p Label
          .col-md-1
            %p Show
          .col-md-1
            %p Required
        - fields.each do |field|
          - next if field.group_setting?
          = render 'field_settings/field_row', field: field, f: f
