.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5.text-center= t('.field_settings')
      .ibox-content
        .row
          .col-xs-12.col-sm-12
            #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
              - @field_settings.group_by(&:group).each do |group, fields|
                .panel.panel-default
                  #headingClientField.panel-heading{:role => "tab"}
                    %h4.panel-title
                      %a{"aria-controls" => "collapse-#{group.titleize}", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse-#{group.titleize}", :role => "button"}
                        = group.titleize
                  .panel-collapse.collapse.in{"aria-labelledby" => "headingClientField", :role => "tabpanel", id: "collapse-#{group.titleize}"}
                    .panel-body
                      .row
                        .col-md-4
                          %p Field Name
                        .col-md-4
                          %p Label
                        .col-md-2
                          %p Hide
                        .col-md-2
                      - fields.each do |field|
                        = simple_form_for field do |f|
                          .col-md-4
                            = field.name
                          .col-md-4
                            = f.input :label, label: false
                          .col-md-2
                            .i-checks-meta-fields
                              = f.input :hidden, label: false
                          .col-md-2
                            = f.submit 'Save', class: 'hidden', class: 'btn btn-primary form-btn hidden'

      .ibox-footer
