.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5.text-center= t('.field_settings')
      .ibox-content
        = simple_form_for :field_setting, url: bulk_update_field_settings_path, method: :put do |f|
          .row
            .col-xs-12.col-sm-12
              #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
                - @field_settings.group_by(&:form_group_1).each do |group, fields|
                  - group = group.presence || 'other'
                  
                  - if group.in?(%w(client_form family_form case_management_tools anti-trafficking))
                    = render "field_settings/field_setting_groups/#{group.underscore}", group: group, fields: fields, f: f
                  - else
                    = render "field_setting_group", group: group, fields: fields, f: f

          .row
            .col-sm-12
              .text-right
                = f.submit 'Save', data: { disable_with: 'Saving ...' }, disabled: true, class: 'btn btn-primary form-btn'

      .ibox-footer
