.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5.text-center= t('.field_settings')
      .ibox-content
        .row
          .col-xs-12.col-sm-12
            #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
              - @field_settings.group_by(&:group).each do |group, fields|
                .panel.panel-default
                  #headingClientField.panel-heading{:role => "tab"}
                    .row
                      .col-md-6
                        %h4.panel-title
                          %a{"aria-controls" => "collapse-#{group.titleize}", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse-#{group.titleize}", :role => "button"}
                            = group.titleize
                      .col-md-6
                        - if group_setting = fields.find(&:group_setting?)
                          .text-right
                            = simple_form_for group_setting do |f|
                              .i-checks-meta-fields
                                = f.input :visible, label: 'Show', wrapper: false

                  - if fields.any?(&:field_setting?)
                    .panel-collapse.collapse.in{"aria-labelledby" => "headingClientField", :role => "tabpanel", id: "collapse-#{group.titleize}"}
                      .panel-body
                        .row.header
                          .col-md-4
                            %p Name
                          .col-md-4
                            %p Label
                          .col-md-2
                            %p Show
                          .col-md-2
                        - fields.each do |field|
                          - next if field.group_setting?
                          .row
                            = simple_form_for field do |f|
                              .col-md-4
                                = field.current_label
                              .col-md-4
                                = f.input :label, label: false, input_html: {  value: begin field.label || t("clients.form.#{field.name}", raise: I18n::MissingTranslationData) rescue field.current_label end  }
                              .col-md-2
                                - if field.required?
                                  .i-checks-meta-fields{  data: { toggle: :tooltip }, title: 'Cannot hide required field' }
                                    = f.input :visible, label: false, disabled: true
                                - else
                                  .i-checks-meta-fields
                                    = f.input :visible, label: false
                              .col-md-2
                                = f.submit 'Save', class: 'hidden', class: 'btn btn-primary form-btn hidden'

      .ibox-footer
