.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5.text-center= t('.field_settings')
      .ibox-content
        = simple_form_for :field_setting, url: bulk_update_field_settings_path, method: :put do |f|
          .row
            .col-xs-12.col-sm-12
              #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
                - @field_settings.group_by(&:group).each do |group, fields|
                  .panel.panel-default
                    #headingClientField.panel-heading{:role => "tab"}
                      .row
                        .col-md-6
                          %h4.panel-title
                            %a{"aria-controls" => "collapse-#{group}", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse-#{group}", :role => "button"}
                              - if group == 'case_note'
                                = t('settings.case_notes.case_note')
                              - else
                                = group.titleize
                        .col-md-6
                          - if group_setting = fields.find(&:group_setting?)
                            .text-right
                              .i-checks-meta-fields
                                = f.input :visible, as: :boolean, wrapper_html: { class: "field_setting_#{group_setting.id}_visible" }, input_html: { checked: group_setting.visible?,  name: "field_setting[#{group_setting.id}][visible]" }, label: 'Show', wrapper: false

                    - if fields.any?(&:field_setting?)
                      .panel-collapse.collapse{"aria-labelledby" => "headingClientField", :role => "tabpanel", id: "collapse-#{group}"}
                        .panel-body
                          .row.header
                            .col-md-4
                              %p Name
                            .col-md-4
                              %p Label
                            .col-md-2
                              %p Show
                            .col-md-2
                          - fields.each do |field|
                            - next if field.group_setting?
                            .row
                              .col-md-4
                                = field.current_label
                                - if field.label_only?
                                  %span= " (Label Only)"
                              .col-md-4
                                = f.input :label, label: false, required: true, wrapper_html: { class: "field_setting_#{field.id}_label" }, input_html: { id: "field_setting_#{field.id}_visible", name: "field_setting[#{field.id}][label]", value: begin field.label || t("clients.form.#{field.name}", raise: I18n::MissingTranslationData) rescue field.current_label end  }
                              .col-md-2
                                - if field.required?
                                  .i-checks-meta-fields{  data: { toggle: :tooltip }, title: 'Cannot hide required/label-only field' }
                                    = f.input :visible, as: :boolean, wrapper_html: { class: "field_setting_#{field.id}_visible" }, input_html: { checked: field.visible?,  name: "field_setting[#{field.id}][visible]" }, label: false, disabled: true
                                - else
                                  .i-checks-meta-fields
                                    = f.input :visible, as: :boolean, wrapper_html: { class: "field_setting_#{field.id}_visible" }, input_html: { checked: field.visible?,  name: "field_setting[#{field.id}][visible]" }, label: false
                              .col-md-2

          .row
            .col-sm-12
              .text-right
                = f.submit 'Save', data: { disable_with: 'Saving ...' }, disabled: true, class: 'btn btn-primary form-btn'

      .ibox-footer
