.row
  .col-xs-12
    .ibox
      .ibox-content.no-border
        .row
          .col-xs-12
            = render 'clients/client_advanced_searches/form_option'
        .row.column-picker
          .col-xs-12{ class: current_setting.try(:enable_hotline) ? 'col-md-3' : 'col-md-3' }
            %label= t('.client_column')
            .client-column
              = datagrid_form_for @client_grid, url: clients_url, html: { class: 'grid-form' }
          .col-xs-12{ class: current_setting.try(:enable_hotline) ? 'col-md-2' : 'col-md-3' }
            %label= t('.custom_form_column')
            = render 'clients/client_advanced_searches/custom_form_column', custom_form_columns: @custom_form_columns
          .col-xs-12{ class: current_setting.try(:enable_hotline) ? 'col-md-2' : 'col-md-3' }
            %label= t('.program_stream_column')
            = render 'clients/client_advanced_searches/program_stream_column', program_stream_columns: @program_stream_columns
          .col-xs-12{ class: current_setting.try(:enable_hotline) ? 'col-md-2' : 'col-md-3' }
            %label= t('.assessment')
            = render 'clients/client_advanced_searches/assessment_columns'
          - if current_setting.try(:enable_hotline) == true
            .col-xs-12.col-md-3
              %label= t('.hotline_column')
              = render 'clients/client_advanced_searches/hotline_call_column', hotline_call_columns: @hotline_call_columns
        .row
          .col-xs-12
            #builder.advanced-search-builder{ 'data-basic-search-rules' => @basic_filter_params, 'data-filter-translation' => { add_filter: t('.add_new_filter'), add_group: t('.add_new_group'), add_custom_group: t('.add_custom_group'), delete_group: t('.delete_group') }}
            %span.basic-filter-error
              %i Please Select Field to Filter

        #search-action{ data: { action: params.dig(:builder) || params.dig(:client_advanced_search, :action_report_builder)} }

      .ibox-footer
        = simple_form_for :client_advanced_search, url: advanced_search_clients_path(commit: 'commit'), method: 'POST', html: { id: 'advanced-search' } do |f|
          = f.hidden_field :custom_form_selected
          = f.hidden_field :program_selected
          = f.hidden_field :assessment_selected
          = f.hidden_field :enrollment_check
          = f.hidden_field :tracking_check
          = f.hidden_field :exit_form_check
          = f.hidden_field :basic_rules
          = f.hidden_field :quantitative_check
          = f.hidden_field :hotline_check
          = f.hidden_field :wizard_custom_form_check
          = f.hidden_field :wizard_program_stream_check
          = f.hidden_field :wizard_quantitative_check
          = f.hidden_field :wizard_enrollment_check
          = f.hidden_field :wizard_tracking_check
          = f.hidden_field :wizard_exit_form_check
          = f.hidden_field :action_report_builder
          = hidden_field_tag :data, params[:data]
          / = f.hidden_field :overdue_assessment
          = hidden_field_tag :locale, "#{params[:locale]}"
          #client-builder-fields{ data: { fields: @builder_fields.to_json }}
          #quantitative-fields{ data: { fields: @quantitative_fields.to_json }}
          #hotline-fields{ data: { fields: @hotline_fields.to_json } }

          = f.submit t('.search'), class: 'btn btn-primary', id: 'search'
          = link_to t('.reset'), clients_path, class: 'btn btn-default', data: { toggle: 'popover', trigger: "hover", html: 'true', content: "#{I18n.t('inline_help.clients.index.buttons.reset')}", placement: "right" }

