.row
  .col-xs-12
    .ibox
      .ibox-title
        .row
          .col-xs-12.col-sm-6.col-md-4
            %h5= t('.advanced_search')
          .col-xs-12.col-sm-6.col-md-8.text-right
            %button.btn.btn-primary#load-saved-search{ 'data-toggle': 'modal', 'data-target': '#load-save-search' }
              = t('.load_save_search')
            %button.btn.btn-primary#save-search-setting{ 'data-toggle': 'modal', 'data-target': '#save-query' }
              = t('.save_search_settings')
            -# = link_to t('.csi_domain_scores'), current_url({format: 'xls', type: 'basic_info'}), class: "btn btn-info btn-export #{@clients_by_user.present? ? '' : 'disabled'}"
            -# = link_to t('.export_to_xls'), current_url(format: 'xls'), class: "btn btn-info btn-export #{@clients_by_user.present? ? '' : 'disabled'}"
        .row
          = render 'clients/client_advanced_searches/save_search_setting'
        .row
          = render 'clients/client_advanced_searches/load_save_search'
      .ibox-content
        .row
          .col-xs-12
            = render 'clients/client_advanced_searches/form_option'
        .row
          .col-xs-12.col-md-4
            %label= t('.client_column')
            #client-column
              = datagrid_form_for @client_grid, url: clients_url, html: { class: 'grid-form' }
          .col-xs-12.col-md-4
            %label= t('.custom_form_column')
            = render 'clients/client_advanced_searches/custom_form_column'
          .col-xs-12.col-md-4
            %label= t('.program_stream_column')
            = render 'clients/client_advanced_searches/program_stream_column'
        %hr/

        .row
          .col-xs-12
            #builder.advanced-search-builder{ 'data-basic-search-rules' => @basic_filter_params, 'data-filter-translation' => { add_filter: t('.add_new_filter'), add_group: t('.add_new_group'), delete_group: t('.delete_group') }}
            %span.basic-filter-error
              %i Please Select Field to Filter

      .ibox-footer
        %button#search.btn.btn-primary= t('.search')
        = link_to t('.reset'), clients_path, class: 'btn btn-default'

= simple_form_for :client_advanced_search, url: :clients, method: 'GET', html: { id: 'advanced-search' } do |f|
  = f.hidden_field :custom_form_selected
  = f.hidden_field :program_selected
  = f.hidden_field :enrollment_check
  = f.hidden_field :tracking_check
  = f.hidden_field :exit_form_check
  = f.hidden_field :basic_rules
  = f.hidden_field :quantitative_check
  = hidden_field_tag :locale, "#{params[:locale]}"
  #client-builder-fields{ data: { fields: @builder_fields.to_json }}
  #quantitative-fields{ data: { fields: @quantitative_fields.to_json }}
