%h4
  %label **
  %span= t('.filter_option')
  %label **
.well
  .row
    .col-xs-12.col-md-4
      #quantitative-type
        .row
          .col-xs-12
            .form-group
              = check_box_tag :nil, '1', quantitative_check, { class: 'i-checks', id: 'quantitative-type-checkbox' }
              %label= t('.quantitative')
    .col-xs-12.col-md-4
      #custom-form-wrapper
        .row
          .col-xs-12
            .form-group
              = check_box_tag :nil, '1', custom_form_values.present?, { class: 'i-checks', id: 'custom-form-checkbox' }
              %label= t('.custom_form')
        .row
          .col-xs-12
            .form-group.custom-form{ data: { value: custom_form_values } }
              = select_tag(:nil, options_for_select(@custom_fields.pluck(:form_title, :id), custom_form_values), { multiple: true, id: 'custom-form-select', class: 'form-control' } )
    .col-xs-12.col-md-4
      #program-stream-wrapper
        .row
          .col-xs-12
            .form-group
              = check_box_tag :nil, '1', program_stream_values.present?, { class: 'i-checks', id: 'program-stream-checkbox' }
              %label= t('.program_stream')
        .row
          .col-xs-12
            .form-group.program-stream{ data: { value: program_stream_values } }
              = select_tag(:nil, options_for_select(@program_streams.pluck(:name, :id), program_stream_values), { multiple: true, id: 'program-stream-select', class: 'form-control' } )
        .row
          .col-xs-12
            .program-association
              .form-group
                = check_box_tag :nil, '1', enrollment_check, { class: 'i-checks', id: 'enrollment-checkbox' }
                %label= t('.enrollment')
              .form-group
                = check_box_tag :nil, '1', tracking_check, { class: 'i-checks', id: 'tracking-checkbox' }
                %label= t('.tracking')
              .form-group
                = check_box_tag :nil, '1', exit_form_check, { class: 'i-checks', id: 'exit-form-checkbox' }
                %label= t('.exit_program')

#opt-group-translation{ data: { enrollment: t('.enrollment'), tracking: t('.tracking'), exit_program: t('.exit_program'), basic_fields: t('.basic_fields'), custom_form: t('.custom_form'), quantitative: t('.quantitative'), csi_domain_scores: t('.csi_domain_scores')}}
