#load-save-search.modal.fade{ role: 'dialog' }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ 'data-dismiss': 'modal', type: 'button'} ×
        %h4.modal-title= t('.search_settings_list')
      .modal-body.advanced-search-query
        %ul.nav.nav-tabs
          %li.active
            %a{ href: '#my-saved-searches', 'data-toggle' => 'tab'}= t('.my_saved_search')
          %li
            %a#other-saved-searches-tab{ href: '#other-saved-searches', 'data-toggle' => 'tab'}= t('.other_saved_search')
        .tab-content
          = render 'clients/client_advanced_searches/my_saved_searches'
          = render 'clients/client_advanced_searches/other_saved_searches'
