- cache cache_keys_base + ['my_search', @my_advanced_searches.map(&:updated_at).max ] do
  #my-saved-searches.tab-pane.fade.in.active
    .table-responsive
      %table.table.table-bordered.table-striped.table-hover
        %thead
          %tr
            %th.name= t('.name')
            %th.description= t('.description')
            %th.date.text-center= t('.date')
            %th.load-query.text-center= t('.load')
            %th.action.text-center= t('.action')
        %tbody
          - @my_advanced_searches.each do |advanced_search|
            %tr
              %td.name= advanced_search.name
              %td.description= advanced_search.description
              %td.date.text-center= date_format(advanced_search.created_at)
              %td.load-query.text-center
                = prevent_load_saved_searches(advanced_search)
              %td.query-action.text-center
                = prevent_edit_load_saved_searches(advanced_search)
                = link_to advanced_search_save_query_path(advanced_search), method: :delete, data: { confirm: t('are_you_sure') }, class: 'btn btn-outline btn-danger btn-xs' do
                  = fa_icon('trash')
