#default-assessment-setting.panel.panel-default
  .panel-heading
    %h3
      - if current_organization.aht?
        = t('.default_assessment_framework')
      - else
        = t('.default_assessment')
  .panel-body
    .row
      .col-xs-12.col-sm-3
        %label.control-label
          %abbr{ title: 'required' }= '*'
        %label.control-label= t('.name')
      .col-xs-12.col-sm-3
        %label.control-label
          %abbr{ title: 'required' }= '*'
        %label.control-label= t('.max_assessment')
    .row
      .col-xs-12.col-sm-3
        .form-group
          = f.input :default_assessment, label: false, readonly: true
      .col-xs-12.col-sm-3
        .form-group
          = f.input :max_assessment, label: false
      .col-xs-12.col-sm-3
        .form-group
          = f.input :assessment_frequency, collection: %w(day week month year).map{ |freq| [freq.titleize, freq] }, input_html: { class: 'select2' }, label: false
#assessment-setting.panel.panel-default
  .panel-heading
    %h3= t('.assessment')
  .panel-body
    #custom_assessment_settings.panel-body
      = f.simple_fields_for :custom_assessment_settings do |ff|
        = render 'custom_assessment_setting_fields', :f => ff
      .links
        = link_to_add_association 'Add New Customize Assessment', f, :custom_assessment_settings, class: 'btn btn-primary pull-right', id: 'disabled_add_custom_assessment'
        .row
          .col-xs-12
            %p
              %i= t('.noted')

.panel.panel-default
  .panel-heading
    %h3= t('.new_client_assessment')
  .panel-body
    .row
      .col-xs-12
        = f.input :show_prev_assessment, input_html: { class: 'i-checks' }, label: t('.show_prev_assessment')

.panel.panel-default
  .panel-heading
    %h3= t('.assessment_notification')
  .panel-body
    .row
      .col-xs-12
        = f.input :two_weeks_assessment_reminder, input_html: { class: 'i-checks' }, label: t('.two_weeks_assessment_reminder')


