.nested-fields
  .row
    .col-xs-12.col-sm-3
      %label.control-label
        %abbr{ title: 'required' }= '*'
      %label.control-label= 'Custom Assessment'
    .col-xs-12.col-sm-4
      %label.control-label
        %abbr{ title: 'required' }= '*'
      %label.control-label= 'Maximum time between assessments'
    .col-xs-12.col-sm-push-2.col-sm-2
      %label.control-label
        %abbr{ title: 'required' }= '*'
      %label.control-label= 'Eligible'

  .row
    .col-xs-12.col-sm-3
      .form-group
        = f.input :custom_assessment_name, label: false
    .col-xs-12.col-sm-3
      .form-group
        = f.input :max_custom_assessment, label: false, input_html: { style: "color: #383636 !important" }, disabled: f.object.custom_assessment_frequency == 'unlimited'
    .col-xs-12.col-sm-3
      .form-group
        = f.input :custom_assessment_frequency, collection: %w(day week month year unlimited).map{ |freq| [freq.titleize, freq] }, input_html: { class: 'select2' }, label: false
    .col-xs-12.col-sm-2
      .form-group
        = f.input :custom_age, placeholder: 'Age', label: false
    .col-xs-12.col-sm-1
      .form-group
        - if f.object.case_notes.any?
          %span{ data: { toggle: "popover", trigger: "hover", placement: 'auto', title: "Notice!", content: "This custom assessment has been attached with care plan or case note." } }
            = link_to_remove_association '', f, class: "btn btn-outline btn-danger btn-sm fa fa-times disabled", data: { confirm: t('.are_you_sure') }
        - else
          = link_to_remove_association '', f, class: "btn btn-outline btn-danger btn-sm fa fa-times", data: { confirm: t('.are_you_sure') }
        = f.check_box :enable_custom_assessment, class: "i-checks", as: :boolean, id: "checkbox_custom_assessment_setting", data: { current_setting: @current_setting&.id }
