.row
  .col-xs-12
    = simple_form_for @setting do |f|
      .ibox
        .ibox-title
          %h5.text-center= t('.custom_labels')
        .ibox-content
          .row
            - if current_setting.country_name == 'lesotho'
              .col-xs-12.col-sm-4
                .form-group
                  = f.input :custom_id1_latin, label: t('.custom_id1_latin')
              .col-xs-12.col-sm-4
                .form-group
                  = f.input :custom_id2_latin, label: t('.custom_id2_latin')
            - else
              .col-xs-12.col-sm-4
                .form-group
                  = f.input :custom_id1_latin, label: t('.custom_id1_latin')
              .col-xs-12.col-sm-4
                .form-group
                  = f.input :custom_id1_local, label: t("settings.custom_labels.#{current_setting.country_name}.custom_id1_local")
              .col-xs-12.col-sm-4
                .form-group
                  = f.input :custom_id2_latin, label: t('.custom_id2_latin')
              .col-xs-12.col-sm-4
                .form-group
                  = f.input :custom_id2_local, label: t("settings.custom_labels.#{current_setting.country_name}.custom_id2_local")
        .ibox-footer
          = f.submit t('save'), name: 'custom_labels' ,class: 'btn btn-primary', data: { disable_with: t('saving') }
