.row
  .col-xs-12
    = simple_form_for @setting do |f|
      .ibox
        .ibox-title
          %h5.text-center= t('.csi_tools')
        .ibox-content
          = render 'assessment', f: f
          = render 'case_note', f: f
        .ibox-footer
          = f.submit t('save'), class: 'btn btn-primary'
