.row
  .col-xs-12
    = simple_form_for @setting do |f|
      .ibox
        .ibox-title
          %h5.text-center= t('.settings')
          .ibox-tools
            = f.input_field :disable_assessment, class: 'i-checks', as: :boolean
            %label= t('.disable_assessment')
        .ibox-content
          = render 'country'
          = render 'assessment', f: f
          = render 'case_note', f: f
          = render 'default_columns', f: f
        .ibox-footer
          = f.submit t('save'), class: 'btn btn-primary'
