.row
  .col-xs-12
    = simple_form_for @setting do |f|
      .ibox
        .ibox-content
          = render "tablist"
          .tab-content
            .tab-pane.active
              = f.input_field :enable_default_assessment, class: 'i-checks', as: :boolean
              %label.default_assessment= t('.default_assessment')
              - if Organization.ratanak?
                = render 'case_conference', f: f
                = render 'internal_referral', f: f
              = render 'assessment_setting', f: f
              = render 'settings', f: f
        .ibox-footer
          = f.submit t('save'), class: 'btn btn-primary', data: { disable_with: t('saving') }
