.row
  .col-xs-12
    = simple_form_for @setting, url: integration_settings_path, method: :put do |f|
      .ibox
        .ibox-title
          %h5.text-center= t('.title')
        .ibox-content
          .i-checks.integration
            %label= t('.integration_label')
            %a{:role => "button", :tabIndex => "0",  data: { toggle: "popover", trigger: "focus", content: "#{I18n.t('inline_help.setting.external_system_integration')}".html_safe, placement: "right", html: true } }
              = fa_icon "info-circle", class: 'text-info m-xs'
            .form-group
              .radio
                %label
                  = radio_button_tag "setting[integrated]", 'true', @current_organization.integrated == true
                  Yes
              .radio
                %label
                  = radio_button_tag "setting[integrated]", 'false', @current_organization.integrated == false
                  No
        .ibox-footer
          = f.submit t('save'), name: 'research_module' ,class: 'btn btn-primary', data: { disable_with: t('saving') }
