.row
  .col-xs-12
    = simple_form_for @setting do |f|
      .ibox
        .ibox-content
          = render "tablist"
          .tab-content
            .tab-pane.active
              .panel.panel-default
                .panel-heading
                  %h3= t('settings.assessment_setting.screening_assessment')
                .panel-body
                  .row
                    .col-xs-12
                      = f.input :use_screening_assessment, input_html: { class: 'i-checks' }
                    .col-xs-12.col-md-3.screening-assessment-form{ class: "#{'hidden' unless f.object.use_screening_assessment? }" }
                      = f.input :screening_assessment_form_id, prompt: 'Please Choose', collection: CustomField.all, label: 'Choose Custom Form for Screening Assessment', label_method: :form_title, value_method: :id, input_html: { class: 'select2' }
              .panel.panel-default
                .panel-heading
                  %h3= t('screening_assessments._attr.cb_dmat')
                .panel-body
                  .row
                    .col-xs-12
                      = f.input :cbdmat_one_off, as: :boolean, label: t('settings.assessment_setting.cb_dmat_one_off', screening_assessment: t('screening_assessments._attr.screening_assessment')), input_html: { class: 'i-checks' }
                    .col-xs-12
                      = f.input :cbdmat_ongoing, as: :boolean, label: t('settings.assessment_setting.cb_dmat_multi', screening_assessment: t('screening_assessments._attr.screening_assessment')), input_html: { class: 'i-checks' }
        .ibox-footer
          = f.submit t('save'), class: 'btn btn-primary', data: { disable_with: t('saving') }
