#custom-form.tab-pane.active{role: "tabpanel"}
  .table-responsive
    %table.table.table-bordered.table-hover
      %thead
        %th.form_title
          = t('.form_title')
          .pull-right
            = render 'order', column: :form_title, ngo: 'current'
        %th.type
          = t('.type')
          .pull-right
            = render 'order', column: :entity_type, ngo: 'current'
        %th.frequency= t('.frequency')
        %th.organization= t('.organization')
        %th.manage.text-center= t('.manage')
      %tbody
        - @custom_fields.each do |custom_field|
          %tr
            %td= custom_field.form_title
            %td= custom_field.entity_type
            %td= frequency_note(custom_field)
            %td= custom_field.ngo_name
            %td.manage.text-center
              = link_to custom_field_path(custom_field.id), class: 'btn btn-outline btn-primary btn-xs', title: t('.preview') do
                = fa_icon('eye')
              - if can? :update, CustomField
                = link_to edit_custom_field_path(custom_field), class: 'btn btn-outline btn-success btn-xs' do
                  = fa_icon('pencil')
              - if can? :destroy, CustomField
                = link_to custom_field, class: "btn btn-outline btn-danger btn-xs margin-btn #{disable_action_on_custom_form(custom_field)}", method: :delete, data: { confirm: t('.are_you_sure') } do
                  = fa_icon('trash')
  .text-center
    = paginate @custom_fields, params: { tab: 'current_ngo' }, :param_name => 'page_1'
