= simple_form_for(@custom_field) do |f|
  .ibox-content
    = f.label :entity_type, label: t('.entity_type')
    = f.input :entity_type, collection: ['Client', 'Family', 'Partner', 'User'],label: false, disabled: used_custom_form?(@custom_field),include_blank: false
    = f.label :form_title, label: t('.form_title')
    = f.input :form_title,label: false, disabled: used_custom_form?(@custom_field)
    = f.input :fields, as: :hidden
    .build-wrap{ 'data-fields': @custom_field.fields }
    - if f.object.errors[:fields].any?
      %span.help-block= t('.blank')
  .ibox-footer
    = f.submit t('save'), class: 'btn btn-primary form-btn', id: 'custom-field-submit'
    = link_to t('cancel'), custom_fields_path, class: 'btn btn-default form-btn'
