.row
  .col-xs-12.col-sm-8.col-md-8
    = form_tag search_custom_fields_path, method: 'get' do
      .row
        .col-xs-9.col-sm-6.col-md-8.col-lg-4
          = text_field_tag :search, nil, class: 'form-control', placeholder: t('.form_title'), required: true
        .col-xs-3.col-sm-6.col-md-4
          = submit_tag t('.search'), name: nil, class: 'btn btn-primary'
  .col-xs-12.col-sm-4.col-md-4.text-right
    - if can? :manage, CustomField
      = link_to t('.new_custom_form'), new_custom_field_path, class: 'btn btn-primary form-btn no-margin-top'
.row
  .col-xs-12
    .ibox.min-margin-layout
      .ibox-content
        %div
          %ul.nav.nav-tabs{role: "tablist"}
            %li#current_ngo.active{role: "presentation"}
              %a{"aria-controls" => "custom-form", "data-toggle" => "tab", href: "#custom-form", role: "tab"}= t('.custom_form')
            %li#all_ngo{role: "presentation"}
              %a{"aria-controls" => "all-custom-form", "data-toggle" => "tab", href: "#all-custom-form", role: "tab"}= t('.all_custom_form')
          .tab-content
            = render 'current_custom_form_tab'
            = render 'all_custom_form_tab'
