.row
  .col-xs-12.text-right
    - if can? :manage, CustomField
      = link_to t('.new_custom_form'), new_custom_field_path, class: 'btn btn-primary'
.row
  .col-xs-12
    .ibox.min-margin-layout
      .ibox-content
        %table.table.table-bordered.table-hover
          %thead
            %th= t('.form_title')
            %th= t('.entity_type')
            %th= t('.frequency')
            %th= t('.time_of_frequency')
            %th= t('.organization')
            - if can? :manage, CustomField
              %th.manage.text-center= t('.manage')

          - @custom_fields.each do |custom_field|
            %tr
              %td= custom_field.form_title
              %td= custom_field.entity_type
              %td= custom_field.frequency
              %td= custom_field.time_of_frequency
              %td= current_organiation.full_name
              - if can? :manage, CustomField
                %td.manage.text-center
                  = link_to edit_custom_field_path(custom_field), class: 'btn btn-outline btn-success btn-xs' do
                    = fa_icon('pencil')
                  = link_to custom_field, class: "btn btn-outline btn-danger btn-xs margin-btn #{disable_action_on_custom_form(custom_field)}", method: :delete, data: { confirm: t('.are_you_sure') } do
                    = fa_icon('trash')
