.row
  .col-xs-12
    .ibox
      .ibox-title
        %h4= @custom_field.form_title
      .ibox-content
        .row
          .hide-custom-field
            .col-xs-12.col-md-8
              .build-wrap{ 'data-fields': @custom_field.fields }
          - if current_organization.full_name == params[:ngo_name] || params[:ngo_name].blank?
            .col-xs-12.col-md-4
              .row.text-right
                .col-xs-12
                  = link_to t('.copy_to_enrollment'), new_program_stream_path(custom_field_id: @custom_field.id, field: 'enrollment'), class: 'btn btn-primary form-btn'
                .col-xs-12
                  = link_to t('.copy_to_tracking'), new_program_stream_path(custom_field_id: @custom_field.id, field: 'tracking'), class: 'btn btn-primary form-btn'
                .col-xs-12
                  = link_to t('.copy_to_exit_program'), new_program_stream_path(custom_field_id: @custom_field.id, field: 'exit program'), class: 'btn btn-primary form-btn'
      .ibox-footer
        - if current_organization.full_name != params[:ngo_name] && params[:ngo_name].present?
          = link_to t('.copy'), new_custom_field_path(custom_field_id: @custom_field.id, ngo_name: @custom_field.ngo_name), class: 'btn btn-primary form-btn'
        - if current_organization.full_name == params[:ngo_name] || params[:ngo_name].blank?
          = link_to t('.edit'), edit_custom_field_path(@custom_field), class: "btn btn-primary form-btn"
        = link_to t('.back'), custom_fields_path(), class: 'btn btn-default form-btn'
