= simple_form_for [@government_report.client, @government_report], html: { class: 'form-inline' } do |f|
  .panel-body
    = error_notification(f)
    .form-inputs
      / .row
      /   .col-xs-12.col-md-4= f.input :code, label: t('.code')
      /   .col-xs-12.col-md-4= f.input :initial_capital, label: t('.initial_capital')
      /   .col-xs-12.col-md-4= f.input :initial_city, label: t('.initial_city')
      /   .col-xs-12.col-md-4= f.input :initial_commune, label: t('.initial_commune')
      /   .col-xs-12.col-md-4.form-group.date.optional.initial_date
      /     %label.date.optional.control-label{ for: 'initial_date' }= t('.initial_date')
      /     .input-group.date
      /       = f.text_field :initial_date, class: 'date optional form-control date-picker', type: 'text', name: 'government_report[initial_date]', id: 'initial_date'
      /       %span.input-group-addon{ style: 'padding-left: 20px;' }
      /         %i.glyphicon.glyphicon-calendar
      /   .col-xs-12.col-md-4= f.input :client_code, disabled: true, input_html: { value: @client.code }, label: t('.client_code')
      /   .col-xs-12.col-md-4= f.input :commune, label: t('.commune')
      /   .col-xs-12.col-md-4= f.input :city, label: t('.city')
      /   .col-xs-12.col-md-4= f.input :capital, label: t('.capital')
      /   .col-xs-12.col-md-4= f.input :organisation_name, label: t('.organisation_name')
      /   .col-xs-12.col-md-4= f.input :organisation_phone_number, label: t('.phone_number')
      /   .col-xs-12.col-md-4= f.input :client_name, disabled: true, input_html: { value: @government_report.client_name.presence || @client.name }, label: t('.client_name')

      /   .col-xs-12.col-md-4.form-group.date.optional.client_date_of_birth
      /     %label.date.optional.control-label{ for: 'client_date_of_birth' }= t('.date_of_birth')
      /     .input-group.date
      /       = f.text_field :client_date_of_birth, disabled: true, value: @government_report.client_date_of_birth.presence || @client.date_of_birth, class: 'date optional form-control date-picker', type: 'text', name: 'government_report[client_date_of_birth]', id: 'client_date_of_birth'
      /       %span.input-group-addon{ style: 'padding-left: 20px;' }
      /         %i.glyphicon.glyphicon-calendar

      /   .col-xs-12.col-md-4= f.input :client_gender, disabled: true, input_html: { value: @government_report.client_gender.presence || @client.gender }, collection: [['Male', 'male'], ['Female', 'female']], include_blank: false, label: t('.gender')
      /   .col-xs-12.col-md-4= f.input :found_client_at, label: t('.found_client_at')
      /   .col-xs-12.col-md-4= f.input :found_client_village, label: t('.village')
      /   .col-xs-12.col-md-4= f.input :education, label: t('.education')
      /   .col-xs-12.col-md-4= f.input :carer_name, disabled: true, input_html: { value: @government_report.carer_name.presence || (@client.cases.current.carer_names if @client.cases.current)  }, label: t('.carer_name')
      /   .col-xs-12.col-md-4= f.input :client_contact, label: t('.client_contact')
      /   .col-xs-12.col-md-4= f.input :carer_house_number, label: t('.house_number')
      /   .col-xs-12.col-md-4= f.input :carer_street_number, label: t('.street_number')
      /   .col-xs-12.col-md-4= f.input :carer_village, label: t('.village')
      /   .col-xs-12.col-md-4= f.input :carer_commune, label: t('.commune')
      /   .col-xs-12.col-md-4= f.input :carer_city, disabled: true, input_html: { value: @government_report.carer_city.presence || (@client.cases.current.province.name if @client.cases.current && @client.cases.current.province) }, label: t('.city')
      /   .col-xs-12.col-md-4= f.input :carer_capital, label: t('.capital')
      /   .col-xs-12.col-md-4= f.input :carer_phone_number, disabled: true, input_html: { value: @government_report.carer_phone_number.presence || (@client.cases.current.carer_phone_number if @client.cases.current) }, label: t('.phone_number')

      /   .col-xs-12.col-md-4.form-group.date.optional.case_information_date
      /     %label.date.optional.control-label{ for: 'case_information_date' }= t('.case_information_date')
      /     .input-group.date
      /       = f.text_field :case_information_date, disabled: true, value: @government_report.case_information_date.presence || (@client.cases.current.start_date if @client.cases.current), class: 'date optional form-control date-picker', type: 'text', name: 'government_report[case_information_date]', id: 'case_information_date'
      /       %span.input-group-addon{ style: 'padding-left: 20px;' }
      /         %i.glyphicon.glyphicon-calendar

      /   .col-xs-12.col-md-4= f.input :referral_name, label: t('.referral_name')
      /   .col-xs-12.col-md-4= f.input :referral_position, label: t('.position')
      /   .col-xs-12.col-md-4= f.input :anonymous, label: t('.anonymous_form')
      /   .col-xs-12.col-md-4= f.input :anonymous_description, label: t('.anonymous_information')

      /   - @client.quantitative_cases.group_by(&:quantitative_type).each_with_index do |qt, qti|
      /     .col-xs-12.col-md-4
      /       %label= "#{qti+=1} - #{qt.first.name}"
      /       / - binding.pry
      /       = f.association :quantitative_cases, as: :check_boxes, collection: qt.last, multiple: true, label_method: :value, value_method: :id, label: false, input_html: { class: '' }

      /   .col-xs-12.col-md-4= f.input :client_living_with_guardian, label: "#{t('.client_living_with_guardians')}?"
      /   .col-xs-12.col-md-4= f.input :present_physical_health, label: t('.present_physical_health')
      /   .col-xs-12.col-md-4= f.input :physical_health_need, label: t('.physical_health_need')
      /   .col-xs-12.col-md-4= f.input :physical_health_plan, label: t('.physical_health_plan')
      /   .col-xs-12.col-md-4= f.input :present_supplies, label: t('.present_supplies')
      /   .col-xs-12.col-md-4= f.input :supplies_need, label: t('.supplies_need')
      /   .col-xs-12.col-md-4= f.input :supplies_plan, label: t('.supplies_plan')
      /   .col-xs-12.col-md-4= f.input :present_education, label: t('.present_education')
      /   .col-xs-12.col-md-4= f.input :education_need, label: t('.education_need')
      /   .col-xs-12.col-md-4= f.input :education_plan, label: t('.education_plan')
      /   .col-xs-12.col-md-4= f.input :present_family_communication, label: t('.present_family_communication')
      /   .col-xs-12.col-md-4= f.input :family_communication_need, label: t('.family_communication_need')
      /   .col-xs-12.col-md-4= f.input :family_communication_plan, label: t('.family_communication_plan')
      /   .col-xs-12.col-md-4= f.input :present_society_communication, label: t('.present_society_communication')
      /   .col-xs-12.col-md-4= f.input :society_communication_need, label: t('.society_communication_need')
      /   .col-xs-12.col-md-4= f.input :society_communication_plan, label: t('.society_communication_plan')
      /   .col-xs-12.col-md-4= f.input :present_emotional_health, label: t('.present_emotional_health')
      /   .col-xs-12.col-md-4= f.input :emotional_health_need, label: t('.emotional_health_need')
      /   .col-xs-12.col-md-4= f.input :emotional_health_plan, label: t('.emotional_health_plan')
      /   .col-xs-12.col-md-4= f.input :mission_obtainable, label: t('.mission_obtainable')
      /   .col-xs-12.col-md-4= f.input :first_mission, disabled: true, label: t('.first_mission')
      /   .col-xs-12.col-md-4= f.input :second_mission, disabled: true, label: t('.second_mission')
      /   .col-xs-12.col-md-4= f.input :third_mission, disabled: true, label: t('.third_mission')
      /   .col-xs-12.col-md-4= f.input :fourth_mission, disabled: true, label: t('.fourth_mission')

      /   .col-xs-12.col-md-4.form-group.date.optional.done_date
      /     %label.date.optional.control-label{ for: 'done_date' }= t('.done_date')
      /     .input-group.date
      /       = f.text_field :done_date, class: 'date optional form-control date-picker', type: 'text', name: 'government_report[done_date]', id: 'done_date'
      /       %span.input-group-addon{ style: 'padding-left: 20px;' }
      /         %i.glyphicon.glyphicon-calendar

      /   .col-xs-12.col-md-4.form-group.date.optional.agreed_date
      /     %label.date.optional.control-label{ for: 'agreed_date' }= t('.agreed_date')
      /     .input-group.date
      /       = f.text_field :agreed_date, class: 'date optional form-control date-picker', type: 'text', name: 'government_report[agreed_date]', id: 'agreed_date'
      /       %span.input-group-addon{ style: 'padding-left: 20px;' }
      /         %i.glyphicon.glyphicon-calendar

    .row
      .col-xs-12.form-group= f.input :code, label: t('.code')
      .col-xs-5.col-xs-offset-7
        %h4
          %p.text-center
            %strong= t('.kingdom_of_wonder')
          %p.text-center
            %strong= t('.nation_religion_king')
      .col-xs-12.form-group= f.input :initial_capital, label: t('.capital')
      .col-xs-12.form-group= f.input :initial_city, label: t('.city')
      .col-xs-12.form-group= f.input :initial_commune, label: t('.commune')
      .col-xs-12.text-center
        %h4{style:'margin-top:40px;'}
          %strong= t('.first_response_form')
        %p{style:'margin-bottom:40px;'}= "(#{t('.for_children_who_are_in_danger')})"
      .col-xs-12.col-md-6.form-group.date.optional.initial_date
        %label.date.optional.control-label{ for: 'initial_date' }= t('.initial_date')
        .input-group.date.form-group
          = f.text_field :initial_date, class: 'date optional form-control date-picker', type: 'text', name: 'government_report[initial_date]', id: 'initial_date'
          %span.input-group-addon{ style: 'padding-left: 20px;' }
            %i.glyphicon.glyphicon-calendar
      .col-xs-12.col-md-6.form-group= f.input :client_code, disabled: true, input_html: { value: @client.code }, label: t('.client_code')
      .col-xs-12.col-md-4.form-group= f.input :commune, label: t('.commune')
      .col-xs-12.col-md-4.form-group= f.input :city, label: t('.city')
      .col-xs-12.col-md-4.form-group= f.input :capital, label: t('.capital')
      .col-xs-12.col-md-6.form-group= f.input :organisation_name, label: t('.organisation_name')
      .col-xs-12.col-md-6.form-group= f.input :organisation_phone_number, label: t('.phone_number')
      .col-xs-12.col-md-4.form-group= f.input :client_name, disabled: true, input_html: { value: @government_report.client_name.presence || @client.name }, label: t('.client_name')
      .col-xs-12.col-md-6.form-group.date.optional.client_date_of_birth
        %label.date.optional.control-label{ for: 'client_date_of_birth' }= t('.date_of_birth')
        .input-group.date.form-group
          = f.text_field :client_date_of_birth, disabled: true, value: @government_report.client_date_of_birth.presence || @client.date_of_birth, class: 'date optional form-control date-picker', type: 'text', name: 'government_report[client_date_of_birth]', id: 'client_date_of_birth'
          %span.input-group-addon{ style: 'padding-left: 20px;' }
            %i.glyphicon.glyphicon-calendar
      .col-xs-12.col-md-2.form-group
        %strong= "#{t('.gender')} : "
        %input.text-left{ type: 'radio', disabled: true, checked: ('checked' if @government_report.client_gender.presence || @government_report.client.gender == 'male') }= " #{t('.male')}"
        %input.text-left{ type: 'radio', disabled: true, checked: ('checked' if @government_report.client_gender.presence || @government_report.client.gender == 'female') }= " #{t('.female')}"
    .row
      .col-xs-12.col-md-2.form-group
        %h5
          %strong= t('.found_client_at')
      .col-xs-12.col-md-5.form-group= f.input :found_client_at, label: t('.at')
      .col-xs-12.col-md-5.form-group= f.input :found_client_village, label: t('.village')
    .row
      .col-xs-12.form-group= f.input :education, disabled: true, input_html: { value: @government_report.education.presence || @client.grade }, label: t('.education')
      .col-xs-12.col-md-6.form-group= f.input :carer_name, disabled: true, input_html: { value: @government_report.carer_name.presence || (@client.cases.current.carer_names if @client.cases.current) }, label: t('.carer_name')
      .col-xs-12.col-md-6.form-group= f.input :client_contact, label: t('.client_contact')
    .row
      .col-xs-12.col-md-2.form-group
        %h5
          %strong= t('.carer_address')
      .col-xs-12.col-md-5.form-group= f.input :carer_house_number, label: t('.house_number')
      .col-xs-12.col-md-5.form-group= f.input :carer_street_number, label: t('.street_number')
      .col-xs-12.col-md-5.col-md-offset-2.form-group= f.input :carer_village, label: t('.village')
      .col-xs-12.col-md-5.form-group= f.input :carer_commune, label: t('.commune')
      .col-xs-12.col-md-5.col-md-offset-2.form-group= f.input :carer_city, label: t('.city')
      .col-xs-12.col-md-5.form-group= f.input :carer_capital, label: t('.capital')
      .col-xs-12.form-group= f.input :carer_phone_number, disabled: true, input_html: { value: @government_report.carer_phone_number.presence || (@client.cases.current.carer_phone_number if @client.cases.current) }, label: t('.phone_number')
    .row
      .col-xs-12.form-group.date.optional.case_information_date
        %label.date.optional.control-label{ for: 'case_information_date' }= t('.case_information_date')
        .input-group.date.form-group
          = f.text_field :case_information_date, disabled: true, value: @government_report.case_information_date.presence || (@client.cases.current.start_date if @client.cases.current), class: 'date optional form-control date-picker', type: 'text', name: 'government_report[case_information_date]', id: 'case_information_date'
          %span.input-group-addon{ style: 'padding-left: 20px;' }
            %i.glyphicon.glyphicon-calendar
    .row
      .col-xs-12.col-md-2.form-group
        %h5
          %strong= t('.transfer_info')
      .col-xs-12.col-md-5.form-group= f.input :referral_name, label: t('.name')
      .col-xs-12.col-md-5.form-group= f.input :referral_position, label: t('.position')
    .row
      .col-xs-12= f.input :anonymous, label: "#{t('.or')} #{t('.anonymous_form')}"
    .row
      .col-xs-12= f.input :anonymous_description, label: t('.anonymous_information'), input_html: { rows: '4' }
    .row
      .col-xs-12
        %h5
          %strong
            %span= "#{t('.danger_situation')} : #{t('.check')}"
            %span "
            %i.glyphicon.glyphicon-check
            %span "
            %span= t('.every_point')
    .row
      - @client.quantitative_cases.group_by(&:quantitative_type).each_with_index do |qt, qti|
        .col-xs-12.col-md-4.form-group
          %label= "#{qti+=1} - #{qt.first.name}"
          = f.association :quantitative_cases, as: :check_boxes, collection: qt.last, multiple: true, label_method: :value, value_method: :id, label: false, input_html: { class: '' }

    .row
      .col-xs-12.col-md-5
        %h5
          %strong= "#{t('.client_living_with_guardians')}?"
      .col-xs-12.col-md-7
        %h5
          = f.input :client_living_with_guardian, as: :radio_buttons, collection: [[t('.positive'), true],[t('.negative'), false]], label: false
    .row
      .col-xs-12
        %h5
          %strong= t('.child_situation_and_need')
        %table
          %tr
            %td
            %td.text-center
              %p= t('.present_situation')
            %td.text-center
              %p= t('.need')
            %td.text-center
              %p= t('.intervention_plan')
          %tr
            %td= t('.physical_health')
            %td= f.input :present_physical_health, label: false
            %td= f.input :physical_health_need, label: false
            %td= f.input :physical_health_plan, label: false
          %tr
            %td= "#{t('.supplies')}"
            %td= f.input :present_supplies, label: false
            %td= f.input :supplies_need, label: false
            %td= f.input :supplies_plan, label: false
          %tr
            %td= t('.education')
            %td= f.input :present_education, label: false
            %td= f.input :education_need, label: false
            %td= f.input :education_plan, label: false
          %tr
            %td= t('.communication_in_family')
            %td= f.input :present_family_communication, label: false
            %td= f.input :family_communication_need, label: false
            %td= f.input :family_communication_plan, label: false
          %tr
            %td= t('.communication_in_society')
            %td= f.input :present_society_communication, label: false
            %td= f.input :society_communication_need, label: false
            %td= f.input :society_communication_plan, label: false
          %tr
            %td= t('.emotional_health')
            %td= f.input :present_emotional_health, label: false
            %td= f.input :emotional_health_need, label: false
            %td= f.input :emotional_health_plan, label: false
    .row
      .col-xs-12
        %h5
          %strong= t('.mission_obtainable')
        %ul{ style: 'list-style:none;' }
          %li
            = f.input :mission_obtainable, collection: [[t('.none'), false],[t('.exist'), true]], as: :radio_buttons, label: false
          %li
            %span= "#{t('.if_exist')} (#{t('.check')}"
            %span "
            %i.glyphicon.glyphicon-check
            %span "
            %span= "#{t('.missions_which_need_to_be_done')})"
            %ul{ style: 'list-style:none;' }
              %li
                = f.input :first_mission, disabled: (@government_report.mission_obtainable ? false : true), label: t('.first_mission')
              %li
                = f.input :second_mission, disabled: (@government_report.mission_obtainable ? false : true), label: t('.second_mission')
              %li
                = f.input :third_mission, disabled: (@government_report.mission_obtainable ? false : true), label: t('.third_mission')
              %li
                = f.input :fourth_mission, disabled: (@government_report.mission_obtainable ? false : true), label: t('.fourth_mission')
      .col-xs-12.col-md-6.col-md-offset-6.form-group.date.optional.done_date.text-center
        .input-group.date.form-group
          = f.text_field :done_date, class: 'date optional form-control date-picker', type: 'text', name: 'government_report[done_date]', id: 'done_date'
          %span.input-group-addon{ style: 'padding-left: 20px;' }
            %i.glyphicon.glyphicon-calendar
    .row
      .col-xs-12.col-md-6.col-md-offset-6
        %p.text-center= t('.organisation')
    .row
      .col-xs-12.col-md-6.form-group.date.optional.agreed_date.text-center
        .input-group.date.form-group
          = f.text_field :agreed_date, class: 'date optional form-control date-picker', type: 'text', name: 'government_report[agreed_date]', id: 'agreed_date'
          %span.input-group-addon{ style: 'padding-left: 20px;' }
            %i.glyphicon.glyphicon-calendar
    .row
      .col-xs-12.col-md-6
        %p.text-center= t('.seen_and_agreed')
        %p.text-center= t('.signature')

    .row
      .col-xs-12
        %h5
          %strong= t('.copy')
        %p{ style: 'margin-left: 20px;' }= "- #{t('.office')}"
  .panel-footer
    .form-actions
      = f.button :submit, t('save'), class: 'btn btn-primary form-btn'
      = link_to t('cancel'), client_government_reports_path, class: 'btn btn-default form-btn'
