%h4.text-center ព្រះរាជាណាចក្រកម្ពុជា
%h4.text-center ជាតិ សាសនា ព្រះមហាក្សត្រ
.text-center
  = wicked_pdf_image_tag 'logo.png', width: 120
.row{style: 'margin-top: 10px; margin-left: 5px;'}
  .col-xs-3
    %label រាជធានី/ខេត្ត:
  .col-xs-9
    %input{ style: 'width: 70%', value: @client.gov_city }
.row{style: 'margin-left: 5px;'}
  .col-xs-3
    %label ក្រុង/ស្រុក/ខណ្ឌ:
  .col-xs-9
    %input{ style: 'width: 70%', value: @client.gov_commune }
.row{style: 'margin-left: 5px;'}
  .col-xs-3
    %label ឃុំ/សង្កាត់:
  .col-xs-9
    %input{ style: 'width: 70%', value: @client.gov_district}
.panel.panel-default.panel-no-margin#first-form
  %label.text-center{style: 'padding:8px; background-color: black; color: white; width:100%; margin-bottom: 1px;'} ទម្រង់ទី១: ព័ត៍មានបឋម
  .panel-body.panel-border{style: 'border-top: 1px solid black;'}
    ថ្ងៃ/ខែ/ឆ្នាំ:
    - @client.gov_date.strftime('%d%m%y').split('').each_with_index do |code, index|
      - if index == 0
        %span.first= code
      - else
        %span= code
    លេខកូដភូមិ:
    - @client.gov_village_code.split('').each_with_index do |code, index|
      - if index == 0
        %span.first= code
      - else
        %span= code
    លេខកូដកុមារ:
    - @client.gov_client_code.split('').each_with_index do |code, index|
      - if index == 0
        %span.first= code
      - else
        %span= code
.panel.panel-default.panel-no-margin
  %label.panel-label
    %u ទីកន្លែងសម្ភាសន៍ទទួលកុមារ:
  .panel-body.panel-border
    .row
      .col-xs-6
        .row
          .col-xs-4
            %label ភូមិ:
          .col-xs-8
            %input{style: 'width: 100%', value: @client.gov_interview_village }
      .col-xs-6
        .row
          .col-xs-4
            %label ឃុំ/សង្កាត់:
          .col-xs-8
            %input{style: 'width: 100%', value: @client.gov_interview_commune }
    .row
      .col-xs-6
        .row
          .col-xs-4
            %label ក្រុង/ស្រុក/ខណ្ឌ:
          .col-xs-8
            %input{style: 'width: 100%', value: @client.gov_interview_district }
      .col-xs-6
        .row
          .col-xs-4
            %label រាជធានី/ខេត្ត:
          .col-xs-8
            %input{style: 'width: 100%', value: @client.gov_interview_city }
  %label.panel-label{style: 'border-top: 0px;'}
    %u អ្នកផ្ដល់បទសម្ភាសន៍:
    %input{ type: 'checkbox', checked: @client.interviewees.pluck(:name).include?('កុមារ') }
    %label កុមារ
    %input{ type: 'checkbox', checked: @client.interviewees.pluck(:name).include?('ឪពុកម្ដាយ') }
    %label ឪពុកម្ដាយ
    %input{ type: 'checkbox', checked: @client.interviewees.pluck(:name).include?('អាណាព្យាបាល')}
    %label អាណាព្យាបាល
    %input{ type: 'checkbox', checked: @client.interviewees.pluck(:name).include?('អ្នកថែទាំ')}
    %label អ្នកថែទាំ
    %input{ type: 'checkbox' }
    %label ផ្សេងៗ...................
  %div.panel-label{style: 'border-top: 0px;'}
    %label{style: 'margin-right:15px;'} ឈ្មោះអ្នកកាន់ករណី:
    %input{style: 'width: 30%; margin-right: 25px;', value: @client.gov_caseworker_name }
    %label{style: 'margin-right:40px;'} លេខទូរស័ព្ទ:
    %input{style: 'width: 30%', value: @client.gov_caseworker_phone }
.panel.panel-default.panel-no-margin
  %label.panel-label
    %u ព័ត៌មានបឋមអំពីកុមារ:
  .panel-body.border-label{style: 'border-bottom: 0px;'}
    %label{style: 'margin-right:15px; margin-left: 10px;'} ឈ្មោះកុមារ:
    %input{style: 'width: 20%;', value: "#{@client.local_family_name} #{@client.local_given_name} "}
    ថ្ងៃខែឆ្នាំកំណើត:
    - @client.date_of_birth.strftime('%d%m%y').split('').each_with_index do |code, index|
      - if index == 0
        %span.first= code
      - else
        %span= code
    %label ភេទ:
    %label ប្រុស
    %input{ type: 'checkbox', checked: @client.gender == 'male' ? true : false }
    %label ស្រី
    %input{ type: 'checkbox', checked: @client.gender == 'female' ? true : false}
    .panel.panel-default.panel-no-margin.panel-margin-top
      %label.panel-label អាសយដ្ឋានកុមាររស់នៅ:
      .panel-body.panel-label-dotted
        .row
          .col-xs-6
            .row
              .col-xs-4
                %label ភូមិ:
              .col-xs-8
                %input{ style: 'width: 100%', value: @client.village }
          .col-xs-6
            .row
              .col-xs-4
                %label ឃុំ/សង្កាត់:
              .col-xs-8
                %input{ style: 'width: 100%', value: @client.commune }
        .row
          .col-xs-6
            .row
              .col-xs-4
                %label ក្រុង/ស្រុក/ខណ្ឌ:
              .col-xs-8
                %input{ style: 'width: 100%', value: @client.district }
          .col-xs-6
            .row
              .col-xs-4
                %label រាជធានី/ខេត្ត:
              .col-xs-8
                %input{ style: 'width: 100%', value: @client.province.name.split(' / ').first }
      %label.panel-label អ្នកថែទាំកុមារ:
      .panel-body.panel-label-dotted
        %label{ style: 'margin-right:15px;'} ឈ្មោះ
        %input{ style: 'width: 30%; margin-right: 25px;', value: @client.gov_carer_name }
        %label{ style: 'margin-right:40px;'} ទំនាក់ទំនងជាមួយកុមារ:
        %input{ style: 'width: 30%', value: @client.gov_carer_relationship }

        .panel.panel-default.panel-no-margin.panel-margin-top
          %label.panel-label អាសយដ្ឋាន:
          .panel-body.panel-label-dotted
            .row
              .col-xs-7
                .row
                  .col-xs-2
                    %label ផ្ទះលេខ:
                  .col-xs-2
                    %input{ style: 'width: 100%;', value: @client.gov_carer_home }
                  .col-xs-2
                    %label ផ្លូវលេខ:
                  .col-xs-2
                    %input{ style: 'width: 100%;', value: @client.gov_carer_street }
                  .col-xs-1
                    %label ភូមិ:
                  .col-xs-3
                    %input{ style: 'width: 100%;', value: @client.gov_carer_village }
                .row
                  .col-xs-4
                    %label ក្រុង/ស្រុក/ខណ្ឌ:
                  .col-xs-8
                    %input{ style: 'width: 100%;', value: @client.gov_carer_commune }
              .col-xs-5
                .row
                  .col-xs-4
                    %label ឃុំ/សង្កាត់:
                  .col-xs-8
                    %input{ style: 'width:100%;', value: @client.gov_carer_district }
                .row
                  .col-xs-4
                    %label ខេត្ត/រាជធានី:
                  .col-xs-8
                    %input{style: 'width:100%', value: @client.gov_carer_city }
            .row
              .col-xs-2
                %label លេខទូរស័ព្ទ:
              .col-xs-10
                %input{style: 'width:97%; float: right;', value: @client.gov_carer_phone }
  %div#panel-top-bottom-dotted
    %label ថ្ងៃទី/ខែ/ឆ្នាំទទួលព័ត៌មានអំពីករណី:
    - @client.initial_referral_date.strftime('%d%m%y').split('').each_with_index do |code, index|
      - if index == 0
        %span.first= code
      - else
        %span= code
%p{style: 'page-break-after:always;'}  
%div#panel-top-bottom-dotted
  %label ប្រភពព័ត៌មាន:
  %input{ type: 'checkbox', checked: @client.gov_information_source == 'អនាមិក' ? true : false }
  %label អនាមិក
  %input{ type: 'checkbox', checked: @client.gov_information_source == 'ច្បាស់លាស់' ? true : false }
  %label ច្បាស់លាស់

.panel.panel-default.panel-no-margin
  %label.panel-label
    ប្រភេទកុមារ:
  .panel-body.border-label{style: 'border-bottom: 0px;'}
    .row
      .col-xs-4
        .form-check
          .form-check-label
            %input.form-input{ type: 'checkbox', checked: @client.client_types.pluck(:name).include?('កុមារកំព្រា') }
            = 'កុមារកំព្រា'
        .form-check
          .form-check-label
            %input.form-input{ type: 'checkbox', checked: @client.client_types.pluck(:name).include?('កុមារពិការ') }
            = 'កុមារពិការ'
        .form-check
          .form-check-label
            %input.form-input{ type: 'checkbox', checked: @client.client_types.pluck(:name).include?('កុមារត្រូវបានបោះបង់ចោល') }
            = 'កុមារត្រូវបានបោះបង់ចោល'
        .form-check
          .form-check-label
            %input.form-input{ type: 'checkbox', checked: @client.client_types.pluck(:name).include?('កុមារអានាថាតាមចិញ្ចើមថ្នល់') }
            = 'កុមារអានាថាតាមចិញ្ចើមថ្នល់'
        .form-check
          .form-check-label
            %input.form-input{ type: 'checkbox', checked: @client.client_types.pluck(:name).include?('កុមារញៀនសារធាតុញៀន') }
            = 'កុមារញៀនសារធាតុញៀន'
      .col-xs-8
        .form-check
          .form-check-label
            %input.form-input{ type: 'checkbox', checked: @client.client_types.pluck(:name).include?('កុមារដែលមិនបានទទួលនូវតម្រូវការជាមូលដ្ឋាន') }
            = 'កុមារដែលមិនបានទទួលនូវតម្រូវការជាមូលដ្ឋាន'
        .form-check
          .form-check-label
            %input.form-input{ type: 'checkbox', checked: @client.client_types.pluck(:name).include?('កុមារដែលទទួលផលប៉ះពាល់​ ឬផ្ទុកមេរោគអេដស៏/ជំងឺអេដស៏') }
            = 'កុមារដែលទទួលផលប៉ះពាល់​ ឬផ្ទុកមេរោគអេដស៏/ជំងឺអេដស៏'
        .form-check
          .form-check-label
            %input.form-input{ type: 'checkbox', checked: @client.client_types.pluck(:name).include?('កុមារដែលទទួលរងការរំលោភបំពានផ្លូវភេទ រូបរាងកាយផ្លូវចិត្ត') }
            = 'កុមារដែលទទួលរងការរំលោភបំពានផ្លូវភេទ រូបរាងកាយផ្លូវចិត្ត'
        .form-check
          .form-check-label
            %input.form-input{ type: 'checkbox', checked: @client.client_types.pluck(:name).include?('កុមារដែលរងគ្រោះដោយការកេងប្រវ័ញ្ចផ្លូវភេទ ឬទម្រង់ពលកម្មប្រកបដោយគ្រោះថ្នាក់') }
            = 'កុមារដែលរងគ្រោះដោយការកេងប្រវ័ញ្ចផ្លូវភេទ ឬទម្រង់ពលកម្មប្រកបដោយគ្រោះថ្នាក់'
        .form-check
          .form-check-label{style: 'inline-block;'}
            %input.form-input{ type: 'checkbox', checked: @client.client_types.pluck(:name).include?('កុមារមានទំនាស់ជាមួយច្បាប់') }
            = 'កុមារមានទំនាស់ជាមួយច្បាប់'
            %input.form-input{ type: 'checkbox' }
            = 'ផ្សេងៗ'
            %input{style: 'display: inline-block:width: 50%;'}

.panel.panel-default.panel-no-margin
  %label.panel-label
    បញ្ចូនមកពី:
  .panel-body.border-label.border-label{style: 'padding: 0;'}
    .row
      .col-xs-4{style: 'border-right: 1px solid black;min-height:122px;'}
        .form-check{style: 'margin-left: 10px;'}
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'ក្រសួង សអយ/មន្ទីរ សអយ'
        .form-check{style: 'margin-left: 10px;'}
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'អង្គារមិនមែនរដ្ឋាភិបាល'
        .form-check{style: 'margin-left: 10px;'}
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'មន្ទីរពេទ្យ'
        .form-check{style: 'margin-left: 10px;'}
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'នគរបាល'
        .form-check{style: 'margin-left: 10px;'}
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'តុលាការ/ប្រពន័្ធយុតិ្តធម៌'
      .col-xs-4{style: 'min-height:122px;'}
        .form-check
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'រកឃើញនៅតាមទីសាធារណៈ'
        .form-check
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'ស្ថាបន័រដ្ឋ'
        .form-check
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'មណ្ឌលថែទាំបណ្តោះអាសន្ន'
        .form-check
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'ទូរស័ព្ទទាន់ហេតុការណ៍'
        .form-check
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'មកដោយខ្លួនឯង'
      .col-xs-4{style: 'border-left: 1px solid black;min-height:122px;'}
        .form-check
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'គ្រួសារ'
        .form-check
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'មិត្តភ័ក្រ្តិ'
        .form-check
          %label.form-check-label
            %input.form-input{type: 'checkbox'}
            = 'អាជ្ញាធរដែនដី'
        .form-check
          %label.form-check-label{style: 'position: relative;top:-30px;'}
            %input.form-input{type: 'checkbox'}
              = 'ផ្សេងៗ'
          %textarea{style: 'display: inline-block;width: 60%;'}

.panel.panel-default{style: 'margin:0;'}
  %label.panel-label
    មូលហេតុនៃការបញ្ចូន​​ និង តម្រូវការ:
  .panel-body.border-label{style: 'padding-top: 0;padding-bottom: 0;'}
    .panel.panel-default{style: 'margin:0;'}
      %label.panel-label
        ព័ត៌មានសង្ខេបពីមូលហេតុនៃការបញ្ចូនកុមារមករកសេវា:
      .panel-body.border-label
        .comment{style: 'height: 30px;'}
    .panel.panel-default{style: 'margin:0;'}
      %label.panel-label
        យោបល់របស់កុមារនិង/អាណាព្យាបាល អំពីបញ្ហា និង តម្រូវការ:
      .panel-body.border-label
        .comment{style: 'height: 30px;'}
.panel.panel-default{style: 'margin:0;'}
  %label.panel-label
    យោបល់របស់អ្នកកាន់ករណី ចំពោះតម្រូវការ និង បញ្ហាប្រឈមរបស់កុមារ:
  .panel-body.border-label{style: 'padding-top: 0;padding-bottom: 0;'}
    .panel.panel-default{style: 'margin:0;'}
      %label.panel-label
        សូមបញ្ជាក់ពីប្រភេទតម្រូវការចំបាច់(បង់លេខតាមអទិភាព):
      .panel-body.border-label{style: 'padding: 0;'}
        .row
          .col-xs-6
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ក្រសួង សអយ/មន្ទីរ សអយ'
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'អង្ការមិនមែនរដ្ធាភិបាល'
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'មន្ទីរពេទ្យ'
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'នគរបាល'
          .col-xs-6{style: 'border-left: 1px solid black;min-height: 100px;'}
            .form-check
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ក្រសួង សអយ/មន្ទីរ សអយ'
            .form-check
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'អង្ការមិនមែនរដ្ធាភិបាល'
            .form-check
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'មន្ទីរពេទ្យ'
            .form-check
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ផ្សេងៗ'
                %input{style: 'display: inline-block;width: 70%;'}
    .panel.panel-default{style: 'margin:0;'}
      %label.panel-label
        សូមបញ្ជាក់ពីបញ្ហាប្រឈមសំខាន់ៗ(បង់លេខតាមអទិភាព):
      .panel-body.border-label{style: 'padding: 0;'}
        .row
          .col-xs-6
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ប្រើប្រាស់គ្រឿងស្រវឹង'
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ប្រើប្រាស់គ្រឿងញៀន'
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'លេងល្បែង'
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'រស់នៅតាមទីសាធារណៈ'
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'មិនបានចូលរៀន'
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ការរំលោភបំពានផ្លូវកាយ'
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ការរំលោភបំពានផ្លូវភេទ'
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ការជួញដូរមនុស្ស'
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'អាពាហ៍ពិពាហ៍ដោយបង្ខំ'
          .col-xs-6{style: 'border-left: 1px solid black;min-height: 100px;'}
            .form-check
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ចំណាកស្រុក'
            .form-check
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'គ្រួសារធ្វេីចំណាកស្រុក'
            .form-check
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ការរំលោភបំពានផ្នែកអារម្មណ៍'
            .form-check
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'អំពេីហិង្សាក្នុងគ្រួសារ'
            .form-check
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ការកេងប្រវញ្ច័ផ្នែកកំលាំងពលកម្ម'
            .form-check
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ពលកម្មកំរិតធ្ងន់ធ្ងរ'
            .form-check
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ផ្សេងៗ'
              %textarea{style: 'margin-left:16px;width: 80%;'}
%p{style: 'page-break-after:always;'}
.panel.panel-default{style: 'margin:0;'}
  %label.panel-label{style: 'padding:8px; background-color: black; color: white; width:100%; margin-bottom: 1px;'}
    មតិយោបល់អ្នកកាន់ករណី:
  .panel-body.border-label
    .row
      .col-xs-12{style: 'border-bottom: 1px solid black;'}
        .comment{style: 'height: 50px;'}
    .row
      .col-xs-12
        %i *គ្រប់ករណីទាំងអស់ត្រូវបន្តទៅជំហាននៃការប៉ាន់ប្រមាណករណី និងគ្រួសារ
      %br
      %br
      .col-xs-6
        ថ្ងទីៃ/ខែ/ឆ្នាំ:
        %span.first 1
        %span 1
        %span 1
        %span 1
        %span 1
        %span 1
        %br
        %br
        %p ហត្ថលេខាតំណាងអាជ្ញាធរមូលដ្ឋាន
        %br
        %br
        %p _________________________
      .col-xs-6
        .text-right
          ថ្ងទីៃ/ខែ/ឆ្នាំ:
          %span.first 1
          %span 1
          %span 1
          %span 1
          %span 1
          %span 1
          %br
          %br
          %p ហត្ថលេខាអ្នកកាន់ករណី
          %br
          %br
          %p ___________________

