%h4.text-center ព្រះរាជាណាចក្រកម្ពុជា
%h4.text-center ជាតិ សាសនា ព្រះមហាក្សត្រ
.text-center
  = wicked_pdf_image_tag 'logo.png', width: 120
.row{style: 'margin-top: 10px; margin-left: 5px;'}
  .col-xs-3
    %label រាជធានី/ខេត្ត:
  .col-xs-9
    %input{style: 'width: 70%'}
.row{style: 'margin-left: 5px;'}
  .col-xs-3
    %label ក្រុង/ស្រុក/ខណ្ឌ:
  .col-xs-9
    %input{style: 'width: 70%'}
.row{style: 'margin-left: 5px;'}
  .col-xs-3
    %label ឃុំ/សង្កាត់:
  .col-xs-9
    %input{style: 'width: 70%'}
.panel.panel-default.panel-no-margin#first-form
  %label.text-center{style: 'padding:8px; background-color: black; color: white; width:100%; margin-bottom: 1px;'} ទម្រង់ទី១: ព័ត៍មានបឋម
  .panel-body.panel-border{style: 'border-top: 1px solid black;'}
    ថ្ងៃ/ខែ/ឆ្នាំ:
    %span.first 1
    %span 1
    %span 1
    %span 1
    %span 1
    %span 1
    លេខកូដភូមិ:
    %span.first 1
    %span 1
    %span 1
    %span 1
    %span 1
    %span 1
    %span 1
    %span 1
    លេខកូដកុមារ:
    %span.first 1
    %span 1
    %span 1
    %span 1
.panel.panel-default.panel-no-margin
  %label.panel-label
    %u ទីកន្លែងសម្ភាសន៍ទទួលកុមារ:
  .panel-body.panel-border
    .row
      .col-xs-6
        .row
          .col-xs-4
            %label ភូមិ:
          .col-xs-8
            %input{style: 'width: 100%'}
      .col-xs-6
        .row
          .col-xs-4
            %label ឃុំ/សង្កាត់:
          .col-xs-8
            %input{style: 'width: 100%'}
    .row
      .col-xs-6
        .row
          .col-xs-4
            %label ក្រុង/ស្រុក/ខណ្ឌ:
          .col-xs-8
            %input{style: 'width: 100%'}
      .col-xs-6
        .row
          .col-xs-4
            %label រាជធានី/ខេត្ត:
          .col-xs-8
            %input{style: 'width: 100%'}
  %label.panel-label{style: 'border-top: 0px;'}
    %u អ្នកផ្ដល់បទសម្ភាសន៍:
    %input{type: 'checkbox'}
    %label កុមារ
    %input{type: 'checkbox'}
    %label ឪពុកម្ដាយ
    %input{type: 'checkbox'}
    %label អាណាព្យាបាល
    %input{type: 'checkbox'}
    %label ផ្សេងៗ...................
  %div.panel-label{style: 'border-top: 0px;'}
    %label{style: 'margin-right:15px;'} ឈ្មោះអ្នកកាន់ករណី:
    %input{style: 'width: 30%; margin-right: 25px;'}
    %label{style: 'margin-right:40px;'} លេខទូរស័ព្ទ:
    %input{style: 'width: 30%'}
.panel.panel-default.panel-no-margin
  %label.panel-label
    %u ព័ត៍មានបឋមអំពីកុមារ:
  .panel-body.border-label{style: 'border-bottom: 0px;'}
    %label{style: 'margin-right:15px; margin-left: 10px;'} ឈ្មោះកុមារ:
    %input{style: 'width: 30%;'}
    លេខកូដភូមិ:
    %span.first 1
    %span 1
    %span 1
    %span 1
    %span 1
    %span 1
    %span 1
    %span 1
    %label ប្រុស
    %input{type: 'checkbox'}
    %label ស្រី
    %input{type: 'checkbox'}
    .panel.panel-default.panel-no-margin.panel-margin-top
      %label.panel-label អាសយដ្ធានកុមាររស់នៅ:
      .panel-body.panel-label-dotted
        .row
          .col-xs-6
            .row
              .col-xs-4
                %label ភូមិ:
              .col-xs-8
                %input{style: 'width: 100%'}
          .col-xs-6
            .row
              .col-xs-4
                %label ឃុំ/សង្កាត់:
              .col-xs-8
                %input{style: 'width: 100%'}
        .row
          .col-xs-6
            .row
              .col-xs-4
                %label ក្រុង/ស្រុក/ខណ្ឌ:
              .col-xs-8
                %input{style: 'width: 100%'}
          .col-xs-6
            .row
              .col-xs-4
                %label រាជធានី/ខេត្ត:
              .col-xs-8
                %input{style: 'width: 100%'}
      %label.panel-label អ្នកថែទាំកុមារ:
      .panel-body.panel-label-dotted
        %label{style: 'margin-right:15px;'} ឈ្មោះ
        %input{style: 'width: 30%; margin-right: 25px;'}
        %label{style: 'margin-right:40px;'} ទំនាក់ទំនងជាមួយកុមារ:
        %input{style: 'width: 30%'}

        .panel.panel-default.panel-no-margin.panel-margin-top
          %label.panel-label អាសយដ្ធាន:
          .panel-body.panel-label-dotted
            .row
              .col-xs-12
                %label ផ្ទះលេខ:
                %input{style: 'width:10%'}
                %label ផ្លូវលេខ:
                %input{style: 'width:10%'}
                %label ភូមិ:
                %input
                %label ឃុំ/សង្កាត់
                %input
  %div#panel-top-bottom-dotted
    %label ថ្ងៃទី/ខែ/ឆ្នាំទទួលព័ត៍មានអំពីករណី:
    %span.first 1
    %span 1
    %span 1
    %span 1
    %span 1
    %span 1
  %div#panel-top-bottom-dotted
    %label ប្រភពព័ត៍មាន:
    %input{type: 'checkbox'}
    %label អនាមិក
    %input{type: 'checkbox'}
    %label ច្បាស់លាស់
%p{style: 'page-break-after:always;'}

.panel.panel-default.panel-no-margin
  %label.panel-label
    ប្រភេទកុមារ:
  .panel-body.border-label{style: 'border-bottom: 0px;'}
    .row
      .col-xs-4
        .form-check
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'កុមារកំព្រា'
        .form-check
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'កុមារពិការ'
        .form-check
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'កុមារត្រូវបានបោៈបង់ចោល'
        .form-check
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'កុមារអានាថាតាមចឹញ្ចើមថ្នល់'
        .form-check
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'កុមារញៀនសារធាតុញៀន'
      .col-xs-8
        .form-check
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'កុមារដែលមិនបានទទួលនូវតម្រូវការជាមូលដ្ធាន'
        .form-check
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'កុមារដែលទទួលផលប៉ៈពាល់ ឬផ្ទុកមេរោគអេដស៍/ជំងឺអេដស៍'
        .form-check
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'កុមារដែលទទួលរងការរំលោភបំពានផ្លូវភេទ រូបរាងកាយផ្លូវចិត្ត'
        .form-check
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'កុមាររងគ្រោៈដោយការកេងប្រវ័ញ្ចផ្លូវភេទ ឬទម្រង់ពលកម្មប្រកបដោយគ្រោៈថ្នាក់'
        .form-check
          .form-check-label{style: 'inline-block;'}
            %input.form-input{type: 'checkbox'}
            = 'កុមារមានទំនាស់ជាមួយច្បាប់'
            %input.form-input{type: 'checkbox'}
            = 'ផ្សេងៗ'
            %input{style: 'display: inline-block:width: 50%;'}

.panel.panel-default{style: 'margin:0;'}
  %label.panel-label
    បញ្ចូនមកពី
  .panel-body.border-label.border-label{style: 'padding: 0;'}
    .row
      .col-xs-4{style: 'border-right: 1px solid black;min-height:122px;'}
        .form-check{style: 'margin-left: 10px;'}
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'ក្រសួង សអយ/មន្ទីរ សអយ'
        .form-check{style: 'margin-left: 10px;'}
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'អង្ការមិនមែនរដ្ធាភិបាល'
        .form-check{style: 'margin-left: 10px;'}
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'មន្ទីរពេទ្យ'
        .form-check{style: 'margin-left: 10px;'}
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'នគរបាល'
        .form-check{style: 'margin-left: 10px;'}
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'តុលាការ/ប្រពន្ធយុតិ្តធម៏'
      .col-xs-4{style: 'min-height:122px;'}
        .form-check
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'រកឃើញនៅតាមទីសធារណៈ'
        .form-check
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'ស្ថាបន័រដ្ធ'
        .form-check
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'មណ្ឌលថែទាំបណ្តោៈអាសន្ន'
        .form-check
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'ទូរស័ព្ទទាន់ហេតុការណ៍'
        .form-check
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'មកដោយខ្លួនឯង'
      .col-xs-4{style: 'border-left: 1px solid black;min-height:122px;'}
        .form-check
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'គ្រួសារ'
        .form-check
          .form-check-label
            %input.form-input{type: 'checkbox'}
            = 'មិត្តភ័ក្រ្ក'
        .form-check
          %label.form-check-label
            %input.form-input{type: 'checkbox'}
            = 'អាជ្ញាធរដែនដី'
        .form-check
          %label.form-check-label{style: 'position: relative;top:-30px;'}
            %input.form-input{type: 'checkbox'}
              = 'ផ្សេងៗ'
          %textarea{style: 'display: inline-block;width: 60%;'}

.panel.panel-default{style: 'margin:0;'}
  %label.panel-label
    មូលហេតុនៃការបញ្ចូននិងតម្រូវការ
  .panel-body.border-label{style: 'padding-top: 0;padding-bottom: 0;'}
    .panel.panel-default{style: 'margin:0;'}
      %label.panel-label
        ព័ត៌មានសង្ខេបពីមូលហេតុនៃការបញ្ចូនកុមារមករកសេវា      
      .panel-body.border-label
        .comment{style: 'height: 30px;'}
    .panel.panel-default{style: 'margin:0;'}
      %label.panel-label
        យោបល់របស់កុមារនិងអាណាព្យាបាលអំពីបញ្ហានិងតម្រូវការ
      .panel-body.border-label
        .comment{style: 'height: 30px;'}
.panel.panel-default{style: 'margin:0;'}
  %label.panel-label
    យោបល់របស់អ្នកកាន់ករណី ចំពោៈតម្រូវការនិងបញ្ហាប្រឈមរបស់កុមារ
  .panel-body.border-label{style: 'padding-top: 0;padding-bottom: 0;'}
    .panel.panel-default{style: 'margin:0;'}
      %label.panel-label
        សូមបញ្ជាក់ពីប្រភេទតម្រូវការចំបាច់(បង់លេខតាមអតិភាព)
      .panel-body.border-label{style: 'padding: 0;'}
        .row
          .col-xs-6
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ក្រសួង សអយ/មន្ទីរ សអយ'
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'អង្ការមិនមែនរដ្ធាភិបាល'
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'មន្ទីរពេទ្យ'
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'នគរបាល'
          .col-xs-6{style: 'border-left: 1px solid black;min-height: 100px;'}
            .form-check
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ក្រសួង សអយ/មន្ទីរ សអយ'
            .form-check
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'អង្ការមិនមែនរដ្ធាភិបាល'
            .form-check
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'មន្ទីរពេទ្យ'
            .form-check
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ផ្សេងៗ'
                %input{style: 'display: inline-block;width: 70%;'}
    .panel.panel-default{style: 'margin:0;'}
      %label.panel-label
        សូមបញ្ជាក់ពីបញ្ហាប្រឈមសំខាន់ៗ(បង់លេខតាមអតិភាព)
      .panel-body.border-label{style: 'padding: 0;'}
        .row
          .col-xs-6
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ប្រើប្រាស់គ្រឿងស្រវឺង'
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ប្រើប្រាស់គ្រឿងញៀន'
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'លេងល្បែង'
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'រស់នៅតាមទីសាធារណៈ'
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'មិនបានចូលរៀន'
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ការរំលោផបំពានផ្លវកាយ'
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ការរំលោផបំពានផ្លវភេទ'
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ការជួញដូរមនុស្ស'
            .form-check{style: 'margin-left: 10px;'}
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'អាពាហ៏ពិពាហ៏ដោយបង្ខំ'
          .col-xs-6{style: 'border-left: 1px solid black;min-height: 100px;'}
            .form-check
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ចំណាកស្រុក'
            .form-check
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'គ្រួសារធ្វេីចំណាកស្រុក'
            .form-check
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ការរំលោភបំពានផ្នែកអារម្មណ៏'
            .form-check
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'អំពេីហិង្សាក្នុងគ្រួសារ'
            .form-check
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ការកេងប្រវញ្ច័ផ្នែកកំលាំពលកម្ម'
            .form-check
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ពលកម្មកំរិតធ្ងន់ធ្ងរ'
            .form-check
              .form-check-label
                %input.form-input{type: 'checkbox'}
                = 'ផ្សេងៗ'
              %textarea{style: 'margin-left:16px;width: 80%;'}
%p{style: 'page-break-after:always;'}
.panel.panel-default{style: 'margin:0;'}
  %label.panel-label{style: 'padding:8px; background-color: black; color: white; width:100%; margin-bottom: 1px;'}
    មតិយោបល់អ្នកកាន់ករណី:
  .panel-body.border-label
    .row
      .col-xs-12{style: 'border-bottom: 1px solid black;'}
        .comment{style: 'height: 30px;'}
    .row
      .col-xs-12
        %b *គ្រប់ករណីទាំងអស់ត្រូវបន្តទៅជំហាននៃការបា៉ន់ប្រមាណករណី នឹងគ្រួសារ
      %br
      %br
      .col-xs-6
        ថ្ងៃ/ខែ/ឆ្នាំ:
        %span.first 1
        %span 1
        %span 1
        %span 1
        %span 1
        %span 1
        %br
        %br
        %p ហត្ថលេខាតំណាងអាជ្ញាធរមូលដ្ធាន
        %br
        %br
        %p _________________________
      .col-xs-6
        .text-right
          ថ្ងៃ/ខែ/ឆ្នាំ:
          %span.first 1
          %span 1
          %span 1
          %span 1
          %span 1
          %span 1
          %br
          %br
          %p ហត្ថលេខាអ្នកកាន់ករណី
          %br
          %br
          %p ___________________

