%p= "Hello #{@admin.name},"
%p The following Case Workers currently have tasks overdue. Please see list below.
%table{style: "border: 1px solid black; text-align: left; border-collapse: collapse;"}
  %tr
    %th{style: "border: 1px solid black; text-align: left; padding: 0 5px;"} Case worker
    %th{style: "border: 1px solid black; text-align: left; padding: 0 5px;"} Amount
    %th{style: "border: 1px solid black; text-align: left; padding: 0 5px;"} Overdue tasks
  - @case_workers.each do |case_worker|
    - case_worker_tasks = case_worker.tasks.overdue_incomplete_ordered
    %tr
      %td{style: "border: 1px solid black; text-align: center;"}= case_worker.name
      %td{style: "border: 1px solid black; text-align: center;"}= case_worker_tasks.size
      %td{style: "border: 1px solid black; text-align: left;"}
        %ul{style: 'list-style: none; text-align: left; padding-left: 0px;'}
          - case_worker_tasks.each do |task|
            %li{style: 'margin: 5px'}
              %span
                = link_to task.name, tasks_url(subdomain: @org_name), target: :_blank
              %span
                ,
              %span
                due on
                = task.completion_date

%p Thanks,
%p Cambodian Families Team
