%nav.thredded--navigation{:role => "navigation"}
  %ul{:class => "thredded--user-navigation#{' thredded--user-navigation-standalone' if Thredded.standalone_layout?}"}
    %li.thredded--user-navigation--profile.thredded--user-navigation--item
      = link_to t('thredded.nav.home'), '/'
    = render 'thredded/shared/nav/notification_preferences', messageboard: messageboard_or_nil
    = render 'thredded/shared/nav/private_topics'
    - if Thredded.standalone_layout?
      = render 'thredded/shared/nav/standalone'
  - if content_for? :thredded_main_navigation
    = yield :thredded_main_navigation
  - else
    .thredded--main-navigation
      = yield :thredded_breadcrumbs
      = render 'thredded/search/form', messageboard: messageboard_or_nil
