- @custom_assessment_settings.each do |cs|
  - tab_name = "#{cs.custom_assessment_name.downcase.strip.parameterize('-')}#{cs.id}-custom-csi-tools"
  %div.tab-pane{role: "tabpanel", id: tab_name, class: ('active' if params[:tab] == tab_name)}
    .row
      .col-xs-12
        .ibox
          .ibox-title.domain-ibox
            %h5= cs.domains.count
            %span.label.label-info= t('.domains')
            .ibox-tools
              - if can? :manage, Domain
                = link_to new_custom_assessment_setting_domain_path(cs, domain_type: 'client', tab: tab_name) do
                  .btn.btn.btn-primary.btn-add
                    = t('.add_new_domain')
          = render partial: 'domain_list', collection: cs.domains, as: :domain, locals: { custom_domain_setting_name: tab_name, custom_assessment_setting_id: cs.id }
          .text-center
            = paginate @custom_assessment_paginate, params: { tab: tab_name }, :param_name => 'page_2'
