#custom-csi-tools.tab-pane{role: "tabpanel"}
  .row
    .col-xs-12
      .ibox
        .ibox-title
          %h5= @custom_domain_results
          %span.label.label-info= t('.domains')
          .ibox-tools
            - if can? :manage, Domain
              = link_to new_domain_path do
                .btn.btn.btn-primary.btn-add
                  = t('.add_new_domain')
        .ibox-content
          - @custom_domains.each do |domain|
            = render 'domain_list', domain: domain
        .ibox-footer.text-center
          = paginate @custom_domains, params: { tab: 'custom_domain' }, :param_name => 'page_2'
