.panel.panel-default
  .panel-heading
    .row
      .col-xs-12.col-sm-8
        %h3
          - if current_organization.aht?
            - if !domain.custom_domain
              = t('dimensions.dimension_list.dimensions') + ":"
              = t("dimensions.dimension_names.#{domain.name.downcase.reverse}")
              = t("dimensions.dimension_identies.#{domain.identity.strip.parameterize('_')}_#{domain.name.downcase}")
            - else
              = t('dimension.dimension_list.dimensions') + ":"
              = domain.name
              = domain.identity
          - else
            - if !domain.custom_domain
              = t('domains.domain_list.domains') + ":"
              = t("domains.domain_names.#{domain.name.downcase.reverse}")
              = t("domains.domain_identies.#{domain.identity.strip.parameterize('_')}_#{domain.name.downcase}")
            - else
              = t('domains.domain_list.domains') + ":"
              = domain.name
              = domain.identity
      .col-xs-12.col-sm-4.text-right.actions
        - if can? :version, Domain
          = link_to domain_version_path(domain), class: 'btn btn-outline btn-success margin-left' do
            = t('.changelog')
        - if can? :manage, Domain
          = link_to new_domain_path(domain_id: domain.id, copy: true, domain_type: domain.domain_type, tab: custom_domain_setting_name, custom_assessment_setting_id: custom_assessment_setting_id), class: 'btn btn-outline btn-success margin-left' do
            = fa_icon('copy')
        - if domain.custom_domain?
          = link_to edit_domain_path(domain, tab: custom_domain_setting_name || 'csi-tools', custom_assessment_setting_id: custom_assessment_setting_id), class: 'btn btn-outline btn-success margin-left' do
            = fa_icon('pencil')
          = remove_link(domain, {domain_task: domain.tasks.with_deleted.count, assessment_domains_size: domain.assessment_domains.size}, 'margin-left', custom_assessment_setting_id, custom_domain_setting_name)
  .panel-body
    %p= domain.translate_description.html_safe
  .penel-footer
    - (1..10).each do |score|
      - interpretation = domain.send("translate_score_#{score}_definition")
      - score_color = domain.send("score_#{score}_color")
      - if interpretation.present?
        .btn-option.btn-sm.btn.btn-block{ class: "btn-#{score_color}" }
          = score_definition(interpretation, score)
