= simple_form_for(@domain) do |f|
  .ibox-content
    = error_notification(f)
    .form-inputs
      .row
        .col-xs-3
          = f.association :domain_group, collection: DomainGroup.all, label: t('.domain_group'), include_blank: false, input_html: { class: 'select2' }
        .col-xs-6
          = f.input :name, label: t('.name')
        .col-xs-3
          = f.input :identity, label: t('.identity')
      .row
        .col-xs-3
          = f.input :score_1_color, collection: Domain.domain_score_colors.map{ |ds| [ds[1], ds[0]]}, label: t('.score_1'), include_blank: false, input_html: { class: 'select2' }
        .col-xs-6
          = f.input :score_1_definition, label: t('.interpretation')
      .row
        .col-xs-3
          = f.input :score_2_color, collection: Domain.domain_score_colors.map{ |ds| [ds[1], ds[0]]}, label: t('.score_2'), include_blank: false, input_html: { class: 'select2' }
        .col-xs-6
          = f.input :score_2_definition, label: t('.interpretation')
      .row
        .col-xs-3
          = f.input :score_3_color, collection: Domain.domain_score_colors.map{ |ds| [ds[1], ds[0]]}, label: t('.score_3'), include_blank: false, input_html: { class: 'select2' }
        .col-xs-6
          = f.input :score_3_definition, label: t('.interpretation')
      .row
        .col-xs-3
          = f.input :score_4_color, collection: Domain.domain_score_colors.map{ |ds| [ds[1], ds[0]]}, label: t('.score_4'), include_blank: false, input_html: { class: 'select2' }
        .col-xs-6
          = f.input :score_4_definition, label: t('.interpretation')
      %hr
      .row
        .col-xs-12
          = f.text_area :description, class: 'tinymce', label: t('.description'), input_html: { rows: 30 }
  .ibox-footer
    = f.submit t('.save'), class: 'btn btn-primary form-btn'
    = link_to t('.cancel'), domains_path, class: 'btn btn-default form-btn'
