.row
  .col-xs-12
    .ibox.min-margin-layout
      .ibox-content
        %div
          %ul.nav.nav-tabs.csi-tab{role: "tablist"}
            %li.active{role: "presentation"}
              %a{"aria-controls" => "csi-tools", "data-toggle" => "tab", href: "#csi-tools", role: "tab"}= t('.csi_tool')
            - if @custom_domains.present?
              - if @custom_assessment_setting.joins(:domains).present?
                - @custom_assessment_setting.each do |cs|
                  - if cs.enable_custom_assessment == true
                    %li{role: "presentation"}
                      %a{"aria-controls" => "#{cs.custom_assessment_name.downcase.strip.parameterize('-')}-custom-csi-tools", "data-toggle" => "tab", href: "##{cs.custom_assessment_name.downcase.strip.parameterize('-')}-custom-csi-tools", role: "tab"}= cs.custom_assessment_name
            %li{role: "presentation"}
              %a{"aria-controls" => "family-custom-csi-tools", "data-toggle" => "tab", href: "#family-custom-csi-tools", role: "tab"}= t('.family_custom_csi_tool')
          .tab-content
            = render 'csi_tool'
            - if @custom_domains.present?
              = render 'custom_assessment_setting'
            = render 'family_custom_assessment'
