- ngos = mapping_ngos(select_ngos)
= simple_form_for [@client, @referral || @client.referrals.build] do |f|
  = f.hidden_field :slug, value: @client.archived_slug
  = f.hidden_field :client_global_id, value: @client.global_id
  .row
    .col-xs-12.col-sm-8.col-sm-offset-2
      %p.text-danger.external-referral-warning.text-hide
        = t('.external_referral_warning')
      .row
        .col-xs-12
          .form-group.date.optional{ class: ('has-error' if f.error :date_of_referral) }
            %label.date.control-label{ for: 'date_of_referral' }
              %abbr{ title: 'required' } *
              = t('.date_of_referral')
            .input-group.date
              = f.text_field :date_of_referral, class: 'date form-control date-picker datepicker-dropdown', type: 'text', name: 'referral[date_of_referral]', value: referral_date(f.object)
              %span.input-group-addon
                %i.fa.fa-calendar-check-o
            = f.error :date_of_referral
      .row
        .col-xs-12
          = f.input :client_name, readonly: true, input_html: { value: @client.en_and_local_name }, label: t('.client_name')
        .col-xs-12
          .form-group.required
            %label.required.control-label
              %abbr *
              = t('.client_id')
            = text_field_tag nil, @client.slug, class: 'form-control', readonly: true

        .col-xs-12
          = f.input :referred_from, readonly: true, input_html: { value: current_organization.full_name }, label: t('.referred_from')
        - if params[:ngo] == 'external referral' || params[:ngo] == 'MoSVY External System' || @referral.referred_to == 'external referral'
          .col-xs-12
            = f.hidden_field :referred_to, as: :select, collection: ngos, label: t('.referred_to'), disabled: f.object.persisted?
          .col-xs-12
            = f.input :ngo_name, label: t('.ngo_name'), readonly: f.object.ngo_name.present?
        - else
          .col-xs-12
            = f.input :referred_to, as: :select, collection: ngos, label: t('.referred_to'), disabled: f.object.persisted?
        .col-xs-12
          = f.input :name_of_referee, input_html: { value: referee_name(f.object) }, label: t('.name_of_referee')
        .col-xs-12
          = f.input :referee_id, as: :hidden, input_html: { value: referee_id(f.object) }
        .col-xs-12
          = f.input :referral_phone, input_html: { value: referee_phone(f.object) }, label: t('.referral_phone')
        .col-xs-12
          = f.input :referee_email, input_html: { value: referral_email(f.object) }, label: t('.referral_email')
        .col-xs-12
          = f.input :referral_reason, as: :text, label: t('.referral_reason')
        .col-xs-12
          #type-of-service{ data: { custom: services.to_json, single_selected: params[:external_ngo_name] == "MoSVY External System" ? 'true' : 'false' } }
            - if params[:external_ngo_name] == "MoSVY External System"
              = f.association :services, collection: services(false), multiple: true, label: t('.type_of_service')
            - else
              = f.association :services, collection: services(false), multiple: true, label: t('.type_of_service')

        .col-xs-12
          = f.input :level_of_risk, collection: level_of_risk_options, label: t('referrals.level_of_risk')
        .col-xs-12
          = hidden_field_tag 'confirm-question', t('program_streams.program_detail.service_confirm_question')
          = render 'referrals/consent_form_fields', f: f
        .col-xs-12
          = f.submit t('save'), class: 'btn btn-primary form-btn btn-save', data: { disable_with: t('saving') }
          - if @referral.persisted?
            = link_to t('cancel'), client_referral_path(@client, @referral), class: 'btn btn-default form-btn'
          - else
            = link_to t('cancel'), client_path(@client), class: 'btn btn-default form-btn btn-back'
