- ngos = Organization.exclude_current.non_oscar.map{|org| [org.full_name, org.short_name] }
= simple_form_for [@client, @referral || @client.referrals.build] do |f|
  = f.input :date_of_referral, input_html: { class: 'datepicker' }, label: t('.date_of_referral')
  = f.input :client_name, input_html: { value: @client.name }, label: t('.client_name')
  = f.input :slug, input_html: { value: @client.slug }, label: t('.client_id')
  = f.input :referred_from, input_html: { value: Organization.current.short_name }, label: t('.referred_from')
  = f.input :referred_to, as: :select, collection: ngos, label: t('.seletc_ngos')
  = f.input :name_of_referee, input_html: { value: current_user.name }, label: t('.name_of_referee')
  = f.input :referral_phone, input_html: { value: current_user.mobile }, label: t('.referral_phone')
  = f.input :referral_reason, label: 'Referral Reason', as: :text, label: t('.referral_reason')
  = f.submit 'Save', class: 'btn btn-primary form-btn', label: t('.save')
