.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5= @results
        %span.label.label-info= t('.referral_form')
        .text-right
          = link_to new_client_referral_path(@client), class: 'button btn-sm btn btn-success' do
            = t('.add_referral')
      .ibox-content
        .table-responsive
          %table.table.table-bordered.table-striped.table-hover
            %thead
              %tr
                %th= t('.client_name')
                %th= t('.referred_from')
                %th= t('.date_of_referral')
                %th.text-center.custom_column_manage{ colspan: '2' }= t('.manage')
            %tbody
              - @referrals.each do |referral|
                - referred_from = Organization.find_by(short_name: referral.referred_from).try(:full_name)
                %tr
                  %td= referral.client_name
                  %td= referred_from
                  %td= date_format(referral.date_of_referral)
                  %td.text-center
                    = link_to edit_client_referral_path(@client, referral), class: 'button btn btn-outline btn-success btn-xs' do
                      = fa_icon('pencil')
                  %td.text-center
                    = link_to client_referral_path(@client, referral) do
                      .btn.btn-sm.btn-info.btn-xs.btn-outline
                        = fa_icon('eye')
      .ibox-footer
        .text-right
          = link_to client_path(@client), class: 'btn btn-default' do
            = t('back')
