.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5= @results
        %span.label.label-info= t('.referral_forms')

      .ibox-content
        .table-responsive
          %table.table.table-bordered.table-striped.table-hover
            %thead
              %tr
                %th= t('.client_name')
                %th{ class: referred_from_hidden?(@referrals.first) }= t('.referred_from')
                %th{ class: referred_to_hidden?(@referrals.first) }= t('.referred_to')
                %th= t('.date_of_referral')
                %th.text-center.custom_column_manage= t('.detail')
            %tbody
              - @referrals.each do |referral|
                %tr
                  %td= referral.client_name
                  %td{ class: referred_from_hidden?(referral) }= referral.referred_from_ngo
                  %td{ class: referred_to_hidden?(referral) }= referral.referred_to_ngo
                  %td= date_format(referral.date_of_referral)
                  %td.text-center
                    -# - if policy(referral).edit?
                    -#   = link_to edit_client_referral_path(@client, referral, referral_type: params[:referral_type]), class: 'button btn btn-outline btn-success btn-xs' do
                    -#     = fa_icon('pencil')
                    -# - else
                    -#   %span.tool-tip{ 'data-placement' => 'top', 'data-toggle' => 'tooltip', 'title' => t('.cannot_edit_referral') }
                    -#     = link_to edit_client_referral_path(@client, referral), class: 'button btn btn-outline btn-success btn-xs disabled' do
                    -#       = fa_icon('pencil')

                    = link_to client_referral_path(@client, referral) do
                      .btn.btn-sm.btn-info.btn-xs.btn-outline
                        = fa_icon('eye')
      .ibox-footer
        .text-right
          = link_to client_path(@client), class: 'btn btn-default' do
            = t('back')
