.row
  .col-xs-12.col-sm-12.col-md-12
    .ibox
      .ibox-title
        %h5= "#{t('created_by')} #{@referral.name_of_referee} #{t('at')} #{date_format(@referral.created_at)}"
        .text-right
          - if @referral.non_oscar_ngo?
            = link_to client_referral_path(@client, @referral, format: :pdf), class: 'btn btn-outline btn-info', target: :_blank do
              = t('.download_referral_form')
          - if policy(@referral).edit?
            = link_to edit_client_referral_path(@client, @referral, referral_type: params[:referral_type]), class: 'button btn btn-outline btn-success ' do
              = fa_icon('pencil')

      .ibox-content
        %h2= t('referral_details')
        %section.overflow-case
          %table.table.table-bordered
            %tr
              %td= t('.date_of_referral')
              %td
                %strong= date_format(@referral.date_of_referral)

            %tr
              %td= t('.client_name')
              %td
                %strong= @referral.client_name

            %tr
              %td= t('.client_id')
              %td
                %strong= @referral.client.slug if @referral.client_id?
            %tr
              %td= t('referrals.referral_status')
              %td
                - if @referral.client_id? && @referral.client.referrals.received.count > 1
                  %strong= editable @referral, :referral_status, type: :select, source: ['Referred', 'Accepted', 'Exited'].zip(['Referred', 'Accepted', 'Rejected']).to_h, value: @referral.referral_status, url: api_referral_path(@referral.id), pk: @referral.id
                - else
                  %strong= @referral.referral_status

            %tr
              %td= t('.referred_from')
              %td
                %strong= @referral.referred_from_ngo

            %tr
              %td= t('.referred_to')
              %td
                %strong= @referral.referred_to_ngo
            - if @referral.ngo_name.present?
              %tr
                %td= t('.ngo_name')
                %td
                  %strong= @referral.ngo_name
            %tr
              %td= t('.name_of_referee')
              %td
                %strong= @referral.name_of_referee

            %tr
              %td= t('.referral_phone')
              %td
                %strong= @referral.referral_phone

            %tr
              %td= t('.referral_reason')
              %td
                %strong= @referral.referral_reason
            %tr
              %td= t('.type_of_service')
              %td
                %strong= @referral.services.distinct.map(&:name).join(', ')
            %tr
              %td= t('referrals.level_of_risk')
              %td
                %strong= @referral.level_of_risk&.capitalize
            %tr
              %td
                = t('.consent_form')
              %td
                - if @referral.consent_form.first.present?
                  = link_to t('.preview_download'), @referral.consent_form.first.url, class: 'btn btn-info btn-sm btn-download', target: :_blank
      .ibox-footer
        .text-right
          - if @client && @referral.client_id
            = link_to client_referrals_path(@client, referral_type: referral_type(@referral)), class: 'btn btn-default me-2' do
              = t('back')

          - if @referral.repeat?
            = link_to t('.go_to_client'), client_path(id: @referral.client.slug, referral_id: @referral.id), target: '_blank', class: 'btn btn-info'
          - else
            = link_to t('.go_to_client'), new_client_path(referral_id: @referral.id), target: '_blank', class: 'btn btn-info'
