.ibox
  = simple_form_for([@partner, @partner_custom_field]) do |f|
    .ibox-title
      %h5= @partner_custom_field.custom_field.form_title
    .ibox-content
      = render "shared/properties", custom_field: @partner_custom_field.custom_field, f: f, entity: @partner_custom_field
    .ibox-content
      = f.submit t('.save'), class: 'btn btn-primary form-btn'
      = link_to t('.cancel'), partner_partner_custom_fields_path(@partner, custom_field_id: @partner_custom_field.custom_field_id), class: 'btn btn-default form-btn'
