.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5= "#{@custom_field.form_title} "
        .ibox-tools
          = link_to new_partner_partner_custom_field_path(@partner, custom_field_id: params[:custom_field_id]) do
            .btn.btn-outline.btn-primary.button.form-btn
              = "Add New #{@custom_field.form_title}"
          = link_to partner_path(@partner) do
            .btn.btn-outline.btn-success.button.form-btn
              = t('.back')
      .ibox-content
        .row
          - @partner_custom_field.each do |partner_custom_field|
            .col-xs-12.col-md-6
              .ibox.border-left-right.border-bottom
                .ibox-title
                  %h5
                    Created Date
                  %span.label.label-info
                    = date_format partner_custom_field.created_at
                  .ibox-tools
                    - if can? :manage, CustomField
                      %small
                        = link_to edit_partner_partner_custom_field_path(@partner, partner_custom_field.id) do
                          .btn.btn-outline.btn-success
                            = fa_icon('pencil')
                      %small
                        = link_to partner_partner_custom_field_path(@partner, partner_custom_field.id, custom_field_id: partner_custom_field.custom_field_id),  method: :delete, data: { confirm: 'Are you sure you want to delete?' } do
                          .btn.btn-outline.btn-danger
                            = fa_icon('trash')
                .ibox-content
                  %table.table.table-bordered
                    - partner_custom_field.properties_objs.each do |key, value|
                      %tr
                        %td.align-justify
                          = key.titleize
                        %td.align-justify
                          = display_custom_properties(value) || 'Unknow'
      .ibox-footer.text-center
        = paginate @partner_custom_field
