.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5= "#{@client.en_and_local_name} - #{@tracking.name} - #{@program_stream.name}"
        .ibox-tools
          - if (can? :manage, ClientEnrollmentTracking) && !@enrollment.program_stream.tracking_required?
            = link_to new_client_client_enrollment_client_enrollment_tracking_path(@client, @enrollment, tracking_id: @tracking) do
              .btn.btn-primary.btn-outline= t('.new_tracking')
          = link_to client_client_enrollment_client_enrollment_trackings_path(@client, @enrollment, tracking_id: @tracking.id) do
            .btn.btn-success.btn-outline= t('.back')
      .ibox-content
        - @client_enrollment_trackings.each_slice(2) do |n_enrollment_trackings|
          .row
            - n_enrollment_trackings.each do |enrollment_tracking|
              .col-xs-12
                .ibox.border-left-right.border-bottom
                  .ibox-title
                    %h5= t('.created_at')
                    %span.label.label-primary
                      = date_format(enrollment_tracking.created_at)
                    .ibox-tools
                      - if can? :manage, ClientEnrollmentTracking
                        = client_enrollment_tracking_edit_link(enrollment_tracking)
                        = client_enrollment_tracking_destroy_link(enrollment_tracking)

                  .ibox-content
                    .table-responsive
                      %table.table.table-bordered
                        - tracking_report(enrollment_tracking).map { |field| [field['type'], field['label'], switch_label_property(field)] }.each do |type, label, key|
                          - unless type == 'separateLine'
                            - if type == 'paragraph'
                              %tr
                                %td.align-justify{colspan: '2'}
                                  = label.html_safe
                            - else
                              %tr
                                %td.align-justify
                                  = label.html_safe
                                %td.align-justify
                                  - if type == 'file'
                                    = render 'shared/form_builder/list_attachment', label: key, resource: enrollment_tracking
                                  - else
                                    = display_custom_properties(enrollment_tracking.properties[key])
