.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5
          %strong= link_to_client_show(@client)
          = "- #{@client_enrollment_tracking.tracking.try(:name)} - #{@program_stream.name}"
        .ibox-tools
          - if can? :manage, ClientEnrollmentTracking
            = client_enrollment_tracking_edit_link(@client_enrollment_tracking)
          = link_to report_client_client_enrollments_path(@client, program_stream_id: @program_stream) do
            .btn.btn-default.btn-back-default
              = t('.back')
      .ibox-content
        %h5= "#{t('created_by')} #{whodunnit('ClientEnrollmentTracking', @client_enrollment_tracking.id)} #{t('at')}  #{ date_format @client_enrollment_tracking.created_at }"
        .table-responsive
          %table.table.table-bordered
            - @client_enrollment_tracking.tracking.fields.map{|field| [field['type'], field['label'], switch_label_property(field)]}.each do |type, label, key|
              - unless type == 'separateLine'
                - if type == 'paragraph'
                  %tr
                    %td.align-justify{colspan: '2'}
                      = label.html_safe
                - else
                  %tr
                    %td.align-justify
                      = label.html_safe
                    %td.align-justify
                      - key = convert_bracket(key, @client_enrollment_tracking.properties)
                      - if type == 'file'
                        = render 'shared/form_builder/list_attachment', label: key, resource: @client_enrollment_tracking
                      - else
                        = display_custom_properties(@client_enrollment_tracking.properties[key])
