.row
  .col-xs-12
    = link_to client_client_enrollment_client_enrollment_trackings_path(@client, @enrollment) do
      .btn.btn-primary.btn-outline.pull-right
        = t('.trackings_list')
.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5= @client_enrollment_tracking.tracking.try(:name)
        .ibox-tools
          - if (can? :manage, ClientEnrollmentTracking) && (policy(@client_enrollment_tracking).update?)
            = link_to edit_client_client_enrollment_client_enrollment_tracking_path(@client, @enrollment, @client_enrollment_tracking, tracking_id: @client_enrollment_tracking.tracking) do
              .btn.btn-success.btn-outline
                = fa_icon('pencil')
          = link_to report_client_client_enrollments_path(@client, program_stream_id: @program_stream) do
            .btn.btn-default.btn-back-default
              = t('.back')
      .ibox-content
        .table-responsive
          %table.table.table-bordered
            - @client_enrollment_tracking.properties.each do |key, value|
              %tr
                %td.align-justify
                  = key.titleize
                %td.align-justify
                  = display_custom_properties(value)
