!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Error 404 (Not Found)
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :rel => "stylesheet"}
    = stylesheet_link_tag 'application', media: 'all'
    :css
      body {
          display: flex;
          align-items: center;
        }

        h1 {
          font-size: 150px;
          font-weight: 100;
          color: #E6483D;
        }

        h3 {
          font-size: 40px;
          font-weight: bold;
        }

        p {
          font-size: 16px;
        }

        a.btn {
          background: #E6483D;
          border-color: #E6483D;
          font-weight: bold;
        }

        a.btn:hover {
          background: #EC281A;
          border-color: #EC281A;
        }

        .error-content {
          margin-top: 5%;
          padding-bottom: 5%;
        }

  %body{ id: "#{controller_name}-#{params[:action]}", style: 'background-color: #fff;' }
    .container
      .row
        .col-xs-12.col-md-6.text-center.error-content
          - if I18n.locale.to_s != 'km'
            %h1.text-muted 404
            %h3.font-bold Page Not Found
            %p.text-muted.text-uppercase Page you are looking for was moved, removed, renamed or does not exist.
            %a.btn.btn-success{:href => "/"} Back to Dashboard
          - else
            %h1.text-muted 404
            %h3.font-bold រកមិនឃើញគេហទំព័រដែលអ្នកស្នើ។
            %p.text-muted.text-uppercase គេហទំព័រដែលអ្នកកំពុងស្វែងរកត្រូវបានផ្លាស់ទី លុបចេញ ប្តូរឈ្មោះ ឬមិនមាន។
            = link_to root_path, class: 'btn btn-primary m-t' do
              ត្រឡប់ទៅទំព័រ​ដើម
        .col-xs-12.col-md-6.text-center.error-content
          = image_tag 'error_page_not_found.png', class: 'img-responsive'
