!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Error 500 (Internal Error)
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :rel => "stylesheet"}
    = stylesheet_link_tag 'application', media: 'all'
    :css
      body {
          display: flex;
          align-items: center;
        }

        h1 {
          font-size: 150px;
          font-weight: 100;
          color: #E6483D;
        }

        .font-small {
          font-size: 25px;
        }

        h3 {
          font-size: 40px;
          font-weight: bold;
        }

        .text-km {
          line-height: 62px;
        }

        p {
          font-size: 16px;
        }

        a.btn {
          background: #E6483D;
          border-color: #E6483D;
          font-weight: bold;
        }

        a.btn:hover {
          background: #EC281A;
          border-color: #EC281A;
        }

        .error-content {
          padding-bottom: 5%;
        }

  %body{ id: "#{controller_name}-#{params[:action]}", style: 'background-color: #fff;' }
    .container
      .row
        .col-xs-12.col-md-6.text-center.animated.fadeInDown
          %h1.text-muted 500
          - if I18n.locale.to_s != 'km'
            %h3.font-bold Sorry!!! It's a technical issue.
            %h3.font-bold We already catched this error in our system and we are going to fix it ASAP.
            %br/
            .error-desc
              %p You can go back to the main page or work on other pages:
              = link_to root_path, class: 'btn btn-primary m-t' do
                Back to Dashboard
          - else
            %h3.font-bold សូមអភ័យទោស!!! វាជាបញ្ហាបច្ចេកទេស។
            %h3.text-km.font-bold យើងបានបញ្ជូនបញ្ហានេះនៅក្នុងប្រព័ន្ធរបស់យើងរួចហើយ ហើយយើងនឹងដោះស្រាយវាឱ្យបានឆាប់។
            %br/
            .error-desc
              %p លោកអ្នកអាចត្រឡប់ទៅទំព័រដើម ឬធ្វើការនៅលើទំព័រផ្សេងទៀតបាន៖
              = link_to root_path, class: 'btn btn-primary m-t' do
                ត្រឡប់ទៅទំព័រ​ដើម

        .col-xs-12.col-md-6.text-center
          = image_tag 'chat_error.png', class: 'img-responsive'
