.modal.fade{ role: 'dialog', tabindex: '-1', id: "enter_ngos-#{enter_ngo.id}", class: 'edit-enter-ngos-case-history' }
  .modal-dialog{ role: 'document'}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "#{t('.close')}", "data-dismiss" => 'modal'}
          %span{"aria-hidden" => 'true'} &times;
        %h4.modal-title
          = t('clients.enter_ngo_form.accept_ngo_form')

      .modal-body
        .alert.alert-warning.alert-dismissible{ :role => "alert" }
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %ul
            %li
              = raw t('clients.attr.warning_messages.referral_date', referral_date: date_format(@client.initial_referral_date))

        = simple_form_for [@client, enter_ngo] do |f|
          = f.error_notification
          .form-inputs
            .form-group.date
              %label.date.required.control-label
                %abbr{ title: 'required' } *
                = t('.accepted_date')
              .input-group.date
                = f.text_field :accepted_date, required: true, class: 'date form-control date-picker datepicker-dropdown enter_ngos enter-ngos-case-history', type: 'text', name: 'enter_ngo[accepted_date]', data: { compared_date: ''  }
                %span.input-group-addon
                  %i.fa.fa-calendar-check-o

          .text-right
            %button.btn.btn-default.editable-cancel{"data-dismiss" => 'modal'}= t('cancel')
            = f.submit t('save') , class: 'btn btn-success agree-btn', name: 'accept-client', data: { disable_with: t('saving') }
