.modal.fade{ role: 'dialog', tabindex: '-1', id: 'enter-ngo-form' }
  .modal-dialog{ role: 'document'}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "#{t('.close')}", "data-dismiss" => 'modal'}
          %span{"aria-hidden" => 'true'} &times;
        %h4.modal-title
          = t('clients.enter_ngo_form.accept_ngo_form')

      .modal-body
        = simple_form_for [@client, @client.enter_ngos.build] do |f|
          = f.error_notification
          .form-inputs
            .form-group.date
              %label.date.required.control-label
                %abbr{ title: 'required' } *
                = t('.accepted_date')
              .input-group
                = f.text_field :accepted_date, class: 'date form-control enter_date', type: 'text', name: 'enter_ngo[accepted_date]', autocomplete: 'off'
                %span.input-group-addon
                  %i.fa.fa-calendar-check-o

          .form-inputs
            .form-group.date
              %label.date.required.control-label
                %abbr{ title: 'required' } *
                = t('.case_worker_or_staff')
              = f.association :users, collection: @users, include_blank: false, multiple: true, label: false

          .text-right
            %button.btn.btn-default.editable-cancel{"data-dismiss" => 'modal'}= t('cancel')
            = f.submit t('.accept') , class: 'btn btn-success agree-btn', name: 'accept-client', data: { disable_with: t('.accepting') }
