.nested-fields
  .field
    = f.input :family_plan_id, as: :hidden, label: false
    %p
      %strong= f.object.family_plan_name
    .row
      .col-xs-4
        = f.input :goal, label: 'គោលដៅ', input_html: { class: 'characterCount', data: {count: 42} }
        %span.countup= "#{f.object.goal.length} / 42 Character(s) Remaining"
      .col-xs-4
        = f.input :action, label: 'ផែនការសកម្មភាព', input_html: { class: 'characterCount', data: {count: 120} }
        %span.countup= "#{f.object.action.length} / 120 Character(s) Remaining"
      .col-xs-4
        = f.input :result, label: 'លទ្ធផល', input_html: { class: 'characterCount', data: {count: 42} }
        %span.countup= "#{f.object.result.length} / 42 Character(s) Remaining"
