= simple_form_for [@client, @government_form] do |f|
  .ibox-content
    = f.input :name, as: :hidden
    = hidden_field_tag :form_num, params[:form]
    = error_notification(f)
    .row
      .col-xs-12
        %h2.text-center= 'ទម្រង់ទី៥: តាមដាន និងត្រួតពិនិត្យ'
      = render 'government_info', f: f
      .col-xs-12
        #action_results
          .panel.panel-default
            .panel-heading
              .text-center
                %p= 'ទម្រង់នេះមានគោលបំណងចុះត្រួតពិនិត្យផែនការសកម្មភាពដើម្បីឲ្យដឹងថា តើកុមារ និងគ្រួសារបានទទួលសេវា និងតម្រូវការសមស្របដែរឬទេ? តើមានភាពខុសប្លែកអ្វីខ្លះ?​ តើសុខុមាលភាពកុមារ និងគ្រួសារមានភាពរីកចំរើនដែរឬទេ?'
            .panel-body
              - action_count = @government_form.action_results.count
              = f.simple_fields_for :action_results do |action|
                = render 'action_result_fields', f: action
              - if ['new', 'create'].include?(params[:action])
                .links.link-action-result
                  = link_to_add_association t('.action_result'), f, :action_results, class: 'btn btn-primary add_action_results'
              - if ['edit', 'update'].include?(params[:action]) && action_count < 3
                %input#action-count{:type => "hidden", :value => "#{action_count}"}
                .links.link-action-result
                  = link_to_add_association t('.action_result'), f, :action_results, class: 'btn btn-primary add_action_results'

      .col-xs-12
        %p= 'បញ្ហាថ្មីៗដែលបានរកឃើញ ក្នុងអំឡុងពេលនៃការចុះត្រួតពិនិត្យ និងតាមដាន និងដំណោះស្រាយដែលបានធ្វើដើម្បីដោះស្រាយបញ្ហាទាំងនោះ។'
        = f.input :recent_issues_and_progress, label: false, input_html: { rows: 10 }

  .ibox-footer
    = f.submit t('save'), class: 'btn btn-primary form-btn'
    = link_to t('cancel'), client_government_forms_path(form: params[:form]), class: 'btn btn-default form-btn'
