= render 'head_section'

.panel.panel-no-margin.panel-borderless
  .panel-heading.panel-no-padding.panel-borderless
    .text-main-header.text-center{style: 'padding:8px; background-color: #04215C; color: white; width:100%; margin-bottom: 0px;'} ទម្រង់ទី៣: ផែនការសេវាសំរាប់ករណី និង គ្រួសារ

.panel.panel-no-margin.panel-borderless
  .panel-body.panel-border{style: 'border-top: 1px solid black'}
    = render 'client_code'
  .panel-body.panel-border{style: 'border-bottom: 1px dotted black;'}
    %table.table.no-margin-bottom.table-borderless{ style: 'margin-top: 4px;' }
      %tbody
        %tr
          %td{style: 'width: 70px; vertical-align: middle; padding-left: 0;'}
            ឈ្មោះកុមារ:
          %td{style: 'width: 200px; vertical-align: middle;'}
            %input{style: 'width: 100%;', value: @client.local_name }
          %td{ style: 'vertical-align: middle;' }
            ថ្ងៃខែឆ្នាំកំណើត:
          %td{ style: 'vertical-align: middle;' }
            - dob = @client.date_of_birth.present? ? @client.date_of_birth.strftime('%d%m%y') : '000000'
            - dob.split('').each_with_index do |code, index|
              - if index == 0
                %span.first= code
              - else
                %span= code
          %td{ style: 'vertical-align: middle;' }
            ភេទ:
            = render @client.gender == 'male' ? 'government_forms/pdf/image_checked_box' : 'government_forms/pdf/image_unchecked_box'
            ប្រុស
            = render @client.gender == 'female' ? 'government_forms/pdf/image_checked_box' : 'government_forms/pdf/image_unchecked_box'
            ស្រី
  .panel-body.panel-border{style: 'border-bottom: 1px dotted black;'}
    %table.table.no-margin-bottom.table-borderless{ style: 'margin-top: 4px;' }
      %tbody
        %tr
          %td{ style: 'vertical-align: middle; padding-left: 0;' }
            ឈ្មោះឪពុកម្តាយឬអ្នកអាណាព្យាបាល:
          %td{style: 'width: 200px; vertical-align: middle;'}
            %input{style: 'width: 100%;', value: @guardian.try(:adult_name) }
          %td
            ថ្ងៃខែឆ្នាំកំណើត:
          %td
            - if @guardian.present?
              - if @guardian.date_of_birth.present?
                - @guardian.date_of_birth.strftime('%d%m%y').split('').each_with_index do |code, index|
                  - if index == 0
                    %span.first= code
                  - else
                    %span= code
              - else
                - (1..6).each_with_index do |code, index|
                  - if index == 0
                    %span.first &nbsp;&nbsp;
                  - else
                    %span &nbsp;&nbsp;
            - else
              - (1..6).each_with_index do |code, index|
                - if index == 0
                  %span.first &nbsp;&nbsp;
                - else
                  %span &nbsp;&nbsp;
  .panel-body.panel-border{style: 'border-bottom: 1px dotted black;'}
    %table.table.no-margin-bottom.table-borderless{style: 'margin-top: 4px;'}
      %tbody
        %tr
          %td{style: 'width: 20px; padding-left: 0; vertical-align: middle;'}
            អាសយដ្ឋាន៖
          %td.text-right{ style: 'vertical-align: middle;' }
            ភូមិ:
          %td{ style: 'vertical-align: middle;' }
            %input{style: 'width: 100%;', value: @client.family.try(:village).try(:name_kh) }
          %td{style: 'width: 50px; vertical-align: middle;'}
            ឃុំ/សង្កាត់:
          %td{ style: 'vertical-align: middle;' }
            %input{style: 'width: 100%', value: @client.family.try(:commune).try(:name_kh) }
        %tr
          %td.text-right{:colspan => "2", style: 'vertical-align: middle;'}
            ក្រុង/ស្រុក/ខណ្ឌ:
          %td{ style: 'vertical-align: middle;' }
            %input{style: 'width: 100%', value: @client.family.try(:district).try(:name_kh) }
          %td{ style: 'vertical-align: middle;' }
            ខេត្ត/រាជធានី:
          %td{ style: 'vertical-align: middle;' }
            %input{style: 'width: 100%', value: @client.family.try(:province).try(:name_kh) }
  .panel-body.panel-border
    .col-xs-2.text-right{style: 'padding: 0px; margin-right: 35px;'}
      ឈ្មោះអ្នកកាន់ករណី:
    .col-xs-4
      %input{style: 'width: 240px;margin-left: -38px;', value: @user.try(:name) }
    .col-xs-2
      អង្គភាព:
    .col-xs-4{style: 'padding: 0px; margin-left: -50px;'}
      %input{style: 'width: 240px', value: @setting.org_name }
.panel.panel-borderless
  .panel-heading.panel-border{style: 'background: #ffd966; padding: 5px; color: #000; border-top: 1px solid black; border-bottom: 0;'}
    I-
    %u ផែនការសំរាប់ករណី (កុមារ)

  .panel-body.panel-border.no-border-bottom
    %u យកចំណាត់ថ្នាក់ទាប ( ១និង២ ) ពីទម្រង់ប៉ាន់ប្រមាណករណី និងគ្រួសារ មកធ្វើផែនការជួយគាំទ្រ

  .panel-body.panel-border
    %table.table.table-border.panel-no-margin
      %thead{ style: 'background: #d8d8d8;' }
        %tr
          %th.text-center{ style: 'width: 200px;' } ស្ថានភាពរបស់កុមារនិងតម្រូវការបច្ចុប្បន្ន
          %th.text-center{ style: 'width: 100px;' } គោលដៅ
          %th.text-center សកម្មភាពលំអិត
          %th.text-center អ្នកអនុវត្ត
          %th.text-center{ style: 'width: 40px;' } អនុវត្តពេលណា
      %tbody
        - @government_form.government_form_children_plans.each_with_index do |form, index|
          - if index <= 6
            %tr
              %td= form.try(:children_plan_name)
              %td
                .comment{style: 'min-height: 15px; max-height: 17px;'}
                  %p= form.try(:goal)
              %td
                .comment{style: 'min-height: 15px; max-height: 17px;'}
                  %p= form.try(:action)
              %td
                .comment{style: 'min-height: 15px; max-height: 17px;'}
                  %p= form.try(:who)
              %td
                .comment{style: 'min-height: 15px; max-height: 17px;'}
                  %p= form.try(:completion_date)
  .footer{ style: 'page-break-after: always;' }
.panel.panel-borderless{style: 'margin-bottom: 0px;'}
  .panel-heading.panel-border{style: 'background: #ffd966; padding: 5px; color: #000; border-top: 1px solid black; border-bottom: 0;'}
    I-
    %u ផែនការសំរាប់ករណី (កុមារ)(ត)

  .panel-body.panel-border.no-border-bottom
    %u យកចំណាត់ថ្នាក់ទាប ( ១និង២ ) ពីទម្រង់ប៉ាន់ប្រមាណករណី និងគ្រួសារ មកធ្វើផែនការជួយគាំទ្រ
  .panel-body.panel-border{style: 'border-bottom: 0px;'}
    %table.table.table-border.panel-no-margin
      %thead{ style: 'background: #d8d8d8;' }
        %tr
          %th.text-center{ style: 'width: 200px;' } ស្ថានភាពរបស់កុមារនិងតម្រូវការបច្ចុប្បន្ន
          %th.text-center{ style: 'width: 100px;' } គោលដៅ
          %th.text-center សកម្មភាពលំអិត
          %th.text-center អ្នកអនុវត្ត
          %th.text-center{ style: 'width: 40px;' } អនុវត្តពេលណា
      %tbody
        - @government_form.government_form_children_plans.each_with_index do |form, index|
          - if index > 6
            %tr
              %td= form.try(:children_plan_name)
              %td
                .comment{style: 'min-height: 15px; max-height: 17px;'}
                  %p= form.try(:goal)
              %td
                .comment{style: 'min-height: 15px; max-height: 17px;'}
                  %p= form.try(:action)
              %td
                .comment{style: 'min-height: 15px; max-height: 17px;'}
                  %p= form.try(:who)
              %td
                .comment{style: 'min-height: 15px; max-height: 17px;'}
                  %p= form.try(:completion_date)
.panel.panel-no-margin.panel-borderless
  .panel-heading.panel-border{style: 'background: #ffd966; padding: 5px; color: #000; border-top: 1px solid black; border-bottom: 0;'}
    II.
    %u ផែនការសំរាប់គ្រួសារ

  .panel-body.panel-border
    %table.table.table-border.panel-no-margin
      %thead{ style: 'background: #d8d8d8;' }
        %tr
          %th.text-center{ style: 'width: 200px; vertical-align: middle;' } សូចនាករសំខាន់ៗរបស់អ្នកថែទាំ
          %th.text-center{ style: 'width: 100px; vertical-align: middle;' } គោលដៅ
          %th.text-center{ style:  'vertical-align: middle;' }
            ផែនការសកម្មភាព
            %br
            (សកម្មភាព-អ្នកអនុវត្ត-អនុវត្តពេលណា)
          %th.text-center{ style: 'width: 100px; vertical-align: middle;' } លទ្ធផល
      %tbody
        - @government_form.government_form_family_plans.each_with_index do |form, index|
          - if index <= 5
            %tr{style: 'page-break-inside: avoid;'}
              %td= form.try(:family_plan_name)
              %td
                .comment{style: 'min-height: 85px; max-height: 85px;'}
                  %p= form.try(:goal)
              %td
                .comment{style: 'min-height: 85px; max-height: 85px;'}
                  %p= form.try(:action)
              %td
                .comment{style: 'min-height: 85px; max-height: 85px;s'}
                  %p= form.try(:result)

.panel.panel-no-margin.panel-borderless
  .panel-heading.panel-border{style: 'background: #ffd966; padding: 5px; color: #000; border-top: 1px solid black; border-bottom: 0;'}
    II.
    %u ផែនការសំរាប់គ្រួសារ(ត)

  .panel-body.panel-border
    %table.table.table-border.panel-no-margin
      %thead{ style: 'background: #d8d8d8;' }
        %tr
          %th.text-center{ style: 'width: 200px; vertical-align: middle;' } សូចនាករសំខាន់ៗរបស់អ្នកថែទាំ
          %th.text-center{ style: 'width: 100px; vertical-align: middle;' } គោលដៅ
          %th.text-center{ style:  'vertical-align: middle;' }
            ផែនការសកម្មភាព
            %br
            (សកម្មភាព-អ្នកអនុវត្ត-អនុវត្តពេលណា)
          %th.text-center{ style: 'width: 100px; vertical-align: middle;' } លទ្ធផល
      %tbody
        - @government_form.government_form_family_plans.each_with_index do |form, index|
          - if index > 5
            %tr{style: 'page-break-inside: avoid;'}
              %td= form.try(:family_plan_name)
              %td
                .comment{style: 'min-height: 85px; max-height: 85px;'}
                  %p= form.try(:goal)
              %td
                .comment{style: 'min-height: 85px; max-height: 85px;'}
                  %p= form.try(:action)
              %td
                .comment{style: 'min-height: 85px; max-height: 85px;'}
                  %p= form.try(:result)

.panel.panel-no-margin.panel-borderless
  .panel-body.panel-border{style: 'border-radius: 3px;'}
    .row{style: 'margin-top: 5px;'}
      .col-xs-6
        .row
          .col-xs-12
            %div{ style: 'float: left; line-height: 25px; margin-right: 5px;' }
              កាលបរិច្ឆេទ (ថ្ងៃទី/ខែ/ឆ្នាំ)៖
            - 6.times do |_|
              .blank-box-date
          .col-xs-12{ style: 'margin-top: 8px;' }
            %p{style: 'margin-left: 50px;'} ហត្ថលេខាអ្នកកាន់ករណី:
            %br
            %br
            %br
      .col-xs-6
        .row
          .col-xs-12
            %div{ style: 'float: right; line-height: 25px; margin-left: 5px;' }
              - 6.times do |_|
                .blank-box-date
            %div{ style: 'float: right; line-height: 25px; margin-right: 5px;' }
              កាលបរិច្ឆេទ (ថ្ងៃទី/ខែ/ឆ្នាំ)៖
          .col-xs-12{ style: 'margin-top: 8px;' }
            %p.text-right{style: 'margin-right: 40px;'} ស្នាមមេដៃឪពុកម្តាយ ឬអ្នកអាណាព្យាបាល
            %br
            %br
            %br
.panel.panel-no-margin.panel-borderless
  .panel-body.panel-border.text-center{style: 'border-radius: 3px '}
    .row
      .col-xs-8.col-xs-offset-2{ style: 'padding: 0 13%;' }
        %div{ style: 'float: left; line-height: 25px; margin-right: 5px;' }
          កាលបរិច្ឆេទ (ថ្ងៃទី/ខែ/ឆ្នាំ)៖
        - 6.times do |_|
          .blank-box-date
    .row
      .col-xs-8.col-xs-offset-2{ style: 'padding: 0 13%; margin-top: 8px; height: 60px;' }
        %p{style: 'margin-right: 30px;'} ហត្ថលេខា តំណាងអាជ្ញាធរមូលដ្ឋាន:
