- @custom_assessment_notifications.each do |custom_assessment_name, clients|
  .ibox.border-left-right.border-bottom
    .ibox-title
      %h5
        = t('dashboards.assessment_tab.custom_assessment')
        = custom_assessment_name
    .ibox-content
      - clients.each do |client|
        .ibox.border-left-right.border-bottom
          .ibox-title
            %h5
              = link_to client.client_name, client_assessments_path(client), target: :_blank
          .ibox-content.no-padding
            %table.table.table-striped
              %tr
                %td.col-xs-3
                  %span.m-l-xs= t('dashboards.assessment_tab.custom_assessment')
                %td.col-xs-6.task-name.border-left-right
                %td.col-xs-3= date_format(client.last_assessment_date)
