%header.thredded--topic-header
  %h1.thredded--topic-header--title= topic.title
  %cite.thredded--topic-header--started-by
    = t 'thredded.topics.started_by_html', time_ago: time_ago(topic.created_at), user: topic.user
  - if topic.can_update?
    = link_to t('thredded.topics.edit'), topic.edit_path, class: 'thredded--topic-header--edit-topic'
  - if current_user
    - if follow = current_user.following?(topic)
      .thredded--topic-follow-info.thredded--following
        %p
          = t("thredded.topics.following.#{follow.reason}")
        = t('thredded.topics.following_will_receive_emails')
        = button_to 'Stop following', topic.unfollow_path
    - else
      .thredded--topic-follow-info.thredded--notfollowing
        = button_to 'Follow this topic', topic.follow_path
