.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5= t('.survey_detail')
        %h5.pull-right= @survey.created_at
      .ibox-content
        %table.table
          %thead
            %tr
              %th= t('.survey_question')
              %th.text-center= t('.survey_answer')
          %tbody
            %tr
              %td= t('.listening_score')
              %td.text-center
                .badge.badge-info= @survey.listening_score
            %tr
              %td= t('.problem_solving_score')
              %td.text-center
                .badge.badge-info
                  = @survey.problem_solving_score
            %tr
              %td= t('.getting_in_touch_score')
              %td.text-center
                .badge.badge-info
                  = @survey.getting_in_touch_score
            %tr
              %td= t('.trust_score')
              %td.text-center
                .badge.badge-info
                  = @survey.trust_score
            %tr
              %td= t('.difficulty_help_score')
              %td.text-center
                .badge.badge-info
                  = @survey.difficulty_help_score
            %tr
              %td= t('.support_score')
              %td.text-center
                .badge.badge-info
                  = @survey.support_score
            %tr
              %td= t('.family_need_score')
              %td.text-center
                .badge.badge-info
                  = @survey.family_need_score
            %tr
              %td= t('.care_score')
              %td.text-center
                .badge.badge-info
                  = @survey.care_score
      .ibox-footer
        = link_to t('.back'), client_surveys_path(@client), class: 'btn btn-default btn-back'
