.nested-fields
  .row
    .col-xs-12.col-md-5
      = f.input :question, label: t('.question')
    .col-xs-12.col-md-2
      = f.association :question_group, input_html: { class: 'select2'}, label: t('.group')
    .col-xs-12.col-md-2
      = f.input :mode, collection: AbleScreeningQuestion::MODES, input_html: { class: 'select2 check-mode'}, label: t('.mode'), include_blank: false
    .col-xs-12.col-md-2.no-label-form-group
      = f.input :alert_manager, as: :boolean, label: t('.alert_manager')
    .col-xs-12.col-md-1.no-label-form-group
      - if f.object.answers.blank?
        = link_to_remove_association f, class: 'btn btn-danger', data: { confirm: t('.are_you_sure') } do
          %i.glyphicon.glyphicon-trash
  .row
    .col-xs-12
      - f.object.attachments.build unless f.object.attachments.any?
      = f.simple_fields_for :attachments do |attachment|
        = render 'attachment_fields', f: attachment
  %hr
