.modal.fade.modal-fullscree#active_tasks_list{ 'aria-labelledby': 'gridSystemModalLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-active-list-width{ role: 'document' }
    .modal-content
      .modal-body
        .panel.panel-default#users-task-panel
          .panel-heading.active-task-heading
            %h3.text-center= t('.all_active_tasks')
          .panel-body
            .row
              .col-xs-12
                - if can? :read, Task
                  .panel.panel-default
                    .panel-body
                      = render 'users_filter'
                - if params[:user_id] || current_user.case_worker? || current_user.any_case_manager? || current_user.able_manager?
                  = render 'overdue'
                  = render 'duetoday'
                  = render 'upcoming'






                  -# .panel.panel-danger#overdue-tasks
                  -#   .panel-heading
                  -#     .row
                  -#       .col-xs-6
                  -#         %h5= t('.overdue_tasks')
                  -#   .panel-body
                  -#     - @clients.each do |client, overdue_forms|
                  -#       - overdue_tasks = client.tasks.incomplete.exclude_exited_ngo_clients.of_user(@user).overdue
                  -#       - next if overdue_tasks.empty? && overdue_forms[:overdue_forms].empty? && overdue_forms[:overdue_trackings].empty? && !(client.next_assessment_date < Date.today) || (params[:overdue_tasks].nil? && params[:overdue_assessments].nil? && params[:overdue_forms].nil?)
                  -#       .ibox.border-left-right.border-bottom
                  -#         .ibox-title
                  -#           %h5
                  -#             = link_to client.name, client_path(client), target: :_blank
                  -#         .ibox-content.no-padding
                  -#           %table.table.table-striped.active_tasks
                  -#             - if params[:overdue_tasks].presence == 'true'
                  -#               - overdue_tasks.each_with_index do |task, index|
                  -#                 %tr
                  -#                   - if index == 0
                  -#                     %td.col-xs-3{ rowspan: overdue_tasks.count } Tasks
                  -#                   %td.col-xs-6.task-name.border-left-right= task.name
                  -#                   %td.col-xs-3= task.completion_date.strftime("%B %d, %Y")
                  -#             - if client.next_assessment_date < Date.today && params[:overdue_assessments].presence == 'true'
                  -#               - assessment = client.assessments.latest_record
                  -#               - next if assessment.nil?
                  -#               %tr
                  -#                 %td.col-xs-3 Assessment
                  -#                 %td.col-xs-6.task-name.border-left-right
                  -#                 %td.col-xs-3= assessment.created_at.strftime("%B %d, %Y")
                  -#             - if params[:overdue_forms].presence == 'true'
                  -#               - custom_field_index = 0
                  -#               - row_count = overdue_forms[:overdue_forms].size + overdue_forms[:overdue_trackings].size
                  -#               - overdue_forms[:overdue_forms].each_with_index do |custom_field, index|
                  -#                 %tr
                  -#                   - if index == 0
                  -#                     %td.col-xs-3{rowspan: row_count} Forms
                  -#                   %td.col-xs-6.task-name.border-left-right= custom_field.form_title
                  -#                   %td.col-xs-3= client.custom_field_properties.by_custom_field(custom_field).last.created_at.strftime("%B %d, %Y")
                  -#                 - custom_field_index = index + 1
                  -#               - overdue_forms[:overdue_trackings].each do |tracking|
                  -#                 %tr
                  -#                   - if custom_field_index == 0
                  -#                     %td.col-xs-3{rowspan: row_count} Forms
                  -#                   %td.col-xs-6.task-name.border-left-right= tracking.name
                  -#                   %td.col-xs-3= tracking.client_enrollment_trackings.last.created_at.strftime("%B %d, %Y")
                  -#
                  -# .panel.panel-info#duetoday-tasks
                  -#   .panel-heading
                  -#     .row
                  -#       .col-xs-6
                  -#         %h5= t('.today_tasks')
                  -#   .panel-body
                  -#     - @clients.each do |client, overdue_forms|
                  -#       - today_tasks = client.tasks.incomplete.exclude_exited_ngo_clients.of_user(@user).today
                  -#       - next if today_tasks.empty? && overdue_forms[:today_forms].empty? && overdue_forms[:today_trackings].empty? && !(client.next_assessment_date == Date.today) || (params[:overdue_tasks].nil? && params[:overdue_assessments].nil? && params[:overdue_forms].nil?)
                  -#       .ibox.border-left-right.border-bottom
                  -#         .ibox-title
                  -#           %h5
                  -#             = link_to client.name, client_path(client), target: :_blank
                  -#         .ibox-content.no-padding
                  -#           %table.table.table-striped.active_tasks
                  -#             - if params[:overdue_tasks].presence == 'true' && today_tasks.count > 0
                  -#               - today_tasks.each_with_index do |task, index|
                  -#                 %tr
                  -#                   - if index == 0
                  -#                     %td.col-xs-3{ rowspan: today_tasks.count } Tasks
                  -#                   %td.col-xs-6.task-name.border-left-right= task.name
                  -#                   %td.col-xs-3= task.completion_date.strftime("%B %d, %Y")
                  -#             - if client.next_assessment_date == Date.today && params[:overdue_assessments].presence == 'true'
                  -#               - assessment = client.assessments.latest_record
                  -#               - next if assessment.nil?
                  -#               %tr
                  -#                 %td.col-xs-3 Assessment
                  -#                 %td.col-xs-6.task-name.border-left-right
                  -#                 %td.col-xs-3= assessment.created_at.strftime("%B %d, %Y")
                  -#             - if params[:overdue_forms].presence == 'true'
                  -#               - custom_field_index = 0
                  -#               - row_count = overdue_forms[:today_forms].size + overdue_forms[:today_trackings].size
                  -#               - if overdue_forms[:today_forms].count > 0
                  -#                 - overdue_forms[:today_forms].each_with_index do |custom_field, index|
                  -#                   %tr
                  -#                     - if index == 0
                  -#                       %td.col-xs-3{rowspan: row_count} Forms
                  -#                     %td.col-xs-6.task-name.border-left-right= custom_field.form_title
                  -#                     %td.col-xs-3= client.custom_field_properties.by_custom_field(custom_field).last.created_at.strftime("%B %d, %Y")
                  -#                   - custom_field_index = index + 1
                  -#               - if overdue_forms[:today_trackings].count > 0
                  -#                 - overdue_forms[:today_trackings].each do |tracking|
                  -#                   %tr
                  -#                     - if custom_field_index == 0
                  -#                       %td.col-xs-3{rowspan: row_count} Forms
                  -#                     %td.col-xs-6.task-name.border-left-right= tracking.name
                  -#                     %td.col-xs-3= tracking.client_enrollment_trackings.last.created_at.strftime("%B %d, %Y")
                  -#
                  -# .panel.panel-primary#upcoming_tasks
                  -#   .panel-heading
                  -#     .row
                  -#       .col-xs-6
                  -#         %h5= t('.upcoming_tasks')
                  -#   .panel-body
                  -#     - @clients.each do |client, overdue_forms|
                  -#       - upcoming_tasks = client.tasks.incomplete.exclude_exited_ngo_clients.of_user(@user).upcoming
                  -#       - next if upcoming_tasks.empty? && overdue_forms[:upcoming_forms].empty? && overdue_forms[:upcoming_trackings].empty? && !(client.next_assessment_date > 1.month.from_now) || (params[:overdue_tasks].nil? && params[:overdue_assessments].nil? && params[:overdue_forms].nil?)
                  -#       .ibox.border-left-right.border-bottom
                  -#         .ibox-title
                  -#           %h5
                  -#             = link_to client.name, client_path(client), target: :_blank
                  -#         .ibox-content.no-padding
                  -#           %table.table.table-striped.active_tasks
                  -#             - if params[:overdue_tasks].presence == 'true'
                  -#               - upcoming_tasks.each_with_index do |task, index|
                  -#                 %tr
                  -#                   - if index == 0
                  -#                     %td.col-xs-3{ rowspan: upcoming_tasks.count } Tasks
                  -#                   %td.col-xs-6.task-name.border-left-right= task.name
                  -#                   %td.col-xs-3= task.completion_date.strftime("%B %d, %Y")
                  -#             - if client.next_assessment_date > 1.month.from_now && params[:overdue_assessments].presence == 'true'
                  -#               - assessment = client.assessments.latest_record
                  -#               - next if assessment.nil?
                  -#               %tr
                  -#                 %td.col-xs-3 Assessment
                  -#                 %td.col-xs-6.task-name.border-left-right
                  -#                 %td.col-xs-3= assessment.created_at.strftime("%B %d, %Y")
                  -#             - if params[:overdue_forms].presence == 'true'
                  -#               - custom_field_index = 0
                  -#               - row_count = overdue_forms[:upcoming_forms].size + overdue_forms[:upcoming_trackings].size
                  -#               - overdue_forms[:upcoming_forms].each_with_index do |custom_field, index|
                  -#                 %tr
                  -#                   - if index == 0
                  -#                     %td.col-xs-3{ rowspan: row_count } Forms
                  -#                   %td.col-xs-6.task-name.border-left-right= custom_field.form_title
                  -#                   %td.col-xs-3= client.custom_field_properties.by_custom_field(custom_field).last.created_at.strftime("%B %d, %Y")
                  -#                   - custom_field_index = index + 1
                  -#               - overdue_forms[:upcoming_trackings].each do |tracking|
                  -#                 %tr
                  -#                   - if custom_field_index == 0
                  -#                     %td.col-xs-3{ rowspan: row_count } Forms
                  -#                   %td.col-xs-6.task-name.border-left-right= tracking.name
                  -#                   %td.col-xs-3= tracking.client_enrollment_trackings.last.created_at.strftime("%B %d, %Y")
