#assessment.tab-pane.margin-top-datatable{ role: 'tabpanel' }
  %br
  .row.label-size
    .col-xs-12.col-sm-6
      %label.control-label
        = t('.client_you_like')
      = select_tag "clients", options_from_collection_for_select(@clients, "id", "name"),{ class: "select form-group", id: 'client-select-assessment', :prompt => '' }
    .col-xs-12.col-sm-6
      %label.control-label
        = t('.assessment_you_like')
      %button.btn.btn-block.btn-default.form-group.dropdown-toggle.btn-fit{"data-toggle" => "dropdown"}
        = t('.assessment')
        %span.caret
      %ul.dropdown-menu.btn-block
        - if @current_setting.enable_default_assessment
          %li
            = link_to t('.csi_assessment'), '#', id: 'csi-assessment-link'
        - if @current_setting.enable_custom_assessment
          %li
            = link_to t('.custom_assessment'), '#', id: 'custom-assessment-link'
