#assessment.tab-pane.margin-top-datatable{ role: 'tabpanel' }
  %br
  .row.label-size
    .col-xs-12.col-sm-6
      %label.control-label
        = t('.client_you_like')
      = select_tag "clients", options_from_collection_for_select(@select_client_options, "slug", "name"),{ class: "select form-group", id: 'client-select-assessment', :prompt => '' }
    .col-xs-12.col-sm-6
      %label.control-label
        = t('.assessment_you_like')
      %button.btn.btn-block.btn-default.form-group.dropdown-toggle.btn-fit{"data-toggle" => "dropdown"}
        = t('.assessment')
        %span.caret
      %ul.dropdown-menu.btn-block.disabled#assessment-tab-dropdown
        - if @current_setting.enable_default_assessment
          %li
            = link_to t('.csi_assessment'), '#', id: 'csi-assessment-link', class: 'btn btn-default custom-assessment-link disabled'
        - if @custom_domains.any?
          - @custom_assessment_settings.each do |cs|
            - if cs.domains.any?
              %li
                = link_to new_client_assessment_path('', default: false, custom_name: cs.custom_assessment_name), class: 'btn btn-default custom-assessment-link disabled' do
                  = "#{t('.begin_now')} #{cs.custom_assessment_name}"
            - else
              %li.disabled
                = link_to '#', data: { toggle: 'modal', target: '#customDomainsModal' } do
                  = "#{t('.begin_now')} #{cs.custom_assessment_name}"


