#case-note.tab-pane.margin-top-datatable{ role: 'tabpanel' }
  %br
  .row.label-size
    .col-xs-12.col-sm-6
      %label.control-label
        = t('.client_you_complete_for')
      = select_tag "clients", options_from_collection_for_select(@select_client_options, "slug", "name"),{ class: "select form-group", id: 'client-select-case-note', :prompt => ''}
    .col-xs-12.col-sm-6
      %label.control-label
        = t('.case_note_you_add')
      %button.btn.btn-block.btn-default.form-group.dropdown-toggle.btn-fit{"data-toggle" => "dropdown"}
        = t('clients.form.case_note')
        %span.caret
      %ul.dropdown-menu.btn-block#casenote-tab-dropdown
        - if @current_setting.enable_default_assessment
          %li
            = link_to new_client_case_note_path('', custom: false), class: 'btn btn-default custom-assessment-link disabled' do
              = @current_setting.default_assessment
        - if @custom_assessment_settings.present?
          - @custom_assessment_settings.each do |cs|
            - if cs.domains.any?
              %li
                = link_to new_client_case_note_path('', default: false, custom: true, custom_name: cs.custom_assessment_name), class: 'btn btn-default custom-assessment-link disabled' do
                  = cs.custom_assessment_name
            - else
              %li.disabled
                = link_to '#', data: { toggle: 'modal', target: '#customDomainsModal' } do
                  = "#{t('.begin_now')} #{cs.custom_assessment_name}"

        - if not_using_assessment_tool? && !CustomAssessmentSetting.all.any?(&:enable_custom_assessment)
          %li
            = link_to t('.new_case_note'), new_client_case_note_path('', custom: false, custom: @current_setting.enable_default_assessment), class: 'btn btn-default custom-assessment-link disabled'
