#client-search.modal.fade{ role: 'dialog' }
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        .panel.panel-default#search-client
          .panel-heading.heading-label.text-font
            %h3.text-center= t('.search_client')
          .panel-body
            .row
              .col-xs-12
                %div#search_for_client.hidden= t('.search_for_client')
                %div#searching.hidden= t('.searching')
                %div#not_found.hidden= t('.not_found')
                %div#please_enter_more_char.hidden= t('.pleac:\Users\User\AppData\Local\Programs\Microsoft VS Code\resources\app\out\vs\code\electron-sandbox\workbench\workbench.htmlse_enter_more')
                = select_tag 'client-search', raw("<option></option>"), class: 'form-control select2-search-client', id: 'search-client-select2', lang: params[:locale], 'data-placeholder': t('.search_for_client')
