#custom-fields.tab-pane.margin-top-datatable{ role: 'tabpanel' }
  %div
    %h2.text-center= I18n.t('dashboards.custom_fields_tab.form_add')
    %ul.nav.nav-tabs{role: "tablist"}
      %li.active{role: "presentation"}
        %a{"data-toggle": "tab", href: "#client", role: "tab"}
          = I18n.t('dashboards.multiple_forms.client')
      %li{role: "presentation"}
        %a{"data-toggle": "tab", href: "#family", role: "tab"}
          = I18n.t('dashboards.multiple_forms.family')
      %li{role: "presentation"}
        %a{"data-toggle": "tab", href: "#partner", role: "tab"}
          = I18n.t('dashboards.multiple_forms.partners')
      %li{role: "presentation"}
        %a{"data-toggle": "tab", href: "#user", role: "tab"}
          = I18n.t('dashboards.multiple_forms.user')
    .tab-content
      = render 'client_tab'
      = render 'family_tab'
      = render 'partner_tab'
      = render 'user_tab'
