.panel.panel-info#duetoday-tasks
  .panel-heading
    .row
      .col-xs-6
        %h5= t('.duetoday_tasks')
  .panel-body
    - @clients.each do |client, today_forms|
      - today_tasks = today_forms[:today_tasks]
      - next if skipped_duetoday_tasks?(today_tasks) && skipped_duetoday_forms?(today_forms, client) && skipped_duetoday_assessments?(client)
      .ibox.border-left-right.border-bottom
        .ibox-title
          %h5
            = link_to client.name, client_path(client), target: :_blank
        .ibox-content.no-padding
          %table.table.table-striped.active_tasks
            - if @task_params
              - today_tasks.each_with_index do |task, index|
                %tr
                  - if index == 0
                    %td.col-xs-3{ rowspan: today_tasks.count }= t('.tasks')
                  %td.col-xs-6.task-name.border-left-right= task.name
                  %td.col-xs-3= date_format(task.completion_date)
            - if @assessment_params && duetoday_assessments_any?(client) && client.user_ids.include?(@user.id) && !client.uneligible_age?
              - assessment = client.assessments.latest_record
              %tr
                %td.col-xs-3= t('.assessment')
                %td.col-xs-6.task-name.border-left-right
                %td.col-xs-3= date_format(client.next_assessment_date)
            - if @form_params
              - custom_field_index = 0
              - row_count = today_forms[:today_forms].size + today_forms[:today_trackings].size
              - today_forms[:today_forms].each_with_index do |(custom_field, next_custom_field_date), index|
                %tr
                  - if index == 0
                    %td.col-xs-3{ rowspan: row_count }= t('.forms')
                  %td.col-xs-6.task-name.border-left-right= custom_field.form_title
                  %td.col-xs-3= date_format(next_custom_field_date)
                  - custom_field_index = index + 1
              - today_forms[:today_trackings].each do |tracking, next_client_enrollment_tracking_date|
                %tr
                  - if custom_field_index == 0
                    %td.col-xs-3{rowspan: row_count}= t('.forms')
                    - custom_field_index = custom_field_index + 1
                  %td.col-xs-6.task-name.border-left-right= tracking.name
                  %td.col-xs-3= date_format(next_client_enrollment_tracking_date)
