.panel.panel-danger#overdue-tasks
  .panel-heading
    .row
      .col-xs-6
        %h5= t('.overdue_tasks')
  .panel-body
    - overdue_assessments = @notification.assessments[:overdue_assessment]
    / Tweak to fix N+1
    - clients = Client.where(id: @clients.map{ |c| c[0].id }).includes(:default_most_recents_assessments, :custom_assessments, :users).to_a
    - @clients.each do |c, overdue_forms|
      - overdue_tasks = overdue_forms[:overdue_tasks]
      - client = clients.detect { |client| client.id == c.id }
      - if overdue_tasks.present? || overdue_forms[:overdue_forms].present? || overdue_forms[:overdue_trackings].present? || (overdue_assessments.present? && overdue_assessments.to_h[client.id].present? && params[:assessments] == 'true')
        .ibox.border-left-right.border-bottom
          .ibox-title
            %h5
              = link_to client.name, client_path(client), target: :_blank
          .ibox-content.no-padding
            %table.table.table-striped.active_tasks
              - if @task_params
                - overdue_tasks.each_with_index do |task, index|
                  %tr
                    - if index == 0
                      %td.col-xs-3{ rowspan: overdue_tasks.count }= t('.task')
                    %td.col-xs-6.task-name.border-left-right= task.name
                    %td.col-xs-3= date_format(task.expected_date)

              - if overdue_assessments.present? && params[:assessments] == 'true'
                %tr
                  %td.col-xs-3= @setting.default_assessment
                  %td.col-xs-6.task-name.border-left-right
                  %td.col-xs-3= date_format(overdue_assessments.to_h[client.id])

              - if @form_params
                - custom_field_index = 0
                - row_count = overdue_forms[:overdue_forms].size + overdue_forms[:overdue_trackings].size
                - overdue_forms[:overdue_forms].each_with_index do |(custom_field, next_custom_field_date), index|
                  %tr
                    - if index == 0
                      %td.col-xs-3{ rowspan: row_count }= t('.forms')
                    - if @user.activated_at.nil?
                      %td.col-xs-6.task-name.border-left-right= custom_field.form_title
                      %td.col-xs-3= date_format(next_custom_field_date)
                    - elsif @user.activated_at? && next_custom_field_date > @user.activated_at
                      %td.col-xs-6.task-name.border-left-right= custom_field.form_title
                      %td.col-xs-3= date_format(next_custom_field_date)
                    - custom_field_index = index + 1
                - overdue_forms[:overdue_trackings].each do |tracking, next_client_enrollment_tracking_date|
                  %tr
                    - if custom_field_index == 0
                      %td.col-xs-3{rowspan: row_count}= t('.forms')
                      - custom_field_index = custom_field_index + 1
                    - if @user.activated_at.nil?
                      %td.col-xs-6.task-name.border-left-right= tracking.name
                      %td.col-xs-3= date_format(next_client_enrollment_tracking_date)
                    - elsif @user.activated_at? && next_client_enrollment_tracking_date > @user.activated_at
                      %td.col-xs-6.task-name.border-left-right= tracking.name
                      %td.col-xs-3= date_format(next_client_enrollment_tracking_date)

      - if @setting.enable_custom_assessment? && @assessment_params && client.custom_assessments.to_a.any?
        - custom_assessment_setting_ids = client.assessments.customs.map{|ca| ca.domains.pluck(:custom_assessment_setting_id ) }.flatten.uniq
        - next if client.tasks.overdue_incomplete.blank? && custom_assessment_setting_ids.blank?
        .ibox.border-left-right.border-bottom
          .ibox-title
            %h5
              = link_to client.name, client_path(client), target: :_blank
          .ibox-content.no-padding
            %table.table.table-striped.active_tasks
              - if @task_params
                - client.tasks.overdue_incomplete.each_with_index do |task, index|
                  %tr
                    - if index == 0
                      %td.col-xs-3{ rowspan: overdue_tasks.count }= t('.task')
                    %td.col-xs-6.task-name.border-left-right= task.name
                    %td.col-xs-3= date_format(task.expected_date)
              - CustomAssessmentSetting.only_enable_custom_assessment.where(id: custom_assessment_setting_ids).each do |custom_assessment_setting|
                - next unless client.eligible_custom_csi?(custom_assessment_setting) && overdue_custom_assessments_any?(client, custom_assessment_setting=nil)
                - client_overdue_custom_assessment = client.custom_next_assessment_date(@user.activated_at, custom_assessment_setting.id)
                %tr
                  %td.col-xs-3= custom_assessment_setting.custom_assessment_name
                  %td.col-xs-6.task-name.border-left-right
                  %td.col-xs-3= date_format(client_overdue_custom_assessment)
