.panel.panel-danger#overdue-tasks
  .panel-heading
    .row
      .col-xs-6
        %h5= t('.overdue_tasks')
  .panel-body
    - @clients.each do |client, overdue_forms|
      - overdue_tasks = overdue_forms[:overdue_tasks]
      - next if skipped_overdue_tasks?(overdue_tasks) && skipped_overdue_forms?(overdue_forms, client) && skipped_overdue_assessments?(client)
      .ibox.border-left-right.border-bottom
        .ibox-title
          %h5
            = link_to client.name, client_path(client), target: :_blank
        .ibox-content.no-padding
          %table.table.table-striped.active_tasks
            - if @task_params
              - overdue_tasks.each_with_index do |task, index|
                %tr
                  - if index == 0
                    %td.col-xs-3{ rowspan: overdue_tasks.count }= t('.tasks')
                  %td.col-xs-6.task-name.border-left-right= task.name
                  %td.col-xs-3= date_format(task.completion_date)
            - if @assessment_params && overdue_assessments_any?(client) && client.user_ids.include?(@user.id) && !client.uneligible_age?
              - assessment = client.assessments.latest_record
              - if assessment.present?
                %tr
                  %td.col-xs-3= t('.assessment')
                  %td.col-xs-6.task-name.border-left-right
                  %td.col-xs-3= date_format(client.next_assessment_date)
            - if @form_params
              - custom_field_index = 0
              - row_count = overdue_forms[:overdue_forms].size + overdue_forms[:overdue_trackings].size
              - overdue_forms[:overdue_forms].each_with_index do |(custom_field, next_custom_field_date), index|
                %tr
                  - if index == 0
                    %td.col-xs-3{ rowspan: row_count }= t('.forms')
                  %td.col-xs-6.task-name.border-left-right= custom_field.form_title
                  %td.col-xs-3= date_format(next_custom_field_date)
                  - custom_field_index = index + 1
              - overdue_forms[:overdue_trackings].each do |tracking, next_client_enrollment_tracking_date|
                %tr
                  - if custom_field_index == 0
                    %td.col-xs-3{rowspan: row_count}= t('.forms')
                    - custom_field_index = custom_field_index + 1
                  %td.col-xs-6.task-name.border-left-right= tracking.name
                  %td.col-xs-3= date_format(next_client_enrollment_tracking_date)
