.col-xs-12{ class: ('col-md-6' if !current_user.case_worker?) }
  .panel.panel-default.bottom-panel
    .panel-body
      .row
        - if can? :read, Agency
          %div{ class: "#{dynamic_third_party_cols(current_user)} text-center" }
            = link_to agencies_path do
              .widget.style1.widget-agency-panel
                .row
                  .col-xs-6.text-left
                    %i.fa.fa-building.fa-3x
                  .col-xs-6.text-right
                    %span.text-font
                      = t('.agencies')
                    %h2.font-bold #{@agency_count}
        - if can? :read, Partner
          %div{ class: "#{dynamic_third_party_cols(current_user)} text-center" }
            =link_to partners_path do
              .widget.style1.widget-partner-panel
                .row
                  .col-xs-6.text-left
                    %i.fa.fa-handshake-o.fa-3x
                  .col-xs-6.text-right
                    %span.text-font
                      = t('.partners')
                    %h2.font-bold #{@partner_count}
        - if can? :read, ReferralSource
          %div{ class: "#{dynamic_third_party_cols(current_user)} text-center" }
            =link_to referral_sources_path do
              .widget.style1.widget-referral-panel
                .row
                  .col-xs-4.text-left
                    %i.fa.fa-briefcase.fa-3x
                  .col-xs-8.text-right
                    %span.text-font
                      = t('.referral_sources')
                    %h2.font-bold #{@referral_source_count}
        - if can? :read, User
          %div{ class: "#{dynamic_third_party_cols(current_user)} text-center" }
            =link_to users_path do
              .widget.style1.widget-staff-panel
                .row
                  .col-xs-6.text-left
                    %i.fa.fa-group.fa-3x
                  .col-xs-6.text-right
                    %span.text-font
                      = t('.staffs')
                    %h2.font-bold #{@user_count}
