.panel.panel-primary#upcoming-tasks
  .panel-heading
    .row
      .col-xs-6
        %h5= t('.upcoming_tasks')
  .panel-body
    / Tweak to fix N+1
    - clients = Client.where(id: @clients.map{ |c| c[0].id }).includes(:default_most_recents_assessments, :users).to_a
    - @clients.each do |c, upcoming_forms|
      - next if upcoming_forms.blank?
      - client = clients.detect { |client| client.id == c.id }
      - upcoming_tasks = upcoming_forms[:upcoming_tasks]
      - client_next_default_assessment = client.next_assessment_date(@user.activated_at)
      - client_next_custom_assessment = client.custom_next_assessment_date(@user.activated_at)
      - next if skipped_upcoming_tasks?(upcoming_tasks) && skipped_upcoming_forms?(upcoming_forms, client) && skipped_upcoming_assessments?(client)
      - next if client_next_custom_assessment.blank? && client_next_default_assessment.blank? && upcoming_tasks.blank? && upcoming_forms[:upcoming_forms].blank? && upcoming_forms[:upcoming_trackings].blank?
      .ibox.border-left-right.border-bottom
        .ibox-title
          %h5
            = link_to client.name, client_path(client), target: :_blank
        .ibox-content.no-padding
          %table.table.table-striped.active_tasks
            - if @task_params
              - upcoming_tasks.each_with_index do |task, index|
                %tr
                  - if index == 0
                    %td.col-xs-3{ rowspan: upcoming_tasks.count }= t('.task')
                  %td.col-xs-6.task-name.border-left-right= task.name
                  %td.col-xs-3= date_format(task.expected_date)
            - if @setting.enable_default_assessment && @assessment_params && upcoming_assessments_any?(client) && client.cached_user_ids.include?(@user.id) && client.eligible_default_csi?
              %tr
                %td.col-xs-3= @setting.default_assessment
                %td.col-xs-6.task-name.border-left-right
                %td.col-xs-3= date_format(client_next_default_assessment)
            - if @setting.enable_custom_assessment && @assessment_params && upcoming_custom_assessments_any?(client) && client.cached_user_ids.include?(@user.id)
              %tr
                %td.col-xs-3= @setting.custom_assessment
                %td.col-xs-6.task-name.border-left-right
                %td.col-xs-3= date_format(client_next_custom_assessment)
            - if @form_params
              - custom_field_index = 0
              - row_count = upcoming_forms[:upcoming_forms].size + upcoming_forms[:upcoming_trackings].size
              - upcoming_forms[:upcoming_forms].each_with_index do |(custom_field, next_custom_field_date), index|
                %tr
                  - if index == 0
                    %td.col-xs-3{ rowspan: row_count }= t('.forms')
                  - if @user.activated_at.nil?
                    %td.col-xs-6.task-name.border-left-right= custom_field.form_title
                    %td.col-xs-3= date_format(next_custom_field_date)
                  - elsif @user.activated_at? && next_custom_field_date > @user.activated_at
                    %td.col-xs-6.task-name.border-left-right= custom_field.form_title
                    %td.col-xs-3= date_format(next_custom_field_date)
                  - custom_field_index = index + 1
              - upcoming_forms[:upcoming_trackings].each do |tracking, next_client_enrollment_tracking_date|
                %tr
                  - if custom_field_index == 0
                    %td.col-xs-3{rowspan: row_count}= t('.forms')
                    - custom_field_index = custom_field_index + 1
                  - if @user.activated_at.nil?
                    %td.col-xs-6.task-name.border-left-right= tracking.name
                    %td.col-xs-3= date_format(next_client_enrollment_tracking_date)
                  - elsif @user.activated_at? && next_client_enrollment_tracking_date > @user.activated_at
                    %td.col-xs-6.task-name.border-left-right= tracking.name
                    %td.col-xs-3= date_format(next_client_enrollment_tracking_date)
