.panel.panel-primary#upcoming-tasks
  .panel-heading
    .row
      .col-xs-6
        %h5= t('.upcoming_tasks')
  .panel-body
    - @clients.each do |client, upcoming_forms|
      - upcoming_tasks = upcoming_forms[:upcoming_tasks]
      - next if skipped_upcoming_tasks?(upcoming_tasks) && skipped_upcoming_forms?(upcoming_forms, client) && skipped_upcoming_assessments?(client)
      .ibox.border-left-right.border-bottom
        .ibox-title
          %h5
            = link_to client.name, client_path(client), target: :_blank
        .ibox-content.no-padding
          %table.table.table-striped.active_tasks
            - if @task_params
              - upcoming_tasks.each_with_index do |task, index|
                %tr
                  - if index == 0
                    %td.col-xs-3{ rowspan: upcoming_tasks.count }= t('.tasks')
                  %td.col-xs-6.task-name.border-left-right= task.name
                  %td.col-xs-3= task.completion_date.strftime("%B %d, %Y")
            - if @assessment_params && upcoming_assessments_any?(client) && client.user_ids.include?(@user.id) && !client.age_over_18?
              - assessment = client.assessments.latest_record
              %tr
                %td.col-xs-3= t('.assessment')
                %td.col-xs-6.task-name.border-left-right
                %td.col-xs-3= client.next_assessment_date.strftime("%B %d, %Y")
            - if @form_params
              - custom_field_index = 0
              - row_count = upcoming_forms[:upcoming_forms].size + upcoming_forms[:upcoming_trackings].size
              - upcoming_forms[:upcoming_forms].each_with_index do |(custom_field, next_custom_field_date), index|
                %tr
                  - if index == 0
                    %td.col-xs-3{ rowspan: row_count }= t('.forms')
                  %td.col-xs-6.task-name.border-left-right= custom_field.form_title
                  %td.col-xs-3= next_custom_field_date.strftime("%B %d, %Y")
                  - custom_field_index = index + 1
              - upcoming_forms[:upcoming_trackings].each do |tracking, next_client_enrollment_tracking_date|
                %tr
                  - if custom_field_index == 0
                    %td.col-xs-3{rowspan: row_count}= t('.forms')
                    - custom_field_index = custom_field_index + 1
                  %td.col-xs-6.task-name.border-left-right= tracking.name
                  %td.col-xs-3= next_client_enrollment_tracking_date.strftime("%B %d, %Y")
