#home-index
  - if @referral_sources.any? && @current_user.admin?
    %p.check-ref-sources.hide referral_sources
  %ul.nav.nav-tabs.csi-tab{ role: "tablist" }
    %li.active{role: "presentation"}
      %a{"aria-controls" => "client-tab", "data-toggle" => "tab", href: "#client-tab", role: "tab"}= t('.client_dashboard')
    %li{role: "presentation"}
      %a{"aria-controls" => "family-tab", "data-toggle" => "tab", href: "#family-tab", role: "tab"}= t('.family_dashboard')
    - if current_setting.finance_dashboard?
      %li{role: "presentation", class: "#{ 'active' if controller_name == 'finance_reports' }" }
        %a{ href: finance_reports_path } Finance Dashboard
    %li.hide{role: "presentation"}
      %a{"aria-controls" => "community-tab", "data-toggle" => "tab", href: "#community-tab", role: "tab"}= t('.community_dashboard')
    %li.hide{role: "presentation"}
      %a{"aria-controls" => "hotline-tab", "data-toggle" => "tab", href: "#hotline-tab", role: "tab"}= t('.hotline_dashboard')

  .tab-content
    #client-tab.tab-pane.active{ role: "tabpanel" }
      = render 'dashboards/referral_source_category_reminder'
      - if @program_streams.present?
        = render 'dashboards/program_stream_services'
      .row
        .col-xs-12.col-sm-3
          = render 'active_tasks_side'
        .col-xs-12.col-sm-3
          = render 'multiple_forms'
        .col-xs-12.col-sm-3
          = render 'client'
        .col-xs-12.col-sm-3
          = render 'go_to_client'
        .col-xs-12.col-sm-12
          = render 'report_builder'
      .row
        = render 'client_program_stream_by_gender'
        = render 'data_agregations'
      .row
        = render 'data_validations'
      .row
        = render 'third_party'
    #family-tab.tab-pane{ role: 'tabpanel' }
      .row
        .col-xs-12{ class: "#{'lazy-load-family-tab' if can?(:read, Family)}" }
    #community-tab.tab-pane.hide{ role: 'tabpanel' }
      .row
        .col-xs-12
          %h3 Hello This is Community panel
    #hotline-tab.tab-pane.hide{ role: 'tabpanel' }
      .row
        .col-xs-12
          %h3 Hello This is Hotline panel
