#home-index
  - if @referral_sources.any? && @current_user.admin?
    %p.check-ref-sources.hide referral_sources

  = render 'dashboards/referral_source_category_reminder'
  - if @program_streams.present?
    = render 'dashboards/program_stream_services'
  .row
    = render 'active_tasks_side'
    = render 'multiple_forms'
    = render 'client'
    = render 'go_to_client'
  .row
    = render 'client_program_stream_by_gender'
  .row
    - if can? :read, Family
      = render 'family'
    = render 'third_party'
