#home-index
  .row
    = render 'active_tasks_side'
    = render 'multiple_forms'
    = render 'client'
  .row
    = render 'client_program_stream_by_gender'
  .row
    - if can? :read, Family
      = render 'family'
    = render 'third_party'
