#home-index
  - if @referral_sources.any? && @current_user.admin?
    %p.check-ref-sources.hide referral_sources
  %ul.nav.nav-tabs.csi-tab{ role: "tablist" }
    %li{role: "presentation", class: "#{ 'active' unless family_tab? }"  }
      %a{"aria-controls" => "client-tab", "data-toggle" => "tab", href: "#client-tab", role: "tab"}= t('.client_dashboard')
    %li{role: "presentation", class: "#{ 'active' if family_tab? }" }
      %a{"aria-controls" => "family-tab", "data-toggle" => "tab", href: "#family-tab", role: "tab"}= t('.family_dashboard')
    - if current_setting.finance_dashboard?
      %li{role: "presentation", class: "#{ 'active' if controller_name == 'finance_reports' }" }
        %a{ href: finance_reports_path } Finance Dashboard

  .tab-content
    #client-tab.tab-pane{ class: "#{ 'active' unless family_tab? }", role: "tabpanel" }
      = render 'dashboards/referral_source_category_reminder'
      - if @program_streams.present?
        = render 'dashboards/program_stream_services'
      .row
        .col-xs-12.col-sm-3
          = render 'active_tasks_side'
        .col-xs-12.col-sm-3
          = render 'multiple_forms'
        .col-xs-12.col-sm-3
          = render 'client'
        .col-xs-12.col-sm-3
          = render 'go_to_client'
        .col-xs-12.col-sm-12
          = render 'report_builder'
      .row
        = render 'client_program_stream_by_gender'
        = render 'data_agregations'
      .row
        = render 'data_validations'
      .row
        = render 'third_party'
    #family-tab.tab-pane{ role: 'tabpanel', class: "#{ 'active' if family_tab? }" }
      .row
        - if family_tab?
          .col-xs-12
            = render 'family'
        - else
          .col-xs-12{ class: "#{'lazy-load-family-tab' if can?(:read, Family)}" }
= render 'assessment_modal'
= render 'active_program_stream_client'
