.row
  .col-xs-12
    .ibox
      .ibox-title
        .row
          .col-xs-12.col-sm-6.co-md-6
            %h5
              = t('service_deliveries.index.service_received')
              = link_to_client_show(@client)
          .col-xs-12.col-sm-6.col-md-6
            .ibox-tools
              = link_to I18n.t('case_notes.index.back'), client_path(@client), { class: 'btn btn-default btn-back-default button' }
              - if has_service_delivery? && !@current_setting.disabled_add_service_received || current_user.admin?
                = link_to new_client_service_receife_path(@client) do
                  %span.btn-sm.btn.btn-info.small-btn-margin.btn-fit
                    = t('service_deliveries.index.add_new_service_delivery')
      .ibox-content
        = @tasks.to_a.size
        %span.label.label-info= t('results')
        .table-responsive.m-t-xs
          %table.table.table-bordered.table-striped.table-hover
            %thead
              %tr
                %th= t('service_deliveries.index.task_completed_date')
                %th= t('service_deliveries.index.service_provided')
                %th= t('service_deliveries.index.category')
                %th.text-center= t('.done_by')
            %tbody
              - @tasks.each do |task|
                %tr
                  %td= date_format(task.completion_date)
                  %td= task.name
                  %td= task.category
                  %td= task.completed_by&.name
