%p= "Hello #{@name_of_referee},"
%p= "#{@referred_to} has rejected your referral of Client #{@client_name}. The referral was rejected by Staff Member #{@staff_member}. Please contact #{@referred_to} if you need more information."

%p Thanks,
%p OSCaR Team
