%p= "Hello #{@user.name},"
- if @overdue_forms.present? && @today_forms.present?
  %p= "You currently have #{pluralize(@overdue_forms.size, 'form')} overdue and #{@today_forms.size} due today. Please see the list below."
- elsif @overdue_forms.present?
  %p= "You currently have #{pluralize(@overdue_forms.size, 'form')} overdue. Please see the list below."
- elsif @today_forms.present?
  %p= "You currently have #{pluralize(@today_forms.size, 'form')} due today. Please see the list below."
- if @overdue_forms.present?
  %p Overdue Forms
  %ul
    - @overdue_forms.each do |form|
      %li{style: 'margin-left: 15px;'}
        %span
          = "#{form.first}, due by #{form.last.strftime('%d %B, %Y')}."
- if @today_forms.present?
  %p Due Today Forms
  %ul
    - @today_forms.each do |form|
      %li{style: 'margin-left: 15px;'}
        %span
          = "#{form.first}, due by #{form.last.strftime('%d %B, %Y')}."
%p
  = 'Please click'
  = link_to 'here', dashboards_url(user_id: @user.id, subdomain: @short_name, forms: true), target: :_blank
  = "to see all your #{pluralize((@overdue_forms.size + @today_forms.size), 'form')}."

%p Thanks,
%p OSCaR Team
