%p= 'Dear Sir/Madam,'
%p= "URGENT: Your client: #{@client.name} ID: #{@client.id} has an incomplete assessment. This assessments must be completed by #{@overdue_date} or it will be deleted."
%p= link_to "Check My #{@name}", client_assessments_url(@client, subdomain: Apartment::Tenant.current), target: :_blank
%p Thanks,
%p OSCaR Team
