%p= "Hello #{@user.name},"
%p= "You currently have #{pluralize(@overdue_tasks.size, 'task')} overdue. Please see the list below."
%ul
- @overdue_tasks.each do |task|
  %li
    %span
      = "#{task.name}, due by #{date_format(task.completion_date)}."
%p
  = 'Please click'
  = link_to 'here', dashboards_url(user_id: @user.id, subdomain: @short_name, tasks: true), target: :_blank
  = "to see all your #{'task'.pluralize(@overdue_tasks.size)}."

%p Thanks,
%p OSCaR Team
