= simple_form_for(material ||= Material.new) do |f|
  .modal.fade{id: "materialModal-#{material.id}", "aria-labelledby" => "materialModal-#{material.id}Label", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title{ id: "materialModal-#{material.id}Label" }= t('.material')
        .modal-body
          = error_notification(f)
          .form-inputs
            = f.input :status, label: t('.status')
        .modal-footer
          .pull-left
            = f.submit t('.save') , class: 'btn btn-primary form-btn'
            %button.btn.btn-default{:type => "button"}= t('.cancel')
