.row
  .col-xs-12

.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5= t('.material')
        .ibox-tools
          = link_to '#', {"data-target" => "#materialModal-", "data-toggle" => "modal", :type => "button"} do
            .btn.btn-outline.btn-primary.btn-add
              = t('.add_new_material')
      .ibox-content
        .table-responsive
          %table.table.table-bordered.table-striped.table-hover
            %thead
              %tr
                %th= t('.status')
                %th.text-center{:colspan => "2"}
                  = t('.manage')
            %tbody
              - @materials.each do |material|
                %tr
                  %td= material.status
                  %td.text-center
                    = link_to '#', {class: 'btn btn-xs btn-outline btn-success', "data-target" => "#materialModal-#{material.id}", "data-toggle" => "modal", :type => "button"} do
                      = fa_icon('pencil')
                  %td.text-center
                    = remove_link(material, { material_progress_note: material.progress_notes.count })
                  = render 'form', material: material

      .ibox-footer.text-center
        = will_paginate @materials, renderer: BootstrapPagination::Rails
= render 'form'
