= simple_form_for(@client, url: able_screens_answer_submissions_client_able_screening_answers_create_path, method: :post) do |f|
  .row
    .col-xs-12
      .panel.panel-default
        .panel-heading
          %h5.text-center Able Screening
        .panel-body
          .row
            .col-xs-12
              #non-stage-question
                %span.text-left.question-group-title= t('.general_question')
                = f.simple_fields_for(:answers, @answers_non_stage || f.object.answers.of_general_question) do |answer_builder|
                  = render 'answer_fields', f: answer_builder
          %hr
          .row
            .col-xs-12
              .table-responsive#stage-question
                %span.text-left.question-group-title= t('.stage')
                %hr
                %table.table.table-bordered.client-new
                  %thead
                    %tr
                      %th.able-screening-header
                      - @ordered_stage.each do |stage|
                        %th.text-center.able-screening-header
                          %span= "#{t('.from')} #{stage.from_age} #{t('.to')} #{stage.to_age} #{t('.year')}"
                  %tbody
                    - @able_screening_questions.each do |key, able|
                      %tr
                        %td.text-center
                          %h5.vertical-align-group= QuestionGroup.find(key).name
                        - @ordered_stage.each do |s|
                          %td
                            = f.simple_fields_for(:answers, @answers_with_stage || f.object.answers.of_stage_question) do |answer_builder|
                              - if answer_builder.object.able_screening_question.question_group_id == key && answer_builder.object.able_screening_question.stage_id == s.id
                                .answer{ data: { 'from-age': "#{answer_builder.object.from_age_as_date}", 'to-age': "#{answer_builder.object.to_age_as_date}"} }
                                  .row
                                    .col-xs-12.text-center.able-screening-image
                                      - if answer_builder.object.has_image?
                                        = image_tag(answer_builder.object.able_screening_question.attachments.first.try(:image).try(:thumb))
                                      - else
                                        .image-default
                                          = image_tag('image-placeholder.png')
                                  .row
                                    .col-xs-12.text-center
                                      %h5= answer_builder.object.able_screening_question.question
                                  .row
                                    .col-xs-12.text-center
                                      - if answer_builder.object.able_screening_question.free_text?
                                        = answer_builder.input :description, label: t('.answer'), disabled: answerable(answer_builder.object.from_age_as_date, answer_builder.object.to_age_as_date, @client.date_of_birth)
                                      - else
                                        = answer_builder.input :description, as: :radio_buttons, collection: %w(Yes No), label: false, input_html: { class: 'i-checks' }, disabled: answerable(answer_builder.object.from_age_as_date, answer_builder.object.to_age_as_date, @client.date_of_birth), item_wrapper_class: 'inline'
                                      = answer_builder.input :able_screening_question_id, as: :hidden, input_html: { value: answer_builder.object.able_screening_question_id }
                                      = answer_builder.input :question_type, as: :hidden, input_html: { value: 'stage' }
        .panel-footer
          = f.submit t('save'), class: 'btn btn-primary form-btn'
          = link_to t('cancel'), clients_path, class: 'btn btn-default form-btn'
