.ibox
  = simple_form_for([@client, @client_custom_field]) do |f|
    = f.hidden_field :custom_field_id, input_html: { value: @custom_field.id }
    .ibox-title
      %h5= @custom_field.form_title
    .ibox-content
      = render "shared/properties", custom_field: @client_custom_field.custom_field, f: f, entity: @client_custom_field
    .ibox-footer
      = f.submit t('.save'), class: 'btn btn-primary form-btn'
      = link_to t('.cancel'), client_client_custom_fields_path(@client, custom_field_id: @client_custom_field.custom_field_id), class: 'btn btn-default form-btn'
