.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5= "#{@custom_field.form_title} "
        .ibox-tools
          = next_entity_type_custom_field(@client_custom_fields, @client, @custom_field)
          = link_to client_path(@client) do
            .btn.btn-outline.btn-success.button.form-btn
              = t('.back')
      .ibox-content
        .row
          - @client_custom_field.each do |client_custom_field|
            .col-xs-12.col-md-6
              .ibox.border-left-right.border-bottom
                .ibox-title
                  %h5
                    = t('.created_date')
                  %span.label.label-info
                    = date_format client_custom_field.created_at
                  .ibox-tools
                    - if can? :manage, CustomField
                      %small
                        = link_to edit_client_client_custom_field_path(@client, client_custom_field.id) do
                          .btn.btn-outline.btn-success
                            = fa_icon('pencil')
                      %small
                        = link_to client_client_custom_field_path(@client, client_custom_field.id, custom_field_id: client_custom_field.custom_field_id), method: :delete, data: { confirm: t('.are_you_sure') } do
                          .btn.btn-outline.btn-danger
                            = fa_icon('trash')
                .ibox-content
                  %table.table.table-bordered
                    - client_custom_field.properties_objs.each do |key, value|
                      %tr
                        %td.align-justify
                          = key.titleize
                        %td.align-justify
                          = display_custom_properties(value)
      .ibox-footer.text-center
        = paginate @client_custom_field
