.row.gray-bg
  %div{ class: "col-md-9"}
    %table.table.small.m-b-xs#main-info
      %tbody
        %tr
          %td{rowspan: '4'}
          %td
            = "#{t('activerecord.attributes.community.name_en')} :"
            %strong= @community.name_en
          %td
            = "#{t('activerecord.attributes.community.status')} :"
            %strong= @community.status.titleize
        %tr
          %td
            = "#{t('activerecord.attributes.community.name')} :"
            %strong= @community.name
          %td
            = "#{t('.current_province')} :"
            %strong= @community.province_name
        %tr
          %td
            = "#{t('activerecord.attributes.community.id')} :"
            %strong= @community.id
          %td
            = "#{t('.created_by')} :"
            %strong= @community.user&.name

  .col-md-3
  .col-sm-12
    .btn-group.small-btn-margin
      %button.btn-sm.btn.btn-success.dropdown-toggle.btn-fit{ class: ('disabled' if @group_community_custom_fields.empty?), data: { toggle: "dropdown", trigger: 'hover', html: 'true', content: "#{I18n.t('inline_help.communities.show.active_form')}", placement: "bottom" } }
        = t('.additional_forms')
        %span.caret
      %ul.dropdown-menu.scrollable-dropdown-menu
        - @group_community_custom_fields.each do |_, community_custom_fields|
          %li
            %p= link_to community_custom_fields.first.custom_field.form_title, community_custom_field_properties_path(@community, custom_field_id: community_custom_fields.first.custom_field_id)

    - if can? :manage, CustomFieldProperty
      .btn-group.small-btn-margin
        %button.btn-sm.btn.btn-success.dropdown-toggle.btn-fit{ class: ('disabled' if @free_community_forms.empty?), data: { toggle: "dropdown", trigger: 'hover', html: 'true', content: "#{I18n.t('inline_help.communities.show.add_form')}", placement: "bottom" } }
          = t('.add_form')
          %span.caret
        %ul.dropdown-menu.scrollable-dropdown-menu
          - @free_community_forms.each do |custom_field|
            %li
              %p= link_to custom_field.form_title, new_community_custom_field_property_path(@community, custom_field_id: custom_field)

    - if @community.enrollments.active.count > 0
      = link_to community_enrolled_programs_path(@community), data: { toggle: "popover", html: 'true', trigger: 'hover', content: "#{I18n.t('inline_help.communities.show.active_program')}", placement: "auto" } do
        .btn.btn-primary.small-btn-margin.btn-sm.btn-fit= t('.enrolled_program_streams')
    - else
      .btn.btn-primary.small-btn-margin.btn-sm.disabled.btn-fit{ data: { toggle: "popover", html: 'true', trigger: "hover", content: "#{I18n.t('inline_help.communities.show.active_program')}", placement: "auto" } }
        = t('.enrolled_program_streams')
    = link_to community_enrollments_path(@community), data: { toggle: "popover", html: 'true', trigger: "hover", content: "#{I18n.t('inline_help.communities.show.enroll_program')}", placement: "auto" } do
      .btn.btn-primary.small-btn-margin.btn-sm.btn-fit= t('.program_streams')

.ibox.mini-margin
  .ibox-title
    %h5= "#{t('.general_info')} #{@community.name}"
    .ibox-tools
      %a.collapse-link
        .btn.btn-outline.btn-primary
          %i.fa.fa-chevron-up
      - if can? :manage, Community
        %small
          = link_to edit_community_path(@community) do
            .btn.btn-outline.btn-success
              %i.fa.fa-pencil
          = remove_link(@community, { }, 'btn-md')
  .ibox-content
    .row.agreegate
      .col-sm-12
        %h5= t('.direct_participants')
      .col-sm-12.col-md-4
        %table.table.table-bordered
          %tr
            %td.spacing-first-col= t('.member_count')
            %td= @community.community_members.count
      .col-sm-12.col-md-4
        %table.table.table-bordered
          %tr
            %td.spacing-first-col= t('.male_count')
            %td= @community.community_members.male.count
      .col-sm-12.col-md-4
        %table.table.table-bordered
          %tr
            %tr
              %td.spacing-first-col= t('.female_count')
              %td= @community.community_members.female.count
    .row.agreegate
      .col-sm-12
        %h5= t('.all_beneficiaries')
      .col-sm-12.col-md-3
        %table.table.table-bordered
          %tr
            %td.spacing-first-col= t('.total_boys')
            %td= @community.community_members.sum(:kid_male_count)
      .col-sm-12.col-md-3
        %table.table.table-bordered
          %tr
            %td.spacing-first-col= t('.total_girls')
            %td= @community.community_members.sum(:kid_female_count)
      .col-sm-12.col-md-3
        %table.table.table-bordered
          %tr
            %td.spacing-first-col= t('.total_male')
            %td= @community.community_members.sum(:adule_male_count)
      .col-sm-12.col-md-3
        %table.table.table-bordered
          %tr
            %td.spacing-first-col= t('.total_female')
            %td= @community.community_members.sum(:adule_female_count)

    .row.family-summary
      .col-sm-12
        %table.table.table-bordered
          %tr
            %td.spacing-first-col
              = t('activerecord.attributes.community.representative_name')
            %td
              %strong
                = @community.representative_name
          %tr
            %td.spacing-first-col
              = t('activerecord.attributes.community.gender')
            %td
              %strong
                - if @community.gender?
                  = t("enumerize.defaults.gender.#{@community.gender&.gsub('other', 'other_gender')}")
          %tr
            %td.spacing-first-col
              = t('activerecord.attributes.community.formed_date')
            %td
              %strong
                = date_format @community.formed_date
          %tr
            %td.spacing-first-col
              = t('activerecord.attributes.community.role')
            %td
              %strong
                = @community.role
          %tr
            %td.spacing-first-col
              = t('activerecord.attributes.community.phone_number')
            %td
              %strong
                = @community.phone_number
          %tr
            %td.spacing-first-col
              = t('.address')
            %td
              %strong
                = country_address_field(@community)
          %tr
            %td.spacing-first-col
              = t('.referral_source_category')
            %td
              %strong
                = referral_source_category(@community.referral_source_category_id)
          %tr
            %td.spacing-first-col
              = t('.referral_source')
            %td
              %strong
                = @community.referral_source&.name
          %tr
            %td.spacing-first-col
              = t('activerecord.attributes.community.received_by_id')
            %td
              %strong
                = @community.received_by&.name
                = user @community.received_by, true

          %tr
            %td.spacing-first-col
              = t('activerecord.attributes.community.case_worker_ids')
            %td
              %strong
                - @community.case_workers.distinct.sort.each do |case_worker|
                  %strong.label.label-default
                    = user case_worker
          %tr
            %td.spacing-first-col
              = t('activerecord.attributes.community.initial_referral_date')
            %td
              %strong
                = date_format(@community.initial_referral_date)
          %tr
            %td.spacing-first-col
              = t('activerecord.attributes.community.relevant_information')
            %td
              %strong
                = @community.relevant_information
          %tr
            %td.spacing-first-col
              = t('activerecord.attributes.community.donor_ids')
            %td
              %strong
                - @community.donors.distinct.each do|donor|
                  %strong.label.label-default.donor
                    = donor.name
          - if @community.documents.any?
            - @community.documents.each_with_index do |attachment, index|
              %tr
                %td.spacing-first-col
                  - if index == 0
                    = t('activerecord.attributes.community.documents')
                %td
                  = original_filename(attachment)
                  = link_to preview_or_download(attachment), attachment.url, class: 'btn btn-info btn-sm btn-download', target: target_blank(attachment)

          - @community.community_quantitative_free_text_cases.each do |qtt_free_text|
            - next if qtt_free_text.content.blank?
            - next unless quantitative_type_readable?(qtt_free_text.quantitative_type_id)
            %tr
              %td.align-justify.spacing-first-col
                = qtt_free_text.quantitative_type.name
              %td.align-justify
                %strong.label.label-default
                  = qtt_free_text.content

          - @community.viewable_quantitative_cases.group_by(&:quantitative_type).each do |qtypes|
            - next unless quantitative_type_readable?(qtypes.first.id)
            %tr
              %td.align-justify.spacing-first-col
                = qtypes.first.name
              %td.align-justify
                - qtypes.last.each do |qcase|
                  %strong.label.label-default
                    = qcase.value

    - if @community.community_members.present?
      .row.family-summary
        .col-sm-12
          %table.table.table-bordered
            %thead
              %th= t('activerecord.attributes.community_member.name')
              %th= t('activerecord.attributes.community_member.gender')
              %th= t('activerecord.attributes.community_member.role')
              %th= t('activerecord.attributes.community_member.adule_male_count')
              %th= t('activerecord.attributes.community_member.adule_female_count')
              %th= t('activerecord.attributes.community_member.kid_male_count')
              %th= t('activerecord.attributes.community_member.kid_female_count')

            %tbody
            - @community.community_members.each do |member|
              %tr
                %td= member.name
                %td
                  - if member.gender?
                    = t("enumerize.defaults.gender.#{member.gender&.gsub('other', 'other_gender')}")
                %td= member.role
                %td= member.adule_male_count
                %td= member.adule_female_count
                %td= member.kid_male_count
                %td= member.kid_female_count
