.row
  .col-xs-12.col-md-9
    %button.btn.btn-primary.query.community-search{"aria-expanded" => 'false', "data-target" => '#community-search-form', "data-toggle" => 'collapse', type: 'button'}
      = fa_icon('filter')

    = link_to communities_path(builder: '#community-builder'), class: 'm-l-xs btn btn-primary community-advanced-search' do
      = t('communities.index.report_builder')
  .col-xs-12.col-md-3
    .pull-right
      - if can? :manage, Community
        = link_to "#{I18n.t('communities.index.add_new_community')}", new_community_path, class: 'btn btn-primary'

.m-t-md
.row.ibox-space
  .col-xs-12
    .ibox-content#community-search-form.collapse
      = datagrid_form_for @community_grid, url: communities_url, html: { class: 'grid-form' }
