= simple_form_for(@able_screening_question, title: "new able screening question") do |f|
  .ibox-content
    = error_notification(f)
    .form-inputs
      .row
        .col-xs-12.col-md-6= f.input :question, label: t('.question')
        .col-xs-12.col-sm-6.col-md-3= f.input :mode, collection: AbleScreeningQuestion::MODES, input_html: { class: 'select2' }, label: t('.mode')
        .col-xs-12.col-sm-6.col-md-3.no-label-form-group= f.input :alert_manager, as: :boolean, label: t('.alert_manager'), input_html: { class: 'i-checks' }
      .row
        .col-xs-12.col-md-3
          - f.object.attachments.build unless f.object.attachments.any?
          = f.simple_fields_for :attachments do |attachment|
            = render 'attachment_fields', f: attachment
      .row
  .ibox-footer
    = f.submit t('save'), class: 'btn btn-primary form-btn'
    = link_to t('cancel'), stages_path, class: 'btn btn-outline btn-default form-btn'
