= simple_form_for(@able_screening_question, title: "new able screening question") do |f|
  .panel-body
    = f.error_notification
    .form-inputs
      .row
        .col-xs-12.col-md-6= f.input :question, label: t('.question')
        .col-xs-12.col-md-2
          = f.association :question_group, input_html: { class: 'select2'}, label: t('.group')
        .col-xs-12.col-md-2
          = f.input :mode, collection: AbleScreeningQuestion::MODES, input_html: { class: 'select2 check-mode'}, label: t('.mode')
        .col-xs-12.col-md-2.no-label-form-group
          = f.input :alert_manager, as: :boolean, label: t('.alert_manager')
        .col-xs-12.col-md-1.no-label-form-group
      .row
        .col-xs-12.col-md-3
          - f.object.attachments.build unless f.object.attachments.any?
          = f.simple_fields_for :attachments do |attachment|
            = render 'attachment_fields', f: attachment
      .row
  .panel-footer
    .form-actions.text-right
      = link_to t('cancel'), stages_path, class: 'btn btn-default form-btn'
      = f.button :submit, 'Save', class: 'btn btn-primary'
