.row
  .col-xs-12
    .ibox
      .ibox-title
        %h5= @results
        %span.label.label-info= t('.referral_sources')
        .ibox-tools
          - if can? :manage, ReferralSource
            = link_to '#', {"data-target" => "#referral_sourceModal-", "data-toggle" => "modal", :type => "button"} do
              .btn.btn-primary.btn-add
                = t('.add_new_referral_source')
      .ibox-content
        .table-responsive
          %table.table.table-bordered.table-striped.table-hover
            %thead
              %tr
                %th.custom_column_name= t('.referral_source_name')
                %th.custom_column_name= t('.referral_source_category')
                %th.custom_column_description= t('.description')
                - if can? :manage, ReferralSource
                  %th.text-center.custom_column_manage{:colspan => "2"}
                    = t('.manage')
                - if can? :version, ReferralSource
                  %th.modification.text-center= t('.changelogs')
            %tbody
              - @referral_sources.each do |referral_source|
                %tr
                  %td= referral_source.name
                  - if I18n.locale == :km
                    %td= referral_source.parent.try(:name)
                  - else
                    %td= referral_source.parent_exists? ? referral_source.parent.try(:name_en) : 'No Referral Source Category'
                  %td= referral_source.description
                  %td.text-center= edit_referral(referral_source)
                  %td.text-center= remove_referral(referral_source)
                  %td.text-center= view_referral_change_log(referral_source)

                  = render 'form', referral_source: referral_source
      .ibox-footer.text-center
        = paginate @referral_sources
= render 'form'
