.row
  .col-xs-12
    .panel.panel-default
      .panel-body
        %h4
          = link_to t('.back'), :back, class: 'btn btn-default pull-left btn-back'
          .modification-title.text-center
            %u= "#{t('.modification_of')} #{@referral_source.name}"

        = render 'shared/version'
