.row
  .col-xs-12
    .panel.panel-default
      .panel-body
        .row
          .col-xs-4.col-md-2
            = link_to t('.back'), :back, class: 'btn btn-default btn-back-default btn-back'
          .col-xs-8.col-md-7.text-center
            - if current_setting.country_name != "cambodia"
              - if @referral_source.name_en.present?
                %u= "#{t('.modification_of')} #{@referral_source.name_en}"
              -else
                %u= "#{t('.modification_of')} #{@referral_source.name}"
            -else
              %u= "#{t('.modification_of')} #{@referral_source.name}"
          .col-xs-12.col-md-3
            = render 'shared/per_page_form'

        = render 'shared/version'
