%h4 Please choose your filter option below:
.well
  .row
    / .col-xs-12.col-md-3
    /   #client-basic-field
    /     .form-group
    /       = check_box_tag :nil, '1', true, { class: 'i-checks' }
    /       %label Client Basic
        
    .col-xs-12.col-md-4
      #custom-form-wrapper
        .row
          .col-xs-12
            .form-group
              = check_box_tag :nil, '1', set_value_custom_form.present?, { class: 'i-checks', id: 'custom-form-checkbox' }
              %label Custom Form
        .row
          .col-xs-12
            .form-group.custom-form{ data: { value: set_value_custom_form } }
              = select_tag(:nil, options_for_select(@custom_fields.pluck(:form_title, :id), set_value_custom_form), { multiple: true, id: 'custom-form-select', class: 'form-control' } )
    .col-xs-12.col-md-4
      #program-stream-wrapper
        .row
          .col-xs-12
            .form-group
              = check_box_tag :nil, '1', false, { class: 'i-checks', id: 'program-stream-checkbox' }
              %label Program Stream
        .row
          .col-xs-12
            .form-group.program-stream
              = select_tag(:nil, options_for_select(@program_streams.pluck(:name, :id)), { multiple: true, id: 'program-stream-select', class: 'form-control' } )
        .row
          .col-xs-12
            .program-assocation
              .form-group
                = check_box_tag :nil, '1', false, { class: 'i-checks', id: 'enrollment-checkbox' }
                %label Enrollment
              .form-group
                = check_box_tag :nil, '1', false, { class: 'i-checks', id: 'tracking-checkbox' }
                %label Trackings
              .form-group
                = check_box_tag :nil, '1', false, { class: 'i-checks', id: 'exit-form-checkbox' }
                %label Exit Program