#program-stream-column{ class: "#{ 'disabled-column' unless @program_stream_columns.present? }" }
  %ul.check-columns-visibility
    %li.dropdown
      %a.dropdown-toggle.btn.btn-default{'data-toggle' => 'dropdown', href: '#'}
        = t('datagrid.columns.select_columns')
        %span.caret
      %ul.dropdown-menu.columns-visibility
        - if @program_stream_columns.present?
          - @program_stream_columns.each do |key, fields|
            %li.dropdown-header
              = entity_format(key)
            - fields.each do |field|
              %li
                .visibility.checkbox-margin
                  = check_box_tag "#{form_builder_format_key(field)}_", form_builder_format_key(field), params[:"#{form_builder_format_key(field)}_"].present?, class: 'i-checks'
                  = label_tag "#{form_builder_format_key(field)}_", form_builder_format(field)
