.row
  .col-xs-12
    .ibox
      .ibox-title
        .row
          .col-xs-12.col-sm-6
            %h5= t('.advanced_search')
          .col-xs-12.col-sm-6.text-right
            = link_to t('.csi_domain_scores'), current_url({format: 'xls', type: 'basic_info'}), class: "btn btn-info btn-export #{@clients_by_user.present? ? '' : 'disabled'}"
            = link_to t('.export_to_xls'), current_url(format: 'xls'), class: "btn btn-info btn-export #{@clients_by_user.present? ? '' : 'disabled'}"
      .ibox-content
        .row
          .col-xs-12
            = datagrid_form_for @client_grid, url: client_advanced_searches_url, html: { class: 'grid-form' }
        .row
          .col-xs-12
            %h4 Basic Filter
            #builder{ 'data-basic-search-rules' => @basic_filter_params, 'data-filter-translation' => { add_filter: t('.add_new_filter'), add_group: t('.add_new_group'), delete_group: t('.delete_group') }}
            %span.basic-filter-error
              %i Please Select Field to Filter

        %hr
        .row#client-custom-form
          .col-xs-12
            %h4 Custom Form Filter
            = select_tag :select_custom_from, options_for_select(CustomField.client_used_form.pluck(:form_title, :id), set_value_custom_form), prompt: '------', class: 'select2', id: 'select-custom-form'

          .col-xs-12
            #custom-form{ 'data-custom-form-search-rules' => @custom_form_filter_params, 'data-filter-translation' => t('.add_new_filter')}
            %span.custom-form-error
              %i Please Select Field to Filter
      .ibox-footer
        %button#search.btn.btn-primary= t('.search')
        = link_to t('.reset'), client_advanced_searches_path, class: 'btn btn-default'
.row
  .col-xs-12
    .ibox
      - if @clients_by_user.present?
        .ibox-title
          %h5= @clients_by_user.length
          %span.label.label-info= t('.results')
        .ibox-content
          .clients-table
            %table.table.table-bordered.table-striped.table-hover.clients
              %thead
                = datagrid_header(@client_grid)
              %tbody.page
                = datagrid_rows(@client_grid, @client_grid.assets)
        .ibox-footer.text-center
          = paginate @client_grid.assets
      - else
        .ibox-content
          = t('.no_results')
= simple_form_for :client_advanced_search, url: :client_advanced_searches, method: 'GET', html: { id: 'advanced-search' } do |f|
  = f.hidden_field :basic_rules
  = f.hidden_field :custom_form_rules
  = f.hidden_field :field_visibility
  = f.hidden_field :selected_custom_form
  = hidden_field_tag :locale, "#{params[:locale]}"
