= form_tag('/reports', method: :post, class: 'form-inline') do
  .row.search-statistic
    .col-xs-12.col-sm-6
      %label= t('.case_statistics')
      .input-group
        %span.input-group-addon= t('.start_date')
        = text_field_tag :case_start_date, params[:case_start_date], class: 'date optional form-control pull-right date-picker'
        %span.input-group-addon= t('.end_date')
        = text_field_tag :case_end_date, params[:case_end_date], class: 'date optional form-control pull-right date-picker'
  .row
    .col-xs-12
      .input-group
        = submit_tag "#{t('.search')}", class: 'btn btn-primary pull-left statistic-btn'