.row
  .col-xs-12
    .container
      .row
        .col-xs-12
          .panel.panel-default
            .panel-body
              .row
                .col-xs-12.col-sm-4.col-md-3
                  %h4
                    %u= t('.version_list')
                  %ul.version-list
                    - @changelogs.each do |changelog|
                      %li.list
                        = link_to "#{changelog.change_version} - #{changelog.created_at.strftime('%d %B, %Y')}", "#changelog-#{changelog.id}"
                        = link_to changelog, method: 'delete', data: { confirm: "#{t('.are_you_sure')}?" }, class: 'pull-right' do
                          %i.glyphicon.glyphicon-trash
                        = link_to edit_changelog_path(changelog), class: 'pull-right' do
                          %i.glyphicon.glyphicon-pencil

                .col-xs-12.col-sm-8.col-md-9.changes
                  .row
                    .col-xs-12
                      .row
                        .col-xs-6
                          %h4
                            %u= t('.changes')
                        .col-xs-6.text-right
                          = link_to t('.add_new_changelog'), new_changelog_path, class: 'btn btn-success'
                    - @changelogs.each do |changelog|
                      .col-xs-12.changes-item{ id: "changelog-#{changelog.id}" }
                        .row
                          .col-xs-12.col-sm-8
                            %h4= "#{changelog.change_version} - #{changelog.created_at.strftime('%d %B, %Y')}"
                          .col-xs-12.col-sm-4
                            %p.view-modification
                              = link_to t('.view_modification'), changelog_version_path(changelog)
                        %div.changes-description
                          - changelog.changelog_types.each do |changelog_type|
                            .row
                              .col-xs-12.change
                                .row
                                  .col-xs-3.col-sm-2
                                    %div{ class: "change-type label label-#{changelog_type_label(changelog_type.change_type)}" }
                                      = changelog_type.change_type.upcase
                                  .col-xs-9.col-sm-10
                                    = changelog_type.description
