.row
  .col-xs-12
    .ibox
      .ibox-content
        .row
          .col-xs-12.col-sm-4.col-lg-3
            %h4
              %u= t('.version_list')
            %ul.list-group
              - @changelogs.each do |changelog|
                %li.list.list-group-item
                  = link_to "#{changelog.change_version} - #{date_format(changelog.created_at)}", "#changelog-#{changelog.id}"
                  .pull-right.actions
                    - if can? :manage, Changelog
                      = link_to '#', {class: 'btn btn-outline btn-success btn-xs btn-add-margin', "data-target" => "#changelogModal-#{changelog.id}", "data-toggle" => "modal", :type => "button"} do
                        = fa_icon('pencil')
                      = link_to changelog, method: 'delete', data: { confirm: t('.are_you_sure') }, class: 'btn btn-outline btn-danger btn-xs' do
                        = fa_icon('trash')
                = render 'form', changelog: changelog

          .col-xs-12.col-sm-8.col-lg-9.changes
            .row
              .col-xs-12
                .row
                  .col-xs-6
                    %h4
                      %u= t('.changes')
                  .col-xs-6.text-right
                    - if can? :manage, Changelog
                      = link_to t('.add_new_release'), '#', {class: 'btn btn-primary btn-add', "data-target" => "#changelogModal-", "data-toggle" => "modal", :type => "button"}
                - @changelogs.each do |changelog|
                  .col-xs-12.changes-item{ id: "changelog-#{changelog.id}" }
                    .row
                      .col-xs-12.col-sm-8
                        %h4= "#{changelog.change_version} - #{date_format(changelog.created_at)}"
                      .col-xs-12.col-sm-4
                        - if can? :version, Changelog
                          %p.view-modification
                            = link_to t('.view_changelog'), changelog_version_path(changelog)
                    %div.changes-description
                      - changelog.changelog_types.each do |changelog_type|
                        .row
                          .col-xs-12.change
                            .row
                              .col-xs-3.col-lg-2
                                %div{ class: "change-type label label-#{changelog_type_label(changelog_type.change_type)}" }
                                  = changelog_type.change_type.upcase
                              .col-xs-9.col-lg-10
                                = changelog_type.description
= render 'form'
