= simple_form_for([:able_screens, :question_submissions, @stage], title: "new stage") do |f|
  .ibox-content
    = error_notification(f)
    .form-inputs
      .row
        #from-age.col-xs-12.col-md-4= f.input :from_age, as: :float, label: t('.from_age')
        #to-age.col-xs-12.col-md-4= f.input :to_age, as: :float, label: t('.to_age')
      %hr
      %h4.text-center= t('.questions')
      %hr
      = f.simple_fields_for :able_screening_questions do |able_screening_question|
        = render 'able_screening_question_fields', f: able_screening_question
      .links
        = link_to_add_association t('.add_question'), f, :able_screening_questions, class: 'btn btn-primary'
  .ibox-footer
    = f.submit t('save'), class: 'btn btn-primary form-btn'
    = link_to t('cancel'), able_screens_question_submissions_stages_path, class: 'btn btn-outline btn-default form-btn'
