%nav.navbar.navbar-default.navbar-static-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to root_path , class: 'navbar-brand' do
        = image_tag ENV['NGO_LOGO'], class: 'logo'


    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{ class: clients_menu_active }
          = link_to t('.clients'), clients_path
        - if user_signed_in?
          - if can? :manage, Family
            %li{ class: active_menu('families') }
              = link_to t('.families'), families_path
          - if can? :manage, Partner
            %li{ class: active_menu('partners') }
              = link_to t('.partners'), partners_path
          - if can? :manage, User
            %li{ class: active_menu('users') }
              = link_to t('.users'), users_path

      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.dropdown{ class:  manage_menu_active }
            %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
              = t('.manage')
              %span.caret
            %ul.dropdown-menu
              %li{ class: active_menu('agencies') }
                = link_to t('.agencies'), agencies_path
              - if can? :manage, :all
                %li{ class: active_menu('departments') }
                  = link_to t('.departments'), departments_path
                %li{ class: active_menu('domains') }
                  = link_to t('.domains'), domains_path
                %li{ class: active_menu('domain_groups') }
                  = link_to t('.domain_groups'), domain_groups_path
                %li{ class: active_menu('provinces') }
                  = link_to t('.provinces'), provinces_path
                %li{ class: active_menu('referral_sources') }
                  = link_to t('.referral_sources'), referral_sources_path
                %li{ class: active_menu('quantitative_types') }
                  = link_to t('.quantitative_types'), quantitative_types_path
              - elsif can? :manage, ReferralSource
                %li{ class: active_menu('referral_sources') }
                  = link_to t('.referral_sources'), referral_sources_path

          %li.dropdown{ class: account_menu_active }
            %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
              = t('.account')
              %span.caret
            %ul.dropdown-menu
              %li{ class: account_menu_active }
                = link_to t('.edit_profile'), edit_user_registration_path
              %li
                - if I18n.locale == :km
                  = link_to t('.en'), root_path(locale: 'en')
                - else
                  = link_to t('.km'), root_path(locale: 'km')
              %li= link_to t('.log_out'), destroy_user_session_path, method: :delete
          %li
            = link_to t('faq'), thredded_path
        - else
          %li= link_to t('.log_in'), new_user_session_path
