= link_to calendars_path, title: 'Google Calendar', class: 'notification-text-color' do
  %i.fa.fa-calendar-plus-o.fa-fw
%li.dropdown
  %a.dropdown-toggle.count-info{"data-toggle" => "dropdown", :href => "#"}
    %i.fa.fa-bell
    - if @notification && @notification[:all_count] >= 1
      %span.label.label-danger= @notification[:all_count]
  %ul.dropdown-menu.dropdown-alerts.animated.fadeInRight
    - if (can? :manage, Client) && @notification
      -# - @notification.review_program_streams.each do |ps|
      -#   %li
      -#     %div.align-link
      -#       = link_to program_stream_notify_notifications_path(program_stream_id: ps.first.id, client_ids: ps.last) do
      -#         .row
      -#           .col-xs-1
      -#             %i.fa.fa-tasks.fa-fw.task-sign
      -#           .col-xs-11.client_quantity
      -#             %span
      -#               = t('.review_client')
      -#               = ps.first.name
      -#               = t('.client_quantity', count: ps.last.size)
      -#   %li.divider

      - if @notification[:tasks]
        %li
          %div.align-link
            = link_to dashboards_notify_task_path(user_id: current_user.id, tasks: true), remote: true do
              - if @notification.dig(:tasks, :overdue_count) > 0
                .row
                  .col-xs-1
                    %i.fa.fa-tasks.fa-fw.task-sign
                  .col-xs-11.tasks_notification_label
                    = I18n.t('layouts.notification.overdue_tasks_count', count: @notification.dig(:tasks, :overdue_count), tasks: t('tasks.task'))
              - if @notification.dig(:tasks, :due_today_count) > 0
                .row
                  .col-xs-1
                    %i.fa.fa-tasks.fa-fw.task-sign
                  .col-xs-11.tasks_notification_label
                    = I18n.t('layouts.notification.due_today_tasks_count', count: @notification.dig(:tasks, :due_today_count), tasks: t('tasks.task'))
              - if @notification.dig(:tasks, :upcoming_csi_count) > 0
                .row
                  .col-xs-1
                    %i.fa.fa-tasks.fa-fw.task-sign
                  .col-xs-11.tasks_notification_label
                    = I18n.t('dashboards.active_tasks.upcoming_tasks', count: @notification.dig(:tasks, :upcoming_csi_count), tasks: t('tasks.task'))

        %li.divider
      - if Setting.first.enable_default_assessment && !@notification.dig(:assessment, :overdue_count).zero?
        %li
          %div.align-link
            = link_to dashboards_notify_assessment_path(user_id: current_user.id, assessments: true), remote: true do
              .row
                .col-xs-1
                  %i.fa.fa-tasks.fa-fw.task-sign
                .col-xs-11.assessments_notification_label
                  = "#{I18n.t('layouts.notification.assessments_count', count: @notification.dig(:assessment, :overdue_count))} #{setting.default_assessment} #{I18n.t('layouts.notification.overdue_assessments', count: @notification.dig(:assessment, :overdue_count))}"
        %li.divider
      - if Setting.first.enable_custom_assessment && !@notification.dig(:custom_assessment, :overdue_count).zero?
        %li
          %div.align-link
            = link_to dashboards_notify_custom_assessment_path(user_id: current_user.id, assessments: true), remote: true do
              .row
                .col-xs-1
                  %i.fa.fa-tasks.fa-fw.task-sign
                .col-xs-11.customized_assessments_notification_label
                  = "#{I18n.t('layouts.notification.assessments_count', count: @notification.dig(:custom_assessment, :overdue_count))} Custom Assessment #{I18n.t('layouts.notification.overdue_assessments', count: @notification.dig(:custom_assessment, :overdue_count))}"
        %li.divider

      - if !@notification.dig(:client_custom_forms, :overdue_count).zero?
        %li
          %div.align-link
            = link_to dashboards_notify_client_custom_form_path(user_id: current_user.id, forms: true), remote: true do
              .row
                .col-xs-1
                  %i.fa.fa-tasks.fa-fw.task-sign
                .col-xs-11.forms_notification_label
                  = I18n.t('layouts.notification.overdue_forms_count', count: @notification.dig(:client_custom_forms, :overdue_count))
        %li.divider
      - if !@notification.dig(:case_notes, :overdue_count).zero?
        %li
          %div.align-link
            = link_to notify_overdue_case_note_path(client_case_note_overdue_and_due_today: 'overdue'), remote: true do
              .row
                .col-xs-1
                  %i.fa.fa-tasks.fa-fw.task-sign
                .col-xs-11.client_case_note_overdue
                  = t('.client_case_note_overdue', count: @notification.dig(:case_notes, :overdue_count))
        %li.divider
    -#   - if @notification.any_client_case_note_due_today?
    -#     %li
    -#       %div.align-link
    -#         = link_to notifications_path(client_case_note_overdue_and_due_today: 'due_today') do
    -#           .row
    -#             .col-xs-1
    -#               %i.fa.fa-tasks.fa-fw.task-sign
    -#             .col-xs-11.client_case_note_due_today
    -#               = t('.client_case_note_due_today', count: @notification.client_case_note_due_today_count)
    -#     %li.divider
    -#   - if Setting.first.enable_default_assessment && @notification.any_upcoming_csi_assessments?
    -#     %li
    -#       %div.align-link
    -#         = link_to notifications_path(assessment: 'upcoming', default: true) do
    -#           .row
    -#             .col-xs-1
    -#               %i.fa.fa-tasks.fa-fw.task-sign
    -#             .col-xs-11.upcoming_csi_assessments_count
    -#               = "#{t('.upcoming_assessments_count', count: @notification.upcoming_csi_assessments_count)} #{Setting.first.default_assessment}"

    -#   - if Setting.first.enable_custom_assessment && @notification.any_upcoming_custom_csi_assessments?
    -#     %li
    -#       %div.align-link
    -#         = link_to notifications_path(assessment: 'upcoming', default: false) do
    -#           .row
    -#             .col-xs-1
    -#               %i.fa.fa-tasks.fa-fw.task-sign
    -#             .col-xs-11.upcoming_custom_csi_assessments_count
    -#               = "#{t('.upcoming_assessments_count', count: @notification.upcoming_custom_csi_assessments_count)} #{Setting.first.custom_assessment}"
    -#     %li.divider

    -# - if can? :manage, Family
    -#   - if @notification.any_family_custom_field_frequency_due_today?
    -#     %li
    -#       %div.align-link
    -#         = link_to notifications_path(entity_custom_field: 'family_due_today') do
    -#           .row
    -#             .col-xs-1
    -#               %i.fa.fa-tasks.fa-fw.task-sign
    -#             .col-xs-11.due_today_family_custom_field_count
    -#               = t('.due_today_family_custom_field_count', count: @notification.family_custom_field_frequency_due_today_count)

    - if !@notification.dig(:family_custom_forms, :overdue_count).zero?
      %li
        %div.align-link
          = link_to notify_family_custom_field_path(entity_custom_field: 'family_overdue'), remote: true do
            .row
              .col-xs-1
                %i.fa.fa-tasks.fa-fw.task-sign
              .col-xs-11.overdue_family_custom_field_count
                = t('.overdue_family_custom_field_count', count: @notification.dig(:family_custom_forms, :overdue_count))
      %li.divider

    - if can? :manage, Partner
      -# - if @notification.any_partner_custom_field_frequency_due_today?
      -#   %li
      -#     %div.align-link
      -#       = link_to notifications_path(entity_custom_field: 'partner_due_today') do
      -#         .row
      -#           .col-xs-1
      -#             %i.fa.fa-tasks.fa-fw.task-sign
      -#           .col-xs-11.due_today_partner_custom_field_count
      -#             = t('.due_today_partner_custom_field_count', count: @notification.partner_custom_field_frequency_due_today_count)


      - if !@notification.dig(:partner_custom_forms, :overdue_count).zero?
        %li
          %div.align-link
            = link_to notify_partner_custom_field_path(entity_custom_field: 'partner_due_today') do
              .row
                .col-xs-1
                  %i.fa.fa-tasks.fa-fw.task-sign
                .col-xs-11.overdue_partner_custom_field_count
                  = t('.overdue_partner_custom_field_count', count: @notification.dig(:partner_custom_forms, :overdue_count))
        %li.divider
    -# - if can? :manage, User
    -#   - if @notification.any_user_custom_field_frequency_due_today?
    -#     %li
    -#       %div.align-link
    -#         = link_to notifications_path(entity_custom_field: 'user_due_today') do
    -#           .row
    -#             .col-xs-1
    -#               %i.fa.fa-tasks.fa-fw.task-sign
    -#             .col-xs-11.due_today_user_custom_field_count
    -#               = t('.due_today_user_custom_field_count', count: @notification.user_custom_field_frequency_due_today_count)
    -#     %li.divider
    -#   - if @notification.any_user_custom_field_frequency_overdue?
    -#     %li
    -#       %div.align-link
    -#         = link_to notifications_path(entity_custom_field: 'user_overdue') do
    -#           .row
    -#             .col-xs-1
    -#               %i.fa.fa-tasks.fa-fw.task-sign
    -#             .col-xs-11.overdue_user_custom_field_count
    -#               = t('.overdue_user_custom_field_count', count: @notification.user_custom_field_frequency_overdue_count)

    - if !@notification.dig(:get_referrals, :new_count).zero?
      %li
        %div.align-link
          = link_to referrals_notifications_path, remote: true do
            .row
              .col-xs-1
                %i.fa.fa-tasks.fa-fw.task-sign
              .col-xs-11.new_referral_client
                = t('.new_referral_client', count: @notification.dig(:get_referrals, :new_count))
      %li.divider
    -#   - if @notification.any_repeat_referrals? && current_user.referral_notification
    -#     %li
    -#       %div.align-link
    -#         = link_to repeat_referrals_notifications_path do
    -#           .row
    -#             .col-xs-1
    -#               %i.fa.fa-tasks.fa-fw.task-sign
    -#             .col-xs-11.repeat_referral_client
    -#               = t('.repeat_referral_client', count: @notification.repeat_referrals_count)

    - if !@notification.dig(:unsaved_family_referrals, :new_count).zero?
      %li
        %div.align-link
          = link_to family_referrals_notifications_path, remote: true do
            .row
              .col-xs-1
                %i.fa.fa-tasks.fa-fw.task-sign
              .col-xs-11.new_referral_family
                = t('.new_referral_family', count: @notification.dig(:unsaved_family_referrals, :new_count))

    -#   - if @notification.any_repeat_family_referrals? && current_user.referral_notification
    -#     %li
    -#       %div.align-link
    -#         = link_to repeat_family_referrals_notifications_path do
    -#           .row
    -#             .col-xs-1
    -#               %i.fa.fa-tasks.fa-fw.task-sign
    -#             .col-xs-11.repeat_referral_family
    -#               = t('.repeat_referral_family', count: @notification.repeat_family_referrals_count)
    - if @notification && @notification[:all_count].zero?
      %li
        %div.notify-margin
        %p.text-center
          = t('.no_task')
