.row.border-bottom
  %nav.navbar.navbar-static-top.bg{:role => "navigation", :style => "margin-bottom: 0"}
    - if user_signed_in?
      .navbar-header.logo
        %a.navbar-minimalize.minimalize-styl-2.btn.btn-primary{:href => "#"}
          %i.fa.fa-bars
    - else
      .navbar-header.logo
        - if user_signed_in?
          = link_to root_path do
            = image_tag(ENV['NGO_LOGO'], class: 'navbar-minimalize minimalize-styl-2')
    %ul.nav.navbar-top-links.navbar-right.pull-right
      = render 'layouts/notification' if user_signed_in?
      %li#language-selection-dropdown
        .btn-group#language-selection
          %button.btn.btn-default.dropdown-toggle.btn-sm{ "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button" }
            = t('.language')
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to(url_for(params.merge({locale: 'km'})), id: 'lang-kh') do
                = image_tag('Cambodia.png')
                = t('.khmer')
              = link_to(url_for(params.merge({locale: 'en'})), id: 'lang-en') do
                = image_tag('United-Kingdom.png')
                = t('.english')
              = link_to(url_for(params.merge({locale: 'my'})), id: 'lang-my') do
                = image_tag('Myanamar-icon.png')
                = t('.burmese')
              -# = link_to(url_for(params.merge({locale: 'my'})), id: 'lang-my') do
              -#   = image_tag('Thailand-icon.png')
              -#   = t('.thai')

      - if user_signed_in?
        %li
          = link_to destroy_user_session_path, method: :delete do
            %i.fa.fa-sign-out
            = t('.log_out')
        %li.account-setting.visible-xs-block
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %span.clear
              %span.block
                %i.fa.fa-tasks
          %ul.dropdown-menu.animated.fadeInRight
            %li
              %p.logged-in-user
                %strong= "#{current_user.name} (#{current_user.roles})"
            %li.divider
            %li
              = link_to t('.edit_profile'), edit_user_registration_path
