!!!
%html{ lang: params[:locale] || I18n.locale.to_s }
  %head
    %meta{:charset => "utf-8" }
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}

    %title= current_organization.try(:short_name) == 'mho'?  "Mother's Heart Organisation" : "OSCaR - Open Source Case-management and Record-keeping - #{controller_name.capitalize}"
    = favicon_link_tag 'header_icon.png', rel: 'icon'
    %script{:src => "https://cdn.jsdelivr.net/npm/interactjs@1.4.1/dist/interact.min.js"}

    = render 'layouts/error_tracking'
    = javascript_pack_tag    'application'
    = stylesheet_pack_tag    'application'
    = stylesheet_link_tag    'application', media: 'all'
    = render 'layouts/fonts.html.erb'
    = csrf_meta_tags

  %body{id: "#{controller_name}-#{params[:action]}", class: "pace-done #{authorized_body}"}
    %header.hide
      = image_tag 'OSCaR_logo.png', class: 'img-responsive img-logo', alt: 'OSCaR logo'
    = render 'layouts/identifier' if Rails.env.staging? || Rails.env.demo?
    #wrapper{ data: { **flash_alert, confirm: I18n.t('are_you_sure'), yes: I18n.t('yes'), no: I18n.t('disagree') },  }
      = render 'layouts/side_menu' if user_signed_in?
      - if user_signed_in?
        #page-wrapper.gray-bg
          = render 'layouts/top_navbar'
          .min-margin-layout.padding-bottom
            = render 'layouts/alert'
            = yield
          = render 'layouts/footer'
          - unless current_user.program_warning?
            = render 'program_streams/program_stream_warning'
          - if current_user.admin? && !current_user.domain_warning?
            = render 'domains/domain_warning'
      - else
        #page-wrapper.gray-bg.no-margin
          = render 'layouts/top_navbar'
          = yield
          .padding-bottom
            = render 'layouts/footer'
    - if !['clients-new', 'clients-edit', 'clients-create'].include?("#{controller_name}-#{params[:action]}")
      = javascript_include_tag 'application'
    - else
      = javascript_include_tag 'application_with_pack'

