!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %title CIF
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags

  %body{id: "#{controller_name}-#{params[:action]}", class: "pace-done #{authorized_body}"}
    = render 'layouts/identifier' if Rails.env.staging?
    #wrapper{ data: flash_alert }
      = render 'layouts/side_menu' if user_signed_in?
      - if user_signed_in?
        #page-wrapper{:class => "gray-bg"}
          = render 'layouts/top_navbar'
          .min-margin-layout
            = render 'layouts/alert'
            = yield
      - else
        = render 'layouts/top_navbar'
        = yield
    = javascript_include_tag 'application'
    = javascript_include_tag 'https://code.highcharts.com/highcharts.js'
