#new-save-query
  = simple_form_for @advanced_search, url: :advanced_search_save_queries, method: :POST do |f|
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{ 'data-dismiss': 'modal', type: 'button'} ×
          %h4.modal-title= t('.new_search_setting')
        .modal-body
          = f.input :name, label: t('.name')
          = f.input :description, label: t('.description')
          = f.input :queries, as: :hidden
          = f.input :field_visible, as: :hidden
          = f.input :custom_forms, as: :hidden
          = f.input :program_streams, as: :hidden
          = f.input :enrollment_check, as: :hidden
          = f.input :tracking_check, as: :hidden
          = f.input :exit_form_check, as: :hidden
          = f.input :quantitative_check, as: :hidden
          = f.input :hotline_check, as: :hidden
          = f.input :search_for, as: :hidden
        .modal-footer
          = f.submit t('save'), class: 'btn btn-primary form-btn', id: 'submit-query', disabled: true, data: { disable_with: t('saving') }
          %button{ type: 'button', class: 'btn btn-default form-btn btn-cancel', 'data-dismiss': 'modal' }= t('cancel')
